{% extends "pages/lop11/chuong1/base-lop11-chuong1.html" %}
{% block title %}Toán 11 Bài 1: Hàm số lượng giác{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 11 Bài 1: Hàm số lượng giác</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Ở chương trình <strong>Đại số 10</strong>, các em đã được học các khái niệm về <strong>giá trị lượng giác</strong>, <strong>công thức lượng giác</strong>,...Đến với chương trình <strong>Đại số và Giải tích 11</strong> các em tiếp tục được học các khái niệm mới là <strong>Hàm số lượng giác</strong>, <strong>Phương trình lượng giác</strong>. Đây là dạng toán trọng tâm của chương trình lớp 11, luôn xuất hiện trong các kì thi THPT Quốc gia. Để mở đầu, xin mời các em cùng tìm hiểu bài Hàm số lượng giác. Thông qua bài học này các em sẽ nắm được các khái niệm và tính chất của các hàm số sin, cos, tan và cot.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Hàm số sin và hàm số cosin</h3>
</div>
<h4>a) Hàm số<strong> </strong>sin</h4>
<p>Xét hàm số <strong>\(y = \sin x\)</strong></p>
<ul>
<li>Tập xác định: \(D=\mathbb{R}.\)</li>
<li>Tập giá trị: \([-1;1].\)</li>
<li>Hàm số tuần hòa với chu kì \(2\pi \).</li>
<li>Sự biến thiên:
	<ul>
<li>Hàm số đồng biến trên mỗi khoảng \(\left( {-\frac{{ \pi }}{2} + k2\pi ;\,\,\frac{\pi }{2} + k2\pi } \right)\), \(k \in \mathbb{Z}.\)</li>
<li>Hàm số nghịch biến trên mỗi khoảng \(\left( {k2\pi ;\,\,\pi + k2\pi } \right)\), \(k \in \mathbb{Z}\).</li>
</ul>
</li>
</ul>
<ul>
<li>Đồ thị hàm số <strong>\(y = \sin x\)</strong>
<ul>
<li>Đồ thị là một đường hình sin.</li>
<li>Do hàm số <strong>\(y = \sin x\)</strong> là hàm số lẻ nên đồ thị nhận gốc tọa độ làm tâm đối xứng.</li>
<li>Đồ thị hàm số <strong>\(y = \sin x\):</strong></li>
</ul>
</li>
</ul>
<p><strong>​<img alt="" src="https://hoc247.net/fckeditorimg/upload/images/1(10).png" style="height:163px; width:702px"/></strong></p>
<h4>b) Hàm số cosin</h4>
<p>Xét hàm số \(y = \cos x\)</p>
<ul>
<li>Tập xác định: \(\mathbb{R}\)</li>
<li>Tập giá trị: \([-1;1].\)</li>
<li>Hàm số tuần hòa với chu kì: \(2\pi \)</li>
<li>Sự biến thiên:
	<ul>
<li>Hàm số đồng biến trên mỗi khoảng \(( - \pi + k2\pi ;\,\,k2\pi )\), \(k \in \mathbb{Z}\).</li>
<li>Hàm số nghịch biến trên mỗi khoảng \((k2\pi ;\,\,\pi + k2\pi )\), \(k \in \mathbb{Z}\).</li>
</ul>
</li>
<li>Đồ thị hàm số \(y = \cos x\)
	<ul>
<li>Đồ thị hàm số là một đường hình sin.</li>
<li>Hàm số \(y = \cos x\) là hàm số chẵn nên đồ thị nhận trục tung làm trục đối xứng.</li>
<li>Đồ thị hàm số \(y = \cos x\)​:</li>
</ul>
</li>
</ul>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/2(7).png" style="height:178px; width:701px"/></p>
<div id="12">
<h3>1.2. Hàm số tan và hàm số cot</h3>
</div>
<h4>a) Hàm số \(y = \tan x\)</h4>
<ul>
<li>Tập xác định \(\mathbb{R}\backslash \left\{ {\frac{\pi }{2} + k\pi ,\left( {k \in \mathbb{Z}} \right)} \right\}.\) </li>
<li>Hàm số tuần hoàn với chu kì \(\pi.\) </li>
<li>Tập giá trị là \(\mathbb{R}\).</li>
<li>Hàm số đồng biến trên mỗi khoảng \(\left( {\frac{{ - \pi }}{2} + k\pi ;\,\frac{\pi }{2} + \,k\pi } \right),\,\,k \in \mathbb{Z}.\)</li>
<li>Đồ thị hàm số \(y = \tan x\)​
	<ul>
<li>Hàm số \(y = \tan x\) là hàm số lẻ nên đồ thị nhận gốc tọa độ O làm tâm đối xứng.</li>
<li>Đồ thị hàm số \(y = \tan x\):</li>
</ul>
</li>
</ul>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/3(2).png" style="height:332px; width:479px"/></p>
<h4>b) Hàm số \(y = \cot x\)</h4>
<ul>
<li>Tập xác định \(\mathbb{R}\backslash \left\{ {k\pi ,\left( {k \in } \right)} \right\}.\) </li>
<li>Tập giá trị là \(\mathbb{R}.\)</li>
<li>Hàm số tuần hoàn với chu kì \(\pi .\) </li>
<li>Hàm số nghịch biến trên mỗi khoảng  \(\left( {k\pi ;\,\pi + \,k\pi } \right),\,\,k \in \mathbb{Z}.\)</li>
<li>Đồ thị hàm số \(y = \cot x\)
	<ul>
<li>Hàm số \(y = \cot x\) là hàm số lẻ nên đồ thị nhận gốc tọa độ làm tâm đối xứng.</li>
<li>Đồ thị hàm số \(y = \cot x\)​:</li>
</ul>
</li>
</ul>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/4(1).png" style="height:320px; width:458px"/></p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-11/bai-1-ham-so-luong-giac-l765.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-11/bai-1-ham-so-luong-giac-l765.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<h4><strong><u>Ví dụ 1:</u></strong></h4>
<p>Tìm tập xác định các hàm số sau:</p>
<p>a) \(y = \frac{{1 + \sin x}}{{\cos x}}\)</p>
<p>b) \(y = \tan \left( {x + \frac{\pi }{4}} \right)\)</p>
<p>c) \(y = \cot \left( {\frac{\pi }{3} - 2x} \right)\)</p>
<h4><u><strong>Lời giải:</strong></u></h4>
<p>a) Hàm số \(y = \frac{{1 + \sin x}}{{\cos x}}\) xác định khi \(cosx\ne0\) hay \(x \ne \frac{\pi }{2} + k\pi \,(k \in\mathbb{Z} ).\)</p>
<p>b) Hàm số \(y = \tan \left( {x + \frac{\pi }{4}} \right)\) xác định khi \(x + \frac{\pi }{4} \ne \frac{\pi }{2} + k\pi \Leftrightarrow x \ne \frac{\pi }{4} + k\pi \,(k \in\mathbb{Z} ).\)</p>
<p>c) Hàm số \(y = \cot \left( {\frac{\pi }{3} - 2x} \right)\) xác định khi \(\frac{\pi }{3} - 2x \ne k\pi \Leftrightarrow x \ne \frac{\pi }{6} - k\frac{\pi }{2}\left( {k \in\mathbb{Z} } \right).\)</p>
<h4><u><strong>Ví dụ 2:</strong></u> </h4>
<p>Tìm giá trị lớn nhất và giá trị nhỏ nhất của các hàm số sau:</p>
<p>a) \(y = 3\sin \left( {x - \frac{\pi }{6}} \right) + 1\)</p>
<p>b) \(y=\sqrt{1+\cos2x}-5\)</p>
<h4><u><strong>Lời giải:</strong></u></h4>
<p>a) Ta có: \(- 1 \le \sin \left( {x - \frac{\pi }{6}} \right) \le 1 \Rightarrow - 3 \le 3\sin \left( {x - \frac{\pi }{6}} \right) \le 3\)</p>
<p>\(\Rightarrow - 2 \le 3\sin \left( {x - \frac{\pi }{6}} \right) + 1 \le 4\)</p>
<p>Vậy giá trị lớn nhất của hàm số là 4, giá trị nhỏ nhất cả hàm số là -2.</p>
<p>b) Ta có: \(- 1 \le \cos 2x \le 1 \Rightarrow 0 \le 1 + \cos 2x \le 2\)</p>
<p>\(\Rightarrow 0 \le \sqrt {1 + \cos 2x} \le \sqrt 2 \Rightarrow - 5 \le \sqrt {1 + \cos 2x} - 5 \le \sqrt 2 - 5\)</p>
<p>Vậy giá trị lớn nhất của hàm số là \(\sqrt2-5\), giá trị nhỏ nhất của hàm số là -5.</p>
<h4><u><strong>Ví dụ 3:</strong></u> </h4>
<p>Tìm chu kì tuần hoàn của các hàm số lượng giác sau:</p>
<p>a) \(y = \frac{3}{2} + \frac{1}{2}\cos 2x\)</p>
<p>b) \(y = 2\cos 2x\)</p>
<p>c) \(y = \tan \left( {2x + \frac{\pi }{4}} \right)\)</p>
<p><u><strong>Lời giải:</strong></u></p>
<p>Phương pháp: Khi tìm chu kì của hàm số lượng giác, ta cần biến đổi biểu thức cuả hàm số đã cho về một dạng tối giản và lưu ý rằng:</p>
<ul>
<li>Hàm số \(y = \sin x,y = \cos x\) có chu kì \(T=2\pi.\)</li>
<li>Hàm số \(y = \tan x,y = \cot x\) có chu kì \(T=\pi.\)</li>
<li>Hàm số \(y = \sin \left( {ax + b} \right),y = \cos \left( {ax + b} \right)\) với \(a\ne 0\) cho chu kì \(T = \frac{{2\pi }}{{\left| a \right|}}.\)</li>
<li>Hàm số \(y = \tan \left( {ax + b} \right),y = \cot \left( {ax + b} \right)\) với \(a\ne 0\) có chu kì \(T = \frac{{\pi }}{{\left| a \right|}}.\)</li>
</ul>
<p>a) Hàm số \(y = \frac{3}{2} + \frac{1}{2}\cos 2x\) có chu kì tuần hoàn là \(T = \frac{{2\pi }}{{\left| 2 \right|}} = \pi .\)</p>
<p>b) Hàm số \(y = 2\cos 2x\) có chu kì tuần hoàn là \(T = \frac{{2\pi }}{{\left| 2 \right|}} = \pi .\)</p>
<p>c) Hàm số \(y = \tan \left( {2x + \frac{\pi }{4}} \right)\) có chu kì tuần hoàn là \(T = \frac{{\pi }}{{\left| 2 \right|}} = \frac{\pi}{2} .\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}