{% extends "pages/lop11/chuong1/base-lop11-chuong1.html" %}
{% block title %}Toán 11 Bài 3: Một số phương trình lượng giác thường gặp{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 11 Bài 3: Một số phương trình lượng giác thường gặp</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Nội dung bài <strong>Một số phương trình lượng giác thường gặp </strong>sẽ giới thiệu đên các em dạng và phương pháp giải các P<strong>hương trình bậc nhất với một hàm số lượng giác</strong>,<strong> Phương trình bậc hai đối với sin-cos-tan-cot</strong>, <strong>Phương trình bậc nhất với sinx và cosx</strong>. Thông qua các ví dụ minh họa có hướng dẫn giải các em sẽ nắm vững được nội dung phần này, tạo nên tảng để giải các phương trình lượng giác từ cơ bản đến nâng cao.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Phương trình bậc nhất với một hàm số lượng giác</h3>
</div>
<h4>a) Định nghĩa:</h4>
<p>Phương trình bậc nhất đối với một hàm số lượng giác là phương trình có dạng \(at + b = 0\) trong đó a,b là các hằng số \(\left( {a \ne 0} \right)\)và t là một trong các hàm số lượng giác.</p>
<p><strong>Ví dụ:</strong> \(2\sin x - 1 = 0\,;\,\,\,c{\rm{os}}2x + \frac{1}{2} = 0;\,\,\,3\tan x - 1 = 0;\,\,\sqrt 3 \cot x + 1 = 0\)</p>
<p>b) Phương pháp: Đưa về phương trình lượng giác cơ bản. </p>
<div id="12">
<h3>1.2. Phương trình bậc hai đối với sinx, cosx, tanx, cotx</h3>
</div>
<h4>a) Dạng phương trình</h4>
<p>\(\begin{array}{l}a{\sin ^2}x + b\sin x + c = 0\\a{\cos ^2}x + b\cos x + c = 0\\a{\tan ^2}x + b\tan x + c = 0\\a{\cot ^2}x + b\cot x + c = 0\end{array}\)</p>
<h4>b) Cách giải</h4>
<p>Đặt:</p>
<p>\(t = \sin x{\rm{   (  - 1}} \le {\rm{t}} \le {\rm{1)}}\)</p>
<p>\(\begin{array}{l}t = \cos x{\rm{   ( - 1}} \le {\rm{t}} \le {\rm{1)}}\\t = \tan x\\t = \cot x\end{array}\)</p>
<h4>c) Chú ý</h4>
<ul>
<li>Nếu a là một số cho trước mà \(\tan \alpha \) xác định thì phương trình tanx = tana có nghiệm x = \(\alpha  + \)kp thoả điều kiện \(\cos x \ne 0\).</li>
<li>Phương trình tanP(x) = tanQ(x) thì cần phải chú ý đến điều kiện cosP(x) \(\ne\) 0 và cosQ(x) \(\ne\) 0.</li>
</ul>
<div id="13">
<h3>1.3. Phương trình bậc nhất đối với sinx và cosx</h3>
</div>
<h4>a) Dạng phương trình</h4>
<p>\(a\sin x + b\cos x = c{\rm{  (1)}}\)</p>
<p>Điều kiện có nghiệm: \({a^2} + {b^2} \ge {c^2}\)</p>
<h4>b) Cách giải</h4>
<ul>
<li><strong>Cách 1: </strong>Chia hai vế của (1) cho \(\sqrt {{a^2} + {b^2}} \), ta được:</li>
</ul>
<p>\(\left( 1 \right) \Leftrightarrow \frac{a}{{\sqrt {{a^2} + {b^2}} }}\sin x + \frac{b}{{\sqrt {{a^2} + {b^2}} }}\cos x = \frac{c}{{\sqrt {{a^2} + {b^2}} }}\)</p>
<p>Vì \({\left( {\frac{a}{{\sqrt {{a^2} + {b^2}} }}} \right)^2} + {\left( {\frac{b}{{\sqrt {{a^2} + {b^2}} }}} \right)^2} = 1\) nên ta đặt \(\left\{ {\begin{array}{*{20}{c}}{\sin \varphi  = \frac{a}{{\sqrt {{a^2} + {b^2}} }}}\\{\cos \varphi  = \frac{b}{{\sqrt {{a^2} + {b^2}} }}}\end{array}} \right.\)</p>
<p>Phương trình trở thành:</p>
<p>\(\sin x\sin \varphi  + \cos x\cos \varphi  = \frac{c}{{\sqrt {{a^2} + {b^2}} }} \Leftrightarrow \cos \left( {x - \varphi } \right) = \frac{c}{{\sqrt {{a^2} + {b^2}} }}\)</p>
<p>Đặt \(\cos \alpha  = \frac{c}{{\sqrt {{a^2} + {b^2}} }}\) ta được phương trình lượng giác cơ bản.</p>
<p>Hoàn toàn tương tự ta cũng có thể đặt \(\left\{ \begin{array}{l}\cos \varphi  = \frac{a}{{\sqrt {{a^2} + {b^2}} }}\\\sin \varphi  = \frac{b}{{\sqrt {{a^2} + {b^2}} }}\end{array} \right.\)</p>
<p>Khi đó phương trình trở thành: \({\mathop{\rm sinxcos}\nolimits} \varphi  + cosxsin\varphi  = \frac{c}{{\sqrt {{a^2} + {b^2}} }} \Leftrightarrow \sin \left( {x + \varphi } \right) = \frac{c}{{\sqrt {{a^2} + {b^2}} }}\)</p>
<ul>
<li><strong>Cách 2:</strong></li>
</ul>
<p>· Xét \(\cos \frac{x}{2} = 0 \Leftrightarrow x = \pi  + k2\pi ,{\rm{ k}} \in \mathbb{Z}\) có là nghiệm của (1) không</p>
<p>· Xét \(\cos \frac{x}{2} \ne 0 \Leftrightarrow x \ne \pi  + k2\pi ,k \in \mathbb{Z}\)</p>
<p>Đặt \(t = \tan \frac{x}{2}\). Khi đó \(\sin x = \frac{{2t}}{{1 + {t^2}}}\) và \(\cos x = \frac{{1 - {t^2}}}{{1 + {t^2}}}\)</p>
<p>Phương trình trở thành:</p>
<p>\(a.\frac{{2t}}{{1 + {t^2}}} + b.\frac{{1 - {t^2}}}{{1 + {t^2}}} = c \Leftrightarrow \left( {b + c} \right){t^2} - 2at + c - b = 0{\rm{  (2)}}\)</p>
<p>Giải (2) theo t, tìm được t thay vào \(t = \tan \frac{x}{2}\) suy ra x</p>
<ul>
<li><strong>Cách 3:</strong></li>
</ul>
<p>Nếu \(a \ne 0\) chia 2 vế cho a rồi ta đặt \(\tan \alpha  = \frac{b}{a}\)   \(\left( { - \frac{\pi }{2} &lt; \alpha  &lt; \frac{\pi }{2}} \right)\)</p>
<p>Phương trình trở thành: \(\sin x + \frac{{\sin \alpha }}{{c{\rm{os}}\alpha }}\cos x = \frac{c}{a}\)</p>
<p>\( \Leftrightarrow c{\rm{os}}\alpha \sin x + \sin \alpha \cos x = \frac{c}{a}c{\rm{os}}\alpha  \Leftrightarrow \sin (x + \alpha ) = \frac{c}{a}c{\rm{os}}\alpha \)</p>
<p>Đặt \(\sin \varphi  = \frac{c}{a}\cos \alpha \) ta được phương trình lượng giác cơ bản \(\sin (x + \alpha ) = \sin \varphi \).</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-11/bai-3-mot-so-phuong-trinh-luong-giac-thuong-gap-l767.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-11/bai-3-mot-so-phuong-trinh-luong-giac-thuong-gap-l767.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<h4><u>Ví dụ: 1 </u></h4>
<p>Giải các phương trình sau:</p>
<p>a) \(2\sin x - 1 = 0\,.\)</p>
<p>b) \(c{\rm{os}}2x + \frac{1}{2} = 0.\)</p>
<p>c) \(3\tan x - 1 = 0.\)</p>
<p>d) \(\sqrt 3 \cot x + 1 = 0.\)</p>
<p>e) \(2\cos x - \sin 2x = 0\)</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a) \(2\sin x - 1 = 0\, \Leftrightarrow \sin x = \frac{1}{2} \Leftrightarrow \sin x = \sin \frac{\pi }{6} \Leftrightarrow \left[ \begin{array}{l}x = \frac{\pi }{6} + k2\pi \\x = \frac{{5\pi }}{6} + k2\pi \end{array} \right.\left( {k \in \mathbb{Z}} \right)\)</p>
<p> </p>
<p>b) \(c{\rm{os}}2x + \frac{1}{2} = 0 \Leftrightarrow c{\rm{os}}2x = \frac{{ - 1}}{2} \Leftrightarrow c{\rm{os}}2x = \cos \frac{{2\pi }}{3}\)</p>
<p>\( \Leftrightarrow 2x =  \pm \frac{{2\pi }}{3} + k2\pi \left( {k \in \mathbb{Z}} \right) \Leftrightarrow x =  \pm \frac{\pi }{3} + k\pi \left( {k \in \mathbb{Z}} \right)\)</p>
<p> </p>
<p>c) \(3\tan x - 1 = 0 \Leftrightarrow \tan x = \frac{1}{3} \Leftrightarrow x = \arctan \frac{1}{3} + k\pi \left( {k \in \mathbb{C}} \right)\)</p>
<p> </p>
<p>d) \(\sqrt 3 \cot x + 1 = 0 \Leftrightarrow \cot x = \frac{{ - 1}}{{\sqrt 3 }} \Leftrightarrow \cot x = \cot \frac{{2\pi }}{3} \Leftrightarrow x = \frac{{2\pi }}{3} + k\pi \left( {k \in \mathbb{Z}} \right)\)</p>
<p> </p>
<p>e) \(\cos x - \sin 2x = 0 \Leftrightarrow \cos x - 2\sin x\cos x = 0 \Leftrightarrow \cos x\left( {1 - 2\sin x} \right) = 0\)</p>
<p>\( \Leftrightarrow \left[ \begin{array}{l}\cos x = 0\\1 - 2\sin x = 0\end{array} \right. \Leftrightarrow \left[ \begin{array}{l}\cos x = 0\\\sin x = \frac{1}{2}\end{array} \right. \Leftrightarrow \left[ \begin{array}{l}x = \frac{\pi }{2} + k\pi \\x = \frac{\pi }{6} + l\pi \\x = \frac{{5\pi }}{6} + l\pi \end{array} \right.\left( {k,l \in \mathbb{Z}} \right)\)</p>
<h4>Ví dụ 2:</h4>
<p>Giải các phương trình sau:</p>
<p>a) \(2{\sin ^2}x + \sin x - 3 = 0\)</p>
<p>b) \(co{s^2}x + 3cosx - 1 = 0\)</p>
<p>c) \(3\sin {2^2}x + 7\cos 2x - 3 = 0\)</p>
<p>d) \(\frac{1}{{{{\cos }^2}x}} - \left( {1 + \sqrt 3 } \right)\tan x - 1 + \sqrt 3  = 0\)</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a) \(2{\sin ^2}x + \sin x - 3 = 0(1)\)</p>
<p>Đặt \(t = \sin x\), điều kiện \(\left| t \right| \le 1\). Phương trình (1) trở thành:</p>
<p>\(2{t^2} + t - 3 = 0 \Leftrightarrow \left[ \begin{array}{l}t = 1\;\left( {nhan} \right)\\t = \frac{3}{2}\;\left( {loai} \right)\end{array} \right.\)</p>
<p>Với t=1, ta được \(\sin x = 1 \Leftrightarrow x = k2\pi \left( {k \in \mathbb{Z}} \right)\)</p>
<p> </p>
<p>b) \(co{s^2}x + 3cosx - 1 = 0\left( 2 \right)\)</p>
<p>Đặt \(t = c{\rm{os}}x\), điều kiện \(\left| t \right| \le 1\). Phương trình (2) trở thành:</p>
<p>\({t^2} + 3t - 1 = 0 \Leftrightarrow \left[ \begin{array}{l}t = \frac{{ - 3 + \sqrt {13} }}{2}\left( {nhan} \right)\\t = \frac{{ - 3 - \sqrt {13} }}{2}\left( {loai} \right)\end{array} \right.\)</p>
<p>Với \(t = \frac{{ - 3 + \sqrt {13} }}{2}\) ta được \(c{\rm{os}}x = \frac{{ - 3 + \sqrt {13} }}{2} \Leftrightarrow x =  \pm \arccos \frac{{ - 3 + \sqrt {13} }}{2} + k2\pi \left( {k \in \mathbb{Z}} \right)\)</p>
<p> </p>
<p>c) \(3{\sin ^2}2x + 7\cos 2x - 3 = 0 \Leftrightarrow 3\left( {1 - {{\cos }^2}2x} \right) + 7\cos 2x - 3 = 0\)</p>
<p> \(\begin{array}{l} \Leftrightarrow 3{\cos ^2}2x - 7\cos 2x = 0 \Leftrightarrow \cos 2x\left( {3\cos 2x - 7} \right) = 0\\ \Leftrightarrow \left[ \begin{array}{l}\cos 2x = 0\\3\cos 2x - 7 = 0\end{array} \right.\end{array}\)</p>
<p>*) Giải phương trình:\(\cos 2x = 0 \Leftrightarrow 2x = \frac{\pi }{2} + k\pi  \Leftrightarrow x = \frac{\pi }{4} + k\frac{\pi }{2},\left( {k \in \mathbb{Z}} \right)\)</p>
<p>*) Giải phương trình: \(3\cos 2x - 7 = 0 \Leftrightarrow \cos 2x = \frac{7}{3}\)</p>
<p>Vì \(\frac{7}{3} &gt; 1\) nên phương trình \(3\cos 2x - 7 = 0\) vô nghiệm.</p>
<p>Kết luận: vậy nghiệm của phương trình đã cho là \(x = \frac{\pi }{4} + k\frac{\pi }{2},\left( {k \in \mathbb{Z}} \right)\)</p>
<p> </p>
<p>d) \(\frac{1}{{{{\cos }^2}x}} - \left( {1 + \sqrt 3 } \right)\tan x - 1 + \sqrt 3  = 0\)</p>
<p>Điều kiện: \(\cos x \ne 0\)  (*)</p>
<p>(3)\( \Leftrightarrow 1 + {\tan ^2}x - \left( {1 + \sqrt 3 } \right)\tan x - 1 + \sqrt 3  = 0\)\( \Leftrightarrow {\tan ^2}x - \left( {1 + \sqrt 3 } \right)\tan x + \sqrt 3  = 0\)</p>
<p>Đặt \(t = \tan x\)</p>
<p>Khi đó phương trình trở thành: \({t^2} - \left( {1 + \sqrt 3 } \right)t - \sqrt 3  = 0\)\( \Leftrightarrow \left[ {\begin{array}{*{20}{c}}{t = 1}\\{t = \sqrt 3 }\end{array}} \right.\)</p>
<p>+ Với \(t = 1 \Leftrightarrow \tan x = 1\)\( \Leftrightarrow x = \frac{\pi }{4} + k\pi ,k \in \mathbb{Z}\)</p>
<p>+ Với \(t = \sqrt 3  \Leftrightarrow \tan x = \sqrt 3 \)\( \Leftrightarrow x = \frac{\pi }{3} + k\pi ,k \in \mathbb{Z}\)</p>
<p>So sánh với điều kiện (*) suy ra nghiệm của phương trình là: \(x = \frac{\pi }{4} + k\pi \),</p>
<p>\(x = \frac{\pi }{3} + k\pi \) \(\left( {k \in \mathbb{Z}} \right)\)</p>
<h4><u>Ví dụ 3:</u></h4>
<p>Giải các phương trình sau:</p>
<p>a) \(\sqrt 2 \sin 3x + \sqrt 6 \cos 3x = 2\)</p>
<p>b) \(\left( {2 + \sqrt 3 } \right)\sin x - \cos x = 2 + \sqrt 3 \)</p>
<p>c) \(2\sqrt 2 \left( {\sin x + \cos x} \right)\cos x = 3 + \cos 2x\)</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a) \(\sqrt 2 \sin 3x + \sqrt 6 \cos 3x = 2(1)\)</p>
<p>(1)\( \Leftrightarrow \sin 3x + \sqrt 3 \cos 3x = \sqrt 2 \)\( \Leftrightarrow \sin 3x + \tan \frac{\pi }{3}\cos 3x = \sqrt 2 \)</p>
<p>\( \Leftrightarrow \sin 3x\cos \frac{\pi }{3} + \sin \frac{\pi }{3}\cos 3x = \sqrt 2 \cos \frac{\pi }{3} \Leftrightarrow \sin \left( {3x + \frac{\pi }{3}} \right) = \frac{{\sqrt 2 }}{2}\)</p>
<p>\( \Leftrightarrow \left[ {\begin{array}{*{20}{c}}{3x + \frac{\pi }{3} = \frac{\pi }{4} + k2\pi }\\{3x + \frac{\pi }{3} = \frac{{3\pi }}{4} + k2\pi }\end{array}} \right. \Leftrightarrow \left[ {\begin{array}{*{20}{c}}{3x =  - \frac{\pi }{{12}} + k2\pi }\\{3x = \frac{{5\pi }}{{12}} + k2\pi }\end{array}} \right. \Leftrightarrow \left[ {\begin{array}{*{20}{c}}{x =  - \frac{\pi }{{36}} + \frac{{k2\pi }}{3}}\\{x = \frac{{5\pi }}{{36}} + \frac{{k2\pi }}{3}}\end{array}} \right.,k \in \mathbb{Z}\)</p>
<p>Vậy nghiệm của (1) là \(x =  - \frac{\pi }{{36}} + \frac{{k2\pi }}{3}\), \(x = \frac{{5\pi }}{{36}} + \frac{{k2\pi }}{3}\) \(\left( {k \in \mathbb{Z}} \right)\)</p>
<p> </p>
<p>b) \(\left( {2 + \sqrt 3 } \right)\sin x - \cos x = 2 + \sqrt 3 \) (2)</p>
<p> Xét \(\cos \frac{x}{2} = 0 \Leftrightarrow x = \pi  + k2\pi \) không là nghiệm của phương trình (2)</p>
<p> Xét \(\cos \frac{x}{2} \ne 0\)</p>
<p>Đặt \(t = \tan \frac{x}{2}\). Khi đó \(\sin x = \frac{{2t}}{{1 + {t^2}}}\) và \(\cos x = \frac{{1 - {t^2}}}{{1 + {t^2}}}\)</p>
<p>Phương trình (2) trở thành:  \(\left( {2 + \sqrt 3 } \right)\frac{{2t}}{{1 + {t^2}}} - \frac{{1 - {t^2}}}{{1 + {t^2}}} = 2 + \sqrt 3 \)</p>
<p>\(\begin{array}{l} \Leftrightarrow \left( {2 + \sqrt 3 } \right)2t - 1 + {t^2} = \left( {2 + \sqrt 3 } \right)\left( {1 + {t^2}} \right)\\ \Leftrightarrow \left( {1 + \sqrt 3 } \right){t^2} - 2\left( {2 + \sqrt 3 } \right)t + 3 + \sqrt 3  = 0 \Leftrightarrow \left[ {\begin{array}{*{20}{c}}{t = 1}\\{t = \sqrt 3 }\end{array}} \right.\end{array}\)</p>
<p>+ Với \(t = 1 \Leftrightarrow \tan \frac{x}{2} = 1\)\( \Leftrightarrow \frac{x}{2} = \frac{\pi }{4} + k\pi  \Leftrightarrow x = \frac{\pi }{2} + k2\pi ,k \in \mathbb{Z}\)</p>
<p>+ Với\(t = \sqrt 3  \Leftrightarrow \tan \frac{x}{2} = \sqrt 3 \)\( \Leftrightarrow \frac{x}{2} = \frac{\pi }{3} + k\pi  \Leftrightarrow x = \frac{{2\pi }}{3} + k2\pi ,k \in \mathbb{Z}\)</p>
<p>Vậy nghiệm của (2) là \(x = \frac{\pi }{2} + k2\pi \), \(x = \frac{{2\pi }}{3} + k2\pi \)\(\left( {k \in \mathbb{Z}} \right)\)</p>
<p> </p>
<p>c) \(2\sqrt 2 \left( {\sin x + \cos x} \right)\cos x = 3 + \cos 2x\) (3)</p>
<p>(3)\( \Leftrightarrow 2\sqrt 2 \sin x\cos x + 2\sqrt 2 {\cos ^2}x = 3 + \cos 2x\)</p>
<p>\( \Leftrightarrow \sqrt 2 \sin 2x + \sqrt 2 \left( {1 + \cos 2x} \right) = 3 + \cos 2x\)</p>
<p>\( \Leftrightarrow \sqrt 2 \sin 2x + \left( {\sqrt 2  - 1} \right)\cos 2x = 3 - \sqrt 2 \)</p>
<p>Điều kiện có nghiệm của phương trình: \({a^2} + {b^2} \ge {c^2}\)</p>
<p>Khi đó: \(2 + {\left( {\sqrt 2  - 1} \right)^2} \ge {\left( {3 - \sqrt 2 } \right)^2} \Leftrightarrow 5 - 2\sqrt 2  \ge 11 - 6\sqrt 2 \) (không thỏa)</p>
<p>Vậy phương trình đã cho vô nghiệm.</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}