{% extends "pages/lop10/chuong3/base-lop10-chuong3.html" %}
{% block title %}Toán 10 Bài 3: Phương trình và hệ phương trình bậc nhất nhiều ẩn{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 10 Bài 3: Phương trình và hệ phương trình bậc nhất nhiều ẩn</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p><span style="color:rgb(84, 84, 84)">Sau khi đã làm quen với cách giải </span><strong>phương trình bậc nhất và</strong><span style="color:rgb(84, 84, 84)"> bậc hai, thì bài này sẽ giới thiệu cho chúng ta về cách giải </span><strong>phương trình và hệ phương trình</strong><span style="color:rgb(84, 84, 84)"> bậc nhất nhiều ẩn.</span></p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Phương trình bậc nhất hai ẩn</h3>
</div>
<p>Phương trình bậc nhất hai ẩn x, y có dạng tổng quát là ax +by = c, trong đó a, b, c là các hệ số, với điều kiện a và b không đồng thời bằng 0.</p>
<p><strong>Ví dụ: </strong>Phương trình 3x - 2y = 6</p>
<div id="12">
<h3>1.2. Hệ hai phương trình bậc nhất hai ẩn</h3>
</div>
<h4>a) Định nghĩa</h4>
<p>Hệ phương trình bậc nhất hai ẩn là hệ phương trình có dạng:</p>
<p>\(\left\{ \begin{array}{l}<br>
{a_1}x + {b_1}y = {c_1}\\<br/>
{a_2}x + {b_2}y = {c_2}<br/>
\end{array} \right.\,\,(a_1^2 + b_1^2 \ne 0,\,\,a_2^2 + b_2^2 \ne 0)\)</br></p>
<h4>b) Giải và biện luận hệ hai phương trình bậc nhất hai ẩn</h4>
<p>Tính các định thức: \(D = \left| {\begin{array}{*{20}{c}}{{a_1}}&amp;{{b_1}}\\{{a_2}}&amp;{{b_2}}\end{array}} \right|\),   \({D_x} = \left| {\begin{array}{*{20}{c}}{{c_1}}&amp;{{b_1}}\\{{c_2}}&amp;{{b_2}}\end{array}} \right|\),  \({D_y} = \left| {\begin{array}{*{20}{c}}{{a_1}}&amp;{{c_1}}\\{{a_2}}&amp;{{c_2}}\end{array}} \right|\).</p>
<div class="table-responsive"><table border="1" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td colspan="2">
<p>Xét định thức</p>
</td>
<td>
<p>Kết quả</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>\(D \ne 0\)</p>
</td>
<td>
<p>Hệ có nghiệm duy nhất \(\left( {x = \frac{{{D_x}}}{D};y = \frac{{{D_y}}}{D}} \right)\)</p>
</td>
</tr>
<tr>
<td rowspan="2">
<p>D=0</p>
</td>
<td>
<p>\(D_x \ne 0\) hoặc \(D_y \ne 0\)</p>
</td>
<td>
<p>Hệ vô nghiệm</p>
</td>
</tr>
<tr>
<td>
<p>\(D_x=D_y\)</p>
</td>
<td>
<p>Hệ có vô số nghiệm</p>
</td>
</tr>
</tbody>
</table></div>
<p><strong>Chú ý:</strong> Để giải hệ phương trình bậc nhất hai ẩn ta có thể dùng các cách giải đã biết như:  phương pháp thế, phương pháp cộng đại số.</p>
<div id="13">
<h3>1.3. Hệ phương trình bậc nhất nhiều ẩn</h3>
</div>
<p>Nguyên tắc chung để giải các hệ phương trình nhiều ẩn là khử bớt ẩn để đưa về các phương trình hay hệ phương trình có số ẩn ít hơn. Để khử bớt ẩn, ta cũng có thể dùng các phương pháp cộng đại số, phương pháp thế như đối với hệ phương trình bậc nhất hai ẩn</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-10/bai-3-phuong-trinh-va-he-phuong-trinh-bac-nhat-nhieu-an-l742.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-10/bai-3-phuong-trinh-va-he-phuong-trinh-bac-nhat-nhieu-an-l742.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<h3>DẠNG TOÁN 1: GIẢI HỆ PHƯƠNG TRÌNH BẬC NHẤT HAI ẨN, BA ẨN</h3>
<p><strong>Phương pháp giải</strong></p>
<p>Sử dụng phương pháp cộng đại số, phương pháp thế, dùng định thức.</p>
<h4><u>Ví dụ 1: </u></h4>
<p>Giải các hệ phương trình sau:</p>
<p>a) \(\left\{ \begin{array}{l}5x - 4y = 3\\7x - 9y = 8\end{array} \right.\)</p>
<p>b) \(\left\{ \begin{array}{l}2x + y = 11\\5x - 4y = 8\end{array} \right.\)</p>
<h4><u>Hướng dẫn:</u></h4>
<p>a) Ta có \(D = \left| {\begin{array}{*{20}{c}}5&amp;{ - 4}\\7&amp;{ - 9}\end{array}} \right| =  - 17\), \({D_x} = \left| {\begin{array}{*{20}{c}}3&amp;{ - 4}\\8&amp;{ - 9}\end{array}} \right| = 5,\,\,{D_y} = \left| {\begin{array}{*{20}{c}}5&amp;3\\7&amp;8\end{array}} \right| = 19\)</p>
<p>Suy ra hệ phương trình có nghiệm là \(\left( {x;y} \right) = \left( {\frac{{{D_x}}}{D};\frac{{{D_y}}}{D}} \right) = \left( { - \frac{5}{{17}}; - \frac{{19}}{{17}}} \right)\)</p>
<p>b) Ta có \(D = \left| {\begin{array}{*{20}{c}}2&amp;1\\5&amp;{ - 4}\end{array}} \right| =  - 13\), \({D_x} = \left| {\begin{array}{*{20}{c}}{11}&amp;1\\8&amp;{ - 4}\end{array}} \right| =  - 52,\,\,{D_y} = \left| {\begin{array}{*{20}{c}}2&amp;{11}\\5&amp;8\end{array}} \right| =  - 39\)</p>
<p>Suy ra hệ phương trình có nghiệm là \(\left( {x;y} \right) = \left( {\frac{{{D_x}}}{D};\frac{{{D_y}}}{D}} \right) = \left( {4;3} \right)\)</p>
<h4><u>Ví dụ 2:</u></h4>
<p>Giải các hệ phương trình sau:</p>
<p>a) \(\left\{ \begin{array}{l}(x + 3)y - 5) = xy\\(x - 2)(y + 5) = xy\end{array} \right.\)                   </p>
<p>b) \(\left\{ \begin{array}{l}\left| {x - y} \right| = \sqrt 2 \\2x - y =  - 1\end{array} \right.\)                     </p>
<p>c) \(\left\{ \begin{array}{l}\frac{{3(x + y)}}{{x - y}} =  - 7\\\frac{{5x - y}}{{y - x}} = \frac{5}{3}\end{array} \right.\)</p>
<h4><u>Hướng dẫn:</u></h4>
<p>a) Hệ phương trình tương đương với \(\left\{ \begin{array}{l}xy - 5x + 3y - 15 = xy\\xy + 5x - 2y - 10 = xy\end{array} \right.\)</p>
<p>\( \Leftrightarrow \left\{ {\begin{array}{*{20}{c}}{ - 5x + 3y = 15}\\{5x - 2y = 10}\end{array}} \right. \Leftrightarrow \left\{ {\begin{array}{*{20}{c}}{y = 25}\\{5x - 2y = 10}\end{array}} \right. \Leftrightarrow \left\{ {\begin{array}{*{20}{c}}{x = 12}\\{y = 25}\end{array}} \right.\)</p>
<p>Vậy hệ phương trình có nghiệm là \(\left( {x;y} \right) = \left( {12;25} \right)\)</p>
<p>b) Hệ phương trình tương đương với\(\left\{ \begin{array}{l}x - y =  \pm \sqrt 2 \\2x - y =  - 1\end{array} \right.\)</p>
<p>\( \Leftrightarrow \left\{ \begin{array}{l}x - y = \sqrt 2 \\2x - y =  - 1\end{array} \right.\) (1) hoặc \(\left\{ \begin{array}{l}x - y =  - \sqrt 2 \\2x - y =  - 1\end{array} \right.\) (2)</p>
<p>Ta có \(\left( 1 \right) \Leftrightarrow \left\{ \begin{array}{l}x =  - 1 - \sqrt 2 \\2x - y =  - 1\end{array} \right. \Leftrightarrow \left\{ {\begin{array}{*{20}{c}}{x =  - 1 - \sqrt 2 }\\{y =  - 1 - 2\sqrt 2 }\end{array}} \right.\)</p>
<p>\(\left( 2 \right) \Leftrightarrow \left\{ \begin{array}{l}x =  - 1 + \sqrt 2 \\2x - y =  - 1\end{array} \right. \Leftrightarrow \left\{ {\begin{array}{*{20}{c}}{x =  - 1 - \sqrt 2 }\\{y =  - 1 + 2\sqrt 2 }\end{array}} \right.\)</p>
<p>Vậy hệ phương trình có nghiệm \(\left( {x;y} \right)\)  là  \(\left( { - 1 - \sqrt 2 ; - 1 - 2\sqrt 2 } \right)\) và \(\left( { - 1 - \sqrt 2 ; - 1 + 2\sqrt 2 } \right)\)</p>
<p>c) ĐKXĐ: \(x \ne y\)</p>
<p>Hệ phương trình tương đương với \(\left\{ \begin{array}{l}3(x + y) =  - 7\left( {x - y} \right)\\3\left( {5x - y} \right) = 5\left( {y - x} \right)\end{array} \right.\)</p>
<p>\( \Leftrightarrow \left\{ {\begin{array}{*{20}{c}}{10x - 4y = 0}\\{20x - 8y = 0}\end{array}} \right. \Leftrightarrow \left\{ {\begin{array}{*{20}{c}}{x = 0}\\{y = 0}\end{array}} \right.\) (không thỏa mãn)</p>
<p>Vậy hệ phương trình vô nghiệm.</p>
<p> </p>
<h3>DẠNG TOÁN 2: GIẢI VÀ BIỆN LUẬN HỆ HAI PHƯƠNG TRÌNH BẬC NHẤT HAI ẨN</h3>
<p><strong>Phương pháp giải:</strong></p>
<p>Sử dụng định thức: Tính \(D,\,{D_x},\,{D_y}\)</p>
<p>\( \bullet \) Nếu \(D \ne 0\) thì hệ có nghiệm duy nhất \(\left( {x;y} \right) = \left( {\frac{{{D_x}}}{D};\frac{{{D_y}}}{D}} \right)\)</p>
<p>\( \bullet \) Nếu \(D = 0\) thì ta xét \({D_x},\,{D_y}\)</p>
<p>Với \(\left[ {\begin{array}{*{20}{c}}{{D_x} \ne 0}\\{{D_y} \ne 0}\end{array}} \right.\) khi đó phương trình vô nghiệm</p>
<p>Với \({D_x} = {D_y} = 0\) thì hệ phương trình có vô số nghiệm tập nghiệm của hệ phương trình là tập nghiệm của một trong hai phương trình có trong hệ.</p>
<h4><u>Ví dụ</u><u>:</u></h4>
<p>Giải và biện luận hệ phương trình:\(\left\{ \begin{array}{l}mx - y = 2m\\4x - my = m + 6\end{array} \right.\)</p>
<h4><u>Hướng dẫn:</u></h4>
<p>Ta có \(D = \left| {\begin{array}{*{20}{c}}m&amp;{ - 1}\\4&amp;{ - m}\end{array}} \right| = 4 - {m^2} = \left( {2 - m} \right)\left( {2 + m} \right)\)</p>
<p>\({D_x} = \left| {\begin{array}{*{20}{c}}{2m}&amp;{ - 1}\\{m + 6}&amp;{ - m}\end{array}} \right| =  - 2{m^2} + m + 6 = \left( {2 - m} \right)\left( {2m + 3} \right)\)<br/>
\({D_y} = \left| {\begin{array}{*{20}{c}}m&amp;{2m}\\4&amp;{m + 6}\end{array}} \right| = {m^2} - 2m = m\left( {m - 2} \right)\)</p>
<ul>
<li>Với \({\rm{D}} \ne 0 \Leftrightarrow \left\{ {\begin{array}{*{20}{c}}{m \ne 2}\\{m \ne  - 2}\end{array}} \right.\): Hệ phương trình có nghiệm duy nhất \(\left( {x;y} \right) = \left( {\frac{{{D_x}}}{D};\frac{{{D_y}}}{D}} \right) = \left( {\frac{{2m + 3}}{{2 + m}}; - \frac{m}{{2m + 1}}} \right)\)</li>
<li>Với \({\rm{D = }}0 \Leftrightarrow m =  \pm 2\):</li>
</ul>
<p> + Khi \(m = 2\) ta có \({\rm{D}} = {D_x} = {D_y} = 0\) nên hệ phương trình có nghiệm là nghiệm của phương trình \(2x - y = 4 \Leftrightarrow y = 2x - 4\). Do đó hệ phương trình có nghiệm là  \(\left( {x;y} \right) = \left( {t;2t - 4} \right),\,\,t \in R\).</p>
<p>+ Khi \(m =  - 2\) ta có \(D = 0,\,{D_x} \ne 0\) nên hệ phương trình vô nghiệm</p>
<p>Kết luận</p>
<p>\(m \ne 2\) và \(m \ne  - 2\) hệ phương trình có nghiệm duy nhất\(\left( {x;y} \right) = \left( {\frac{{2m + 3}}{{2 + m}}; - \frac{m}{{2m + 1}}} \right)\)</p>
<p>\(m = 2\)hệ phương trình có nghiệm là  \(\left( {x;y} \right) = \left( {t;2t - 4} \right),\,\,t \in R\).</p>
<p>\(m =  - 2\) hệ phương trình vô nghiệm</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}