{% extends "pages/lop10/chuong3/base-lop10-chuong3.html" %}
{% block title %}Toán 10 Bài 2: Phương trình quy về phương trình bậc nhất, bậc hai{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 10 Bài 2: Phương trình quy về phương trình bậc nhất, bậc hai</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Bài học <strong>Phương trình quy về phương trình bậc nhất, bậc hai </strong>sẽ giúp các em ôn tập lại về phương trình bậc nhất, phương trình bậc hai, <strong>định lý Vi-et</strong> đã được học ở cấp hai. Sau đó các em sẽ được tìm hiểu cách biến đổi một số dạng phương trình về phương trình bậc nhất hoặc bậc hai như: <strong>Phương trình chứa dấu giá trị tuyệt đối</strong>, <strong>Phương trình chứa nghiệm ở dấu căn</strong>,....</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="1">
<div id="11">
<h3>1.1. Phương trình bậc nhất</h3>
</div>
</div>
<p>Cách giải và biện luận phương trình dạng \(ax + b = 0\) được tóm tắt trong bảng sau</p>
<div class="table-responsive"><table border="1" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td colspan="3">
<p>\(ax + b = 0\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\left( 1 \right)\)</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>Hệ số</p>
</td>
<td>
<p>Kết luận</p>
</td>
</tr>
<tr>
<td colspan="2">
<p>\(a \ne 0\)</p>
</td>
<td>
<p>\(\left( 1 \right)\) có nghiệm duy nhất \(x =  - \frac{b}{a}\)</p>
</td>
</tr>
<tr>
<td rowspan="2">
<p>\(a = 0\)</p>
</td>
<td>
<p>\(b \ne 0\)</p>
</td>
<td>
<p>\(\left( 1 \right)\) vô nghiệm</p>
</td>
</tr>
<tr>
<td>
<p>\(b = 0\)</p>
</td>
<td>
<p>\(\left( 1 \right)\) nghiệm đúng với mọi \(x\)</p>
</td>
</tr>
</tbody>
</table></div>
<p>Khi \(a \ne 0\) phương trình \(ax + b = 0\) được gọi là phương trình bậc nhất một ẩn.</p>
<div id="2">
<div id="12">
<h3>1.2. Phương trình bậc hai</h3>
</div>
</div>
<p>Cách giải và công thức nghiệm của phương trình bậc hai được tóm tắt trong bảng sau</p>
<div class="table-responsive"><table border="1" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td colspan="2">
<p>\(a{x^2} + bx + c = 0{\rm{  }}\left( {a \ne 0} \right)\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\left( 2 \right)\)</p>
</td>
</tr>
<tr>
<td>
<p>\(\Delta  = {b^2} - 4ac\)</p>
</td>
<td>
<p>Kết luận</p>
</td>
</tr>
<tr>
<td>
<p>\(\Delta  &gt; 0\)</p>
</td>
<td>
<p>\(\left( 2 \right)\) có hai nghiệm phân biệt \({x_{1,\,\,2}} = \frac{{ - \,b \pm \sqrt \Delta  }}{{2a}}\)</p>
</td>
</tr>
<tr>
<td>
<p>\(\Delta  = 0\)</p>
</td>
<td>
<p>\(\left( 2 \right)\) có nghiệm kép \(x =  - \frac{b}{{2a}}\)</p>
</td>
</tr>
<tr>
<td>
<p>\(\Delta  &lt; 0\)</p>
</td>
<td>
<p>\(\left( 2 \right)\) vô nghiệm</p>
</td>
</tr>
</tbody>
</table></div>
<div id="3">
<div id="3">
<div>
<h3>1.3. Định lí Vi–ét</h3>
</div>
</div>
</div>
<p>Nếu phương trình bậc hai \(a{x^2} + bx + c = 0\,\,\,\,\,\left( {a \ne 0} \right)\) có hai nghiệm \({x_1},\,\,{x_2}\) thì</p>
<p>\({x_1} + {x_2} =  - \frac{b}{a},\,\,\,\,\,\,\,\,\,\,\,{x_1}{x_2} = \frac{c}{a}.\)</p>
<p>Ngược lại, nếu hai số \(u\) và \(v\) có tổng \(u + v = S\) và tích \(uv = P\) thì \(u\) và \(v\) là các nghiệm của phương trình</p>
<p>\({x^2} - Sx + P = 0.\)</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-10/bai-2-phuong-trinh-quy-ve-phuong-trinh-bac-nhat-bac-hai-l741.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-10/bai-2-phuong-trinh-quy-ve-phuong-trinh-bac-nhat-bac-hai-l741.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<h3>DẠNG TOÁN 1: PHƯƠNG TRÌNH CHỨA ẨN TRONG DẤU GIÁ TRỊ TUYỆT ĐỐI</h3>
<p><strong>Phương pháp giải</strong></p>
<ul>
<li>Để giải phương trình chứa ẩn trong dấu giá trị tuyệt đối(GTTĐ) ta tìm cách để khử dấu GTTĐ, bằng cách:</li>
</ul>
<p>          – Dùng định nghĩa hoặc tính chất của GTTĐ.</p>
<p>          – Bình phương hai vế.</p>
<p>          – Đặt ẩn phụ.             </p>
<ul>
<li>Phương trình dạng \(\left| {f(x)} \right| = \left| {g(x)} \right|\) ta có thể giải bằng cách biến đổi tương đương như sau</li>
</ul>
<p>\(\left| {f(x)} \right| = \left| {g(x)} \right| \Leftrightarrow \left[ \begin{array}{l}f(x) = g(x)\\f(x) =  - g(x)\end{array} \right.\)  hoặc \(\left| {f(x)} \right| = \left| {g(x)} \right| \Leftrightarrow {f^2}(x) = {g^2}(x)\)</p>
<ul>
<li>Đối với phương trình dạng \(\left| {f(x)} \right| = g(x)\)(*) ta có thể biến đổi tương đương như sau</li>
</ul>
<p>\(\left| {f(x)} \right| = g(x) \Leftrightarrow \left\{ \begin{array}{l}g(x) \ge 0\\{f^2}(x) = {g^2}(x)\end{array} \right. \Leftrightarrow \left\{ \begin{array}{l}g(x) \ge 0\\\left[ \begin{array}{l}f(x) = g(x)\\f(x) =  - g(x)\end{array} \right.\end{array} \right.\)</p>
<p>Hoặc \(\left| {f(x)} \right| = g(x) \Leftrightarrow \left[ {\begin{array}{*{20}{c}}{\left\{ {\begin{array}{*{20}{c}}{f(x) = g(x)}\\{f(x) \ge 0}\end{array}} \right.}\\{\left\{ {\begin{array}{*{20}{c}}{ - f(x) = g(x)}\\{f(x) &lt; 0}\end{array}} \right.}\end{array}} \right.\)</p>
<h4> </h4>
<h4><u>Ví dụ:</u></h4>
<p>Giải các phương trình sau:</p>
<p>a) \(\left| {2x + 1} \right| = \left| {{x^2} - 3x - 4} \right|\).                                                  </p>
<p>b) \(\left| {3x - 2} \right| = 3 - 2x\)</p>
<p>c) \(\left| {{x^2} - 4x - 5} \right| = 4x - 17\)                                                                                    </p>
<p>d) \(\left| {2x - 5} \right| + \left| {2{x^2} - 7x + 5} \right| = 0\)</p>
<h4><u>Lời giải:</u></h4>
<p>a) Phương trình \( \Leftrightarrow \left[ {\begin{array}{*{20}{c}}{2x + 1 = {x^2} - 3x - 4}\\{2x + 1 =  - \left( {{x^2} - 3x - 4} \right)}\end{array}} \right. \Leftrightarrow \left[ {\begin{array}{*{20}{c}}{{x^2} - 5x - 5 = 0}\\{{x^2} - x - 3 = 0}\end{array}} \right.\) \( \Leftrightarrow \left[ {\begin{array}{*{20}{c}}{x = \frac{{5 \pm \sqrt {45} }}{2}}\\{x = \frac{{1 \pm \sqrt {13} }}{2}}\end{array}} \right.\)</p>
<p>Vậy phương trình có nghiệm là \(x = \frac{{5 \pm \sqrt {45} }}{2}\) và \(\frac{{1 \pm \sqrt {13} }}{2}\).</p>
<p>b) <strong>Cách 1:</strong> Với \(3 - 2x &lt; 0 \Leftrightarrow x &gt; \frac{3}{2}\)  ta có \(VT \ge 0,\,\,VP &lt; 0\) suy ra phương trình vô nghiệm</p>
<p>Với \(3 - 2x \ge 0 \Leftrightarrow x \le \frac{3}{2}\) khi đó hai vế của phương trình không âm suy ra</p>
<p>Phương trình \( \Leftrightarrow {\left| {3x - 2} \right|^2} = {\left( {3 - 2x} \right)^2} \Leftrightarrow 9{x^2} - 12x + 4 = 4{x^2} - 12x + 9\)</p>
<p>\( \Leftrightarrow 5{x^2} = 5 \Leftrightarrow x =  \pm 1\) (thỏa mãn)</p>
<p>Vậy phương trình có nghiệm là \(x =  \pm 1\) .</p>
<p><strong>Cách 2:</strong> Với \(3x - 2 \ge 0 \Leftrightarrow x \ge \frac{2}{3}\) : Phương trình tương đương với</p>
<p>\(3{\rm{x}} - 2 = 3 - 2{\rm{x}} \Leftrightarrow 5{\rm{x}} = 5 \Leftrightarrow x = 1\) (thỏa mãn)</p>
<p>Với  \(3x - 2 &lt; 0 \Leftrightarrow x &lt; \frac{2}{3}\): Phương trình tương đương với</p>
<p>\( - \left( {3{\rm{x}} - 2} \right) = 3 - 2{\rm{x}} \Leftrightarrow {\rm{x}} =  - 1\) (thỏa mãn)</p>
<p>Vậy phương trình có nghiệm là \(x =  \pm 1\) .</p>
<p>c) Với \(4x - 17 &lt; 0 \Leftrightarrow x &lt; \frac{{17}}{4}\)  ta có \(VT \ge 0,\,\,VP &lt; 0\) suy ra phương trình vô nghiệm</p>
<p>Với \(4x - 17 \ge 0 \Leftrightarrow x \ge \frac{{17}}{4}\) khi đó hai vế của phương trình không âm suy ra</p>
<p>Phương trình \( \Leftrightarrow {\left| {{x^2} - 4x - 5} \right|^2} = {\left( {4x - 17} \right)^2} \Leftrightarrow {\left( {{x^2} - 4x - 5} \right)^2} = {\left( {4x - 17} \right)^2}\)</p>
<p>\( \Leftrightarrow \left( {{x^2} - 8x + 12} \right)\left( {{x^2} - 22} \right) = 0 \Leftrightarrow \left[ {\begin{array}{*{20}{c}}{{x^2} - 8x + 12 = 0}\\{{x^2} - 22 = 0}\end{array}} \right. \Leftrightarrow \left[ {\begin{array}{*{20}{c}}{\left[ {\begin{array}{*{20}{c}}{x = 2}\\{x = 6}\end{array}} \right.}\\{x =  \pm \sqrt {22} }\end{array}} \right.\)</p>
<p>Đối chiếu với điều kiện \(x \ge \frac{{17}}{4}\) thấy chỉ có \(x = 6\) và \(x = \sqrt {22} \) thỏa mãn</p>
<p>Vậy phương trình có nghiệm là \(x = 6\) và \(x = \sqrt {22} \).</p>
<p>d) Ta có \(\left| {2x - 5} \right| \ge 0,\,\,\left| {2{x^2} - 7x + 5} \right| \ge 0\) suy ra</p>
<p>\(\left| {2x - 5} \right| + \left| {2{x^2} - 7x + 5} \right| \ge 0\).</p>
<p>Dấu bằng xảy ra khi và chỉ khi \(\left\{ {\begin{array}{*{20}{c}}{2x - 5 = 0}\\{2{x^2} - 7x + 5 = 0}\end{array}} \right. \Leftrightarrow \left\{ {\begin{array}{*{20}{c}}{x = \frac{5}{2}}\\{\left[ {\begin{array}{*{20}{c}}{x = 1}\\{x = \frac{5}{2}}\end{array}} \right.}\end{array}} \right. \Leftrightarrow x = \frac{5}{2}\) .</p>
<p>Vậy phương trình có nghiệm là \(x = \frac{5}{2}\) .</p>
<p> </p>
<h3>DẠNG TOÁN 2: PHƯƠNG TRÌNH CHỨA ẨN Ở MẪU</h3>
<p><strong>Phương pháp giải</strong></p>
<p>Để giải phương trình chứa ẩn ở mẫu ta thường</p>
<p>- Quy đồng mẫu số (chú ý cần đặt điều kiện mẫu số khác không)</p>
<p>- Đặt ẩn phụ</p>
<p> </p>
<h4><u>Ví dụ:</u><span style="color:inherit; font-family:inherit"> </span></h4>
<p>Tìm số nghiệm của các phương trình sau</p>
<p>a) \(\frac{{2x + 1}}{{3x + 2}} = \frac{{x + 1}}{{x - 2}}\)      </p>
<p>b) \(1 + \frac{2}{{x - 2}} = \frac{{10}}{{x + 3}} - \frac{{50}}{{(2 - x)(x + 3)}}\).          </p>
<p>c) \(\frac{{x + 3}}{{{{(x + 1)}^2}}} = \frac{{4x - 2}}{{{{(2x - 1)}^2}}}\).                                                                              </p>
<p>d) \(\frac{{x + 1}}{{x + 2}} + \frac{{x - 1}}{{x - 2}} = \frac{{2x + 1}}{{x + 1}}\)                                             </p>
<h4><u>Lời giải:</u></h4>
<p>a) ĐKXĐ: \(x \ne  - \frac{2}{3}\)  và \(x \ne 2\) .</p>
<p>Phương trình tương đương với \(\left( {2x + 1} \right)\left( {x - 2} \right) = \left( {x + 1} \right)\left( {3x + 2} \right) \Leftrightarrow 2{x^2} - 4x + x - 2 = 3{x^2} + 2x + 3x + 2\)</p>
<p>\( \Leftrightarrow {x^2} + 8x + 4 = 0 \Leftrightarrow x =  - 4 \pm 2\sqrt 3 \) (thỏa mãn điều kiện)</p>
<p>Vậy phương trình có nghiệm là \(x =  - 4 \pm 2\sqrt 3 \).</p>
<p>b) ĐKXĐ: \(x \ne  - 3\)  và \(x \ne 2\) .</p>
<p>Phương trình tương đương với \(\left( {2 - x} \right)\left( {x + 3} \right) - 2\left( {x + 3} \right) = 10\left( {2 - x} \right) - 50\)</p>
<p>\( \Leftrightarrow {x^2} - 7x - 30 = 0 \Leftrightarrow \left[ {\begin{array}{*{20}{c}}{x = 10}\\{x =  - 3}\end{array}} \right.\)</p>
<p>Đối chiếu với điều kiện ta có nghiệm của phương trình là \(x = 10\) .</p>
<p>c) ĐKXĐ: \(x \ne  - 1\)  và \(x \ne \frac{1}{2}\) .</p>
<p>Phương trình tương đương với</p>
<p>\(\frac{{x + 3}}{{{{(x + 1)}^2}}} = \frac{2}{{2x - 1}} \Leftrightarrow \left( {x + 3} \right)\left( {2x - 1} \right) = 2{\left( {x + 1} \right)^2}\)</p>
<p>\( \Leftrightarrow x = 5\) (thỏa mãn điều kiện)</p>
<p>Vậy phương trình có nghiệm là \(x = 5\) .</p>
<p>d) ĐKXĐ: \(x \ne  \pm 2\) và \(x \ne  - 1\)</p>
<p>Phương trình tương đương với</p>
<p>\({\left( {x + 1} \right)^2}\left( {x - 2} \right) + \left( {x - 1} \right)\left( {x + 1} \right)\left( {x + 2} \right) = \left( {2x + 1} \right)\left( {x - 2} \right)\left( {x + 2} \right)\)</p>
<p>\( \Leftrightarrow \left( {{x^2} + 2x + 1} \right)\left( {x - 2} \right) + \left( {{x^2} - 1} \right)\left( {x + 2} \right) = \left( {2x + 1} \right)\left( {{x^2} - 4} \right)\)</p>
<p>\( \Leftrightarrow {x^3} - 2{x^2} + 2{x^2} - 4x + x - 2 + {x^3} + 2{x^2} - x - 2 = 2{x^3} - 8x + {x^2} - 4\)</p>
<p>\( \Leftrightarrow {x^2} + 4x = 0 \Leftrightarrow \left[ {\begin{array}{*{20}{c}}{x = 0}\\{x =  - 4}\end{array}} \right.\) (thỏa mãn điều kiện)</p>
<p>Vậy phương trình có nghiệm là \(x =  - 4\) và \(x = 0\)</p>
<p> </p>
<h3>DẠNG 3: PHƯƠNG TRÌNH CHỨA ẨN DƯỚI DẤU CĂN</h3>
<p>Để giải các phương trình chứa ẩn dưới dấu căn bậc hai, ta thường bình phương hai vế để đưa về một phương trình hệ quả không chứa ẩn dưới dấu căn.</p>
<ul>
<li>\(\sqrt {f(x)}  = \sqrt {g(x)}  \Leftrightarrow \left\{ \begin{array}{l}f(x) = g(x)\\f(x) \ge 0\,\,(hoac\,\,g(x) \ge 0)\end{array} \right.\)</li>
<li>\(\sqrt {f(x)}  = g(x) \Leftrightarrow \left\{ \begin{array}{l}f(x) = {\left[ {g(x)} \right]^2}\\g(x) \ge 0\end{array} \right.\)</li>
</ul>
<h4> </h4>
<h4><u>Ví dụ:</u></h4>
<p>Giải các phương trình sau:</p>
<p>a) \(\sqrt {2x - 3}  = x - 2.\)   (1)</p>
<p>b) \(\sqrt {{x^2} + 2x + 4}  = \sqrt {2 - x} \)</p>
<h4><u>Hướng dẫn:</u></h4>
<p>a) Điều kiện của phương trình \(\left( 1 \right)\) là \(x \ge \frac{3}{2}.\)</p>
<p>Bình phương hai vế của phương trình \(\left( 1 \right)\) ta đưa tới phương trình hệ quả:</p>
<p>\(\begin{array}{c}\left( 1 \right) \Rightarrow 2x - 3 = {x^2} - 4x + 4\\ \Rightarrow {x^2} - 6x + 7 = 0.\end{array}\)</p>
<p>Phương trình cuối có hai nghiệm là \(x = 3 + \sqrt 2 \) và \(x = 3 - \sqrt 2 .\) Cả hai giá trị này đều thỏa mãn điều kiện của phương trình \(\left( 1 \right),\) nhưng khi thay vào phương trình \(\left( 1 \right)\) thì giá trị \(x = 3 - \sqrt 2 \) bị loại (vế trái dương còn vế phải âm), còn giá trị \(x = 3 + \sqrt 2 \) là nghiệm (hai vế cùng bằng \(\sqrt 2  + 1\)).</p>
<p>Kết luận. Vậy nghiệm của phương trình \(\left( 1 \right)\) là \(x = 3 + \sqrt 2 .\)</p>
<p>b) ĐKXĐ: \(\left\{ \begin{array}{l}{x^2} + 2x + 4 \ge 0\\2 - x \ge 0\end{array} \right. \Leftrightarrow x \le 2\)</p>
<p>Với điều kiện đó phương trình tương đương với:</p>
<p>\({x^3} + 2x + 4 = 2 - x \Leftrightarrow {x^2} + 3x + 2 = 0 \Leftrightarrow \left[ \begin{array}{l}x =  - 1\\x =  - 2\end{array} \right.\)</p>
<p>Đối chiếu với điều kiện ta được nghiệm của phương trình là \(x =  - 1\) và \(x =  - 2.\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}