{% extends "pages/lop10/chuong4/base-lop10-chuong4.html" %}
{% block title %}Toán 10 Bài 2: Bất phương trình và hệ bất phương trình một ẩn{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 10 Bài 2: Bất phương trình và hệ bất phương trình một ẩn</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p><strong>Bất phương trình </strong>là một khái niệm mà các em đã được tiếp cận từ những lớp nhỏ. Thông qua bài học này các em sẽ được ôn tập và tìm hiểu thêm một số phương pháp giải bất phương trình và <strong>hệ bất phương trình một ẩn</strong>.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Giải và biện luận bất phương trình dạng \(ax + b &lt; 0\).</h3>
</div>
<p>Giải bất phương trình dạng \(ax + b &lt; 0\) (1)</p>
<ul>
<li>Nếu \(a = 0\) thì bất phương trình có dạng \(0.x + b &lt; 0\)</li>
</ul>
<p>- Với \(b &lt; 0\) thì tập nghiệm BPT là S = Æ</p>
<p>- Với \(b \ge 0\) thì tập nghiệm BPT là \({\rm{S}} = \mathbb{R}\)</p>
<ul>
<li>Nếu \(a &gt; 0\) thì \(\left( 1 \right) \Leftrightarrow x &lt;  - \frac{b}{a}\) suy ra tập nghiệm là \(S = \left( { - \infty ; - \frac{b}{a}} \right)\)</li>
<li>Nếu \(a &lt; 0\) thì \(\left( 1 \right) \Leftrightarrow x &gt;  - \frac{b}{a}\) suy ra tập nghiệm là \(S = \left( { - \frac{b}{a}; + \infty } \right)\)</li>
</ul>
<p>Các bất phương trình dạng \(ax + b &gt; 0,\,\,ax + b \le 0,\,\,ax + b \ge 0\) được giải hoàn toán tương tự</p>
<div id="12">
<h3>1.2. Hệ bất phương trình bậc nhất một ẩn</h3>
</div>
<p>Để giải hệ bất phương trình bậc nhất một ẩn ta giải từng bất phương trình của hệ bất phương trình. Khi đó tập nghiệm của hệ bất phương trình là giao của các tập nghiệm từng bất phương trình.</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-10/bai-2-bat-phuong-trinh-va-he-bat-phuong-trinh-mot-an-l744.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-10/bai-2-bat-phuong-trinh-va-he-bat-phuong-trinh-mot-an-l744.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<h3>DẠNG TOÁN 1: GIẢI BẤT PHƯƠNG TRÌNH DẠNG \(ax + b &lt; 0\)</h3>
<h4><u>Ví dụ:</u></h4>
<p>Biện luận nghiệm của bất phương trình theo m:</p>
<p>a) \(mx + 6 \le 2x + 3m\)</p>
<p>b)  \(\left( {x + m} \right)m + x &gt; 3x + 4\)</p>
<p>c) \(\left( {{m^2} + 9} \right)x + 3 \ge m\left( {1 - 6x} \right)\)</p>
<h4><u>Hướng dẫn:</u></h4>
<p>a) Bất phương trình tương đương với \(\left( {m - 2} \right)x &lt; 3m - 6\)</p>
<p>Với \(m = 2\) bất phương trình trở thành \(0x \le 0\)suy ra bất phương trình nghiệm đúng với mọi \(x\).</p>
<p>Với \(m &gt; 2\) bât phương trình tương đương với \(x &lt; \frac{{3m - 6}}{{m - 2}} = 3\)</p>
<p>Với \(m &lt; 2\) bât phương trình tương đương với \(x &gt; \frac{{3m - 6}}{{m - 2}} = 3\)</p>
<p><strong>Kết luận</strong></p>
<p>\(m = 2\) bất phương trình nghiệm đúng với mọi \(x\)(có tập nghiệm là \(S = \mathbb{R}\)).</p>
<p>\(m &gt; 2\) bât phương trình có nghiệm là \(x &lt; 3\)(có tập nghiệm là \(S = \left( { - \infty ;3} \right)\))</p>
<p>\(m &lt; 2\) bât phương trình có nghiệm là \(x &gt; 3\)(có tập nghiệm là \(S = \left( {3; + \infty } \right)\))</p>
<p>b) Bất phương trình tương đương với \(\left( {m - 2} \right)x &gt; 4 - {m^2}\)</p>
<p>Với \(m = 2\) bất phương trình trở thành \(0x &gt; 0\)suy ra bất phương trình vô nghiệm.</p>
<p>Với \(m &gt; 2\) bât phương trình tương đương với \(x &gt; \frac{{4 - {m^2}}}{{m - 2}} =  - m - 2\)</p>
<p>Với \(m &lt; 2\) bât phương trình tương đương với \(x &lt; \frac{{4 - {m^2}}}{{m - 2}} =  - m - 2\)</p>
<p><strong>Kết luận</strong></p>
<p>\(m = 2\) bất phương trình vô nghiệm</p>
<p>\(m &gt; 2\) bât phương trình có nghiệm là \(x &gt;  - m - 2\)</p>
<p>\(m &lt; 2\) bât phương trình có nghiệm là \(x &lt;  - m - 2\)</p>
<p>c) Bất phương trình tương đương với \({\left( {m + 3} \right)^2}x \ge m - 3\)</p>
<p>Với \(m =  - 3\) bất phương trình trở thành \(0x \ge  - 6\)suy ra bất phương trình nghiệm đúng với mọi \(x\).</p>
<p>Với \(m \ne  - 3\) bât phương trình tương đương với \(x \ge \frac{{m - 3}}{{{{\left( {m + 3} \right)}^2}}}\)</p>
<p><strong>Kết luận</strong></p>
<p>\(m =  - 3\) bất phương trình nghiệm đúng với mọi \(x\).</p>
<p>\(m \ne  - 3\) bât phương trình có nghiệm là \(x \ge \frac{{m - 3}}{{{{\left( {m + 3} \right)}^2}}}\).</p>
<h3>DẠNG TOÁN 2: GIẢI HỆ BẤT PHƯƠNG TRÌNH BẬC NHẤT MỘT ẨN</h3>
<h4><u>Ví dụ 1:</u></h4>
<p>Giải các hệ bất phương trình sau:</p>
<p>a) \(\left\{ \begin{array}{l}5x - 2 &gt; 4x + 5\\5x - 4 &lt; x + 2\end{array} \right.\)</p>
<p>b) \(\left\{ \begin{array}{l}6x + \frac{5}{7} &lt; 4x + 7\\\frac{{8x + 3}}{2} &lt; 2x + 5\end{array} \right.\)</p>
<p>c) \(\left\{ \begin{array}{l}x - 1 \le 2x - 3\\3x &lt; x + 5\\\frac{{5 - 3x}}{2} \le x - 3\end{array} \right.\)</p>
<h4><u>Hướng dẫn:</u></h4>
<p>a) Hệ bất phương trình tương đương với</p>
<p>\(\left\{ \begin{array}{l}5x - 2 &gt; 4x + 5\\5x - 4 &lt; x + 2\end{array} \right. \Leftrightarrow \left\{ \begin{array}{l}x &gt; 7\\x &lt; \frac{3}{2}\end{array} \right.\)</p>
<p>Suy ra hệ bất phương trình vô nghiệm.</p>
<p>b) Hệ bất phương trình tương đương với</p>
<p>\(\left\{ \begin{array}{l}6x + \frac{5}{7} &lt; 4x + 7\\\frac{{8x + 3}}{2} &lt; 2x + 5\end{array} \right. \Leftrightarrow \left\{ \begin{array}{l}x &lt; \frac{{22}}{7}\\x &lt; \frac{7}{4}\end{array} \right. \Leftrightarrow x &lt; \frac{7}{4}\)</p>
<p>Vậy hệ bất phương trình có nghiệm là \(x &lt; \frac{7}{4}\)</p>
<p>d) Hệ bất phương trình tương đương với \(\left\{ \begin{array}{l}x \ge 2\\x &lt; \frac{5}{2}\\x \ge \frac{{11}}{5}\end{array} \right. \Leftrightarrow \frac{{11}}{5} \le x \le \frac{5}{2}\)</p>
<p>Vậy hệ bất phương trình có nghiệm là  \(\frac{{11}}{5} \le x \le \frac{5}{2}\).</p>
<h4><u>Ví dụ 2:</u></h4>
<p>Tìm \(m\) để hệ bất phương trình \(\left\{ {\begin{array}{*{20}{c}}{m\left( {mx - 1} \right) &lt; 2}\\{m\left( {mx - 2} \right) \ge 2m + 1}\end{array}} \right.\) có nghiệm.</p>
<h4><u>Hướng dẫn:</u></h4>
<p>Hệ bất phương trình tương đương với \(\left\{ {\begin{array}{*{20}{c}}{{m^2}x &lt; m + 2}\\{{m^2}x \ge 4m + 1}\end{array}} \right.\)</p>
<p>Với \(m = 0\) ta có hệ bất phương trình trở thành \(\left\{ {\begin{array}{*{20}{c}}{0x &lt; 2}\\{0x \ge 1}\end{array}} \right.\) suy ra hệ bất phương trình vô nghiệm</p>
<p>Với \(m \ne 0\) ta có hệ bất phương trình tương đương với \(\left\{ {\begin{array}{*{20}{c}}{x &lt; \frac{{m + 2}}{{{m^2}}}}\\{x \ge \frac{{4m + 1}}{{{m^2}}}}\end{array}} \right.\)</p>
<p>Suy ra hệ bất phương trình có nghiệm khi và chỉ khi \(\frac{{m + 2}}{{{m^2}}} &gt; \frac{{4m + 1}}{{{m^2}}} \Leftrightarrow m &lt; \frac{1}{3}\)</p>
<p>Vậy \(m &lt; \frac{1}{3}\) là giá trị cần tìm.</p>
<h3>DẠNG TOÁN 3: BẤT PHƯƠNG TRÌNH QUY VỀ BẤT PHƯƠNG TRÌNH, HỆ BẤT PHƯƠNG TRÌNH BẬC NHẤT MỘT ẨN.</h3>
<h4><u>Ví dụ:</u></h4>
<p>Cho bất phương trình  \(\sqrt {x - 1} (x - 2m + 2) \ge 0\)</p>
<p>a) Giải bất phương trình khi \(m = 2\)</p>
<p>b) Tìm \(m\) để mọi \(x \in \left[ {2;3} \right]\) đều là nghiệm của bất phương trình đã cho.</p>
<h4><u>Hướng dẫn:</u></h4>
<p>a) Khi \(m = 2\) bất phương trình trở thành \(\sqrt {x - 1} (x - 2) \ge 0\)</p>
<p>Bất phương trình tương đương với \(\left[ {\begin{array}{*{20}{c}}{\sqrt {x - 1}  = 0}\\{\left\{ \begin{array}{l}x - 1 \ge 0\\x - 2 \ge 0\end{array} \right.}\end{array}} \right.\)</p>
<p>\( \Leftrightarrow \left[ {\begin{array}{*{20}{c}}{x = 1}\\{\left\{ {\begin{array}{*{20}{c}}{x \ge 1}\\{x \ge 2}\end{array}} \right.}\end{array}} \right. \Leftrightarrow \left[ {\begin{array}{*{20}{c}}{x = 1}\\{x \ge 2}\end{array}} \right.\)</p>
<p>Vậy tập nghiệm bất phương trình là \({\rm{S}} = \left\{ 1 \right\} \cup {\rm{[}}2; + \infty )\).</p>
<p>b) Bất phương trình tương đương với \(\left[ {\begin{array}{*{20}{c}}{\sqrt {x - 1}  = 0}\\{\left\{ \begin{array}{l}x - 1 \ge 0\\x - 2m + 2 \ge 0\end{array} \right.}\end{array}} \right.\)\( \Leftrightarrow \left[ {\begin{array}{*{20}{c}}{x = 1}\\{\left\{ \begin{array}{l}x \ge 1\\x \ge 2m - 2\end{array} \right.}\end{array}} \right.\)</p>
<p>+ TH1: \(2m - 2 &gt; 1 \Leftrightarrow m &gt; \frac{3}{2}\): Ta có bất phương trình\( \Leftrightarrow \left[ {\begin{array}{*{20}{c}}{x = 1}\\{x \ge 2m - 2}\end{array}} \right.\)</p>
<p>Suy ra tập nghiệm bất phương trình là \(S = \left\{ 1 \right\} \cup [2m - 2; + \infty )\).</p>
<p>Do đó mọi \(x \in \left[ {2;3} \right]\) đều là nghiệm của bất phương trình (*)</p>
<p>\( \Leftrightarrow \left[ {2;3} \right] \subset S \Leftrightarrow 2m - 2 \le 2 \Leftrightarrow m \le 2\)</p>
<p>Suy ra \(\frac{3}{2} &lt; m \le 2\) thỏa mãn yêu cầu bài toán.</p>
<p>+ TH2: \(2m - 2 = 1 \Leftrightarrow m = \frac{3}{2}\): Ta có bất phương trình\( \Leftrightarrow \left[ {\begin{array}{*{20}{c}}{x = 1}\\{x \ge 1}\end{array} \Leftrightarrow x \ge 1} \right.\)</p>
<p>Suy ra \(m = \frac{3}{2}\) thỏa mãn yêu cầu bài toán.</p>
<p>+ TH3: \(2m - 2 &lt; 1 \Leftrightarrow m &lt; \frac{3}{2}\): Ta có bất phương trình\( \Leftrightarrow \left[ {\begin{array}{*{20}{c}}{x = 1}\\{x \ge 1}\end{array} \Leftrightarrow x \ge 1} \right.\)</p>
<p>Suy ra \(m &lt; \frac{3}{2}\)thỏa mãn yêu cầu bài toán.</p>
<p>Vậy giá trị cần tìm là \(m \le 2\).</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}