{% extends "pages/lop10/chuong4/base-lop10-chuong4.html" %}
{% block title %}Toán 10 Ôn tập chương 4 Bất đẳng thức, bất phương trình{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 10 Ôn tập chương 4 Bất đẳng thức, bất phương trình</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Bài ôn tập chương<span style="font-weight: 700;"> Bất đẳng thức - Bất phương trình</span> sẽ giúp các em hệ thống lại toàn bộ kiến thức đã học ở chương 4. Thông qua <span style="font-weight: 700;">sơ đồ tư duy</span>, các em sẽ có được cách ghi nhớ bài một cách dễ dàng, hiệu quả.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Hệ thống về kiến thức</h3>
</div>
<p style="text-align: center;"><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/8(91).PNG" style="width: 600px; height: 342px;"/></p>
<div id="12">
<h3>1.2. Hệ thống về kỹ năng</h3>
</div>
<p style="text-align: center;"><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/7(106).PNG" style="width: 600px; height: 346px;"/></p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-10/on-tap-chuong-4-bat-dang-thuc-bat-phuong-trinh-l7704.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-10/on-tap-chuong-4-bat-dang-thuc-bat-phuong-trinh-l7704.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<p><strong>Ví dụ 1:</strong> Chứng minh bất đẳng thức \(a + \frac{4}{{\left( {a - b} \right){{\left( {b + 1} \right)}^2}}} \ge 3\)</p>
<p><u><strong>Hướng dẫn:</strong></u></p>
<p>Điều kiện: <span class="math-tex">\(a&gt;b\geq 0\)</span></p>
<p>Áp dụng BĐT Cô-si cho các số dương ta có:</p>
<p><span class="math-tex">\(a+\frac{4}{(a-b)(b+1)^2}=a-b+b+\frac{4}{(a-b)(b+1)^2}\)</span></p>
<p><span class="math-tex">\(=(a-b)+\frac{b+1}{2}+\frac{b+1}{2}+\frac{4}{(a-b)(b+1)^2}-1\)</span></p>
<p><span class="math-tex">\(\geq 4\sqrt[4]{(a-b).\frac{b+1}{2}.\frac{b+1}{2}.\frac{4}{(a-b)(b+1)^2}}-1\)</span></p>
<p><span class="math-tex">\(=4-1=3\)</span></p>
<p>Ta có đpcm</p>
<p>Dấu "=" xảy ra khi <span class="math-tex">\(a-b=\frac{b+1}{2}=\frac{4}{(a-b)(b+1)^2}\Leftrightarrow a=2; b=1\)</span></p>
<p><strong>Ví dụ 2: C</strong>ho a+b<span class="math-tex">\(\ge\)</span>0, chứng minh <span class="math-tex">\(\dfrac{a+b}{2}\)</span><span class="math-tex">\(\le\)</span><span class="math-tex">\(\sqrt{\dfrac{a^2+b^2}{2}}\)</span><strong> </strong></p>
<p><u><b>Hướng dẫn:</b></u></p>
<p>Theo bđt cosi ta có:</p>
<p><span class="math-tex">\(a^2+b^2\ge2ab\)</span><span class="math-tex">\(\Leftrightarrow2a^2+2b^2\ge a^2+2ab+b^2\)</span></p>
<p><span class="math-tex">\(\Leftrightarrow2\left(a^2+b^2\right)\ge\left(a+b\right)^2\)</span></p>
<p><span class="math-tex">\(\Leftrightarrow\dfrac{a^2+b^2}{2}\ge\dfrac{\left(a+b\right)^2}{4}\)</span></p>
<p><span class="math-tex">\(\Leftrightarrow\sqrt{\dfrac{a^2+b^2}{2}}\ge\dfrac{a+b}{2}\)</span></p>
<p>Suy ra đpcm</p>
<p><strong>Ví dụ 3:</strong> Biểu diễn hình học tập nghiệm bất phương trình bậc nhất hai ẩn </p>
<p>\(\left\{ \begin{array}{l}<br>
3x + y \le 6\\<br/>
x + y \le 4\\<br/>
2x - y \ge 3\\<br/>
 - 10x + 5y &lt; 8<br/>
\end{array} \right.\)</br></p>
<p><u><strong>Hướng dẫn: </strong></u></p>
<p>Vẽ các đường thẳng</p>
<p>\(\begin{array}{l}<br/>
(a):3x + y = 6\\<br/>
(b):x + y = 4\\<br/>
(c):2x - y = 3\\<br/>
(d): - 10x + 5y = 8<br/>
\end{array}\)</p>
<p>Vì điểm M(0;-3) có tọa độ thỏa mãn các bất phương trình trong hệ nên ta tô đậm các mặt phẳng bờ (a), (b), (c), (d) không chứa điểm M. Miền không bị tô đậm là miền nghiệm của hệ đã cho.</p>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/9(82).PNG" style="width: 250px; height: 239px;"/></p>
<p><strong>Ví dụ 4:</strong> Tìm m để phương trình \( - {x^2} + (m + 1)x + {m^2} - 5m + 6 = 0\) (1) có 2 nghiệm trái dấu</p>
<p><u><strong>Hướng dẫn:</strong></u></p>
<p>Phương trình (1) có 2 nghiệm trái dấu khi và chỉ khi</p>
<p>\( - 1.\left( {{m^2} - 5m + 4} \right) &lt; 0 \Leftrightarrow \left( {{m^2} - 5m + 4} \right) &gt; 0\)</p>
<p>Vì tam thức \(f(x) = \left( {{m^2} - 5m + 4} \right)\) có 2 nghiệm là \({m_1} = 1,{m_2} = 4\) và hệ số của \(m^2\) dương nên </p>
<p>\(\left( {{m^2} - 5m + 4} \right) &gt; 0 \Leftrightarrow m &gt; 4 \vee m &lt; 1\)</p>
<p>Vậy phương trình đã cho có 2 nghiệm trái dấu khi và chỉ khi \(m &gt; 4 \vee m &lt; 1\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}