<!DOCTYPE html>
<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../static/resources-index/css/style.css">
    <link rel="stylesheet" href="../../static/vendors/css/grid.css">
    <title>Giai Toan Nhanh</title>
</head>

<body>
    <header id="home">
        <nav>
            <a href="/"><img class="logo" src="../../static/resources-index/img/Logo.jpg" alt="Logo"></a>
            <ul class="main-nav">
                <li><a href="/">Trang Chủ</a></li>                
                <li><a href="#khoilop">Lý thuyết</a></li>
                <li><a href="./answer/">Giải toán nhanh</a></li>
                {% if user.is_authenticated %}
                <li>
                    <div class="dropdown">                    
                    <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Xin chào {{user.username}}
                    </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Thông tin tài khoản</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'home:logout' %}">Đăng xuất</a>                        
                      </div>
                    </div>
                </li>
                {% else %}
                <li><a href="/register">Đăng nhập</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="clearfix"></div>
        <h1 class="heading-main-text">Phương pháp giải bài tập Toán<br>nhanh chóng, chính xác và thuận tiện<br>các khối
            THCS</h1>
    </header>
    <!-- <section id="dangky" class= "dangky">
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form autocomplete="off" action="" method="POST">
                    <h1 style="color: black; font-size: 30px;position: absolute;top: 20px;" >Đăng ký thành viên</h1>
                    <div class="social-container">
                        <a href="" class="social"><i class="fa fa-facebook"></i></a>
                        <a href="" class="social"><i class="fa fa-google-plus"></i></a>
                        <a href="" class="social"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <span>Sử dụng Email để làm tài khoản</span>
                    <input type="email" placeholder="Email" name ="email"/>
                    <input type="text" placeholder="Họ Tên" />
                    <input type="password" placeholder="Mật khẩu" />
                    <input type="password" placeholder="Nhập Lại Mật khẩu"/>
                    <button>Đăng Ký</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form autocomplete="off" action="">
                    <h1 style="color: black;font-size:30px">Đăng nhập</h1>
                    <div class="social-container">
                        <a href="" class="social"><i class="fa fa-facebook"></i></a>
                        <a href="" class="social"><i class="fa fa-google-plus"></i></a>
                        <a href="" class="social"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <span>Hoặc sử dụng tài khoản của bạn</span>
                    <input type="Email" placeholder="Email" autocomplete="off"/>
                    <input type="password" placeholder="Mật Khẩu" autocomplete="off"/>
                    <a href="#">Quên Mật Khẩu?</a>
                    <button>Đăng Nhập</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>WELCOME BACK!</h1>
                        <p>To keep connected with us please login with your personal info</p>
                        <button class="ghost" id="signIn">Đăng Nhập</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Hello, Friend!</h1>
                        <p>Enter your personal details and start journey with us</p>
                        <button class="ghost" id="signUp">Đăng Ký</button>
                    </div>
                </div>
            </div>
        </div>         
    </section> -->
    <section id="khoilop" class="khoilop">
        <h2>Tóm tắt lý thuyết</h2>
        <div class="row">
            <div class="col span-1-of-4">
                <div class="lop">
                    <h3>Lớp 6</h3>
                    <p class="sochuong"> 3 chương </p>
                    <ol class="chuong">
                        <li><a href="toan6/chuong1/">Ôn tập bổ túc về số tự nhiên</a></li>
                        <li><a href="toan6/chuong2/">Số nguyên</a></li>
                        <li><a href="toan6/chuong3/">Phân số</a></li>
                    </ol>
                    <a href="toan6/chuong1/" class="btn">Join Us</a>
                </div>
            </div>
            <div class="col span-1-of-4">
                <div class="lop">
                    <h3>Lớp 7</h3>
                    <p class="sochuong"> 4 chương</p>
                    <ol class="chuong">
                        <li><a href="toan7/chuong1">Số hữu tỷ. Số thực</a></li>
                        <li><a href="toan7/chuong2">Hàm số và đồ thị</a></li>
                        <li><a href="toan7/chuong3">Thống kê</a></li>
                        <li><a href="toan7/chuong4">Biểu thức đại số</a></li>
                    </ol>
                    <a href="toan7/chuong1" class="btn">Join Us</a>
                </div>
            </div>
            <div class="col span-1-of-4">
                <div class="lop">
                    <h3>Lớp 8</h3>
                    <p class="sochuong"> 4 chương </p>
                    <ol class="chuong">
                        <li><a href="toan8/chuong1">Phép nhân và phép chia các đa thức</a></li>
                        <li><a href="toan8/chuong2">Phân thức đại số</a></li>
                        <li><a href="toan8/chuong4">Phương trình bậc nhất một ẩn</a></li>
                        <li><a href="toan8/chuong4">Bất phương trình bậc nhất một ẩn</a></li>
                    </ol>
                    <a href="toan8/chuong1" class="btn">Join Us</a>
                </div>
            </div>
            <div class="col span-1-of-4">
                <div class="lop">
                    <h3>Lớp 9</h3>
                    <p class="sochuong"> 4 chương</p>
                    <ol class="chuong">
                        <li><a href="toan9/chuong1">Căn bậc hai. Căn bậc ba</a></li>
                        <li><a href="toan9/chuong2">Hàm số bậc nhất</a></li>
                        <li><a href="toan9/chuong3">Hệ hai phương trình bậc nhất hai ẩn</a></li>
                        <li><a href="toan9/chuong4">Phương trình bậc hai một ẩn</a></li>
                    </ol>
                    <a href="toan9/" class="btn">Join Us</a>
                </div>
            </div>
        </div>
    </section>
    <div class="hdsd" id="hdsd">
        <h2>Hướng dẫn sử dụng </h2>
    </div>
    <footer>
        <p>
            Copyright &copy;2020 by Nguyen Van Tu & Bui Minh Duc
        </p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
   
    <script src="../../static/resources-index/js/scripts.js"></script>
    <script src="../../static/vendors/js/jquery.waypoints.min.js"></script>
    <script src="../../static/resources-index/js/dangnhap.js"></script>
</body>

</html>