{% extends "pages/lop11/chuong2/base-lop11-chuong2.html" %}
{% block title %}Toán 11 Bài 1: Quy tắc đếm{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 11 Bài 1: Quy tắc đếm</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p><strong>Tổ hợp và Xác suất</strong> là khái niệm mà các em đã bước đầu được tìm hiểu ở chương trình THCS. Đến với <strong>Đại số và Giải tích 11</strong>, các em sẽ được tìm hiểu chi tiết và sâu hơn. Bài học <strong>Quy tắc đếm</strong> với <strong>Quy tắc cộng</strong> và <strong>Quy tắc nhân</strong> sẽ mở đầu cho chương này. </p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Quy tắc cộng</h3>
</div>
<h4>a) Định nghĩa </h4>
<p>Xét một công việc \(H\).</p>
<p>Giả sử \(H\) có \(k\) phương án \({H_1},{H_2},...,{H_k}\) thực hiện công việc \(H\). Nếu có \({m_1}\)cách thực hiện phương án  \({H_1}\), có \({m_2}\) cách thực hiện phương án \({H_2}\),.., có \({m_k}\)cách thực hiện phương án \({H_k}\) và mỗi cách thực hiện phương án \({H_i}\) không trùng với bất kì cách thực hiện phương án \({H_j}\) (\(i \ne j;i,j \in \left\{ {1,2,...,k} \right\}\)) thì có \({m_1} + {m_2} + ... + {m_k}\) cách thực hiện công việc \(H\).</p>
<h4>b) Công thức quy tắc cộng</h4>
<p>Nếu các tập \({A_1},{A_2},...,{A_n}\) đôi một rời nhau. Khi đó:</p>
<p>\(\left| {{A_1} \cup {A_2} \cup ... \cup {A_n}} \right| = \left| {{A_1}} \right| + \left| {{A_2}} \right| + ... + \left| {{A_n}} \right|\)</p>
<div id="12">
<h3>1.2. Quy tắc nhân</h3>
</div>
<h4>a) Định nghĩa</h4>
<p>Giả sử một công việc \(H\) bao gồm \(k\) công đoạn \({H_1},{H_2},...,{H_k}\). Công đoạn \({H_1}\) có \({m_1}\) cách thực hiện, công đoạn \({H_2}\) có \({m_2}\) cách thực hiện,…, công đoạn \({H_k}\) có \({m_k}\) cách thực hiện. Khi đó công việc H có thể thực hiện theo \({m_1}.{m_2}...{m_k}\) cách.</p>
<h4>b) Công thức quy tắc nhân</h4>
<p>Nếu các tập \({A_1},{A_2},...,{A_n}\) đôi một rời nhau. Khi đó:</p>
<p>\(\left| {{A_1} \cap {A_2} \cap ... \cap {A_n}} \right| = \left| {{A_1}} \right|.\left| {{A_2}} \right|.....\left| {{A_n}} \right|\).</p>
<div id="13">
<h3>1.3. Phương pháp đếm bài toán tổ hợp dựa vào quy tắc cộng</h3>
</div>
<p>Để đếm số cách thực hiện một công việc \(H\) nào đó theo quy tắc cộng ta cần phân tích xem công việc H đó có bao nhiêu phương án thực hiện? Mỗi phương án có bao nhiêu cách chọn?</p>
<div id="14">
<h3>1.4. Phương pháp đếm bài toán tổ hợp dựa vào quy tắc nhân</h3>
</div>
<p>Để đếm số cách thực hiện công việc H theo quy tắc nhân, ta cần phân tích công việc H được chia làm các giai đoạn \({H_1},{H_2},...,{H_n}\) và đếm số cách thực hiện mỗi giai đoạn \({H_i}\) (\(i = 1,2,...,n\)).</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-11/bai-1-quy-tac-dem-l768.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-11/bai-1-quy-tac-dem-l768.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<h4><u>Ví dụ 1:</u></h4>
<p>Bạn cần mua một áo sơ mi cỡ 30 hoặc 32. Áo cỡ 30 có 3 màu khác nhau, áo cỡ 32 có 4 màu khác nhau. Hỏi bạn có bao nhiêu cách lựa chọn ?</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Công việc ta cần thực hiện trong bài toán này là mua một chiếc ao sơ mi cỡ 30 hoặc 32. Để thực hiện công việc này ta có hai phương án.</p>
<p><strong><em>Phương án 1</em></strong>: Mua áo cỡ 30: Phương án này ta có 3 cách chọn (chọn một trong ba màu).</p>
<p><strong><em>Phương án 2</em></strong><em>:</em> Mua áo cỡ 32: Phương án này ta có 4 cách chọn.</p>
<p>Vậy ta có cả thảy \(3 + 4 = 7\) cách lựa chọn.</p>
<h4><u>Ví dụ 2:</u></h4>
<p>Có 10 cuốn sách Toán khác nhau, 11 cuốn sách Văn khác nhau và 7 cuốn sách anh văn khác nhau. Một học sinh được chọn một quyển sách trong các quyển sách trên. Hỏi có bao nhiêu cách lựa chọn.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Để chọn một cuốn sách trong những cuốn sách trên ta có các phương án sau.</p>
<p><strong><em>Phương án 1:</em></strong> Cuốn sách chọn là cuốn sách Toán: Ta có 10 cách chọn</p>
<p><strong><em>Phương án 2:</em></strong> Cuốn sách chọn là cuốn sách Văn: Ta có 11 cách chọn</p>
<p><strong><em>Phương án 3:</em></strong> Cuốn sách chọn là cuốn sách anh văn: Ta có 7 cách chọn</p>
<p>Vậy có \(10 + 11 + 7 = 28\) cách lựa chọn.</p>
<h4><u>Ví dụ 3:</u></h4>
<p>Có bao nhiêu cách xếp 4 người A,B,C,D lên 3 toa tàu, biết mỗi toa có thể chứa 4 người.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Để xếp A ta có 3 cách lên một trong ba toa.</p>
<p>Với mỗi cách xếp A ta có 3 cách xếp B lên toa tàu.</p>
<p>Với mỗi cách xếp A, B ta có 3 cách xếp C lên toa tàu.</p>
<p>Với mỗi cách xếp A, B, C ta có 3 cách xếp D lên toa tàu.</p>
<p>Vậy có \(3.3.3.3 = 81\) cách xếp 4 người lên toa tàu.</p>
<h4><u>Ví dụ 4:</u></h4>
<p>Cho các chữ số 1, 2, 3,..., 9. Từ các số đó có thể lập được bao nhiêu số</p>
<p>a) Có 4 chữ số đôi một khác nhau.</p>
<p>b) Số chẵn gồm 4 chữ số khác nhau và không vượt quá 2011.</p>
<h4><u>Hướng dẫn giải</u>:</h4>
<p>Gọi số cần lập \(x = \overline {abcd} \), \(a,b,c,d \in \left\{ {1,2,3,4,5,6,7,8,9} \right\}\)</p>
<p>a) Có \(9.8.7.6 = 3024\) số</p>
<p>b) Vì \(x\) chẵn nên \(d \in \left\{ {2,4,6,8} \right\}\). Đồng thời \(x \le 2011 \Rightarrow a = 1\)</p>
<p>\(a = 1 \Rightarrow a\)  có 1 cách chọn, khi đó \(d\) có 4 cách chọn; \(b,c\) có \(7.6\) cách</p>
<p>Suy ra có: \(1.4.6.7 = 168\) số</p>
<h4><u>Ví dụ 5:</u></h4>
<p>Từ các số \(1,2,3,4,5,6,7\) lập được bao nhiêu số tự nhiên gồm 4 chữ số khác nhau và chia hết cho 5.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Gọi số cần lập \(x = \overline {abcd} \); \(a,b,c,d \in \left\{ {1,2,3,4,5,6,7} \right\}\) và \(a,b,c,d\) đôi một khác nhau.</p>
<p>Vì \(x\) chia hết cho 5 nên \(d\) chỉ có thể là 5 \( \Rightarrow \) có 1 cách chọn d.</p>
<p>Có 6 cách chọn a, 5 cách chọn b và 4 cách chọn c.</p>
<p>Vậy có \(1.6.5.4 = 120\) số thỏa yêu cầu bài toán.</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}