{% extends "pages/lop11/chuong2/base-lop11-chuong2.html" %}
{% block title %}Toán 11 Bài 4: Phép thử và biến cố{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 11 Bài 4: Phép thử và biến cố</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Nội dung bài học sẽ giới thiệu đến các khái niệm, tính chất và các dạng toán liên quan đến <strong>Phép thử và biến cố</strong>. Cùng với những ví dụ minh họa có hướng dẫn giải chi tiết sẽ giúp các em dễ dàng làm chủ nội dung bài học.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Phép thử và biến cố</h3>
</div>
<h4>a. Phép thử ngẫu nhiên và không gian mẫu</h4>
<p>Phép thử ngẫu nhiên (gọi tắt là phép thử) là một thí nghiệm hay một hành động mà :<br>
\( \bullet \) Kết quả của nó không đoán trước được;<br/>
\( \bullet \) Có thể xác định được tập hợp tất cả các kết quả có thể xảy ra của phép thử đó.<br/>
Phép thử thường được kí hiệu bởi chữ T. Tập hợp tất cả các kết quả có thể xảy ra của phép thử được gọi là không gian mẫu của phép thử và được kí hiệu bởi chữ \(\Omega \) (đọc là ô-mê-ga).</br></p>
<h4>b. Biến cố</h4>
<p>Biến cố A liên quan đến phép thử  T là biến cố mà việc xảy ra hay không xảy ra của A tùy thuộc vào kết quả của T.<br/>
Mỗi kết quả của phép thử T làm cho A xảy ra, được gọi là kết quả thuận lợi cho A.<br/>
Tập hơp các kết quả thuận lợi cho A được kí hiệu là \({\Omega _A}\) hoặc \(n(A)\).</p>
<p>Với mỗi phép thử T có một biến cố luôn xảy ra, gọi là biến cố chắc chắn.</p>
<p>Với mỗi phép thử T có một biến cố không bao giờ xảy ra, gọi là biến cố không thể. Kí hiệu \(\emptyset \).</p>
<div id="12">
<h3>1.2. Tính chất</h3>
</div>
<p>Giải sử W là không gian mẫu, A và B là các biến cố.</p>
<p>\( \bullet \) \(\Omega \backslash A = \overline A \) được gọi là biến cố đối của biến cố A.</p>
<p>\( \bullet \) \(A \cup B\) là biến cố xảy ra khi và chỉ khi A hoặc B xảy ra.</p>
<p>\( \bullet \) \(A \cap B\) là biến cố xảy ra khi và chỉ khi A và B cùng xảy ra. A Ç B còn được viết là AB.</p>
<p>\( \bullet \) Nếu \(AB = \emptyset \), ta nói A và B xung khắc.</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-11/bai-4-phep-thu-va-bien-co-l771.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-11/bai-4-phep-thu-va-bien-co-l771.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<h4><u>Ví dụ 1:</u></h4>
<p>Trong một chiếc hộp đựng 6 viên bi đỏ, 8 viên bi xanh, 10 viên bi trắng. Lấy ngẫu nhiên 4 viên bi. Tính số phần tử của:</p>
<p><strong>a) </strong>Không gian mẫu.</p>
<p><strong>b) </strong>Các biến cố:</p>
<p>A: “ 4 viên bi lấy ra có đúng hai viên bi màu trắng”.</p>
<p>B: “ 4 viên bi lấy ra có ít nhất một viên bi màu đỏ”.</p>
<p>C: “ 4 viên bi lấy ra có đủ 3 màu”.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p><strong>a)</strong> Ta có: \(n(\Omega ) = C_{24}^4 = 10626\)</p>
<p><strong>b)</strong> Số cách chọn 4 viên bi có đúng hai viên bị màu trắng là: \(C_{10}^2.C_{14}^2 = 4095\)</p>
<p>Suy ra: \(n(A) = 4095\).</p>
<p>Số cách lấy 4 viên bi mà không có viên bi màu đỏ được chọn là: \(C_{18}^4\)</p>
<p>Suy ra : \(n(B) = C_{24}^4 - C_{18}^4 = 7566\).</p>
<p>Số cách lấy 4 viên bi chỉ có một màu là: \(C_6^4 + C_8^4 + C_{10}^4\)</p>
<p>Số cách lấy 4 viên bi có đúng hai màu là:</p>
<p>\(C_{14}^4 + C_{18}^4 + C_{14}^4 - 2(C_6^4 + C_8^4 + C_{10}^4)\)</p>
<p>Số cách lấy 4 viên bị có đủ ba màu là:</p>
<p>\(C_{24}^4 - (C_{14}^4 + C_{18}^4 + C_{14}^4) + (C_6^4 + C_8^4 + C_{10}^4) = 5859\)</p>
<p>Suy ra \(n(C) = 5859\).</p>
<h4><u>Ví dụ 2:</u></h4>
<p>Một xạ thủ bắn liên tục 4 phát đạn vào bia. Gọi \({A_k}\) là các biến cố “ xạ thủ bắn trúng lần thứ \(k\)” với \(k = 1,2,3,4\). Hãy biểu diễn các biến cố sau qua các biến cố \({A_1},{A_2},{A_3},{A_4}:\)</p>
<p>A: “Lần thứ tư mới bắn trúng bia’’.</p>
<p>B: “Bắn trúng bia ít nhất một lần’’.</p>
<p>c: “ Chỉ bắn trúng bia hai lần’’.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Ta có: \(\overline {{A_k}} \) là biến cố lần thứ \(k\) (\(k = 1,2,3,4\)) bắn không trúng bia.</p>
<p>Do đó:</p>
<p>\(A = \overline {{A_1}}  \cap \overline {{A_2}}  \cap \overline {{A_3}}  \cap {A_4}\)</p>
<p>\(B = {A_1} \cup {A_2} \cup {A_3} \cup {A_4}\)</p>
<p>\(C = {A_i} \cap {A_j} \cap \overline {{A_k}}  \cap \overline {{A_m}} \) với \(i,j,k,m \in \left\{ {1,2,3,4} \right\}\) và đôi một khác nhau.</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}