{% extends "pages/lop11/chuong2/base-lop11-chuong2.html" %}
{% block title %}Toán 11 Bài 2: Hoán vị - Chỉnh hợp - Tổ hợp{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 11 Bài 2: Hoán vị - Chỉnh hợp - Tổ hợp</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Thông qua nội dung bài học các em sẽ nắm được khái niệm và phân biệt được sự khác nhau của<strong> Hoán vị, Tổ hợp,Chỉnh hợp</strong>. Cùng với một số bài tập điển hình có hướng dẫn giải chi tiết sẽ giúp các em dễ dàng nắm vững được nội dung bài học.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Giai thừa</h3>
</div>
<h4>a) Định nghĩa </h4>
<p>Với mọi số tự nhiên dương\(n\), tích \(1.2.3....n\) được gọi là \(n\) - giai thừa và kí hiệu \(n!\). Vậy \(n! = 1.2.3...n\).</p>
<p>Ta quy ước \(0! = 1\).</p>
<h4>b) Tính chất</h4>
<p>\(\begin{array}{l}*{\rm{ }}n! = n(n - 1)!\\*{\rm{ }}n! = n(n - 1)(n - 2)...(n - k - 1).k!\end{array}\).         </p>
<div id="12">
<h3>1.2. Hoán vị</h3>
</div>
<h4>a) Định nghĩa </h4>
<p>Cho tập \(A\) gồm \(n\) phần tử (\(n \ge 1\)). Khi sắp xếp \(n\) phần tử này theo một thứ tự ta được một hoán vị các phần tử của tập A.</p>
<p>Kí hiệu số hoán vị của n phần tử là \({P_n}\).</p>
<h4>b) Số hoán vị của tập n phần tử</h4>
<p><strong>Định lí:</strong> Ta có \({P_n} = n!\)</p>
<div id="13">
<h3>1.3. Chỉnh hợp</h3>
</div>
<h4>a) Định nghĩa </h4>
<p>Cho tập A gồm n phần tử và số nguyên \(k\) với \(1 \le k \le n\). Khi lấy \(k\) phần tử của A và sắp xếp chúng theo một thứ tự ta được một chỉnh hợp chập \(k\) của \(n\) phần tử của A.</p>
<h4>b) Số chỉnh hợp</h4>
<p>Kí hiệu \(A_n^k\) là số chỉnh hợp chập \(k\) của \(n\) phần tử</p>
<p>Định lí: Ta có \(A_n^k = \frac{{n!}}{{(n - k)!}}\).</p>
<div id="14">
<h3>1.4. Tổ hợp</h3>
</div>
<h4>a) Định nghĩa </h4>
<p>Cho tập A có n phần tử và số nguyên k với \(1 \le k \le n\). Mỗi tập con của A có k phần tử được gọi là một tổ hợp chập k của n phần tử của A.</p>
<h4>b) Số tổ hợp</h4>
<p>Kí hiệu \(C_n^k\) là số tổ hợp chập k của n phần tử.</p>
<p><strong>Định lí:</strong></p>
<p>Ta có: \(C_n^k = \frac{{n!}}{{(n - k)!k!}}\).</p>
<h4>c) Tính chất của các số \(C_n^k\)</h4>
<p>Tính chất 1: \(C_n^k = C_n^{n - k}\)  với \(0 \le k \le n.\)</p>
<p>Tính chất 2: (Công thức Pa-xcan)</p>
<p>\(C_{n - 1}^{k - 1} + C_{n - 1}^k = C_n^k\) với \(1 \le k &lt; n.\)</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-11/bai-2-hoan-vi-chinh-hop-to-hop-l769.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-11/bai-2-hoan-vi-chinh-hop-to-hop-l769.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<h4><u>Ví dụ 1:</u></h4>
<p>Sắp xếp 5 người vào một băng ghế có 5 chỗ. Hỏi có bao nhiêu cách.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Mỗi cách đổi chỗ 1 trong 5 người trên băng ghế là 1 hoán vị.</p>
<p>Vậy có P5 = 5! = 120 (cách).</p>
<h4><u>Ví dụ 2:</u></h4>
<p>Từ tập hợp X= {0; 1; 2; 3; 4; 5} có thể lập được mấy số tự nhiên có 4 chữ số khác nhau.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Gọi A= \(\overline {{a_1}{a_2}{a_3}{a_4}}\) là số cần lập với \({a_1} \ne 0\) và a<sub>1</sub>, a<sub>2</sub>, a<sub>3</sub>, a<sub>4</sub> phân biệt.</p>
<ul>
<li>Chữ số \({a_1} \ne 0\) nên có 5 cách chọn a<sub>1.</sub></li>
<li>Chọn 3 trong số 5 chữ số còn lại để sắp xếp vào 3 vị trí có \(A_5^3\) cách.</li>
</ul>
<p>Vậy có 5.\(A_5^3\) = 300 số có thể lập từ tập hợp X.</p>
<h4><u>Ví dụ 3:</u>  </h4>
<p>Có 10 cuố sách toán khác nhau. Chọn ra 4 cuốn hỏi có bao nhiêu cách.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Mỗi cách chọn ra 4 trong số 10 cuốn sách là một tổ hợp chập 4 của 10.</p>
<p>Vậy có \(C_{10}^4\) = 210 (cách chọn).</p>
<h4><u>Ví dụ 4:</u></h4>
<p>Có bao nhiêu cách xếp \(5\) cuốn sách Toán, \(6\) cuốn sách Lý và \(8\) cuốn sách Hóa lên một kệ sách sao cho các cuốn sách cùng một môn học thì xếp cạnh nhau, biết các cuốn sách đôi một khác nhau.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Ta xếp các cuốn sách cùng một bộ môn thành một nhóm</p>
<p>Trước hết ta xếp 3 nhóm lên kệ sách chúng ta có: \(3! = 6\) cách xếp</p>
<p>Với mỗi cách xếp 3 nhóm đó lên kệ ta có \(5!\) cách hoán vị các cuốn sách Toán, \(6!\) cách hoán vị các cuốn sách Lý và \(8!\) cách hoán vị các cuốn sách Hóa</p>
<p>Vậy theo quy tắc nhân có tất cả: \(6.5!.6!.8!\) cách xếp</p>
<h4><u>Ví dụ 5:</u> </h4>
<p>Một nhóm có 5 nam và 3 nữ. Chọn ra 3 người sao cho trong đó có ít nhất 1 nữ. Hỏi có bao nhiêu cách.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<ul>
<li>Trường hợp 1: Chọn 1 nữ và 2 nam.
	<ul>
<li>Chọn 1 trong 3 nữ có 3 cách.</li>
<li>Chọn 2 trong 5 nam có \(C_5^2\) cách.</li>
</ul>
</li>
</ul>
<p>Suy ra có 3\(C_5^2\) cách chọn</p>
<ul>
<li>Trường hợp 2: Chọn 2 nữ và 1 nam.
	<ul>
<li>Chọn 2 trong 3 nữ có \(C_3^2\) cách.</li>
<li>Chọn 1 trong 5 nam có 5 cách.</li>
</ul>
</li>
</ul>
<p>Suy ra có 5\(C_3^2\) cách chọn.</p>
<p>Trường hợp 3: chọn cả 3 nữ, có 1 cách.</p>
<p>Vậy có tất cả:  3\(C_5^2\) +  5\(C_3^2\) + 1 = 46 (cách).</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}