{% extends "pages/lop9/chuong4/base-lop9-chuong4.html" %}
{% block title %}Toán 9 Ôn tập chương 4 Phương trình bậc hai một ẩn{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 9 Ôn tập chương 4 Phương trình bậc hai một ẩn</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p><strong>Phương trình bậc hai một ẩn</strong> là một chương rất quan trọng ở chương trình toán lớp 9 cũng như áp dụng của nó vào thực tiễn và đời sống. Ngoài ra còn là kiến thức nền tảng để các em có thêm kiến thức học tốt toán cấp 3</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<h3>Kiến thức cần nhớ</h3>
<h4>1. Đồ thị hàm số \(y=ax^2 (a\neq 0)\)</h4>
<p>Đồ thị hàm số \(y=ax^2 (a\neq 0)\) là tập hợp gồm tất cả các điểm \(M(x_{M}; ax_{M}^{2})\). Để xác định một điểm thuộc đồ thị, ta lấy một giá trị của x làm hoành độ và thay vào phương trình \(y=ax^2\) để tìm ra giá trị tung độ.</p>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/yax2.png" style="height:350px; width:800px"/></p>
<h4>2. Phương trình bậc hai</h4>
<p>Phương trình bậc hai một ẩn (gọi tắt là phương trình bậc hai) là phương trình có dạng \(ax^2+bx+c=0\)</p>
<p>Trong đó, x là ẩn; các hệ số a, b, c là các số cho trước và  \(a\neq 0\)</p>
<h4>3. Công thức nghiệm của phương trình bậc hai</h4>
<p>Với phương trình \(ax^2+bx+c=0 (a\neq 0)\) và biệt thức \(\Delta =b^2-4ac\):</p>
<p>\(\Delta&gt;0\) thì phương trình có 2 nghiệm phân biệt:</p>
<p>\(x_{1}=\frac{-b+\sqrt{\Delta }}{2a}\); \(x_{2}=\frac{-b-\sqrt{\Delta }}{2a}\)</p>
<p>\(\Delta=0\) thì phương trình có nghiệm kép \(x=x_{1}=x_{2}=-\frac{b}{2a}\)</p>
<p>\(\Delta&lt;0\) phương trình vô nghiệm.</p>
<h4>4. Công thức nghiệm thu gọn</h4>
<p>Với các phương trình bậc hai \(ax^2+bx+c=0(a\neq 0)\) và \(b=2b'\), \(\Delta '=b'^2-ac\) thì:</p>
<p>Nếu \(\Delta '&gt;0\) thì phương trình có hai nghiệm phân biệt</p>
<p>\(x_{1}=\frac{-b'+\sqrt{\Delta '}}{a}; x_{2}=\frac{-b'-\sqrt{\Delta '}}{a}\)</p>
<p>Nếu \(\Delta '=0\) thì phương trình có nghiệm kép \(x=\frac{-b'}{a}\)</p>
<p>Nếu \(\Delta '&lt;0\) thì phương trình vô nghiệm.</p>
<h4>5. Định lí Vi ét và ứng dụng</h4>
<p>Phương trình bậc hai \(ax^2+bx+c=0(a\neq 0)\) có 2 nghiệm phân biệt</p>
<p>\(x_1=\frac{-b+\sqrt{\Delta }}{2a}; x_2=\frac{-b-\sqrt{\Delta }}{2a}\)</p>
<p>Ta có: \(x_1+x_2=\frac{-2b+\sqrt{\Delta }-\sqrt{\Delta }}{2a}=-\frac{b}{a}\)</p>
<p>\(x_1.x_2=\frac{b^2-\Delta }{4a^2}=\frac{4ac}{4a^2}=\frac{c}{a}\)</p>
<h4>Định lý Vi-ét</h4>
<p>Nếu \(x_1;x_2\) là hai nghiệm của phương trình \(ax^2+bx+c=0 (a\neq 0)\) thì:</p>
<p>\(x_1+x_2=-\frac{b}{a}\)</p>
<p>và \(x_1.x_2=\frac{c}{a}\)</p>
<h4>Tổng quát</h4>
<p>Nếu phương trình \(ax^2+bx+c=0 (a\neq 0)\) có \(a+b+c=0\) thì phương trình có một nghiệm là \(x_1=1\) và nghiệm kia là \(x_2=\frac{c}{a}\).</p>
<p>Nếu phương trình \(ax^2+bx+c=0 (a\neq 0)\) có \(a-b+c=0\) thì phương trình có một nghiệm là \(x_1=-1\) và nghiệm kia là \(x_2=-\frac{c}{a}\).</p>
<h4>6. Các phương trình quy về phương trình bậc hai (phương trình trùng phương, phương trình có ẩn ở mẫu, phương trình tích...)</h4>
<p>a. Phương trình trùng phương</p>
<p>Định nghĩa</p>
<p>Phương trình trùng phương là phương trình có dạng: \(ax^4+bx^2+c=0 (a\neq 0)\)</p>
<p>b. Phương trình chứa ẩn ở mẫu</p>
<p>Các bước để giải phương trình chứa ẩn ở mẫu đã học ở lớp 8</p>
<p>Bước 1: Tìm điều kiện xác định của phương trình</p>
<p>Bước 2: Quy đồng hai vế rồi khử mẫu</p>
<p>Bước 3: Giải phương trình vừa nhận được </p>
<p>Bước 4: So sánh điều kiện ban đầu rồi kết luận nghiệm</p>
<p>c. Phương trình tích</p>
<p>Nhắc lại kiến thức đã học ở lớp dưới:</p>
<p>Biến đổi phương trình về dạng \(A.B.C.....=0\) rồi suy ra hoặc \(A=0\) hoặc \(B=0\) hoặc.....</p>
<h4>7. Giải toán bằng phương pháp lập phương trình</h4>
<p>Phương pháp giải</p>
<p>Để giải bài toán bằng cách lập phương trình, chúng ta làm theo các bước sau:</p>
<p>Bước 1: Lập phương trình</p>
<p>Chọn ẩn và đặt điều kiện cho ẩn</p>
<p>Biểu đạt các đại lượng khác nhau theo ẩn</p>
<p>Dựa vào đề bài toán, lập phương trình theo dạng đã học</p>
<p>Bước 2: Giải phương trình</p>
<p>Bước 3: So sánh kết quả tìm được và chọn nghiệm thích hợp</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<h3>Các bài tập trọng tâm</h3>
<p><strong>Bài 1: </strong>Cho hàm số \(y=-x^2\) và đường thẳng \(y=-4x+4\). Tìm giao điểm của hai đồ thị đó bằng hình vẽ và đồ thị</p>
<p><strong>Hướng dẫn:</strong>Vẽ hình HS tự vẽ.<br>

Tìm giao điểm: Phương trình hoành độ giao điểm: \(-x^2=-4x+4\Leftrightarrow x^2-4x+4=0\)</br></p>
<p>Tính biệt thức \(\Delta=0\) suy ra phương trình có nghiệm kép \(x=2 \Rightarrow y=-4\).</p>
<p>Vậy khi vẽ hình, ta chỉ nhận được một giao điểm. Sau này lên cấp trên, các em sẽ được biết đường thẳng trên là tiếp tuyến của hàm số.</p>
<p><strong>Bài 2: </strong>Giải phương trình bằng cách phân tích đa thức thành nhân tử: \(x^2-11x-12=0\)</p>
<p><strong>Hướng dẫn:</strong>\(x^2-11x-12=0\)</p>
<p>\(\Leftrightarrow x^2-12x+x-12=0\)</p>
<p>\(\Leftrightarrow x(x-12)+x-12=0\)</p>
<p>\(\Leftrightarrow (x+1)(x-12)=0\)</p>
<p>Vậy phương trình trên có hai nghiệm phân biệt là \(x=-1;x=12\)</p>
<p><strong>Bài 3: </strong></p>
<p>Giải phương trình: \(x^2+10x+25=0\); \(x^2-4x-9=0\)</p>
<p><strong>Hướng dẫn: </strong>\(x^2+10x+25=0\)</p>
<p>Giải: \(\Delta =10^2-4.1.25=0\) \(\Rightarrow x=\frac{-0}{2}=-5\)</p>
<p>\(x^2-4x-9=0\)</p>
<p>Giải: \(\Delta =(-4)^2-4.1.(-9)=52\Rightarrow \sqrt{\Delta }=2\sqrt{13}&gt;0\)</p>
<p>\(\Rightarrow x_{1}=\frac{-(-4)+2\sqrt{13}}{2}=2+\sqrt{13};x_{2}=\frac{-(-4)-2\sqrt{13}}{2}=2-\sqrt{13}\)</p>
<p><strong>Bài 4: </strong></p>
<p>Tìm hai số biết hiệu của chúng là 5 và tích của chúng là 150</p>
<p><strong>Hướng dẫn: </strong>Gọi hai số cần tim là a, b</p>
<p>Ta có \(\left\{\begin{matrix} a-b=5\\ ab=150 \end{matrix}\right.\)</p>
<p>Thế \(a=5+b\) vào phương trình tích, ta được \(b(b+5)=150\Leftrightarrow b^2+5b-150=0\)</p>
<p>\(\Rightarrow b=-15\) hoặc \(b=10\)</p>
<p>\(b=-15\Rightarrow a=-10\)</p>
<p>\(b=10\Rightarrow a=15\)</p>
<p><strong>Bài 5:</strong></p>
<p>Giải phương trình trùng phương sau: \(x^4-4x^2-5=0\)</p>
<p><strong>Hướng dẫn: </strong>Đặt \(t=x^2 (t\geq 0)\)</p>
<p>Khi đó, phương trình trở thành: \(t^2-4t-5=0\)</p>
<p>Giải phương trình bậc hai cơ bản trên, ta được: </p>
<p>\(t=-1\) (loại)</p>
<p>\(t=5\) (nhận)\(\Rightarrow x=\pm \sqrt{5}\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}