{% extends "pages/lop9/chuong4/base-lop9-chuong4.html" %}
{% block title %}Toán 9 Bài 1: Hàm số y = ax^2 (a ≠ 0){% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 9 Bài 1: Hàm số y = ax^2 (a ≠ 0)</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Như các bài trước, ta đã học về <strong>hàm số bậc nhất</strong> và <strong>phương trình bậc nhất</strong>. Trong chương này, chúng ta sẽ được biết đến một khái niệm mới về <strong>hàm số y=ax<sup>2 </sup>(a≠0)</strong>. Vì qua đó, ta có thể thấy bài học này liên quan đến các ứng dụng thực tiễn quan trọng.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Ví dụ mở đầu</h3>
</div>
<p>Tại đỉnh tháp nghiêng Pisa ở Ý, Gallilei đã thả hai quả cầu bằng chì có trọng lượng khác nhau để làm thí nghiệm của việc rơi tự do. Và ông khẳng định rằng, khi vật rơi tự do (bỏ qua các yếu tố sức cản không khí), vận tốc của nó đều tăng dần theo thời gian và không phụ thuộc vào trọng lượng của vật. Quãng đường chuyển động s của nó được biểu diễn gần đúng với công thức: \(s=5t^2\)</p>
<p>Vì vậy, công thức đó biểu diễn một hàm số có dạng \(y=ax^2 (a\neq 0)\)</p>
<div id="12">
<h3>1.2. Tính chất của hàm số y=ax<sup>2 </sup>(a≠0)</h3>
</div>
<h4>Tính chất</h4>
<p>Nếu \(a&gt;0\) thì hàm số nghịch biến khi \(x&lt;0\) và đồng biến khi \(x&gt;0\)</p>
<p>Nếu \(a&lt;0\) thì hàm số đồng biến khi \(x&lt;0\) và nghịch biến khi \(x&gt;0\)</p>
<h4>Nhận xét</h4>
<p>Nếu \(a&gt;0\) thì \(y&gt;0\) với mọi \(x\neq 0\); \(y=0\) khi \(x=0\). Giá trị nhỏ nhất của hàm số là \(y=0\).</p>
<p>Nếu \(a&lt;0\) thì \(y&lt;0\) với mọi \(x\neq 0\); \(y=0\) khi \(x=0\). Giá trị lớn nhất của hàm số là \(y=0\).</p>
<p> </p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<div id="2">
<div id="21">
<h3>2.1. Bài tập cơ bản</h3>
</div>
</div>
<p><strong>Bài 1: </strong>Cho hàm số \(y=3x^2\). Tính giá trị của \(y\) với \(x=3; x=-2; x=6\)</p>
<p><strong>Hướng dẫn: </strong>Với \(x=3\Rightarrow y=3.3^2=27\)</p>
<p>Tương tự \(x=2\Rightarrow y=3.(-2)^2=12\)</p>
<p>\(x=3\Rightarrow y=3.6^2=108\)</p>
<p><strong>Bài 2: </strong>Cho hàm số \(y=-2x^2\). Tính giá trị của \(y\) với \(x=3; x=-2; x=6\)</p>
<p><strong>Hướng dẫn: </strong>Với \(x=3\Rightarrow y=-2.3^2=-18\)</p>
<p>Tương tự \(x=3\Rightarrow y=-2.(-2)^2=-8\)</p>
<p>\(x=3\Rightarrow y=-2.6^2=-72\)</p>
<p><strong><u><em>Nhận xét: Dấu của hàm số y phụ thuộc vào dấu của hệ số a!</em></u></strong></p>
<p><strong>Bài 3: </strong>Trong một hình tròn:</p>
<p>-nếu bán kính tăng lên 3 lần thì diện tích tăng lên mấy lần?</p>
<p>-nếu diện tích giảm đi 16 lần thì bán kính thay đổi như thế nào?</p>
<p><strong>Hướng dẫn: </strong>Ta có công thức tính diện tích của hình tròn là: \(S=\pi R^2\)(Với R là bán kính đường tròn)</p>
<p>Vậy nếu bán kính tăng 3 lần, thì \(S'=\pi R'^2=\pi (3R)^2=9S\), vậy diện tích tăng lên 9 lần.</p>
<p>Tương tự, diện tích giảm 16 lần thì bán kính sẽ giảm \(\sqrt{16}=4\) (lần)</p>
<div id="22">
<h3>2.2. Bài tập nâng cao</h3>
</div>
<p><strong>Bài 1:</strong>Tìm bán kính của một hình tròn có diện tích bằng \(16\pi ^2\) (cm)</p>
<p><strong>Hướng dẫn: </strong>Diện tích hình tròn có công thức \(S=\pi R^2\Leftrightarrow 16\pi ^2=\pi R^2\Rightarrow R=4\sqrt{\pi} (cm)\)</p>
<p><strong>Bài 2:</strong> <strong> </strong>Một vật rơi tự do từ độ cao so với mặt đất là 400m. Quãng đường chuyển động của vật rơi phụ thuộc vào thời gian bởi công thức \(s=4t^2\)( quãng đường s (m), thời gian t(s)). Vậy sau bao lâu, vật này chạm đất?</p>
<p><strong>Hướng dẫn:  </strong>\(s=4t^2\) \(\Leftrightarrow 400=4t^2\Rightarrow t=10s\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}