{% extends "pages/lop9/chuong4/base-lop9-chuong4.html" %}
{% block title %}Toán 9 Bài 8: Giải bài toán bằng cách lập phương trình{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 9 Bài 8: Giải bài toán bằng cách lập phương trình</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Đây là bài học cuối cùng của chương IV: <strong>Phương trình bậc hai một ẩn. </strong>Chúng ta sẽ đi đến phương pháp <strong>Giải toán bằng cách lập phương trình</strong>, đưa phương trình về dạng phương trình bậc hai, đặt điều kiện thích hợp rồi tìm ra lời giải.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Phương pháp giải</h3>
</div>
<p>Để giải bài toán bằng cách lập phương trình, chúng ta làm theo các bước sau:</p>
<h4>Bước 1: Lập phương trình</h4>
<p>Chọn ẩn và đặt điều kiện cho ẩn</p>
<p>Biểu đạt các đại lượng khác nhau theo ẩn</p>
<p>Dựa vào đề bài toán, lập phương trình theo dạng đã học</p>
<h4>Bước 2: Giải phương trình</h4>
<h4>Bước 3: So sánh kết quả tìm được và chọn nghiệm thích hợp</h4>
<div id="12">
<h3>1.2. Các dạng toán cơ bản</h3>
</div>
<p>Dạng toán chuyển động</p>
<p>Dạng toán kết hợp các đại lượng hình học</p>
<p>Dạng toán làm việc chung 1 tập thể, làm việc cá nhân</p>
<p>Dạng toán nước chảy</p>
<p>Dạng toán tìm số</p>
<p>Dạng toán kết hợp vật lý, hóa học</p>
<p>...</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<div id="21">
<h3>2.1. Bài tập cơ bản</h3>
</div>
<p><strong>Bài 1: </strong>Tìm hai số tự nhiên biết chúng hơn kém nhau 4 đơn vị và tích của chúng bằng 320.</p>
<p><strong>Hướng dẫn: </strong>Gọi hai số đó là \(a, b (a&gt;b)(a;b\epsilon \mathbb{N})\)</p>
<p>Theo đề, ta có: \(\left\{\begin{matrix} a-b=4\\ ab=320 \end{matrix}\right.\)\(\Leftrightarrow \left\{\begin{matrix} a=b+4\\ b(b+4)=320 \end{matrix}\right.\)</p>
<p>\(b=-20\)(loại)</p>
<p>\(b=16\Rightarrow a=20\)</p>
<p><strong>Bài 2: </strong>Bạn Thu đi từ A đến B cách nhau 120 km trong thời gian đã dự định. Sau 1 giờ, Thu nghỉ 10 phút, do đó để Thu đến B đúng hẹn nên phải tăng vận tốc thêm \(6km/h\). Tính vận tốc ban đầu của Thu.</p>
<p><strong>Hướng dẫn: </strong>Gọi vận tốc ban đầu của Thu là \(x(km/h); (x&gt;0)\)</p>
<p>Thời gian dự định đến B là \(\frac{120}{x}\)(h)</p>
<p>Sau 1 giờ, quãng đường Thu đi được là x km, quãng đường còn lại là \(120-x\)</p>
<p>Thời gian đi quãng đường còn lại là \(\frac{120-x}{x+6}\)(h)</p>
<p>Ta có phương trình: \(\frac{120}{x}=1+\frac{10}{60}+\frac{120-x}{x+6}\)</p>
<p>\(\Leftrightarrow x^2+42x-4320=0\)</p>
<p>\(x=48\) (nhận)</p>
<p>\(x=-90\) (loại)</p>
<p><strong>Bài 3: </strong>Tính diện tích của tam giác vuông biết cạnh huyền có độ dài là \(15 cm\)và tổng độ dài hai cạnh góc vuông là \(21 cm\). </p>
<p><strong>Hướng dẫn: </strong>Gọi cạnh của góc vuông là \(x(cm)(x&gt;0)\), vậy cạnh còn lại là \(21-x\)</p>
<p>Theo đề và định lí Py ta go, ta có: \(15^2=x^2+(21-x)^2\)</p>
<p>\(\Leftrightarrow x^2-21x+108=0\)</p>
<p>\(\Leftrightarrow x=9\) hoặc \(x=12\)</p>
<p>Vậy độ dài 2 cạnh góc vuông là \(9cm\) và \(12cm\)</p>
<p>Diện tích tam giác vuông: \(S=\frac{1}{2}9.12=54(cm^2)\)</p>
<div id="22">
<h3>2.2. Bài tập nâng cao</h3>
</div>
<p><strong>Bài 1: </strong>Tích hai số chẵn liên tiếp lớn hơn tổng của chúng là 322. Tìm 2 số đó</p>
<p><strong>Hướng dẫn: </strong>gọi số nhỏ là \(x(x&gt;0;x\epsilon \mathbb{N})\) vậy số còn lại là \(x+2\)</p>
<p>Theo đề, ta có: \(x(x+2)-x-x-2=322\Leftrightarrow x^2=324\Leftrightarrow x=18\)</p>
<p>Vậy 2 số cần tìm là 18 và 20</p>
<p><strong>Bài 2: </strong>Một đội công nhân hoàn thành công việc gồm 420 sản phẩm. Nếu đội tăng thêm 5 người thì số ngày làm việc sẽ giảm bớt đi 7 ngày. Tìm số công nhân.</p>
<p><strong>Hướng dẫn: </strong>Gọi số công nhân là \(x(x&gt;0;x\epsilon \mathbb{N})\)</p>
<p>Số ngày hoàn thành vs x người là \(\frac{420}{x}\) (ngày)</p>
<p>Số công nhân sau khi tăng thêm là: \(x+5\)</p>
<p>Số ngày hoàn thành mới là \(\frac{420}{x+5}\) (ngày)</p>
<p>Ta có phương trình sau: \(\frac{420}{x}-\frac{420}{x+5}=7\)</p>
<p>Giải phương trình trên ta được </p>
<p>\(x=15\) (nhận)</p>
<p>\(x=20\) (loại)</p>
<p>Vậy số người công nhân là 15 người</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}