{% extends "pages/lop7/chuong3/base-lop7-chuong3.html" %}
{% block title %}Toán 7 Bài 2: Bảng{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 7 Bài 2: Bảng</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Khi một đối tượng được thống kê, ta thấy <strong>Bảng số liệu thống kê ban đầu</strong> nhận được còn phức tạp, khi đó, chúng ta sẽ thu gọn bảng lại để dễ dàng đánh giá hơn.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Lập bảng "tần số"</h3>
</div>
<p>Bởi lí do ta chỉ quan tâm tới<strong> giá trị của dấu hiệu</strong> và<strong> số lần xuất hiện (tức tần số) của dấu hiệu</strong>, nên bảng chúng ta lập chỉ gồm 2 dòng, một dòng <strong>giá trị</strong>, một dòng <strong>tần số</strong></p>
<p style="text-align:center"><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/2(51).png" style="height:103px; width:600px"/></p>
<p>Chẳng hạn, ở bảng trên, ta chỉ quan tâm tới giá trị x và tần số n. Bảng này được gọi là <strong>bảng "tần số"</strong></p>
<div id="12">
<h3>1.2. Chú ý</h3>
</div>
<h4>a) Có thể chuyển tần số dạng "ngang" thành bảng "dọc"</h4>
<p>Thí dụ ở bảng trên ta chuyển thành bảng "dọc" như sau:</p>
<p style="text-align:center"><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/2(52).png" style="height:248px; width:700px"/></p>
<h4>b) Dù là bảng dạng "ngang" hay dạng "dọc", ta vẫn dễ dàng quan sát, so sánh giá trị của dấu hiệu, nhận xét chung về sự phân bố của dấu hiệu, đồng thời có nhiều thuận tiện cho việc tính toán sau này.</h4> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<h4><u>Bài 1:</u><strong> </strong></h4>
<h3><span style="font-size:13px">Số lượng nữ học sinh của từng lớp trong một trường THCS được ghi lại trong bảng dưới đây:</span></h3>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/2(53).png" style="height:243px; width:757px"/></p>
<p>Hãy lập bảng "tần số"</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Tần số là số lần xuất hiện của mỗi giá trị dấu hiệu tương ứng. Từ đó ta có bảng sau: </p>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/2(58).png" style="height:118px; width:716px"/></p>
<p>Ở đây, giá trị là số học sinh nữ</p>
<p>Nhìn bảng, ta có thể thấy chẳng hạn có 2 lớp có 14 học sinh nữ, có 4 lớp có 20 học sinh nữ,...</p>
<h4><u>Bài 2:</u><strong> </strong></h4>
<p>Theo dõi số bạn nghỉ học ở từng buổi trong một tháng, bạn lớp trưởng ghi lại như sau:</p>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/2(59).png" style="height:118px; width:694px"/></p>
<p> </p>
<p>Hãy lập bảng "tần số" và đưa ra nhận xét.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Ta có bảng "tần số"</p>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/2(60).png" style="height:120px; width:686px"/></p>
<p>Dựa vào bảng trên, ta có thể thấy rằng: Số bạn nghỉ học từng buổi trong tháng cũng không nhiều, cụ thể là đi học đầy đủ 12 ngày trong tháng, số bạn nghỉ học càng nhiều thì số ngày như vậy càng ít.</p>
<p><strong>Nhận xét:</strong> Chúng ta dễ dàng nhận xét tổng quan bằng bảng "tần số" hơn là bảng thu thập số liệu thống kê ban đầu.</p>
<p> </p>
<h4><u>Bài 3:</u><strong> </strong></h4>
<p>Cho dãy giá trị của một dấu hiệu như dưới đây:</p>
<p style="text-align:center"><span style="font-size:14px">5    5    3    7    8    8    5    5    6    6    6    5    7    6    5    6    7    4    5    6</span></p>
<p>Lập bảng "tần số" của dấu hiệu.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Từ dãy trên, ta có bảng sau:</p>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/2(61).png" style="height:154px; width:686px"/></p>
<h4><u>Bài 4:</u><strong> </strong></h4>
<p>Theo dõi thời gian chạy 100m trong 10 lần của một vận động viên, huấn luyện viên đã ghi lại trong bảng sau (đơn vị là giây)</p>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/2(62).png" style="height:118px; width:688px"/></p>
<p>a) Dấu hiệu ở đây là gì?</p>
<p>b) Lập bảng "tần số" và nhận xét về tốc độ chạy của vận động viên?</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a) Dấu hiệu là thời gian chạy của vận động viên.</p>
<p>b) Ta có  bảng "tần số" như sau:</p>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/2(63).png"/></p>
<p><strong>Nhận xét:</strong> Tốc độ chạy của vận động viên chủ yếu phân bố ở thời gian 11,2 giây. Vận động viên chạy rất nhanh vì tốc độ trung bình khoảng \(\frac{100}{11,2}\approx 8,93(m/s)\).</p>
<div> </div> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}