{% extends "pages/lop7/chuong3/base-lop7-chuong3.html" %}
{% block title %}Toán 7 Bài 4: Số trung bình cộng - Luyện tập{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 7 Bài 4: Số trung bình cộng - Luyện tập</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p><strong>Số trung bình cộng</strong>, người ta thường gọi là số đại diện cho các dấu hiệu, bởi vì từ số trung bình cộng, ta có thể biết được phân phối các giá trị của dấu hiệu.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Số trung bình cộng của dấu hiệu</h3>
</div>
<p>Dựa vào bảng tần số, ta có thể tính số trung bình cộng của một dấu hiệu như sau:</p>
<ul>
<li>Nhân từng giá trị với tần số tương ứng</li>
<li>Cộng tất cả các tích vừa tìm được.</li>
<li>Chia tổng đó cho số các giá trị (tổng các tần số).</li>
</ul>
<p>Ta có công thức:</p>
<p>\(\bar{X}=\frac{x_1n_1+x_2n_2+...+x_kn_k}{N}\)</p>
<p>Trong đó: </p>
<ul>
<li>\(x_1, x_2, x_3,..., x_k\) là k giá trị khác nhau của dấu hiệu X.</li>
<li>\(n_1,n_2, n_3,..., n_k\) là k tần số tương ứng.</li>
<li>\(N\) là số các giá trị (tổng các tần số).</li>
</ul>
<div id="12">
<h3>1.2. Ý nghĩa của số trung bình cộng</h3>
</div>
<p><strong>Số trung bình cộng</strong> thường được dùng làm<strong> "đại diện"</strong> cho dấu hiệu, đặc biệt là khi muốn so sánh các <strong>dấu hiệu cùng loại.</strong></p>
<p><strong>Chú ý:</strong></p>
<ul>
<li>Khi các giá trị của dấu hiệu có <strong>khoảng chênh lệch rất lớn</strong> đối với nhau thì không nên lấy <strong>số trung bình cộng</strong> làm "đại diện" cho dấu hiệu đó.</li>
<li><strong>Số trung bình cộng</strong> có thể không thuộc dãy giá trị của dấu hiệu.</li>
</ul>
<div id="13">
<h3>1.3. Mốt của dấu hiệu</h3>
</div>
<p><strong>Mốt </strong>của dấu hiệu là<strong> giá trị có tần số lớn nhất</strong> trong bảng "tần số", kí hiệu là M<sub>0</sub>.</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<h4><u>Bài 1:</u><strong> </strong></h4>
<p>Xạ thủ A và B thi bắn súng, mỗi người bắn 10 phát súng, kêt quả điểm như sau:</p>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/2(69).png" style="height:122px; width:686px"/></p>
<p>Tính điểm trung bình của mỗi xạ thủ và cho biết ai bắn tốt hơn.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Áp dụng công thức tính số trung bình cộng ta có:</p>
<p>Điểm trung bình của xạ thủ A là \(\bar{X_1}=\frac{5+7+10+8+9+7+8+10+5+8}{10}=7,7\) </p>
<p>Điểm trung bình của xạ thủ B là \(\bar{X_2}=\frac{7+8+6+6+7+5+6+7+6+6}{10}=6,4\)</p>
<p>Do đó, A bắn tốt hơn vì có điểm trung bình cao hơn</p>
<p> </p>
<h4><u>Bài 2:</u><strong> </strong></h4>
<p>Điểm của Ban giám khảo cho các thí sinh A và B như sau:</p>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/2(70).png" style="height:144px; width:686px"/></p>
<p>Tính điểm trung bình của mỗi thí sinh và cho biết ai được bước tiếp vào vòng trong.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Áp dụng công thức tính số trung bình cộng ta có:</p>
<p>Điểm trung bình của thí sinh A là: \(\bar{X_1}=\frac{8+8,5+9+9+9+8}{6}\approx 8,6\)</p>
<p>Điểm trung bình của thí sinh B là: \(\bar{X_2}=\frac{8+8+8,5+8,5+8+6}{6}\approx 7,8\)</p>
<p>Dễ dàng so sánh điểm trung bình của hai thí sinh để suy ra A được lọt vào vòng trong.</p>
<p> </p>
<h4><u>Bài 3:</u><strong> </strong></h4>
<p>Trung bình cộng của tám số là 12. Do thêm số thứ chín nên trung bình cộng của chín số là 13. Tìm số thứ chín.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Tổng của tám số lúc đầu là: 12.8=96.</p>
<p>Tổng của chín số là:           13.9=117.</p>
<p>Số thứ chín là:                   117-96=21.</p>
<p>Vậy số thứ chín là 21.</p>
<p> </p>
<h4><u>Bài 4:</u></h4>
<p>Một bảng thống kê cho biết tỉ số giữa số nữ và số nam là 11:10. Tuổi thọ trung bình của nữ là 34, tuổi thọ trung bình của nam là 32. Tính tuổi trung bình của những người được thống kê.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Tuổi thọ trung bình của những người được thống kê là:</p>
<p>\(\frac{11.34+10.32}{21}=\frac{374+320}{21}=\frac{694}{21}=33 \frac{1}{21}\)</p>
<p>Do đó trung bình tuổi thọ những người được thống kê xấp xỉ 33 tuổi.</p>
<div> </div> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}