{% extends "pages/lop7/chuong3/base-lop7-chuong3.html" %}
{% block title %}Toán 7 Bài 1: Thu thập số liệu thống kê, tần số - Luyện tập{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 7 Bài 1: Thu thập số liệu thống kê, tần số - Luyện tập</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p><strong>Thống kê</strong> là một khoa học được ứng dụng rộng rãi trong các hoạt động kinh tế, xã hội. Trong cuộc sống, ta luôn gặp các vấn đề liên quan tới việc thống kê như thống kê dân số mỗi năm của một đất nước, thống kê số trứng gà được sản xuất sau một tháng, hay sản lượng nông nghiệp được xuất khẩu,... Từ đó giúp chúng ta nắm được tình trạng hoạt động cũng như diễn biến các hiện tượng, từ đó dự đoán các khả năng xảy ra, góp phần phục vụ lợi ích con người ngày càng tốt hơn. Ta đi đến bài đầu tiên <strong>Thu thập số liệu thống kê, tần số.</strong></p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Thu thập số liệu, bảng số liệu thống kê ban đầu</h3>
</div>
<p><strong>Ví dụ:</strong> Khi điều tra về <strong>số cây trồng được</strong> của mỗi lớp trong dịp phát động phong trào Tết trồng cây, người ta điều tra và lập được bảng dưới đây (bảng 1):</p>
<p style="text-align:center"><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/2(49).png" style="height:307px; width:700px"/></p>
<p>Việc làm trên của người điều tra là <strong>thu thập số liệu</strong> về vấn đề được quan tâm (cụ thể là số cây được trồng ở mỗi lớp). Các số liệu trên được ghi lại trong một bảng, gọi là <strong>bảng số liệu thống kê.</strong></p>
<div id="12">
<h3>1.2. Dấu hiệu</h3>
</div>
<h4>a) Dấu hiệu, đơn vị điều tra</h4>
<ul>
<li>Vấn đề hay hiện thượng người điều tra quan tâm được gọi là dấu hiệu (thí dụ <strong>số cây trồng được</strong>).</li>
<li>Đơn vị điều tra, chẳng hạn <strong>số cây trồng được của mỗi lớp.</strong></li>
</ul>
<h4>b) Giá trị của dấu hiệu, dãy giá trị của dấu hiệu</h4>
<ul>
<li>Ứng với mỗi đơn vị điều tra có một số liệu, gọi là một <strong>giá trị của dấu hiệu</strong>.</li>
<li>Tập các giá trị của dấu hiệu được gọi là <strong>dãy giá trị dấu hiệu</strong>.</li>
</ul>
<div id="13">
<h3>1.3. Tần số của mỗi giá trị</h3>
</div>
<p>Số lần <strong>xuất hiện</strong> của một giá trị trong <strong>dãy giá trị</strong> của dấu hiệu là<strong> tần số</strong> của giá trị đó.</p>
<p><strong>Chú ý:</strong></p>
<ul>
<li>Ta chỉ xem xét, nghiên cứu các dấu hiệu mà giá trị của nó là các số.</li>
<li>Trong trường hợp chỉ chú ý tới<strong> giá trị của dấu hiệu </strong>thì bảng số liệu thống kê ban đầu chỉ gồm các <strong>cột số</strong>. Chẳng hạn, từ bảng 1 ở trên ta có bảng sau:</li>
</ul>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/2(50).png" style="height:134px; width:600px"/></p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<h4><u>Bài 1:</u><strong> </strong></h4>
<h3><span style="font-size:13px">Số lượng nữ học sinh của từng lớp trong một trường THCS được ghi lại trong bảng dưới đây:</span></h3>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/2(53).png" style="height:243px; width:757px"/></p>
<p>a) Để có được bảng này, theo em người điều tra phải làm những việc gì?</p>
<p>b) Dấu hiệu ở đây là gì? Hãy nêu các giá trị khác nhau của dấu hiệu, tìm tần số của từng giá trị đó?</p>
<h4><u>Hướng dẫn giải<strong>:</strong></u></h4>
<p>a) Để có được bảng trên, theo em người điều tra phải đến từng lớp để thu thập số liệu (cụ thể là về số học sinh nữ từng lớp)</p>
<p>b) Dấu hiệu ở đây là Số lượng nữ học sinh của từng lớp. Các giá trị khác nhau của dấu hiệu là: 14,15,16,17,18,19,20,24,25,28</p>
<p>Tần số của mỗi giá trị là:</p>
<ul>
<li>Giá trị 14 có tần số là 2.</li>
<li>Giá trị 15 có tần số là 1.</li>
<li>Giá trị 16 có tần số là 3.</li>
<li>Giá trị 17 có tần số là 3.</li>
<li>Giá trị 18 có tần số là 3.</li>
<li>Giá trị 19 có tần số là 1.</li>
<li>Giá trị 20 có tần số là 4.</li>
<li>Giá trị 24 có tần số là 1.</li>
<li>Giá trị 25 có tần số là 1.</li>
<li>Giá trị 28 có tần số là 1.</li>
</ul>
<p> </p>
<h4><u>Bài 2:</u><strong> </strong></h4>
<p>Một người ghi lại số điện năng tiêu thụ (tính theo kW.h) trong một xóm gồm 20 hộ để làm hóa đơn thu tiền. Người đó ghi như sau:</p>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/2(54).png" style="height:176px; width:766px"/></p>
<p>Theo em thì bảng số liệu này có gì thiếu sót? Nếu có, em hãy đề xuất ý kiến lập bảng như thế nào cho đúng?</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Đối với thống kê về điện năng tiêu thụ, thông tin chúng ta cần biết không chỉ là điện năng tiêu thụ, mà ứng với mỗi giá trị dấu hiệu thì phải đi kèm với hộ gia đình. Bởi làm như vậy, ta mới làm chính xác được hóa đơn thu tiền, không bị nhầm lẫn từ nhà này sang nhà khác.</p>
<p>Theo em, nên lập bảng gồm 2 dòng, dòng trên là số thứ tự của hộ gia đình, dòng dưới là điện năng tiêu thụ tương ứng.</p>
<p><strong>Nhận xét: </strong></p>
<p>Thông qua bài tập này, ta có thể thấy không phải lúc nào chúng ta cũng chỉ quan tâm tới giá trị của dấu hiệu. Tùy vào mục đích thống kê để lập bảng cho chính xác, không bị nhầm lẫn.</p>
<p> </p>
<h4><u>Bài 3:</u></h4>
<p>Kết quả quyên góp sách giáo khoa giúp học sinh vùng bão bị lũ lụt của trường THCS Nguyễn Huệ được thống kê trong bảng sau:</p>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/2(55).png" style="height:242px; width:686px"/></p>
<p>a) Dấu hiệu ở đây là gì?</p>
<p>b) Mỗi lớp trong các lớp 6A,7C,8B,9D quyên góp được bao nhiêu quyển sách giáo khoa?</p>
<p>c) Trường THCS Nguyễn Huệ có bao nhiêu lớp?</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a) Dấu hiệu là sách giáo khoa mỗi lớp của Trường THCS Nguyễn Huệ.</p>
<p>b) Nhìn bảng ta thấy:</p>
<p>- Lớp 6A quyên góp được 16 quyển sách.</p>
<p>- Lớp 7C quyên góp được 30 quyển sách.</p>
<p>- Lớp 8B quyên góp được 40 quyển sách.</p>
<p>- Lớp 9D quyên góp được 41 quyển sách.</p>
<p>c) Dễ dàng nhận thấy, trường THCS Nguyễn Huệ không có lớp 9E (vì không có quyên góp) nên tổng số lớp của Trường THCS Nguyễn Huệ là \(5.4-1=19\) lớp.</p>
<p> </p>
<h4><u>Bài 4:</u><strong> </strong></h4>
<p>Gieo đồng thời hai con súc sắc một lần và quan sát tổng số chấm xuất hiện ở cả hai con</p>
<p>a) Dấu hiệu ở đây là gì?</p>
<p>b) Khi nào thì đạt được các giá trị là 2;12?</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a) Dấu hiệu ở đây là tổng số chấm xuất hiện ở cả hai con súc sắc.</p>
<p>b) Ta đã biết mỗi con súc sắc chỉ có thể đạt giá trị từ 1 đến 6.</p>
<p>Do đó để đạt giá trị tổng là 2 thì mỗi con súc sắc bắt buộc phải gieo ra giá trị 1.</p>
<p>Tương tự để có giá trị 12, mỗi con súc sắc buộc phải ra giá trị là 6.</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}