{% extends "pages/lop7/chuong3/base-lop7-chuong3.html" %}
{% block title %}Toán 7 Ôn tập chương 3 Thống kê{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 7 Ôn tập chương 3 Thống kê</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Tổng hợp tất cả các kiến thức đã học ở chương này thông qua bài <strong>Ôn tập</strong></p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<h3>1. Dấu hiệu</h3>
<h4>a) Dấu hiệu, đơn vị điều tra</h4>
<p>- Vấn đề hay hiện thượng người điều tra quan tâm được gọi là dấu hiệu (thí dụ <strong>số cây trồng được</strong>)</p>
<p>- Đơn vị điều tra, chẳng hạn <strong>số cây trồng được của mỗi lớp.</strong></p>
<h4>b) Giá trị của dấu hiệu, dãy giá trị của dấu hiệu</h4>
<p>- Ứng với mỗi đơn vị điều tra có một số liệu, gọi là một <strong>giá trị của dấu hiệu</strong>.</p>
<p>- Tập các giá trị của dấu hiệu được gọi là <strong>dãy giá trị dấu hiệu</strong>.</p>
<h3>2. Tần số của mỗi giá trị</h3>
<p>Số lần <strong>xuất hiện</strong> của một giá trị trong <strong>dãy giá trị</strong> của dấu hiệu là<strong> tần số</strong> của giá trị đó.</p>
<h4>Chú ý:</h4>
<p>- Ta chỉ xem xét, nghiên cứu các dấu hiệu mà giá trị của nó là các số.</p>
<p>- Trong trường hợp chỉ chú ý tới<strong> giá trị của dấu hiệu </strong>thì bảng số liệu thống kê ban đầu chỉ gồm các <strong>cột số</strong>.</p>
<h3>3. Bảng "tần số"</h3>
<p>- Ta chỉ quan tâm tới<strong> giá trị của dấu hiệu</strong> và<strong> số lần xuất hiện (tức tần số) của dấu hiệu</strong>, nên bảng chúng ta lập chỉ gồm 2 dòng, một dòng <strong>giá trị</strong>, một dòng <strong>tần số</strong></p>
<div>
<h4>- Bảng "tần số" giúp người ta dễ dàng quan sát, so sánh giá trị của dấu hiệu, nhận xét chung về sự phân bố của dấu hiệu, đồng thời có nhiều thuận tiện cho việc tính toán sau này.</h4>
<h3>4. Số trung bình cộng của dấu hiệu</h3>
<p>Dựa vào bảng tần số, ta có thể tính số trung bình cộng của một dấu hiệu như sau:</p>
<p>- <strong>Nhân</strong> từng giá trị với tần số tương ứng</p>
<p>- <strong>Cộng</strong> tất cả các tích vừa tìm được.</p>
<p>- <strong>Chia</strong> tổng đó cho số các giá trị (tổng các tần số)</p>
<p>Ta có công thức:</p>
<p>\(\bar{X}=\frac{x_1n_1+x_2n_2+...+x_kn_k}{N}\)</p>
<p>Trong đó: </p>
<p>- \(x_1, x_2, x_3,..., x_k\) là k giá trị khác nhau của dấu hiệu X.</p>
<p>- \(n_1,n_2, n_3,..., n_k\) là k tần số tương ứng</p>
<p>- \(N\) là số các giá trị (tổng các tần số)</p>
<h3>5. Ý nghĩa của số trung bình cộng</h3>
<p><strong>Số trung bình cộng</strong> thường được dùng làm<strong> "đại diện"</strong> cho dấu hiệu, đặc biệt là khi muốn so sánh các <strong>dấu hiệu cùng loại.</strong></p>
<h4>Chú ý:</h4>
<p>- Khi các giá trị của dấu hiệu có <strong>khoảng chênh lệch rất lớn</strong> đối với nhau thì không nên lấy <strong>số trung bình cộng</strong> làm "đại diện" cho dấu hiệu đó.</p>
<p>- <strong>Số trung bình cộng</strong> có thể không thuộc dãy giá trị của dấu hiệu.</p>
<h3>6. Mốt của dấu hiệu</h3>
<p><strong>Mốt </strong>của dấu hiệu là<strong> giá trị có tần số lớn nhất</strong> trong bảng "tần số", kí hiệu là M<span style="font-size:9.75px">0</span></p>
</div> </div>
</div>
<div class="box-1">
<div class="ads-2 box-2" id="ads-right-flexible" style="background:#fff;padding:10px 0px 10px 0px;margin-bottom:0px;margin-top:0px;">
<script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" data-ad-client="ca-pub-8066379099334713" data-ad-format="fluid" data-ad-layout="in-article" data-ad-slot="4860858211" style="display:block; text-align:center;"></ins>
<script>
	     (adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div> </div></div></div></section>
{% endverbatim %}
{% endblock %}