{% extends "pages/lop8/chuong1/base-lop8-chuong1.html" %}
{% block title %}Toán 8 Bài 9: Phân tích đa thức thành nhân tử bằng cách phối hợp nhiều phương pháp{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 8 Bài 9: Phân tích đa thức thành nhân tử bằng cách phối hợp nhiều phương pháp</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Với bài học này, chúng ta sẽ làm quen với <strong>Phân tích đa thức thành nhân tử bằng phương pháp phối hợp nhiều phương pháp</strong>. Đây là phương pháp giúp các em có thể phân tích đa thức thành nhân tử nhờ vào cách kết hợp các phương pháp mà các em đã được học.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1 Kiến thức cần nhớ</h3>
</div>
<p>Đối với một vài bài toán ta không thể áp dụng ngay các phương pháp đã học mà phải sử dụng kết hợp nhiều phương pháp đã học như:</p>
<p>- Đặt nhân tử chung.</p>
<p>- Sử dụng hằng đẳng thức.</p>
<p>- Nhóm hạng tử.</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<p><strong>Bài 1: Phân tích đa thức thành nhân tử</strong></p>
<p><strong>a. <span class="math-tex">\({x^3} - 4x + 4x\)</span></strong></p>
<p><strong>b.  <span class="math-tex">\(2{x^4} + 3{x^3} + 2{x^2} + 3\)</span></strong></p>
<p><strong>Hướng dẫn</strong></p>
<p><strong>a.</strong></p>
<p><span class="math-tex">\(\begin{array}{l} {x^3} - 4x + 4x\\ = x({x^2} - 4x + 4)\\ = x{(x - 2)^2} \end{array}\)</span></p>
<p><strong>b.</strong></p>
<p><span class="math-tex">\(\begin{array}{l} 2{x^4} + 3{x^3} + 2{x^2} + 3\\ = x(2{x^3} + 3{x^2} + 2x + 3)\\ = x\left[ {(2{x^3} + 3{x^2}) + (2x + 3)} \right]\\ = x\left[ {{x^2}(2x + 3) + (2x + 3)} \right]\\ = x({x^2} + 1)(2x + 3) \end{array}\)</span></p>
<p><strong>Bài 2: Phân tích đa thức thành nhân tử</strong></p>
<p><strong>a.  <span class="math-tex">\( - 3{x^2} + 12x - 12 + 3{y^2}\)</span></strong></p>
<p><strong>b.  <span class="math-tex">\(16 + 4xy - {x^2} - 4{y^2}\)</span></strong></p>
<p><strong>Hướng dẫn</strong></p>
<p><strong>a.</strong></p>
<p><span class="math-tex">\(\begin{array}{l} - 3{x^2} + 12x - 12 + 3{y^2}\\ = - 3({x^2} - 4x + 4 - {y^2})\\ = - 3\left[ {({x^2} - 4x + 4) - {y^2}} \right]\\ = - 3\left[ {{{(x - 2)}^2} - {y^2}} \right]\\ = - 3(x - 2 - y)(x - 2 + y) \end{array}\)</span></p>
<p><strong>b.</strong></p>
<p><span class="math-tex">\(\begin{array}{l} 16 + 4xy - {x^2} - 4{y^2}\\ = 16 - ({x^2} - 4xy + 4{y^2})\\ = 16 - {(x - 2y)^2}\\ = (4 - x + 2y)(4 + x - 2y) \end{array}\)</span></p>
<p><strong>Bài 3: Phân tích đa thức thành nhân tử</strong></p>
<p><span class="math-tex">\({x^2} - 6x + 8\)</span></p>
<p><strong>Hướng dẫn</strong></p>
<p><span class="math-tex">\(\begin{array}{l} {x^2} - 6x + 8\\ = {x^2} - 6x + 9 - 1\\ = ({x^2} - 6x + 9) - 1\\ = {(x - 3)^2} - 1\\ = (x - 3 - 1)(x - 3 + 1)\\ = (x - 4)(x - 2) \end{array}\)</span></p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}