{% extends "pages/lop8/chuong1/base-lop8-chuong1.html" %}
{% block title %}Toán 8 Bài 5: Những hằng đẳng thức đáng nhớ (tiếp){% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 8 Bài 5: Những hằng đẳng thức đáng nhớ (tiếp)</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Trong bài học này, chúng ta sẽ làm quen với <strong>Những hằng đẳng thức đáng nhớ (tiếp), </strong>đây là bài học giúp các em làm quen với tổng cũng như hiệu của hai bình phương.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1 Kiến thức cần nhớ</h3>
</div>
<p>1. Tổng của hai lâp phương: <span class="math-tex">\({A^3} + {B^3} = (A + B)({A^2} - AB + {B^2})\)</span></p>
<p>2. Hiệu của hai lâp phương: <span class="math-tex">\({A^3} - {B^3} = (A - B)({A^2} + AB + {B^2})\)</span> </p>
<p>Cũng như các hằng đẳng thức trước, việc chứng minh hai hằng đẳng thức này cũng dựa vào quy tắc <strong>Nhân đa thức với đa thức</strong> mà chúng ta đa học. </p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<p><strong>Bài 1: Viết lại biểu thức sau dưới dạng tổng hoặc hiệu :</strong></p>
<p> <span class="math-tex">\(\left( {2x - 4{y^2}} \right)\left( {4{x^2} + 8x{y^2} + 16{y^4}} \right)\)</span></p>
<p> </p>
<p><strong>Hướng dẫn:</strong></p>
<p><span class="math-tex">\(\begin{array}{l} \left( {2x - 4{y^2}} \right)\left( {4{x^2} + 8x{y^2} + 16{y^4}} \right)\\ = \left( {2x - 4{y^2}} \right)\left[ {{{\left( {2x} \right)}^2} + \left( {2x} \right)\left( {4{y^2}} \right) + {{\left( {4{y^2}} \right)}^2}} \right]\\ = {\left( {2x} \right)^3}-{\left( {4{y^2}} \right)^3}\\ = 8{x^3} - 64{y^6} \end{array}\)</span></p>
<div> </div>
<p><strong>Bài 2: Chứng minh rằng:<span class="math-tex">\(({x^3} + {y^3})({x^3} - {y^3}) = ({x^2} - {y^2})({x^4} + {x^2}{y^2} + {y^4})\)</span></strong></p>
<p><strong>Hướng dẫn:</strong></p>
<div>Ta có vế trái:  <span class="math-tex">\(({x^3} + {y^3})({x^3} - {y^3}) = {\left( {{x^3}} \right)^2} - {\left( {{y^3}} \right)^2} = {x^6} - {y^6}\)</span></div>
<div>Ta có vế phải: </div>
<div><span class="math-tex">\(\begin{array}{l} ({x^2} - {y^2})({x^4} + {x^2}{y^2} + {y^4})\\ = ({x^2} - {y^2})\left[ {{{\left( {{x^2}} \right)}^2} + {x^2}{y^2} + {{\left( {{y^2}} \right)}^2}} \right]\\ = {\left( {{x^2}} \right)^3} - {\left( {{y^2}} \right)^3}\\ = {x^6} - {y^6}\\ \end{array}\)</span></div>
<div>Nhận thấy rằng vế trái bằng với vế phải.</div>
<div>Vậy ta có điều cần chứng minh.</div>
<p> </p>
<p><strong>Bài 3: Chứng minh rằng: <span class="math-tex">\(({11^3} - 1)^n\)</span> chia hết cho <span class="math-tex">\(10^n\)</span>.</strong></p>
<p><strong>Hướng dẫn:</strong></p>
<p>Ta có thể biến đổi biểu thức như sau:</p>
<p><span class="math-tex">\(\begin{array}{l} {\left( {{{11}^3} - 1} \right)^n}\\ = {\left[ {(11 - 1)({{11}^2} + 11 + 1)} \right]^n}\\ = {\left[ {(10)({{11}^2} + 11 + 1)} \right]^n}\\ = {10^n}{({11^2} + 11 + 1)^n} \end{array}\)</span></p>
<p>nhận thấy rằng biểu thức này chia hết cho <strong> <span class="math-tex">\(10^n\)</span>.</strong> Vậy ta có điều cần chứng minh.</p>
<p> </p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}