{% extends "pages/lop8/chuong1/base-lop8-chuong1.html" %}
{% block title %}Toán 8 Bài 7: Phân tích đa thức thành nhân tử bằng phương pháp dùng hằng đẳng thức{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 8 Bài 7: Phân tích đa thức thành nhân tử bằng phương pháp dùng hằng đẳng thức</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Trong bài học này, chúng ta sẽ làm quen với <strong>Phân tích đa thức thành nhân tử bằng phương pháp dùng hằng đẳng thức. </strong>Đây là phương pháp giúp các em có thể phân tích đa thức thành nhân tử nhờ vào 7 hằng đẳng thức đã học ở các bài trước.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1 Kiến thức cần nhớ</h3>
</div>
<p>Trước hết chúng ta cần nhớ lại 7 hằng đẳng thức đáng nhớ đã học trong các bài học trước.</p>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/12(428).png" style="height:270px; width:429px"/></p>
<p>Ta có thể nhận thấy rằng mỗi vế của hằng đẳng thức đều là những nhân tử nên ta có thể sử dụng 7 hằng đẳng thức này để phân tích đa thức thành nhân tử.</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<p><strong>Bài 1: Phân tích đa thức thành nhân tử:</strong></p>
<p>a.  <span class="math-tex">\({x^2} + 8x + 16\)</span></p>
<p>b.  <span class="math-tex">\({x^2} - 4x + 4\)</span></p>
<p><strong>Hướng dẫn:</strong></p>
<p>a.</p>
<p> <span class="math-tex">\(\begin{array}{l} {x^2} + 8x + 16\\ = {(x)^2} + 2.x.4 + {4^2}\\ = {(x + 4)^2} \end{array}\)</span></p>
<p>b.</p>
<p><span class="math-tex">\(\begin{array}{l} {x^2} - 4x + 4\\ = {x^2} - 2.x.2 + {2^2}\\ = {(x - 2)^2} \end{array}\)</span></p>
<p><strong>Bài 2: Phân tích đa thức thành nhân tử:</strong></p>
<p>a.  <span class="math-tex">\({x^3} - \frac{1}{8}{y^3}\)</span></p>
<p>b.  <span class="math-tex">\(\frac{1}{8}{x^3} + {y^3}\)</span></p>
<p><strong>Hướng dẫn:</strong></p>
<p>a.</p>
<p> <span class="math-tex">\(\begin{array}{l} {x^3} - \frac{1}{8}{y^3}\\ = {x^3} - {\left( {\frac{1}{2}y} \right)^3}\\ = \left( {x - \frac{1}{2}y} \right)\left[ {{x^2} + x\frac{1}{2}y + {{\left( {\frac{1}{2}y} \right)}^2}} \right]\\ = \left( {x - \frac{1}{2}y} \right)\left( {{x^2} + \frac{1}{2}xy + \frac{1}{4}{y^2}} \right) \end{array}\)</span></p>
<p>b.</p>
<p><span class="math-tex">\(\begin{array}{l} \frac{1}{8}{x^3} + {y^3}\\ = {\left( {\frac{1}{2}x} \right)^3} + {y^3}\\ = \left( {\frac{1}{2}x + y} \right)\left[ {{{\left( {\frac{1}{2}x} \right)}^2} - \frac{1}{2}xy + {y^2}} \right]\\ = \left( {\frac{1}{2}x + y} \right)\left( {\frac{1}{4}{x^2} - \frac{1}{2}xy + {y^2}} \right) \end{array}\)</span></p>
<p><strong>Bài 3: Phân tích đa thức thành nhân tử:</strong></p>
<p>a.  <span class="math-tex">\({x^2} - 9\)</span> </p>
<p>b.  <span class="math-tex">\({x^3} + 6{x^2}y + 12x{y^2} + 8{y^3}\)</span></p>
<p>c.  <span class="math-tex">\(8{x^3} - 12{x^2}y + 6x{y^2} - {y^3}\)</span></p>
<p><strong>Hướng dẫn:</strong></p>
<p>a.</p>
<p><span class="math-tex">\(\begin{array}{l} {x^2} - 9\\ = {x^2} - {3^2}\\ = (x + 3)(x - 3) \end{array}\)</span></p>
<p>b.</p>
<p><span class="math-tex">\(\begin{array}{*{20}{l}} {{x^3} + 6{x^2}y + 12x{y^2} + 8{y^3}}\\ { = {x^3} + 3{x^2}2y + 3x{{(2y)}^2} + {{(2y)}^3}}\\ { = {{\left( {x + 2y} \right)}^3}} \end{array}\)</span></p>
<p>c.</p>
<p><span class="math-tex">\(\begin{array}{l} 8{x^3} - 12{x^2}y + 6x{y^2} - {y^3}\\ = {(2x)^3} - 3{(2x)^2}y + 3.2x{y^2} - {y^3}\\ = {(2x - y)^3} \end{array}\)</span></p>
<p> </p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}