{% extends "pages/lop8/chuong1/base-lop8-chuong1.html" %}
{% block title %}Toán 8 Bài 1: Nhân đơn thức với đa thức{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 8 Bài 1: Nhân đơn thức với đa thức</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Trong bài học này chúng ta sẽ làm quen với cách <strong>Nhân đơn thức với đa thức </strong>- bài mở đầu cho chương trình Toán lớp 8. Với bài học này, tính chất chủ yếu chúng ta sử dụng là tính phân phối của phép nhân với phép cộng. Đây là một bài toán căn bản giúp các em học tốt các phần tiếp theo </p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3><strong>1.1. Quy tắc</strong></h3>
</div>
<p>Muốn nhân đơn thức với đa thức ta nhân đơn thức với từng số hạng của đa thức và cộng các tích lại với nhau.</p>
<p>Tức là với A,B,C,D là các đơn thức ta có:</p>
<p>A(B+C+D)=AB+AC+AD </p>
<p>Quy tắc này hoàn toàn giống với cách nhân một số với một tổng.</p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<p><strong>Bài 1. Thực hiện phép tính:</strong></p>
<p>a.<span class="math-tex">\(\left( { - {x^2}} \right)\left( {{x^3} + \frac{3}{2}x + 1} \right)\)</span></p>
<p>b.<span class="math-tex">\((2{x^2})(\frac{1}{2}{x^3} - 2{x^2})\)</span></p>
<p><strong>Hướng dẫn:</strong></p>
<p>a.</p>
<p><span class="math-tex">\(\begin{array}{l} \left( { - {x^2}} \right)\left( {{x^3} + \frac{3}{2}x + 1} \right)\\ = ( - {x^2})({x^3}) + ( - {x^2})(\frac{3}{2}x) + ( - {x^2})\\ = - {x^5} - \frac{3}{2}{x^3} - {x^2} \end{array}\)</span></p>
<p> </p>
<p>b.</p>
<p><span class="math-tex">\(\begin{array}{l} (2{x^2})(\frac{1}{2}{x^3} - 2{x^2})\\ = (2{x^2})(\frac{1}{2}{x^3}) + (2{x^2})( - 2{x^2})\\ = {x^5} - 4{x^4} \end{array}\)</span></p>
<p><strong>Bài 2. Thực hiện phép tính:</strong></p>
<p>a.<span class="math-tex">\((4{x^3} + 2{x^2} - 6x)(\frac{1}{2}{x^2})\)</span></p>
<p>b.<span class="math-tex">\((2x)({x^2} - 3x{y^2} + 1)\)</span></p>
<p><strong>Hướng dẫn:</strong></p>
<p>a.</p>
<p><span class="math-tex">\(\begin{array}{l} (4{x^3} + 2{x^2} - 6x)(\frac{1}{2}{x^2})\\ = (\frac{1}{2}{x^2})(4{x^3}) + (\frac{1}{2}{x^2})(2{x^2}) + (\frac{1}{2}{x^2})( - 6x)\\ = 2{x^5} + {x^4} - 3{x^3} \end{array}\)</span></p>
<p>b.</p>
<p><span class="math-tex">\(\begin{array}{l} (2x)({x^2} - 3x{y^2} + 1)\\ (2x)({x^2}) + (2x)( - 3x{y^2}) + (2x)\\ = 2{x^3} - 6{x^2}{y^2} + 2x \end{array}\)</span></p>
<p><strong>Bài 3. Tính diện tích của hình chữ nhật có chiều rộng là <span class="math-tex">\(2{x^2}\)</span> (m), chiều dài là <span class="math-tex">\(4{x^2} + 3xy + {y^3}\)</span>(m).</strong></p>
<p><strong>Hướng dẫn:</strong></p>
<p>Ta đã biết diện tích của hình chữ nhật là S = chiều dài x chiều rộng</p>
<p>Vậy diện tích của hình chữ nhật là </p>
<p><span class="math-tex">\(\begin{array}{l} S = (2{x^2})(4{x^2} + 3xy + {y^3})\\ = (2{x^2})(4{x^2}) + (2{x^2})(3xy) + (2{x^2})({y^3})\\ = 8{x^4} + 6{x^3}y + 2{x^2}{y^3}\,\,\,({m^2}) \end{array}\)</span></p>
<p> </p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}