{% extends "pages/lop8/chuong1/base-lop8-chuong1.html" %}
{% block title %}Toán 8 Bài 10: Chia đơn thức cho đơn thức{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 8 Bài 10: Chia đơn thức cho đơn thức</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Trong bài học này, chúng ta sẽ làm quen với <strong>Chia đơn thức cho đơn thức. </strong>Đây là một bài học khá quan trọng trong chương 1 của chương trình đại số lớp 8.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1 Kiến thức cần nhớ</h3>
</div>
<p>Tóm tắt lý thuyết</p>
<p>Muốn chia đơn thức A cho đơn thức B (trường hợp A chia hết cho B) ta làm như sau:</p>
<p>-Chia hệ số của đơn thức A cho hệ số của đơn thức B.</p>
<p>-Chia lũy thừa của từng biến trong A cho lũy thừa của cùng biến đó trong B.</p>
<p>-Nhân các kết quả vừa tìm được với nhau.</p>
<h4><strong><em>Lưu ý: x</em></strong><strong><em>≠0, m, n </em></strong><strong><em>ϵ N, m </em></strong><strong><em>≥ n thì:</em></strong></h4>
<h4> <span class="math-tex">\({x^m}:{x^n} = {x^{m - n}}\)</span>   nếu m &gt; n</h4>
<h4><span class="math-tex">\({x^m}:{x^n} = 1\)</span>          nếu m = n</h4> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<p><strong>Bài 1: Tính:</strong></p>
<p>a.  <span class="math-tex">\({7^5}:{7^3}\)</span></p>
<p>b.  <span class="math-tex">\({16^2}:{( - 6)^2}\)</span></p>
<p><strong>Hướng dẫn</strong></p>
<p>a.</p>
<p><span class="math-tex">\(\begin{array}{l} {7^5}:{7^3}\\ = {7^{5 - 3}}\\ = {7^2}\\ = 49 \end{array}\)</span></p>
<p>b.</p>
<p><span class="math-tex">\(\begin{array}{l} {16^2}:{( - 6)^2}\\ = {\left( {\frac{{ - 16}}{6}} \right)^2}\\ = {\left( {\frac{{ - 8}}{3}} \right)^2}\\ = \frac{{64}}{9} \end{array}\)</span></p>
<p><strong>Bài 2: Chia đơn thức</strong></p>
<p>a.  <span class="math-tex">\({\left( { - x} \right)^7}:{\left( { - x} \right)^5}\)</span></p>
<p>b.  <span class="math-tex">\(\frac{5}{2}{x^5}{y^5}:\left( { - \frac{1}{2}{x^4}{y^4}} \right)\)</span></p>
<p><strong>Hướng dẫn</strong></p>
<p>a.</p>
<p><span class="math-tex">\(\begin{array}{l} {\left( { - x} \right)^7}:{\left( { - x} \right)^5}\\ = {\left( x \right)^{7 - 5}}\\ = {\left( x \right)^2}\\ = {x^2} \end{array}\)</span></p>
<p>b.</p>
<p><span class="math-tex">\(\begin{array}{l} \frac{5}{2}{x^5}{y^5}:\left( { - \frac{1}{2}{x^4}{y^4}} \right)\\ = \frac{5}{2}{\left( {xy} \right)^5}:\left( { - \frac{1}{2}} \right){\left( {xy} \right)^4}\\ = - 5{\left( {xy} \right)^{5 - 4}}\\ = - 5xy \end{array}\)</span></p>
<p><strong>Bài 3: Tính giá trị của biểu thức <span class="math-tex">\(32{x^6}{y^5}{z^{10}}:8{x^4}{y^3}{z^{10}}\)</span> với x = 3, y = 2, z = 1996</strong></p>
<p><strong>Hướng dẫn:</strong></p>
<p><span class="math-tex">\(\begin{array}{l} 32{x^6}{y^5}{z^{10}}:8{x^4}{y^3}{z^{10}}\\ = 4{x^{6 - 4}}{y^{5 - 3}}{z^{10 - 10}}\\ = 4{x^2}{y^2}\\ = 4 \times {3^2} \times {2^2}\\ = 144 \end{array}\)</span></p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}