{% extends "pages/lop8/chuong1/base-lop8-chuong1.html" %}
{% block title %}Toán 8 Bài 12: Chia đa thức một biến đã sắp xếp{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 8 Bài 12: Chia đa thức một biến đã sắp xếp</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Trong bài học này chúng ta sẽ làm quen với <strong>Chia đa thức một biến đã sắp xếp. </strong>Đây là một phương pháp tổng quát nhất để thực hiện phép chia đa thức cho đa thức.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1 Kiến thức cần nhớ</h3>
</div>
<p>Ví dụ: Thực hiện phép chia: </p>
<p><span class="math-tex">\((2{x^5} + 3{x^3} + x):(2{x^2} + 1)\)</span></p>
<p>Ta thực hiện như sau</p>
<p>Đầu tiên ta đặt phép chia:</p>
<p>\[\begin{array}{*{20}{c}}<br>
{2{x^5} + 3{x^3} + x}\\<br/>
{\,\,\,}<br/>
\end{array}\left| {\begin{array}{*{20}{c}}<br/>
{2{x^2} + 1}\\<br/>
\hline<br/>
{\,\,\,}<br/>
\end{array}} \right.\]</br></p>
<p>Sau đó lấy hạng tử bậc cao nhất của đa thức bị chia chia cho hạng tử bâc cao nhất của đa thức chia:</p>
<p>\[2{x^5}:2{x^2} = {x^3}\]</p>
<p>Nhân thương vừa tìm được cho đa thức chia rồi lấy đa thức bị chia trừ cho tích vừa tìm được ta được dư thứ nhất.</p>
<p>\[\begin{array}{*{20}{l}}<br/>
{2{x^5} + 3{x^3} + x}\\<br/>
{\underline {2{x^5} + {x^3}\,\,\,\,\,\,\,\,\,\,\,} }\\<br/>
{\,\,\,\,\,\,\,\,\,\,\,\,2{x^3} + x}\\<br/>
{}\\<br/>
{}<br/>
\end{array}\left| {\begin{array}{*{20}{c}}<br/>
{2{x^2} + 1}\\<br/>
\hline<br/>
{{x^3}}\\<br/>
{}\\<br/>
{}\\<br/>
{}<br/>
\end{array}} \right.\]</p>
<p>Lấy hạng tử lũy thừa cao nhất của dư thứ nhất chia cho hạng tử bậc cao nhất của đa thức chia ta được:</p>
<p>\[2{x^3}:2{x^2} = x\]</p>
<p>Thực hiện lại như bước trên ta được:</p>
<p>\[\begin{array}{*{20}{l}}<br/>
{2{x^5} + 3{x^3} + x}\\<br/>
{\underline {2{x^5} + {x^3}\,\,\,\,\,\,\,\,\,\,\,} }\\<br/>
{\,\,\,\,\,\,\,\,\,\,\,\,2{x^3} + x}\\<br/>
{\,\,\,\,\,\,\,\,\,\,\,\,\underline {2{x^3} + x} }\\<br/>
{\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,0}<br/>
\end{array}\left| {\begin{array}{*{20}{c}}<br/>
{2{x^2} + 1}\\<br/>
\hline<br/>
{{x^3} + x}\\<br/>
{}\\<br/>
{}\\<br/>
{}<br/>
\end{array}} \right.\]</p>
<p>Vì phần dư là 0 nên phép chia trên là phép chia hết.</p>
<p>Vậy kết quả của phép chia <span class="math-tex">\((2{x^5} + 3{x^3} + x):(2{x^2} + 1)\)</span> là \[{x^3} + x\];</p>
<h4>Lưu ý:</h4>
<ul>
<li>Phép chia có số dư bằng 0 là phép chia hết.</li>
<li>Nếu phép chia có phần dư khác 0 ta thực hiện theo cách trên cho đến khi lũy thừa cao nhất của phần dư nhỏ hơn lũy thừa cao nhất của đa thức chia.</li>
</ul>
<p> </p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<p><strong>Bài 1 </strong></p>
<p>Sắp xếp theo lũy thừa giảm dần của biến rồi thực hiện phép chia </p>
<p><strong><span class="math-tex">\(\left( {x + 1 + 2{x^3} + {x^2}} \right):\left( {x - 1} \right)\)</span></strong></p>
<p><strong>Hướng dẫn:</strong></p>
<p>Sắp xếp theo lùy thừa giảm dần của biến ta được<strong> <span class="math-tex">\(2{x^3} + {x^2} + x + 1\)</span></strong> </p>
<p>Thực hiện phép chia ta được</p>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/1(477).PNG" style="height:377px; width:431px"/></p>
<p><strong>Bài 2: Thực hiện phép chia sau và xác định thương và phần dư</strong></p>
<p><strong><span class="math-tex">\(\left( {2{x^3} - 3{x^2} + 6x - 4\,\,} \right):\,\,\left( {{x^2} - x + 3\,\,} \right)\,\)</span></strong></p>
<p> </p>
<p><strong><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/2(325).PNG" style="height:274px; width:472px"/></strong></p>
<p>Vậy ta tìm được thương là <span class="math-tex">\(2x-1\)</span> và phần dư là <span class="math-tex">\(-x-1\)</span></p>
<p><strong>Bài 3</strong></p>
<p>Tìm giá trị nguyên của n để A chia hết cho B biết</p>
<p><br/>
<strong><span class="math-tex">\(A = 2{x^4} - {x^3} - {x^2} - x + n\,\,\,\,\,B = {x^2} + 1\)</span></strong></p>
<p><strong>Hướng dẫn:</strong></p>
<p><strong> </strong>Thực hiện phép chia ta được</p>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/1(478).PNG" style="height:375px; width:481px"/></p>
<p>A chia hết cho B <span class="math-tex">\( \Leftrightarrow n - 3 = 0 \Leftrightarrow n = 3\)</span></p>
<p>Vậy giá trị cần tìm là n = 3</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}