{% extends "pages/lop6/chuong-3-phan-so/base-lop6-chuong3.html" %}
{% block title %}Toán 6 Bài 1: Mở rộng khái niệm về phân số{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 6 Bài 1: Mở rộng khái niệm về phân số</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Ở tiểu học chúng ta đã biết dùng phân số để ghi kết quả của phép chia một số tự nhiên cho một số tự nhiên khác 0. Vậy phân số có âm hay không? Để hiểu được điều đó bài hôm nay chúng ta sẽ tìm hiểu tổng quát hơn về phân số qua bài học <strong>Mở rộng khái niệm phân số</strong></p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Khái niệm phân số</h3>
</div>
<p><strong>Tổng quát: Người ta gọi  \(\frac{a}{b}\) với \(a,b \in Z, b\neq 0\) là một phân số, a là tử số (tử), b là mẫu số (mẫu) của phân số.</strong></p>
<div id="12">
<h3>1.2. Ví dụ</h3>
</div>
<p>\(\frac{-2}{5},\frac{-3}{4},\frac{0}{-4}, \frac{2}{-3},...\)là những phân số</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<div id="21">
<div id="21">
<h3>2.1. Bài tập cơ bản</h3>
</div>
</div>
<p><strong>Bài 1: </strong>Trong các cách viết sau cách viết nào cho ta phân số: \(\frac{2}{0};\frac{5,34}{3};\frac{4}{2,4};\frac{-1}{4};\frac{2}{-7}\)</p>
<p><strong>Hướng dẫn:</strong> </p>
<p>Theo định nghĩa người ta gọi phân số khi cả tử lẫn mẫu đều là số nguyên và mẫu phải khác 0 \(\Rightarrow \frac{-1}{4};\frac{2}{-7}\) là phân số</p>
<p><strong>Bài 2: </strong>Viết các phép chia sau dưới dang phân số:</p>
<p>a) 5:13</p>
<p>b) -2:9</p>
<p>c) k:(-5),\(k \in Z\)</p>
<p><strong>Hướng dẫn:</strong></p>
<p>a) \(\frac{5}{13}\)    </p>
<p>b) \(\frac{-2}{9}\)</p>
<p>c) \(\frac{k}{-5}\)</p>
<div>
<p><strong>Bài 3: </strong>Dùng 2 chữ số 11 và 13 viết các phân số có thể lập từ 2 số này (mỗi số chỉ viết một lần)</p>
<p>Tương tự cho hai số 0 và -6</p>
<p><strong>Hướng dẫn: </strong></p>
<p>Cả hai số 11 và 13 đều có vai trò như nhau nên có các phân số: \(\frac{11}{13}\) và \(\frac{13}{11}\)</p>
<p>Với 2 số 0 và -6 thì 0 không thể là mẫu số nên chỉ có số: \(\frac{0}{-6}\) là phân số</p>
</div>
<div id="22">
<h3>2.2. Bài tập nâng cao</h3>
</div>
<p><strong>Bài 1: </strong>Trong hình sau đây phần tô màu chiếm  bao nhiêu phần của hình</p>
<p style="text-align:center"><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/1b1(1).png" style="height:355px; width:339px"/></p>
<p><strong>Hướng dẫn: </strong>Ta sẽ vẽ như sau để dễ nhận biết hơn</p>
<p style="text-align:center"><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/1b2(1).png" style="height:366px; width:354px"/></p>
<p>Ta có thể thấy hình ban đầu của chúng ta được chia thành 6 hình tam giác nhỏ. Mỗi hình tam giác đỏ bằng một nửa tam giác trong 6 tam giác chia lúc đầu. </p>
<p>Và có 2 hình đỏ giống nhau. Vậy số phần hình đỏ chiếm là \(\frac{2}{12}\)</p>
<div class="fxm">
<p><strong>Bài 2: </strong>Tô màu một hình vuông \(\frac{1}{4}\) bằng 3 cách</p>
<p><strong>Hướng dẫn: </strong></p>
<p>Ta có thể tô như sau: </p>
<p style="text-align:center"><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/1b3(2).png" style="height:507px; width:479px"/></p>
</div> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}