{% extends "pages/lop6/chuong-3-phan-so/base-lop6-chuong3.html" %}
{% block title %}Toán 6 Bài 3: Tính chất cơ bản của phân số{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 6 Bài 3: Tính chất cơ bản của phân số</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Bài trước chúng ta đã tìm hiểu về như thế nào là phân số bằng nhau. Bài tiếp theo chúng ta sẽ học về một vài <strong>Tính chất cơ bản của phân số.</strong></p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Nhận xét</h3>
</div>
<p>Ta có:  \(\frac{1}{-3}=\frac{-2}{6}\) vì \(1.6=(-2).(-3)\). Tương tự  \(\frac{-6}{4}=\frac{-3}{2}\)</p>
<p>Ta có nhận xét sau: \(1.(-2)=-2,(-3).(-2)=6\Rightarrow \frac{1}{-3}=\frac{1.(-2)}{(-3).(-2)}=\frac{-2}{6}\)</p>
<p>và \((-6):2=-3,4:2=2\Rightarrow \frac{-6}{4}=\frac{(-6):2}{4:2}=\frac{-3}{2}\)</p>
<div id="12">
<h3>1.2. Tính chất cơ bản của phân số</h3>
</div>
<p><strong><em>Nếu ta nhân cả tử và mẫu của một phân số với cùng một số nguyên khác 0 thì ta được một phân số bằng phân số đã cho.</em></strong></p>
<p style="text-align:center"><strong>\(\frac{a}{b}=\frac{a.m}{b.m}, m \in Z, m\neq0\)</strong></p>
<p><strong><em>Nếu ta chia cả tử và mẫu của một phân số cho cùng một ước chung của chúng thì ta được một phân số bằng phân số đã cho.</em></strong></p>
<p style="text-align:center"><strong>\(\frac{a}{b}=\frac{a:n}{b:n}, n \in\) ƯC(a,b)</strong></p>
<p>- Từ tính chất của phân số trên ta có thể viết một phân số bất kì có mẫu âm thành một phân số có dương và bằng nó bằng cách nhân cả tử và mẫu của phân số đó với (-1)</p>
<p style="text-align:center">\(\frac{2}{-7}=\frac{2.(-1)}{(-7).(-1)}=\frac{-2}{7}\)</p>
<p>- Mỗi phân số sẽ có vô số phân số bằng nó. Ví dụ như: \(\frac{1}{2}=\frac{2}{4}=\frac{3}{6}=\frac{4}{8}=...\)Các phân số bằng nhau là các cách viết khác nhau của cùng một số mà người ta gọi là số hữu tỉ</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<div id="21">
<h3>2.1. Bài tập cơ bản</h3>
</div>
<p><strong>Bài 1: </strong>Viết một phân số mới bằng với phân số  \(\frac{5}{9}\)  sao cho mẫu của phân số mới gấp 7 lần mẫu của phân số cũ</p>
<p><strong>Hướng dẫn: </strong></p>
<p>Ta có: \(\frac{5}{9}=\frac{5.7}{9.7}=\frac{35}{63}\)</p>
<p><strong>Bài 2: </strong>Chuyển các phân số sau về các phân số có mẫu là các số dương: \(\frac{7}{-9};\frac{-1}{-7}\)</p>
<p><strong>Hướng dẫn: </strong></p>
<p>Ta có: \(\frac{7}{-9}=\frac{7.(-1)}{(-9).(-1)}=\frac{-7}{9}\)</p>
<p>\(\frac{-1}{-7}=\frac{(-1).(-1)}{(-7).(-1)}=\frac{1}{7}\)</p>
<div id="22">
<h3>2.2. Bài tập nâng cao</h3>
</div>
<p><strong>Bài 1: </strong>Tìm các số x, y, z thỏa: \(\frac{4}{5}=\frac{12}{x}=\frac{y}{20}=\frac{8(y-x)}{z}\)</p>
<p><strong>Hướng dẫn:</strong></p>
<p>Ta thấy:  \(\frac{4}{5}=\frac{12}{x}=\frac{4.3}{x}\Rightarrow x=5.3=15\)</p>
<p>\(\frac{4}{5}=\frac{y}{20}=\frac{y}{5.4}\Rightarrow y=4.4=16\)</p>
<p>Với x=15 và y=16 nên: \(\frac{4}{5}=\frac{8(y-x)}{z}=\frac{8}{z}=\frac{4.2}{z}\Rightarrow z=5.2=10\)</p>
<p><strong>Bài 2: </strong>Chứng minh rằng: \(\frac{-22}{55}=\frac{-26}{65}\)</p>
<p><strong>Hướng dẫn:</strong></p>
<p>Ta có: \(\frac{-22}{55}=\frac{(-22):11}{55:11}=\frac{-2}{5}\)  và \(\frac{-26}{65}=\frac{(-26):13}{65:13}=\frac{-2}{5}\)</p>
<p>Nên \(\frac{-22}{55}=\frac{-26}{65}(=\frac{-2}{5})\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}