{% extends "pages/lop6/chuong-3-phan-so/base-lop6-chuong3.html" %}
{% block title %}Toán 6 Bài 12: Phép chia phân số{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 6 Bài 12: Phép chia phân số</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Bài học sẽ giúp các em tìm hiểu các vấn đề liên quan đến<strong> Phép chia phân số</strong>, tính chất cùng các dạng toán liên quan và các ví dụ minh họa có hướng dẫn giải sẽ giúp các em dễ dàng nắm được nội dung bài học.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Số nghịch đảo</h3>
</div>
<p>\(- 8.\frac{1}{{ - 8}} = \,\,?\)</p>
<p>Ta nói \(\frac{1}{{ - 8}}\)là số nghịch đảo của -8, -8 cũng là số nghịch đảo của \(\frac{1}{{ - 8}}\) hai số -8 và \(\frac{1}{{ - 8}}\) là hai số nghịch đảo của nhau.</p>
<p>\(\Rightarrow \) Hai số gọi là nghịch đảo của nhau nếu tích của chúng bằng 1.</p>
<div id="12">
<h3>1.2. Phép chia phân số</h3>
</div>
<p>Ta có quy tắc:</p>
<p>Muốn chia một phân số hay một số nguyên cho một phân số, ta nhân số bị chia với số nghịch đảo của số chia.</p>
<p>\(\frac{a}{b}\,\,:\,\,\frac{c}{d} = \frac{a}{b}.\frac{c}{d} = \frac{{a\,\,.\,\,d}}{{b\,.\,\,c}}\)                          \(a:\frac{c}{d} = a.\frac{d}{c} = \frac{{a.d}}{c}\,\,(c \ne 0)\)</p>
<p>Nhận xét: Muốn chia một phân số cho một số nguyên (khác 0), ta giữ nguyên tử của phân số và nhân mẫu với số nguyên.</p>
<p>\(\frac{a}{b}:c = \frac{a}{{b\,\,.\,\,\,c}}\)</p>
<p><strong>Ví dụ 1:</strong> Tính các thương  sau đây rồi sắp xếp chúng theo thứ tự tăng dần:</p>
<p>\(\frac{3}{2}:\frac{9}{4};\,\,\,\frac{{48}}{{55}}:\frac{{12}}{{11}};\,\,\frac{7}{{10}}:\frac{7}{5};\,\,\frac{6}{7}:\frac{8}{7}\)</p>
<p><strong><em>Giải</em></strong></p>
<p>\(\begin{array}{l}\frac{3}{2}:\frac{9}{4} = \frac{2}{3}\,\,\\\frac{{48}}{{55}}:\frac{{12}}{{11}}\, = \frac{4}{5}\\\frac{7}{{10}}:\frac{7}{5} = \frac{1}{2}\\\frac{6}{7}:\frac{8}{7} = \frac{3}{4}\end{array}\)</p>
<p>Sắp xếp: \(\frac{1}{2} &lt; \frac{2}{3} &lt; \frac{3}{4} &lt; \frac{4}{5}\)</p>
<hr/>
<p><strong>Ví dụ 2:</strong> Viết phân số \(\frac{{14}}{{15}}\) dưới dạng thương của hai phân số có tử và mẫu là các số nguyên dương có một chữ số.</p>
<p><strong><em>Giải</em></strong></p>
<p>\(\frac{{14}}{{15}} = \frac{2}{3}:\frac{5}{7} = \frac{5}{2}:\frac{3}{7} = \frac{7}{3}:\frac{5}{2} = \frac{7}{5}:\frac{3}{2}.\)</p>
<hr/>
<p><strong>Ví dụ 3:</strong> Tính giá trị của biểu thức</p>
<p>\(A = \frac{{\frac{2}{3} + \frac{2}{5} - \frac{2}{9}}}{{\frac{4}{3} + \frac{4}{5} - \frac{4}{9}}}.\)</p>
<p><strong><em>Giải</em></strong></p>
<p>\(A = \frac{{\frac{2}{3} + \frac{2}{5} - \frac{2}{9}}}{{2.\left( {\frac{2}{3} + \frac{2}{5} - \frac{2}{9}} \right)}} = \frac{1}{2}\)</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<p><strong>Bài 1:</strong> Cho hai phân số \(\frac{8}{{15}}\) và \(\frac{{18}}{{35}}.\) Tìm số lớn nhất sao cho khi chia mỗi phân số này cho số đó ta được kết quả là số nguyên.</p>
<p><strong><em>Giải</em></strong></p>
<p>Gọi số lớn nhất phải tìm là \(\frac{a}{b}\) (a và b nguyên tố cùng nhau)</p>
<p>Ta có \(\frac{8}{{15}}:\frac{a}{b} = \frac{{8b}}{{15a}}.\) Để \(\frac{{8b}}{{15a}}\) là số nguyên ta phải có \(8b\,\, \vdots \,\,15a\) suy ra \(8\, \vdots \,a\) và \(b\,\, \vdots \,\,15\)</p>
<p>Tương tự, từ \(\frac{{18}}{{35}}:\frac{a}{b} = \frac{{18b}}{{35a}}\) ta cũng suy ra \(18\,\, \vdots \,\,a\) và \(b\,\, \vdots \,\,35\)</p>
<p>Để \(\frac{a}{b}\) là số lớn nhất, ta phải có:</p>
<p>a = ƯCLN(8;18) = 2</p>
<p>b = BCNN(15; 35) = 105</p>
<p>Phân số phải tìm là \(\frac{2}{{105}}\)</p>
<p>Thử lại: \(\frac{8}{{15}}\,:\,\frac{2}{{105}}\,\, = 28;\,\,\frac{{18}}{{35}}\,:\,\frac{2}{{105}} = 27\)</p>
<hr/>
<p><strong>Bài 2:</strong> Tìm hai số, biết rằng \(\frac{9}{{11}}\) của số này bằng \(\frac{6}{7}\) của số kia và tổng của hai số đó bằng 258.</p>
<p><strong><em>Giải</em></strong></p>
<p>Số thứ nhất bằng \(\frac{6}{7}:\frac{9}{{11}} = \frac{{22}}{{21}}\) số thứ hai, 258 chính là giá trị của \(\frac{{22}}{{21}} + 1 = \frac{{43}}{{21}}\) số thứ hai.</p>
<p>Số thứ hai là: \(258:\frac{{43}}{{21}} = 126\)</p>
<p>Số thứ nhất là: 258 – 126 = 132</p>
<hr/>
<p><strong>Bài 3:</strong>  Tích của hai phân số là \(\frac{3}{7}\) nếu thêm vào thừa số thứ nhất 2 đơn vị thì tích là \(\frac{{13}}{{21}}.\) Tìm hai phân số đó.</p>
<p><strong><em>Giải</em></strong></p>
<p>Tích mới hơn tích cũ là: \(\frac{{13}}{{21}} - \frac{3}{7} = \frac{4}{{21}}\)</p>
<p>Tích mới hơn tích cũ 2 lần phân số thứ hai</p>
<p> Vậy phân số thứ hai là \(\frac{4}{{21}}:2 = \frac{2}{{21}}\)</p>
<p>Phân số thứ nhất là \(\frac{3}{7}:\frac{2}{{21}} = \frac{9}{2}\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}