{% extends "pages/lop6/chuong-3-phan-so/base-lop6-chuong3.html" %}
{% block title %}Toán 6 Bài 5: Quy đồng mẫu số nhiều phân số{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 6 Bài 5: Quy đồng mẫu số nhiều phân số</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Ta đã biết cách đưa các phân số có mẫu âm về các phân số có mẫu dương bằng với phân số cũ. Vậy làm thế nào để đưa hai hay nhiều phân số về các phân số bằng với các phân số ban đầu và có cùng mẫu số thì bài tiếp theo chúng ta sẽ biết cách đưa các phân số về các phân số cùng mẫu bằng phương pháp <strong>Quy đồng mẫu số nhiều phân số</strong></p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Quy đồng mẫu hai phân số</h3>
</div>
<p>Xét hai phân số  \(\frac{3}{4}\) và  \(\frac{2}{5}\). Ta thấy 20 là một bội chung của 4 và 5. Ta sẽ tìm hai phân số có mẫu là 20 và lần lượt bằng \(\frac{3}{4}\) và \(\frac{2}{5}\)</p>
<p>Ta có: \(\frac{3}{4}=\frac{3.5}{4.5}=\frac{15}{20}\)  và  \(\frac{2}{5}=\frac{2.4}{5.4}=\frac{8}{20}\) . Cách làm này được gọi là <em>quy đồng mẫu hai phân số.</em></p>
<p>hai phân số \(\frac{3}{4}\) và  \(\frac{2}{5}\) cũng có thể được quy đồng mẫu với các mẫu chung khác chẳng hạn như: 40, 60, 80,....</p>
<p>Để cho đơn giản khi quy đồng mẫu hai phân số ta thường lấy mẫu chung là <strong>BCNN</strong> của các mẫu</p>
<div id="12">
<div id="12">
<h3>1.2. Quy đồng mẫu nhiều phân số</h3>
</div>
</div>
<p>Vì mọi phân số đều có thể viết dưới dạng phân số có mẫu dương nên ta có quy tắc: </p>
<p><strong><em>Muốn quy đồng mẫu nhiều phân số với mẫu dương ta làm như sau:</em></strong></p>
<p><strong>Bước 1: </strong>Tìm một bội chung của các mẫu (thường là <strong>BCNN</strong>) để làm mẫu chung</p>
<p><strong>Bước 2:</strong> Tìm thừa số phụ của mỗi mẫu (bằng cách chia mẫu chung cho từng mẫu).</p>
<p><strong>Bước 3: </strong>Nhân tử và mẫu của mỗi phân số với thừa số phụ tương ứng</p>
<p>Ví dụ: Quy đồng mẫu các phân số:  \(\frac{7}{15}\) và  \(\frac{13}{6}\)</p>
<p>-Tìm BCNN: BCNN (15,6)=30</p>
<p>- Tìm thừa số phụ:</p>
<p>30:15=2, 30:6=5</p>
<p>- Nhân tử và mẫu với thừa số phụ tương ứng</p>
<p>\(\frac{7}{15}=\frac{7.2}{15.2}=\frac{14}{30}\) ; \(\frac{13}{6}=\frac{13.5}{6.5}=\frac{65}{30}\)</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<div id="21">
<h3>2.1. Bài tập cơ bản</h3>
</div>
<p><strong>Bài 1: </strong>Quy đồng mẫu 2 phân số sau: \(\frac{2}{5};\frac{3}{7}\)</p>
<p><strong>Hướng dẫn:</strong></p>
<p>Ta có: BCNN (5;7)=35 nên  \(\frac{2}{5}=\frac{2.7}{5.7}=\frac{14}{35};\frac{3}{7}=\frac{3.5}{7.5}=\frac{15}{35}\)</p>
<p><strong>Bài 2: </strong>Quy đồng mẫu các phân số sau: \(\frac{7}{3};\frac{5}{6};\frac{3}{4}\)</p>
<p><strong>Hướng dẫn:</strong></p>
<p>BCNN (3;6;4)=12 nên \(\frac{7}{3}=\frac{7.4}{3.4}=\frac{28}{12};\frac{5}{6}=\frac{5.2}{6.2}=\frac{10}{12};\frac{3}{4}=\frac{3.3}{4.3}=\frac{9}{12}\)</p>
<div id="22">
<h3>2.2. Bài tập nâng cao</h3>
</div>
<p><strong>Bài 1: </strong>Rút gọn 2 biểu thức và quy đồng:</p>
<p>\(\frac{2^{5}.7+2^{5}}{2^{5}.5^{2}-2^{5}.3}\) và \(\frac{3^{4}.5-3^{6}}{3^{4}.13+3^{4}}\)</p>
<p> </p>
<p><strong>Hướng dẫn:</strong></p>
<p>Ta có: </p>
<p>\(\frac{2^{5}.7+2^{5}}{2^{5}.5^{2}-2^{5}.3}=\frac{2^{5}.(7+1)}{2^{5}.(5^{2}-3)}=\frac{8}{22}=\frac{4.2}{11.2}=\frac{4}{11}\)</p>
<p>\(\frac{3^{4}.5-3^{6}}{3^{4}.13+3^{4}}=\frac{3^{4}.(5-3^{2})}{3^{4}.(13+1)}=\frac{-4}{14}=\frac{(-2).2}{7.2}=\frac{-2}{7}\)</p>
<p>BCNN (7;11)=77 Nên </p>
<p>\(\frac{4}{11}=\frac{4.7}{11.7}=\frac{28}{77}\) và \(\frac{-2}{7}=\frac{(-2).11}{7.11}=\frac{-22}{77}\)</p>
<p><strong>Bài 2: </strong>Quy đồng 2 biểu thức sau: \(\frac{a+b}{a^{2}}; \frac{a}{b(a+b)}; a,b \in Z; a,b,(a+b)\neq 0\)</p>
<p><strong>Hướng dẫn:</strong></p>
<p>\(BC (a^{2};b.(a+b))=a^{2}.b.(a+b)\) Nên:</p>
<p>\(\frac{a+b}{a^{2}}=\frac{(a+b).b.(a+b)}{a^{2}.b.(a+b)}=\frac{b.(a+b)^{2}}{a^{2}.b.(a+b)}\)</p>
<p>\(\frac{a}{b.(a+b)}=\frac{a.a^{2}}{b.(a+b).a^{2}}=\frac{a^{3}}{a^{2}.b.(a+b)}\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}