{% extends "pages/lop6/chuong-3-phan-so/base-lop6-chuong3.html" %}
{% block title %}Toán 6 Bài 14: Tìm giá trị phân số của một số cho trước{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 6 Bài 14: Tìm giá trị phân số của một số cho trước</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Bài học sẽ giúp các em tìm hiểu các vấn đề liên quan đến<strong> Tìm giá trị phân số của một số cho trước</strong>, chia hết cùng các dạng toán liên quan và các ví dụ minh họa có hướng dẫn giải sẽ giúp các em dễ dàng nắm được nội dung bài học.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Quy tắc</h3>
</div>
<p>Muốn tìm \(\frac{m}{n}\) của số b cho trước, ta tính \(b.\frac{m}{n}\,\,(m,n\, \in \,\mathbb{N},\,n\, \ne 0)\)</p>
<p><strong>Ví dụ 1:</strong> Lớp 6A có 45 học sinh, trong đó \(\frac{2}{3}\) số học sinh thích bóng đá, 60% thích đá cầu, \(\frac{2}{9}\) thích chơi bóng bàn và \(\frac{4}{{15}}\) thích chơi bóng chuyền. Tính số học sinh lớp 6A thích đá bóng, đá cầu, bóng bàn, bòng chuyền.</p>
<p><strong><em>Giải</em></strong></p>
<p>Để tính số học sinh lớp 6A thích đá bóng, ta phải tìm \(\frac{2}{3}\) của 45 học sinh.</p>
<p>Muốn thế, ta chia 45 cho 3 rồi nhân kết quả với 2, tức là ta nhân 45 với \(\frac{2}{3}\)</p>
<p>Ta có: \(45.\frac{2}{3} = 30\) (học sinh)</p>
<p>Cũng vậy, để tính số học sinh thích đá cầu, ta phải tìm 60% của 45 học sinh.</p>
<p>Như thế, ta phải chân 45 với 60% được:</p>
<p>\(45.60\%  = 45.\frac{{60}}{{100}} = 27\) (học sinh)</p>
<hr/>
<p><strong>Ví dụ 2:</strong> Tìm</p>
<p>a. \(\frac{2}{5}\) của 40</p>
<p>b. \(\frac{5}{6}\) của 48000 đồng</p>
<p>c. \(4\frac{1}{2}\) của \(\frac{2}{5}\) kg</p>
<p><strong><em>Giải</em></strong></p>
<p>a. \(\frac{2}{5}\) của 40 là 16</p>
<p>b. \(\frac{5}{6}\) của 48000 đồng là 40000 đồng</p>
<p>c. \(4\frac{1}{2}\) của \(\frac{2}{5}\) kg là 1,8 kg</p>
<hr/>
<p><strong>Ví dụ 3:</strong> Một quả cam nặng 300g. Hỏi \(\frac{3}{4}\) quả cam nặng bao nhiêu?</p>
<p><strong><em>Giải</em></strong></p>
<p>\(\frac{3}{4}\) quả cam</p>
<p>\(300{\rm{ }}.\frac{3}{4} = \) 225g</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<p><strong>Bài 1:</strong> Bốn thửa ruộng thu hoạch được tất cả 1 tấn thóc. Số thóc thu hoạch ở ba thửa ruộng đầu lần lượt bằng \(\frac{1}{4};\,0,4\) và 15% tổng số thóc thu hoạch ở cả bốn thửa. Tính khối lượng thóc thu hoạch được ở thửa thứ tư.</p>
<p><strong><em>Giải</em></strong></p>
<p>Phân số chỉ số thóc thu hoạch được ở thửa thứ tư:</p>
<p>\(1 - \left( {\frac{1}{4} + \frac{2}{5} + \frac{{15}}{{100}}} \right) = \frac{1}{5}\) (tổng số thóc)</p>
<p>Khối lượng thóc hoạch được ở thửa thứ tư:</p>
<p>\(1000kg.\frac{1}{5} = 200kg\)</p>
<hr/>
<p><strong>Bài 2:</strong> \(\frac{2}{5}\) của số a là 480. Tìm 12,5% của số a.</p>
<p><strong><em>Giải</em></strong></p>
<p>Số \(a = 480:\frac{2}{5} = 1200\)</p>
<p>12,5% của số a là 1200 . 12,5% = 150.</p>
<hr/>
<p><strong>Bài 3:</strong> Một số có ba chữ số, chữ số hàng trăm là 4.</p>
<p>Nếu chuyển chữ số 4 xuống sau chữ số hàng đơn vị thì được số mới bằng \(\frac{3}{4}\) số ban đầu. Tìm số ban đầu.</p>
<p><strong><em>Giải</em></strong></p>
<p>Gọi số phải tìm là \(\overline {4ab} \). Theo đề bài, ta có:</p>
<p>\(\overline {ab4}  = \frac{3}{4}.\overline {4ab} \) hay \(4.\overline {ab4}  = 3.\overline {4ab} \)</p>
<p>Ta lần lượt có:</p>
<p>\(4.(10\overline {ab}  + 4) = 3.(400 + \overline {ab} )\)</p>
<p>\(40\overline {ab}  + 16 = 1200 + 3\overline {ab} \)</p>
<p>\(37\overline {ab}  = 1184\)</p>
<p>\(\overline {ab}  = 32\)</p>
<p>Số ban đầu là 432</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}