{% extends "pages/lop7/chuong2/base-lop7-chuong2.html" %}
{% block title %}Toán 7 Bài 7: Đồ thị của hàm số y = ax (a ≠ 0){% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 7 Bài 7: Đồ thị của hàm số y = ax (a ≠ 0)</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Nội dung bài học sẽ giới thiệu đến các em dạng đầu tiên và cơ bản nhất của đồ thị hàm số ở chương trình <strong>Toán</strong> phổ thông là <strong>Đồ thị của hàm số y=ax (a≠0). </strong>Cùng với những bài tập minh họa có hướng dẫn giải, sẽ giúp các em dễ dàng nắm được các tính chất và dạng toán liên quan đến đồ thị hàm số này.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Đồ thị của hàm số</h3>
</div>
<p>Đồ thị của hàm số \(y=f(x)\) là tập hợp tất cả các điểm biểu diễn các cặp giá trị tương ứng (x;y) trên mặt phẳng toạ độ.</p>
<div id="12">
<h3>1.2. Đồ thị của hàm số \(y = {\rm{ax(a}} \ne {\rm{0)}}\)</h3>
</div>
<ul>
<li>Đồ thị của hàm số \(y = {\rm{ax}}\,\,\,{\rm{(a}} \ne {\rm{0)}}\) là một đường thẳng đi qua gốc toạ độ.</li>
</ul>
<p style="text-align:center"><img alt="a&gt;0" src="https://hoc247.net/fckeditorimg/upload/images/a(21).png" style="height:246px; width:300px"/></p>
<p style="text-align:center">Trường hợp: a&gt;0</p>
<p style="text-align:center"><img alt="a&lt;0" src="https://hoc247.net/fckeditorimg/upload/images/b(20).png" style="height:246px; width:300px"/></p>
<p style="text-align:center">Trường hợp: a&lt;0</p>
<ul>
<li>Vì đồ thị của hàm số y = ax là một đường thẳng đi qua gốc toạ độ nên ta chỉ cần xác định thêm một điểm A (thường cho x=1; y=a) khác điểm gốc O. Vẽ đường thẳng OA ta được đồ thị của hàm số y = ax.</li>
</ul>
<hr/>
<h4><u>Ví dụ 1:</u></h4>
<p>Xác định hệ số a của hàm số y = ax trong mỗi trường hợp sau:</p>
<p>a. Đồ thị của hàm số đi qua điểm A(1;3).</p>
<p>b. Đồ thị của hàm số đi qua điểm B(-2;1).</p>
<p>Cho biết hàm số trong mỗi trường hợp trên đi qua góc phần tư nào của hệ trục toạ độ, tại sao?</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a. Hàm số đi qua điểm A(1;3) nên ta có:</p>
<p>\(3 = a.1 \Rightarrow a = 3\)</p>
<p>Vậy \(y =3x\).</p>
<p>b. Tương tự hàm số đi qua điểm B(-2; 1), ta có:</p>
<p>\( - 2 = a.1 \Rightarrow a =  - \frac{1}{2}\)</p>
<p>Vậy \(y =  - \frac{1}{2}\).</p>
<p>Đồ thị hàm số y=3x qua góc phần tư I và III (vì hai toạ độ cùng dấu (cùng dương, cùng âm)).</p>
<p>Đồ thị hàm số \(y =  - \frac{1}{2}x\) qua góc phần tư II và IV (vì hai toạ độ trái dấu).</p>
<hr/>
<h4><u>Ví dụ 2:</u></h4>
<p>Vẽ đồ thị của hàm số \(y = \left\{ \begin{array}{l}3x\,\,\,voi\,\,\,x \ge 0\\ - \frac{1}{3}x\,\,voi\,\,x &lt; 0\end{array} \right.\)</p>
<h4><u>Hướng dẫn giải:</u></h4>
<ul>
<li>Với \(x \ge 0\):</li>
</ul>
<p>Cho x=0 được \(y = 0 \Rightarrow O(0;0)\) thuộc đồ thị</p>
<p>Cho x=1 được \(y = 3 \Rightarrow A(1;3)\) thuộc đồ thị</p>
<ul>
<li>Với \(x &lt; 0\):</li>
</ul>
<p>Cho x=-1 được \(y = \frac{1}{3} \Rightarrow B\left( { - 1;\frac{1}{3}} \right)\) thuộc đồ thị</p>
<p>Cho x=-3 được \(y = 1 \Rightarrow C( - 3;1)\) thuộc đồ thị</p>
<p>Vẽ đồ thị: Nối A, O,B, C ta được đồ thị là đường gấp khúc AOC.</p>
<h4 style="text-align:center"><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/VD2(3).png" style="height:276px; width:400px"/></h4>
<p> </p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<h4><u>Bài 1:</u></h4>
<p>Cho hình vẽ bên, điểm M có tọa độ \(M\left( {{x_0};{y_0}} \right)\) với \({x_0},{y_0} \in Q.\) Hãy tính tỉ số \(\frac{{{y_0} + 3}}{{{x_0} - 2}}.\)</p>
<p style="text-align:center"><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/bai%201.png" style="height:296px; width:300px"/></p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Đường thẳng OA chứa đồ thị hàm số y=ax điểm A(-2;3) thuộc đồ thị hàm số đó nên ta có 3=-2a, suy ra \(a =  - \frac{3}{2}.\)</p>
<p>Vậy hàm số được cho bởi công thức \(y =  - \frac{3}{2}x.\)</p>
<p>M và A là hai điểm thuộc đồ thị của hàm số nên hoành độ và tung độ của chúng là những đại lượng tỉ lệ thuận, từ đó ta có:</p>
<p>\(\frac{{{y_0}}}{{{x_0}}} = \frac{3}{{ - 2}} = \frac{{{y_0} + 3}}{{{x_0} - 2}}\)</p>
<p>Vậy \(\frac{{{y_0} + 3}}{{{x_0} - 2}} =  - \frac{3}{2}\).</p>
<hr/>
<h4><u>Bài 2:</u></h4>
<p>a. Vẽ đồ thị hàm số \(y = \frac{1}{3}x\).</p>
<p>b. Gọi A là điểm trên đồ thị. Tìm toạ độ điểm A, biết \({y_A} = 2.\)</p>
<p>c. Gọi B là điểm trên đồ thị. Tìm toạ độ điểm B biết \({y_B} + 2{x_B} = 5\).</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p style="text-align:center"><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/b%C3%A0i%202(1).png" style="height:302px; width:400px"/></p>
<p>a. Đồ thị hàm số \(y = \frac{1}{3}x\) đi qua hai điểm O(0;0) và C(3;1).</p>
<p>b. A là điểm trên đồ thị nên \({y_A} = \frac{1}{3}{x_A}\) mà \({y_A} = 2\) nên \(2 = \frac{1}{3}{x_A} \Rightarrow {x_A} = 6\)</p>
<p>Vậy A(6;2).</p>
<p>c. B là điểm trên đồ thị nên \({y_B} = \frac{1}{3}{x_B}\) mà \({y_B} + 2{x_B} = 5\)</p>
<p>Nên \(\frac{1}{3}{x_B} + 2{x_B} = 5 \Rightarrow \frac{7}{3}{x_B} = 5\).</p>
<p>\( \Rightarrow {x_B} = \frac{{15}}{7}\) và \({y_B} = \frac{1}{3}.\frac{{15}}{7} = \frac{5}{7}\)</p>
<p>Vậy \(B\left( {\frac{{15}}{7};\frac{5}{7}} \right)\).</p>
<hr/>
<h4><u>Bài 3:</u></h4>
<p>Cho hàm số y=f(x) thoả mãn:</p>
<p>a. f(0)=0.</p>
<p>b. \(\frac{{f({x_1})}}{{{x_1}}} = \frac{{f({x_2})}}{{{x_2}}}\) với \({x_1},{x_2} \in R\).</p>
<p>Chứng minh rằng f(x)=ax với a là hằng số.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Giả sử ta có f(x)=ax với a là hằng số. Cho x=1 ta được f(1)=a. Nên ta đặt a=f(1). Ta chứng minh rằng f(x)=ax với mọi số thực x.</p>
<p>Thật vậy:</p>
<ul>
<li>Nếu x=0 thì theo giả thiết:</li>
</ul>
<p>f(0)=0=a.0</p>
<ul>
<li>Nếu \(x \ne 0\) thì theo giả thiết ta có \(\frac{{f(x)}}{x} = \frac{{f(1)}}{1} = a\)</li>
</ul>
<p>Suy ra f(x)=ax</p>
<p>Vậy f(x)=ax với mọi  \(x \in R.\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}