{% extends "pages/lop7/chuong2/base-lop7-chuong2.html" %}
{% block title %}Toán 7 Bài 2: Một số bài toán về đại lượng tỉ lệ thuận{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 7 Bài 2: Một số bài toán về đại lượng tỉ lệ thuận</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Ở bài học trước các em đã được tìm hiểu về <strong>Đại lượng tỉ lệ thuận</strong>, bài học này sẽ giới thiệu những dạng toán điển hình liên quan đến khái niệm này thông qua những bài toán cụ thể.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<p>Để giải các bài toán về đại lượng tỉ lệ thuận ta vận dụng các kiến thức sau:</p>
<ul>
<li>Tính chất của đại lượng tỉ lệ thuận: \(\frac{{{y_1}}}{{{x_1}}} = \frac{{{y_2}}}{{{x_2}}} = \frac{{{y_3}}}{{{x_3}}}...\)</li>
<li>Tính chất của dãy số bằng nhau: \(\frac{{{y_1}}}{{{x_1}}} = \frac{{{y_2}}}{{{x_2}}} = \frac{{{y_1} + {y_2}}}{{{x_1} + {x_2}}} = \frac{{{y_1} - {y_2}}}{{{x_1} - {x_2}}} = ....\)</li>
</ul>
<hr/>
<h4><u>Ví dụ 1:</u></h4>
<p>Biết các số x, y, z tỉ lệ thuận với các số 5, 3,2 và x – y + z = 8. Tìm các số đó.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Ta có: \(\frac{x}{5} = \frac{y}{3} = \frac{z}{2}\)</p>
<p>Áp dụng tính chất của dãy tỉ số bằng nhau</p>
<p>\(\frac{x}{5} = \frac{y}{3} = \frac{z}{2} = \frac{{x - y + 2}}{{5 - 3 + 2}} = \frac{8}{4} = 2\)</p>
<p>Vậy:</p>
<p>x = 2.5 = 10</p>
<p>y= 2.3 = 6</p>
<p>z= 2.2 =4.</p>
<hr/>
<h4><u>Ví dụ 2:</u></h4>
<p>Ba lớp 7A, 7B, 7C cùng tham gia lao động trồng cây. Số cây mỗi lớp trồng tỉ lệ với các số 3; 5; 8 và hai lần số cây của lớp 7A cộng với bốn lần số cây của lớp 7B thì hơn số cây của lớp 7C là 108 cây. Tính số cây mỗi lớp trồng được.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Gọi x, y, z là số cây trồng được của 3 lớp 7A, 7B, 7C. Theo đề bài ta có:</p>
<p>\(\frac{x}{3} = \frac{y}{5} = \frac{z}{8}\) và 2x + 4y – z = 108</p>
<p>Suy ra \(\frac{x}{3} = \frac{y}{5} = \frac{z}{8} = \frac{{2x + 4y - z}}{{6 + 20 - 8}} = \frac{{108}}{{18}} = 6\)</p>
<p>Do đó:</p>
<p>\(\begin{array}{l}\frac{x}{3} = 6 \Rightarrow x = 18\\\frac{y}{5} = 6 \Rightarrow y = 30\\\frac{z}{8} = 6 \Rightarrow z = 48\end{array}\)</p>
<p>Vậy lớp 7A trồng được 18 cây; 7B trồng được 30 cây; 7C trồng được 48 cây.</p>
<hr/>
<h4><u>Ví dụ 3:</u></h4>
<p>Chia một số a thành ba phần A, B, C theo tỷ lệ 7; 6; 5. Sau đó chia số a cũng thành ba phần A’, B’, C’ nhưng lại theo tỷ kệ 6; 5; 4.</p>
<p>a. Hỏi so với lần chia đầu, thì lần chia sau A’, B’, C’ tăng hay giảm.</p>
<p>b. Biết rằng có một phần tăng 1200. Tính số a và A’, B’, C’ trong lần chia sau.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a. Trong lần đầu ta có:</p>
<p>\(\frac{A}{7} = \frac{B}{6} = \frac{C}{5}\) và A + B + C = a</p>
<p>Suy ra \(\frac{A}{7} = \frac{B}{6} = \frac{C}{5} = \frac{{A + B + C}}{{7 + 6 + 5}} = \frac{a}{{18}}\)</p>
<p>Nên \(A = \frac{{7a}}{{18}};\,\,\,\,B = \frac{{6a}}{{18}};\,\,\,\,\,C = \frac{{5a}}{{18}}\)</p>
<p>Trong lần chia sau, ta có:</p>
<p>\(\frac{{A'}}{6} = \frac{{B'}}{5} = \frac{{C'}}{4}\) và  A’ + B’ + C’ = a</p>
<p>Suy ra \(\frac{{A'}}{6} = \frac{{B'}}{5} = \frac{{C'}}{4} = \frac{{A' + B' + C'}}{{6 + 5 + 4}} = \frac{a}{{15}}\)</p>
<p>Nên \(A' = \frac{{6a}}{{15}};\,\,\,\,B' = \frac{{5a}}{{15}};\,\,\,\,\,C' = \frac{{4a}}{{15}}\)</p>
<p>Ta có:</p>
<p>\(\begin{array}{l}\frac{{7a}}{{18}} = \frac{{35a}}{{90}};\,\,\,\,\,\,\frac{{6a}}{{15}} = \frac{{36a}}{{90}} \Rightarrow \frac{{7a}}{{18}} &lt; \frac{{6a}}{{15}}\\\frac{{6a}}{{18}} = \frac{a}{3};\,\,\,\frac{{5a}}{{15}} = \frac{a}{3} \Rightarrow \frac{{6a}}{{18}} = \frac{{5a}}{{15}}\\\frac{{5a}}{{18}} = \frac{{25a}}{{90}};\,\,\,\frac{{4a}}{{15}} = \frac{{24a}}{{90}} \Rightarrow \frac{{5a}}{{18}} &gt; \frac{{4a}}{{15}}\end{array}\)</p>
<p>Vậy so với lần chia đầu thì lần chia sau A’ tăng, B’ vẫn giữ nguyên và C’ giảm.</p>
<p>b. Ta có A’ tăng 1200.</p>
<p>Nên:</p>
<p>A’ – A = 1200 hay \(\frac{{36a}}{{90}} = \frac{{35a}}{{90}} = 1200\)</p>
<p>Do đó: \(\frac{a}{{90}} = 1200\)</p>
<p>Vậy a = 1200.90=108.000</p>
<p>Do đó:</p>
<p>\(\begin{array}{l}A' = \frac{{6.108000}}{{15}} = 34200\\B' = \frac{{5.108000}}{{15}} = 36000\\C' = \frac{{6.108000}}{{15}} = 28800\end{array}\).</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<h4><u>Bài 1:</u> </h4>
<p>Tìm số có ba chữ số biết rằng số đó là bội của 18 và các chữ số của nó tỷ lệ theo 1:2:3.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Gọi a, b, c là các chữ số của số có ba chữ số cần tìm. Vì mỗi chữ số a, b, c không vượt quá 9 và ba chữ số a, b, c không thể đồng thời bằng 0 vì khi đó ta không được số có ba chữ số nên  \(1 \le a + b + c \le 27\)</p>
<p>Mặt khác số phải tìm là bội của 18 nên a + b + c = 9 hoặc a + b + c = 18 hoặc a + b + c =27.</p>
<p>Theo giả thiết ta có: \(\frac{a}{1} = \frac{b}{2} = \frac{c}{3} = \frac{{a + b + c}}{6}\) do đó \((a + b + c)\,\, \vdots \,\,6\)</p>
<p>Nên \(a{\rm{ }} + {\rm{ }}b{\rm{ }} + {\rm{ }}c{\rm{ }} = {\rm{ }}18 \Rightarrow \frac{a}{1} = \frac{b}{2} = \frac{c}{3} = \frac{{18}}{6} = 3\)</p>
<p>Suy ra  a = 3; b = 6; c = 9.</p>
<p> Vì số pải tìm chia hết cho 18 nên chữ số hàng đơn vị của nó phải là số chẵn.</p>
<p>Vậy các số phải tìm là: 396; 936.</p>
<hr/>
<h4><u>Bài 2:</u> </h4>
<p>Chia số 210 thành bốn phần sao cho phần thứ nhất và phần thứ hai tỉ lệ với 2 và 3, phần thứ hai và phần thứ ba tỉ lệ với 4 và 5, phần thứ ba và phần thứ tư tỉ lệ với 6 và 7.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Gọi bốn phần phải tìm là x, y, z, t</p>
<p>Ta có:</p>
<p> \(\begin{array}{l}\frac{x}{y} = \frac{2}{3} = \frac{{16}}{{24}} \Rightarrow \frac{x}{{16}} = \frac{y}{{24}}\\\frac{y}{z} = \frac{4}{3} = \frac{{24}}{{30}} \Rightarrow \frac{y}{{24}} = \frac{z}{{30}}\\\frac{z}{t} = \frac{6}{7} = \frac{{30}}{{35}} \Rightarrow \frac{z}{{30}} = \frac{t}{{35}}\end{array}\)</p>
<p>Nên \(\frac{x}{{16}} = \frac{y}{{24}} = \frac{z}{{30}} = \frac{t}{{35}} = \frac{{x + y + z + t}}{{16 + 24 + 30 + 35}} = \frac{{210}}{{105}} = 2\).</p>
<p>Do đó:</p>
<p>\(\begin{array}{l}\frac{x}{{16}} = 2 \Rightarrow x = 32\\\frac{y}{{24}} = 2 \Rightarrow y = 48\\\frac{z}{{30}} = 2 \Rightarrow z = 60\\\frac{t}{{35}} = 2 \Rightarrow t = 70\end{array}\).</p>
<hr/>
<h4><u>Bài 3:</u> </h4>
<p>Nếu \(\frac{1}{4}\) của 20 là 4 thì \(\frac{1}{3}\) của 10 sẽ là bao nhiêu?</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Ta có \(\frac{1}{4}\)của 20 là 5, nhưng theo giả thiết số này tương ứng với 4</p>
<p>\(\frac{1}{3}\)của 10 là \(\frac{{10}}{3}\) theo giả thiết trên thì số \(\frac{{10}}{3}\) này phải ứng với số x mà ta phải tìm.</p>
<p>Vì số 5 và \(\frac{{10}}{3}\) tương ứng với 4 và x là hai đại lượng tỉ lệ thuận nên:</p>
<p>\(\frac{5}{{\frac{{10}}{3}}} = \frac{4}{x} \Rightarrow x = \frac{{\frac{{10}}{3}.4}}{5} = \frac{8}{3}\)</p>
<p>Vậy \(x = \frac{8}{3} = 2\frac{2}{3}\).</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}