{% extends "pages/lop6/chuong-1-on-tap-va-bo-tuc-ve-so-tu-nhien/base-lop6-chuong1.html" %}
{% block title %}Toán 6 Bài 18: Bội chung nhỏ nhất{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 6 Bài 18: Bội chung nhỏ nhất</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Bài học sẽ giúp các em đi dâu tìm hiểu các vấn đề liên quan đến<strong> Bội chung</strong>,<strong> Bội</strong> <strong>chung nhỏ nhất</strong>, tính chất chia hết cùng các dạng toán liên quan và các ví dụ minh họa có hướng dẫn giải sẽ giúp các em dễ dàng nắm được nội dung bài học.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Bội chung</h3>
</div>
<p><strong>Ví dụ 1:</strong> Nhận xét rằng, các số 0, 6, 12, 18,… vừa là bội của 3 vừa là bội của 6, khi đó ta nói “chúng là bội chung của 3 và 6”.</p>
<p>Từ đó, ta có định nghĩa:</p>
<p>Cho hai số a và b. Nếu có một số d thoả mãn:</p>
<p>\(d\,\, \vdots \,\,a\) và \(d\,\, \vdots \,\,b\)</p>
<p>thì d được gọi là bội chung của a và b.</p>
<p>Tập hợp các bội của hai số a và b được kí hiệu là BC(a, b)</p>
<p><strong><u>Chú ý: </u></strong></p>
<p>Ta cần chú ý tới:</p>
<p>* Nếu \(x \in BC(a,b,c,...)\) thì \(x\,\, \vdots \,\,a,\,x\,\, \vdots \,\,b,\,x\,\, \vdots \,\,c,...\)</p>
<p>* \(BC(a,b) = B(a)\,\, \cap \,\,B(b)\)</p>
<div id="12">
<h3>1.2. Bội chung nhỏ nhất</h3>
</div>
<p><strong>Ví dụ 2:</strong> Ta có</p>
<p>B(6) = {0, 6, 12, 18, 24, 30,…}</p>
<p>B(8) = {0, 8, 16, 24, 32, 45,…}</p>
<p>\( \Rightarrow \) BC(6, 8) = {0, 24, 48,…}</p>
<p>khi đó, số nhỏ nhất khác 0 trong tập hợp BC(6, 8) là 24. Ta nói 24 là bội chung nhỏ nhất của 6 và 8.</p>
<p>Từ đó, ta có định nghĩa:</p>
<p>Bội chung nhỏ nhất của a, b là số nhỏ nhất khác 0 trong tập hợp các bội chung của a, b. Kí hiệu BCNN(a, b).</p>
<p><strong>Nhận xét: </strong></p>
<p>* BCNN(a, 1) = a.</p>
<p>* BCNN(a, b, 1) = BCNN(a, b).</p>
<p>* Mọi bội chung của a va b đều là BCNN(a, b).</p>
<div id="13">
<h3>1.3. Cách tìm BCNN</h3>
</div>
<p>Bài toán: Tìm BCNN(a, b, c,…)</p>
<p>Phương pháp giải</p>
<p>Ta thực hiện theo ba bước sau:</p>
<p><em>Bước 1:</em> Phân tích các số ra thừa số nguyên tố.</p>
<p><em>Bước 2:</em> Chọn ra các thừa số chung và riêng.</p>
<p><em>Bước 3:</em> Lập tính các thừa số đã chọn, mỗi thừa số lấy với số mũ lớn nhất của nó. Tích đó là BCNN phải tìm.</p>
<p><strong><u>Chú ý:</u></strong></p>
<p>Ta có thể tìm BCNN bằng cách tính sau:</p>
<p>ƯCLN(a, b) . BCNN(a,b) = a.b</p>
<p><strong>Ví dụ 3:</strong> Hãy xác định:</p>
<p>a. BCNN(8,18,28)</p>
<p>b. BCNN(9, 26)</p>
<p>c. BCNN(150, 25, 75)</p>
<p><strong>Giải</strong></p>
<p>Ta lần lượt thực hiện:</p>
<p>* Phân tích các số ra thừa số nguyên tố:</p>
<p>\(\begin{array}{l}8 = {2^3}\\18 = {2.3^2}\\28 = {2^2}.7\end{array}\)</p>
<p>Chọn ra các thừa số nguyên tố chung và riêng: 2, 3, 7.</p>
<p>Thừa số 2 có số mũ lớn nhất là 3, 3 có số mũ lớn nhất là 2 và 7 có số mũ lớn nhất là 1.</p>
<p>Khi đó:</p>
<p>\(BCNN\left( {8,{\rm{ }}18,{\rm{ }}28} \right) = {2^3}{.3^2}.7 = 504\)</p>
<p>b. Nhận xét rằng:</p>
<p>WCLN(8, 19) = 1</p>
<p>Do đó, suy ra:</p>
<p>BCNN(9, 26) = 9 . 26 = 243.</p>
<p>c. Nhận xét rằng:</p>
<p>\(\begin{array}{l}150\,\,\, \vdots \,\,\,25\\150\,\,\, \vdots \,\,\,75\end{array}\)</p>
<p>Do đó, suy ra:</p>
<p>BCNN(150, 25, 75) = 150</p>
<p><strong><u>Chú ý:</u></strong></p>
<p>Ta cần chú ý tới:</p>
<p>* Nếu (a, b) = 1 thì BCNN(a, b) = a.b</p>
<p>* Nếu \(a \vdots b\) và \(a \vdots c\) thì BCNN(a,b,c,…)=a.</p>
<p>* Muốn tìm bội chung của các số đã cho ta có thể tìm các bội của BCNN của các số đó.</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<p><strong>Bài 1:</strong> Tìm số tự nhiên nhỏ nhất sao cho khi chia cho 3 thì dư 2, khi chia cho 7 thì dư 6, khi chia cho 25 thì dư 24.</p>
<p><strong><em>Giải</em></strong></p>
<p>Giả sử a là số phải tìm.</p>
<p>Vì a chia 3 dư 2, chia 7 dư 6 và chia 25 dư 24 nên a + 1 chia hết cho 2, 7, 25.</p>
<p>Do đó</p>
<p>a = BCNN(3, 7, 25)</p>
<p>Ta có:</p>
<p>BCNN(3,7,25) \({3.5^2} = 7 = 525\)</p>
<p>Vậy số cần tìm a = 254.</p>
<hr/>
<p><strong>Bài 2:</strong> Có ba chiếc hộp hình vuông: Hộp màu đỏ cao 8cm, hộp màu xanh cao 7cm, hộp màu vàng cao 12cm. Người ta xếp thành ba chông bằng nhau, mỗi chồng một màu. Hỏi chiều cao nhỏ nhất của chồng hộp đó.</p>
<p><strong><em>Giải</em></strong></p>
<p>Giả sử chiều cao nhỏ nhất của mỗi chồng là a (cm)</p>
<p>Ta có:</p>
<p>a = BCNN(7, 8, 12) = \({2^3}.3.7 = 168\) (cm)</p>
<p>Vậy chiều cao nhỏ nhất của chồng hộp là 168cm.</p>
<hr/>
<p><strong>Bài 3:</strong> Tìm số tự nhiên a. Biết số đó chia hết cho 7 và khi chia cho 2, cho 3, cho 4, cho 5, cho 6 đều dư 1 và a &lt; 400.</p>
<p>Giải</p>
<p>Ta có:</p>
<p>a – 1 = BC(2, 3, 4, 5, 6)</p>
<p>\(\begin{array}{l} \Rightarrow a - 1 \in {\rm{\{ }}60,120,180,240,300,360\} \\ \Rightarrow a \in {\rm{\{ }}61,121,181,241,301,361\} \end{array}\)</p>
<p>Do \(a \vdots 7\) nên a = 301</p>
<p>Vậy a = 301</p>
<p> </p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}