{% extends "pages/lop6/chuong-1-on-tap-va-bo-tuc-ve-so-tu-nhien/base-lop6-chuong1.html" %}
{% block title %}Toán 6 Bài 16: Ước chung và bội chung{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 6 Bài 16: Ước chung và bội chung</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Ờ các bài trước các em đã được tìm hiểu về khái niệm<strong> ước </strong>và<strong> bội</strong>. Bài học này sẽ tiếp tục giới thiệu đến các em khái niệm <strong>ước chung</strong> và <strong>bội chung</strong>, cùng với đó là phương pháp tìm<strong> ước chung lớn nhất </strong>- <strong>bội chung nhỏ nhất </strong>của hai hay nhiều số trước khi được tìm hiểu sâu hơn ở các bài học sau.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Ước chung của hai hay nhiều số là ước của mọi số đó</h3>
</div>
<p>Nếu \(\left. \begin{array}{l}a \vdots x\\b \vdots x\\c \vdots x\end{array} \right\} \Rightarrow x \in \) ƯC(a;b;c)</p>
<p><strong>Ví dụ 1: </strong></p>
<p>Ư(8) = {1; 2; 4; 8}</p>
<p>Ư(12) = {1; 2; 3; 4; 12}</p>
<p>ƯC(8; 12) = {1; 2; 4}</p>
<p>Nếu biểu diễn tập hợp A = Ư(8) và tập hợp B = Ư(12) thì ƯC (8;12)= \(A \cap B = {\rm{\{ }}1;2;4\} \)</p>
<p>Trong các ước chung của hai hay nhiều số thì có một số lớn nhất được gọi là số ước chung lớn nhất. Kí hiệu ƯCLN.</p>
<p>Cách tìm ƯCLN của hai hay nhiều số:</p>
<p>- Bước 1: Phân tích mỗi số ra thừa số nguyên tố</p>
<p>- Bước 2: Chọn ra các thừa số nguyên tố chung.</p>
<p>- Bước 3: Lập một tích các thừa số vừa chọn, mỗi thừa số lấy với số mũ nhỏ nhất.</p>
<p>Tích tìm được là ƯCLN cần tìm</p>
<p><strong>Ví dụ 2:</strong> Tìm ƯCLN (48; 168; 360).</p>
<p>Ta có: \(48 = {2^3}.3,\,\,\,168 = {2^3}.3.7,\,\,360\, = {2^3}{.3^2}.5\)</p>
<p>ƯCLN (48; 168; 360) = \({2^3}.3 = 24\)</p>
<div id="12">
<h3>1.2. Bội chung của hai hay nhiều số là bội tất cả các số đó.</h3>
</div>
<p>\(\left. \begin{array}{l}x \vdots a\\x \vdots b\\x \vdots c\end{array} \right\} \Rightarrow x \in BC(a;b;c)\)</p>
<p><strong>Ví dụ 3: </strong></p>
<p>B(6) = {0; 6; 12; 18; 24; 30; 36; 42; 48;…}</p>
<p>B(8) = {0; 8; 16; 24; 32; 40; 48; …}</p>
<p>BC(6 ;8) = {0; 24; 48; 72;…}</p>
<p>\(BC(6;8) = B(6)\,\,\, \cap \,\,B(8)\,\, = \,\,{\rm{\{ }}0;\,\,\,24;\,\,\,48;...{\rm{\} }}\)</p>
<p>Bội chung nhỏ nhất (BCNN) của hai hay nhiều số là số nhỏ nhất khác 0 trong tập hợp các bội của các số đó.</p>
<p>* Cách tìm BCNN của hai hay nhiều số:</p>
<p>- Bước 1: Phân tích mỗi thừa số ra thừa số nguyên tố.</p>
<p>- Bước 2: Chọn các thừa số chung và riêng.</p>
<p>- Bước 3: Lập tích các thừa số đã chọn, mỗi thừa số lấy số mũ lớn nhất.</p>
<p>Tích tìm được là BCNN cần tìm.</p>
<p><strong>Ví dụ 4: </strong></p>
<p>\(\begin{array}{l}84 = {2^2}.3.7\\140 = {2^2}.5.7\\360 = {2^3}{.3^2}.5\end{array}\)</p>
<p>\(BCNN = {2^3}{.3^2}.5.7 = 2520.\)</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<p><strong>Bài 1:</strong> Tìm số tự nhiên A có bốn chữ số sao cho đó chia cho 131 thì dư 112, chia cho 132 thì dư 97 nhưng chia hết cho 99.</p>
<p><em><strong>Giải</strong></em></p>
<p>Theo đề bài, ta có: A = 131p + 112 = 132q + 97</p>
<p>Hay 131p = 132q – 15 = 131q + (q – 15)</p>
<p>\( \Rightarrow q - 15\,\,\, \vdots \,\,\,131\,\, \Rightarrow \,\,q = 131x + 15\,\,(x \in \mathbb{N})\)</p>
<p>mà  A = 132q + 97 = 132. (131x + 15) = 132 .131x + 1980</p>
<p>Vì A có bốn chữ số nên x = 0 và 1980 : 99 = 20</p>
<p>Vậy số cần tìm là A = 1980.</p>
<hr/>
<p><strong>Bài 2:</strong> Cho a = 123456789; b=987654321.</p>
<p>a) Tìm ƯCLN của ( a; b)</p>
<p>b) Tìm số dư trong phép chia BCNN (a; b) cho 11.</p>
<p><em><strong>Giải</strong></em></p>
<p>a.</p>
<p>\(a\,\,\, \vdots \,\,\,9\) và \(b\,\,\, \vdots \,\,\,9\) (vì tổng các chữ số của nó chia hết 9)</p>
<p>Mặt khác b – 8a = 9 nên nếu ƯC (a; b) = d thì \(9\,\, \vdots \,\,d\)</p>
<p>Vậy mọi ƯC của a, b đều là ƯC của 9 hay 9 = ƯCLN (a; b)</p>
<p>b.</p>
<p>Vì \(BCNN(a;b) = \frac{{a.b}}{{UCLN(a;b)}} = \frac{{a.b}}{9} = \frac{a}{9}.b\)</p>
<p>Nhưng \(\frac{a}{9} = 11m + 3;\,\,\frac{b}{9} = 11n\,\, + 5.\)</p>
<p>Vậy BCNN (a;b) = 11p + 4</p>
<p>Vậy số dư cần tìm là 4.</p>
<hr/>
<p><strong>Bài 3:</strong></p>
<p>a. Tìm \(a \in {\mathbb{N}^*}\), biết \(a\,\, \vdots \,\,\,378,\,\,a\,\, \vdots \,\,594.\)</p>
<p>b. Tìm \(b \in {\mathbb{N}^*}\), biết \(112\,\,\, \vdots \,\,\,b;\,\,280\,\, \vdots \,\,\,b.\)</p>
<p><em><strong>Giải</strong></em></p>
<p>a. \(a\,\, \vdots \,\,\,378,\,\,a\,\, \vdots \,\,594\,\, \Rightarrow \,\,a\,\, = BCNN\,\,(378;\,\,594)\)</p>
<p>\(378 = {2.3^3}.7,\,\,594\,\, = \,{2.3^3}.11\)</p>
<p>Vậy a = BCNN(378; 594)</p>
<p>b. \(112\,\, \vdots \,\,b,\,\,280\,\, \vdots \,\,b\,\, \Rightarrow \,\) b = ƯCLN (112; 280)</p>
<p>\(112 = {2^4}.7,\,\,280\,\, = \,{2^3}.5.7\)</p>
<p>Vậy b = WCLN(112; 280) = \({2^3}.7 = 56.\)             </p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}