{% extends "pages/lop9/chuong3/base-lop9-chuong3.html" %}
{% block title %}Toán 9 Bài 6: Giải bài toán bằng cách lập hệ phương trình (Tiếp theo){% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 9 Bài 6: Giải bài toán bằng cách lập hệ phương trình (Tiếp theo)</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Như bài học trước, chúng ta đã được tìm hiểu về <strong>các phương pháp giải toán bằng cách lập hệ phương trình</strong> rồi tìm ra bài toán, hôm nay cũng ta sẽ đi phần tiếp theo, phần này chúng ta sẽ nhấn mạnh và đi chuyên sâu hơn về các dạng bài tập mới lạ hơn.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Phương pháp giải</h3>
</div>
<p>Để giải bài toán bằng cách lập hệ phương trình, chúng ta làm theo các bước sau:</p>
<h4>Bước 1: Lập hệ phương trình</h4>
<p>Chọn ẩn và đặt điều kiện cho ẩn</p>
<p>Biểu đạt các đại lượng khác nhau theo ẩn</p>
<p>Dựa vào đề bài toán, lập phương trình theo dạng đã học</p>
<h4>Bước 2: Giải hệ phương trình</h4>
<h4>Bước 3: So sánh kết quả tìm được và chọn nghiệm thích hợp</h4>
<div id="12">
<h3>1.2. Các dạng toán cơ bản</h3>
</div>
<p>Dạng toán chuyển động</p>
<p>Dạng toán kết hợp các đại lượng hình học</p>
<p>Dạng toán làm việc chung 1 tập thể, làm việc cá nhân</p>
<p>Dạng toán nước chảy</p>
<p>Dạng toán tìm số</p>
<p>Dạng toán kết hợp vật lý, hóa học</p>
<p>...</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<h3>2.1. Bài tập cơ bản</h3>
<p><span style="background-color:rgb(255, 255, 255); color:rgb(51, 51, 51); font-family:quicksand,noto sans,tahoma,helvetica,verdana,arial; font-size:13px"><strong>Bài 1: </strong>Hai vật chuyển động trên một đường tròn  có đường kính 2m, xuất phát cùng một lúc từ cùng một điểm. Nếu chúng chuyển động cùng chiều thì cứ 20 giây lại gặp nhau. Nếu chúng chuyển động ngược chiều thì cứ 4 giây lại gặp nhau. Tính vận tốc của mỗi vật.</span></p>
<p><span style="background-color:rgb(255, 255, 255); color:rgb(51, 51, 51); font-family:quicksand,noto sans,tahoma,helvetica,verdana,arial; font-size:13px"><strong>Hướng dẫn: </strong></span></p>
<p><span style="background-color:rgb(255, 255, 255); color:rgb(51, 51, 51); font-family:quicksand,noto sans,tahoma,helvetica,verdana,arial; font-size:13px">Gọi vận tốc của vật 1 là \(x (m/s)(x&gt;0)\)</span></p>
<p><span style="font-family:quicksand,noto sans,tahoma,helvetica,verdana,arial">Gọi vận tốc của vật 2 là </span>\(y(m/s)(y&gt;0)\)<span style="font-family:quicksand,noto sans,tahoma,helvetica,verdana,arial">​</span></p>
<p><span style="font-family:quicksand,noto sans,tahoma,helvetica,verdana,arial">Vì sau 20s hai vật chuyển động được quãng đường lần lượt là \(20x\) và \(20y\)</span></p>
<p>Chúng chuyển động cùng chiều thì cứ 20 giây gặp nhau nên ta có phương trình \(20x-20y=20\pi\)</p>
<p>Sau 4 giây hai vật chuyển động được quãng đường lần lượt là \(4x\) và \(4y\)</p>
<p><span style="font-family:quicksand,noto sans,tahoma,helvetica,verdana,arial">Chúng chuyển động ngược chiều thì cứ 4 giây gặp nhau nên ta có phương trình </span>\(4x+4y=20\pi\)</p>
<p>Vì vậy, ta có hệ \(\left\{\begin{matrix} 20x-20y=20\pi\\ 4x+4y=20\pi \end{matrix}\right.\)</p>
<p>Giải hệ ta tìm ra \(\left\{\begin{matrix} x=3\pi\\ y=2\pi \end{matrix}\right.\)</p>
<p><strong>Bài 2:</strong> Một người dự định đi từ A đến B với thời gian đã định. Nếu người đó tăng tốc thêm \(10km/h\) thì đến B sớm hơn dự định 1 giờ. Nếu giảm vận tốc đi \(10km/h\) thì đến muộn hơn B là 2 giờ. Tính quãng đường AB.</p>
<p><strong>Hướng dẫn: </strong></p>
<p>Gọi vận tốc dự định là \(x(km/h)(x&gt;0)\)</p>
<p>Gọi thời gian dự định là \(y(h)(y&gt;0)\)</p>
<p>Chúng ta cần tính quãng đường AB chính là \(x.y\)</p>
<p>Theo đề: Nếu người đó tăng tốc thêm \(10km/h\) thì đến B sớm hơn dự định 1 giờ:</p>
<p>\((x+10)(y-1)=xy\)</p>
<p>Nếu giảm vận tốc đi \(10km/h\) thì đến muộn hơn B là 2 giờ:</p>
<p>\((x-10)(y+2)=xy\)</p>
<p>Giải hệ 2 phương trình trên, ta được: \(\left\{\begin{matrix} x=30\\ y=4 \end{matrix}\right.\)</p>
<p>Vậy quãng đường AB là \(120km\)</p>
<p><strong>Bài 3: </strong>Một thửa ruộng hình chữ nhật có chu vi là \(250m\). Tính diện tích của thửa ruộng ấy biết rằng dài giảm 3 lần và rộng tăng 2 lần thì chu vi không đổi.</p>
<p><strong>Hướng dẫn: </strong>Gọi chiều rộng và chiều dài của thửa ruộng đó lần lượt là \(x,y(&lt;0x</p>
<p>Theo đề, ta có hệ phương trình: \(\left\{\begin{matrix} x+y=\frac{250}{2}\\ 2x+\frac{y}{3}=\frac{250}{2} \end{matrix}\right.\)</p>
<p>Giải hệ ta được \(\left\{\begin{matrix} x=50\\ y=75 \end{matrix}\right.\)</p>
<p>Vậy diện tích thửa ruông là \(xy=50.75=3750(m^2)\)</p>
<h3>2.2. Bài tập nâng cao</h3>
<p><strong>Bài 1: </strong>Cho tam giác vuông, biết rằng tăng mỗi cạnh góc vuông lên \(2cm\) thì diện tích tăng lên \(17cm^2\). Nếu giảm lần lượt các cạnh góc vuông một cạnh \(3cm\), một cạnh \(1cm\) thì diện tích giảm đi \(11cm^2\). Tìm các cạnh của tam giác vuông đó.</p>
<p><strong>Hướng dẫn: </strong>Gọi hai cạnh góc vuông là \(x,y(x\geq y&gt;3)\)</p>
<p>Theo đề: tăng mỗi cạnh góc vuông lên \(2cm\) thì diện tích tăng lên \(17cm^2\), ta có phương trình:</p>
<p>\(\frac{1}{2}(x+2)(y+2)=\frac{1}{2}xy+17\)</p>
<p>Giảm lần lượt các cạnh góc vuông một cạnh \(3cm\), một cạnh \(1cm\) thì diện tích giảm đi \(11cm^2\), ta có phương trình:</p>
<p>\(\frac{1}{2}(x-3)(y-1)=\frac{1}{2}xy-11\)</p>
<p>Giải hệ hai phương trình ta có: \(\left\{\begin{matrix} x+y=15\\ x-3y=25 \end{matrix}\right.\) \(\Rightarrow \left\{\begin{matrix} x=5\\ y=10 \end{matrix}\right.\)</p>
<p>Vậy độ dài 3 cạnh của tam giác đó là \(5;10;5\sqrt{5} (cm)\)</p>
<p><strong>Bài 2: </strong>Tìm số tự nhiên có hai chữ số, biết rằng chữ số hàng đơn vị nhỏ hơn chữ số hàng chục là 2, tích của hai chữ số đó lớn hơn tổng của chúng là 34.</p>
<p><strong>Hướng dẫn: </strong>Gọi số cần tìm là \(\bar{ab}\), theo đề, ta có:</p>
<p>\(\left\{\begin{matrix} a-b=2\\ ab=a+b+34 \end{matrix}\right.\)</p>
<p>Giải hệ trên, ta tìm được số cần tìm là 86</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}