{% extends "pages/lop9/chuong3/base-lop9-chuong3.html" %}
{% block title %}Toán 9 Bài 1: Phương trình bậc nhất hai ẩn{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 9 Bài 1: Phương trình bậc nhất hai ẩn</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Làm quen với khái niệm <strong>Phương trình bậc nhất hai ẩn </strong>và cách giải các dạng bài tập.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Khái niệm về phương trình bậc nhất hai ẩn</h3>
</div>
<p>Phương trình bậc nhất hai ẩn x và y là hệ thức có dạng \(ax+by=c\), trong đó a,b,c là các số đã biết (\(a \neq 0\) hoặc \(b \neq 0\))</p>
<h4>Chú ý: Trong mặt phẳng tọa độ Oxy, mỗi nghiệm của phương trình \(ax+by=c\) được biểu diễn bởi một điểm. Nghiệm \((x_o;y_o)\) được biểu diễn bởi điểm có tọa độ \((x_o;y_o)\)</h4>
<div id="12">
<h3>1.2. Tập nghiệm của phương trình bậc nhất hai ẩn</h3>
</div>
<p>Phương trình bậc nhất hai ẩn \(ax+by=c\) luôn luôn có vô số nghiệm. Tập nghiệm của nó được biểu diễn bởi đường thẳng \(ax+by=c\), kí hiệu là \((d)\)</p>
<p>Nếu \(a \neq 0\) và \(b \neq 0\) thì \((d)\) là đồ thị của hàm số bậc nhất \(y=\frac{-a}{b}x+\frac{c}{b}\)</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<div id="21">
<h3>2.1. Bài tập cơ bản</h3>
</div>
<p><strong>Bài 1: </strong>Tìm hai nghiệm của của phương trình \(x+2y=1\).</p>
<p><strong>Hướng dẫn: </strong>Lần lượt cho \(y=0\) và \(y=1\) ta được \(x=1\) và \(x=-1\) nên \((1;0)\) và \((-1;1)\) là hai nghiệm của phương trình \(x+2y=1\).</p>
<p><strong>Bài 2: </strong>Cặp số \((1;1)\) có phải là nghiệm của phương trình \(x+y=1\) không?</p>
<p><strong>Hướng dẫn: </strong>Ta có \(1+1=2 \neq 1\) nên \((1;1)\) không là nghiệm của phương trình \(x+y=1\).</p>
<p><strong>Bài 3: </strong>Cho hai cặp số \((1;2)\) và \((0;1)\). Hỏi cặp số nào là nghiệm của phương trình \(2x+3y=8\) ?</p>
<p><strong>Hướng dẫn: </strong>Ta có: \(2.1+3.2=8\) và \(2.0+3.1=3 \neq 8\) nên \((1;2)\) là nghiệm của phương trình \(2x+3y=8\)</p>
<div id="22">
<p><span style="color:inherit; font-family:inherit; font-size:24px">2.2. Bài tập nâng cao</span></p>
</div>
<p><strong>Bài 1: </strong>Cho phương trình \((m-2)x+(m-1)y=1\) (m là tham số). Chứng minh rằng đường thẳng biểu diễn tập nghiệm của phương trình này luôn đi qua một điểm cố định với mọi giá trị của m.</p>
<p><strong>Hướng dẫn: </strong>Gọi (d) là<strong> </strong>đường thẳng biểu diễn tập nghiệm của phương trình \((m-2)x+(m-1)y=1\) thì (d): \((m-2)x+(m-1)y=1\). Giả sử (d) luôn đi qua \(M(x_o;y_o)\) với mọi m</p>
<p>Khi đó \((m-2)x_o+(m-1)y_o=1\) với mọi m</p>
<p>Suy ra \((x_o+y_o)m-(2x_o+y_o+1)=0\) với mọi m</p>
<p>\(&lt;=&gt;\left\{\begin{matrix} x_o+y_o=0\\ 2x_o+y_o+1=0 \end{matrix}\right.&lt;=&gt;\left\{\begin{matrix} x_o=-1\\ y_o=1 \end{matrix}\right.\). Vậy (d) luôn đi qua điểm cố định \(M(-1;1)\).</p>
<p><strong>Bài 2: </strong>Tìm các điểm nằm trên đường thẳng \(8x+9y=-79\), có hoành độ và tung độ là các số nguyên và nằm bên trong các vuông phần tư III.</p>
<p><strong>Hướng dẫn: Ta cần tìm nghiệm nguyên âm của phương trình 8x+9y=-79. Rút x từ phương trình ta được:</strong></p>
<p>\(x=\frac{-9y-79}{8}=-y-10+\frac{1-y}{8}\)</p>
<p>Đặt \(\frac{1-y}{8}=k (k \in \mathbb{Z})\) thì \(y=1-8k\). Từ đó tính được \(x=9k-11\)</p>
<p>Giải điều kiện \(\left\{\begin{matrix} 9k-11&lt;0\\ 1-8k&lt;0 \end{matrix}\right.&lt;=&gt;\frac{1}{8}k=1\) (Do \(k \in \mathbb{Z}\)). Vậy có một điểm duy nhất phải tìm là \((-2;-7)\).</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}