{% extends "pages/lop9/chuong3/base-lop9-chuong3.html" %}
{% block title %}Toán 9 Ôn tập chương 3 Hệ phương trình bậc nhất hai ẩn{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 9 Ôn tập chương 3 Hệ phương trình bậc nhất hai ẩn</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Ở chương II, chúng ta đã biết về <strong>hàm số bậc nhất</strong>, nó được viết dưới dạng <strong>phương trình của một đường thẳng</strong>, bài học ôn tập chương <strong>Hệ phương trình bậc nhất hai ẩn</strong> cho chúng ta hệ gồm 2 phương trình bậc nhất, chúng có các vị trí tương đối như song song, cắt nhau hoặc trùng nhau... điều đó ảnh hưởng trực tiếp đến số nghiệm của hệ. Chúng ta cùng củng cố lại kiến thức về <strong>Hệ phương trình bậc nhất hai ẩn</strong> nhé</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<h3>Nhắc lại kiến thức trọng tâm</h3>
<h4>1. Phương trình bậc nhất hai ẩn</h4>
<p>Phương trình bậc nhất hai ẩn là phương trình đường thẳng có dạng \(ax+by=c\)</p>
<p>Trong đó: hệ số a, b, c cho trước và a;b không đồng thời bằng 0.</p>
<p>Về tập nghiệm:</p>
<p>Phương trình bậc nhất hai ẩn có vô số nghiệm nhưng đều phụ thuộc lẫn nhau</p>
<p>Nói cách khác, nghiệm của hệ được viết dưới dạng \(\left\{\begin{matrix} x\epsilon \mathbb{R}\\ y=-\frac{a}{b}x+\frac{c}{b} \end{matrix}\right. (b\neq 0)\)</p>
<h4>2. Hệ hai phương trình bậc nhất hai ẩn</h4>
<p>Hệ được viết dưới dạng:</p>
<p>\(\left\{\begin{matrix} ax+by=c\\ a'x+b'y=c' \end{matrix}\right.(1)\)</p>
<p>Chúng là các phương trình đường thẳng</p>
<p>Các vị trí tương đối của hai phương trình đường thẳng gồm:</p>
<p>2 đường thẳng cắt nhau thì (1) có nghiệm duy nhất</p>
<p>2 đường thẳng trùng nhau thì (1) có vô số nghiệm</p>
<p>2 đường thẳng song song thì (1) vô nghiệm</p>
<h4>3. Giải hệ phương trình bậc nhất hai ẩn</h4>
<p>1. Phương pháp thế:</p>
<p>-Biến đổi hệ phương trình đã cho thành hệ mới, và trong đó một phương trình có một ẩn</p>
<p>-Tìm ra ẩn đó rồi suy ra nghiệm của hệ</p>
<p>2. Phương pháp cộng đại số</p>
<p>Nhân hai vế của một phương trình với hằng số thích hợp sao cho hệ số một ẩn nào đó bằng nhau hoặc đối nhau</p>
<p>-Cộng hoặc trừ theo vế nhằm triệt tiêu một ẩn</p>
<p>-Tìm ra ẩn đó rồi suy ra nghiệm của hệ</p>
<h4>4. Giải bài toán bằng cách lập hệ phương trình</h4>
<p>Bước 1: Lập hệ phương trình</p>
<p>Chọn ẩn và đặt điều kiện cho ẩn</p>
<p>Biểu đạt các đại lượng khác nhau theo ẩn</p>
<p>Dựa vào đề bài toán, lập phương trình theo dạng đã học</p>
<p>Bước 2: Giải hệ phương trình</p>
<p>Bước 3: So sánh kết quả tìm được và chọn nghiệm thích hợp</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<h3>Các bài tập trọng tâm</h3>
<p><strong>Bài 1: </strong>Trong các cặp số sau \((-2;1),(-3;-4),(4;3),(3;0)\) cặp nào là nghiệm của phương trình \(2x-3y=6\)</p>
<p><strong>Hướng dẫn:</strong></p>
<p>Thế lần lượt các nghiệm vào phương trình trên, ta được </p>
<p>\(2(-2)-3.1=-7\)</p>
<p>\(2(-3)-3.(-4)=6\)</p>
<p>\(2.4-3.3=1\)</p>
<p>\(2.3-3.0=6\)</p>
<p>Vậy, ta chỉ nhận hai cặp đó là \((-3;-4),(3;0)\)</p>
<p><strong>Bài 2:</strong> Không vẽ hình, hãy cho biết số nghiệm của mỗi hệ sau và giải thích</p>
<p>\(\left\{\begin{matrix} y=2x-5\\ y=3-x \end{matrix}\right.\)</p>
<p>\(\left\{\begin{matrix} y=\frac{1}{2}x+6\\ y=5-2x \end{matrix}\right.\)</p>
<p>\(\left\{\begin{matrix} y=10x+2017\\ y=10x-3 \end{matrix}\right.\)</p>
<p>\(\left\{\begin{matrix} y=2x+1\\ 2x-y+1=0 \end{matrix}\right.\)</p>
<p><strong>Hướng dẫn:</strong></p>
<p>\(\left\{\begin{matrix} y=2x-5\\ y=3-x \end{matrix}\right.\)</p>
<p>Nhận thấy rằng hệ trên gồm 2 đường thằng, có hệ số góc khác nhau, nên cắt nhau tại 1 điểm, vậy hệ có 1 nghiệm</p>
<p>\(\left\{\begin{matrix} y=\frac{1}{2}x+6\\ y=5-2x \end{matrix}\right.\)</p>
<p>Tương tự với hệ trên, tuy nhiên có 1 điều đặc biệt đó là tích hai hệ số góc là \(\frac{1}{2}.(-2)=-1\) nên nếu dùng phương pháp hình học, ta thấy rằng chúng vuông góc với nhau.</p>
<p>\(\left\{\begin{matrix} y=10x+2017\\ y=10x-3 \end{matrix}\right.\)</p>
<p>Hệ này gồm hai phương trình có hệ số \(a=a';b\neq b'\) nên chúng song song với nhau vô nghiệm.</p>
<p>\(\left\{\begin{matrix} y=2x+1\\ 2x-y+1=0 \end{matrix}\right.\)</p>
<p>Biến đổi tương đương ta được: \(\left\{\begin{matrix} y=2x+1\\y=2x+1 \end{matrix}\right.\)</p>
<p>Hệ này gồm hai phương trình có hệ số \(a=a';b=b'\) nên chúng trùng nhau và có vô số nghiệm.</p>
<p><strong>Bài 3: </strong>Giải hệ bằng phương pháp thế: \(\left\{\begin{matrix} x-y=8\\ 5x+4y=-2 \end{matrix}\right.\); \(\left\{\begin{matrix} 3x+2y=10\\ -x+4y=-9 \end{matrix}\right.\)</p>
<p><strong>Hướng dẫn:</strong></p>
<p>\(\left\{\begin{matrix} x-y=8\\ 5x+4y=-2 \end{matrix}\right.\)\(\Leftrightarrow \left\{\begin{matrix} x=y+8\\ 5x+4y=-2 \end{matrix}\right.\)\(\Leftrightarrow \left\{\begin{matrix} x=y+8\\ 5(y+8)+4y=-2 \end{matrix}\right.\)\(\Leftrightarrow \left\{\begin{matrix} x=y+8\\ 9y=-42 \end{matrix}\right.\)\(\Leftrightarrow \left\{\begin{matrix} x=y+8\\ y=-\frac{42}{9} \end{matrix}\right.\)\(\Leftrightarrow \left\{\begin{matrix} x=\frac{10}{3}\\ y=-\frac{42}{9} \end{matrix}\right.\)</p>
<p>\(\left\{\begin{matrix} 3x+2y=10\\ -x+4y=-9 \end{matrix}\right.\)\(\Leftrightarrow \left\{\begin{matrix} 3x+2y=10 \\ x=9+4y \end{matrix}\right.\)\(\Leftrightarrow \left\{\begin{matrix} 3(4y+9)+2y=10 \\ x=9+4y \end{matrix}\right.\)\(\Leftrightarrow \left\{\begin{matrix} 14y=-17 \\ x=9+4y \end{matrix}\right.\)\(\Leftrightarrow \left\{\begin{matrix} y=-\frac{17}{14} \\ x=9+4y \end{matrix}\right.\)\(\Leftrightarrow \left\{\begin{matrix} y=\frac{29}{7} \\ y=-\frac{17}{14} \end{matrix}\right.\)</p>
<p><strong>Bài 4: </strong>Giải hệ bằng phương pháp cộng đại số: \(\left\{\begin{matrix} x-3y=10\\ 2x+y=0 \end{matrix}\right.\);\(\left\{\begin{matrix} 4x-y=8\\ -x+2y=-2 \end{matrix}\right.\)</p>
<p><strong>Hướng dẫn:</strong></p>
<p>\(\left\{\begin{matrix} x-3y=10\\ 2x+y=0 \end{matrix}\right.\)\(\Leftrightarrow \left\{\begin{matrix} 2x-6y=20\\ 2x+y=0 \end{matrix}\right.\)\(\Leftrightarrow \left\{\begin{matrix} -7y=20\\ 2x+y=0 \end{matrix}\right.\)\(\Leftrightarrow \left\{\begin{matrix} y=-\frac{20}{7}\\ 2x+y=0 \end{matrix}\right.\)\(\Leftrightarrow \left\{\begin{matrix} x=\frac{10}{7}\\ y=-\frac{20}{7} \end{matrix}\right.\)</p>
<p>\(\left\{\begin{matrix} 4x-y=8\\ -x+2y=-2 \end{matrix}\right.\)\(\Leftrightarrow \left\{\begin{matrix} 8x-2y=16\\ -x+2y=-2 \end{matrix}\right.\)\(\Leftrightarrow \left\{\begin{matrix} 7x=14\\ -x+2y=-2 \end{matrix}\right.\)\(\Leftrightarrow \left\{\begin{matrix} x=2\\ -x+2y=-2 \end{matrix}\right.\)\(\Leftrightarrow \left\{\begin{matrix} x=2\\ y=0 \end{matrix}\right.\)</p>
<p><strong>Bài 5: </strong>Tìm hai số tự nhiên, biết rằng tổng của chúng là 1006, nếu lấy số lớn chia cho số nhỏ ta được thương là 2 và dư 124</p>
<p><strong>Hướng dẫn:</strong></p>
<p>Gọi hai số tự nhiên cần tìm là \(a,b(a,b\epsilon \mathbb{N};a&gt;b&gt;124)\)</p>
<p>Theo đề, ta có: \(\left\{\begin{matrix} a+b=1006\\ a=2b+124 \end{matrix}\right.\)\(\Leftrightarrow \left\{\begin{matrix} 2b+124+b=1006\\ a=2b+124 \end{matrix}\right.\)\(\Leftrightarrow \left\{\begin{matrix} 3b=882\\ a=2b+124 \end{matrix}\right.\)\(\Leftrightarrow \left\{\begin{matrix} b=294\\ a=2b+124 \end{matrix}\right.\)\(\Leftrightarrow \left\{\begin{matrix} b=294\\ a=712 \end{matrix}\right.\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}