{% extends "pages/lop9/chuong3/base-lop9-chuong3.html" %}
{% block title %}Toán 9 Bài 2: Hệ hai phương trình bậc nhất hai ẩn{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 9 Bài 2: Hệ hai phương trình bậc nhất hai ẩn</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Làm quen với các khái niệm liên quan tới <strong>Hệ hai phương trình bậc nhất hai ẩn</strong><strong> </strong>và sự liên hệ trong hình học.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Khái niệm về hệ hai phương trình bậc nhất hai ẩn</h3>
</div>
<p>Cho hai phương trình bậc nhất hai ẩn \(ax+by=c\) và \(a'x+b'y=c'\). Khi đó ta có hệ phương trình trình bậc nhất hai ẩn \(\left\{\begin{matrix} ax+by=c\\ a'x+b'y=c' \end{matrix}\right. (I)\).</p>
<p>Nếu hai phương trình đã cho có nghiệm chung \((x_o;y_o)\) thì ta nói hệ \((I)\) có nghiệm \((x_o;y_o)\).</p>
<p>Nếu hai phương trình đã cho không có nghiệm chung thì ta nói hệ \((I)\) vô nghiệm.</p>
<p>Giải hệ phương trình là tìm tất cả các nghiệm của nó.</p>
<div id="12">
<h3>1.2. Minh họa hình học tập nghiệm của hệ phương trình trình bậc nhất hai ẩn</h3>
</div>
<p>Cho \((d):ax+by=c\) và \((d'):a'x+b'y=c'\). Khi đó tập nghiệm của hệ \((I)\) được biểu diễn bởi tập hợp các điểm chung của \((d)\) và \((d')\).</p>
<p>Nếu \((d)\) cắt \((d')\) thì hệ \((I)\) có một nghiệm duy nhất</p>
<p>Nếu \((d)\) song song với \((d')\) thì hệ \((I)\) vô nghiệm</p>
<p>Nếu \((d)\) trùng với \((d')\) thì hệ \((I)\) có vô số nghiệm</p>
<h3>3. Hệ phương trình tương đương</h3>
<p>Hai hệ phương trình tương đương nhau nếu chúng có cùng tập nghiệm.</p>
<p> </p>
<p> </p>
<p> </p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<div id="21">
<h3>2.1. Bài tập cơ bản</h3>
</div>
<p><strong>Bài 1:</strong> Cho hệ phương trình \(\left\{\begin{matrix} y=2x+1\\ y=x+2 \end{matrix}\right.\). Tìm số nghiệm của hệ đã cho.</p>
<p><strong>Hướng dẫn: </strong>Vì hai đường thẳng \(y=2x+1\) và \(y=x+2\) cắt nhau (\(2 \neq 1\)) nên hệ đã cho có nghiệm duy nhất hay số nghiệm của hệ là 1.</p>
<p><strong>Bài 2: </strong>Hỏi hệ phương trình \(\left\{\begin{matrix} x-2y=1\\ 2x-4y=2 \end{matrix}\right.\) có mấy nghiệm?</p>
<p><strong>Hướng dẫn: </strong>Vì hai đường thẳng \(x-2y=1\) và \(2x-4y=2\) trùng nhau nên hệ đã cho có vô số nghiệm.</p>
<p><strong>Bài 3: </strong>Cho hệ phương trình \(\left\{\begin{matrix} x+y=1\\ x-y=0 \end{matrix}\right.\). Hỏi cặp số \((1;0)\) có phải nghiệm của hệ không?</p>
<p><strong>Hướng dẫn: </strong>Do \((1;0)\) là nghiệm của cả hai phương trình của hệ nên cũng là nghiệm của hệ</p>
<div id="22">
<p><span style="color:inherit; font-family:inherit; font-size:24px">2.2. Bài tập nâng cao</span></p>
</div>
<p><strong>Bài 1: </strong>Cho hai hệ phương trình \(\left\{\begin{matrix} x-y=1\\ -2x+2y=2 \end{matrix}\right.(I)\)  và \(\left\{\begin{matrix} x+y=2\\ 2x+2y=4 \end{matrix}\right.(II)\). Hỏi hai hệ này có tương đương nhau không?</p>
<p><strong>Hướng dẫn: </strong>Ta có \((1;0)\) là nghiệm của hệ \((I)\) nhưng không là nghiệm của \((II)\) nên hai hệ này không tương đương nhau (dù cả hai hệ đều có vô số nghiệm)</p>
<p><strong>Bài 2: </strong>Tìm giá trị a để hai hệ phương trình sau tương đương<strong> \(\left\{\begin{matrix} x-2y=0\\ x+y=3 \end{matrix}\right.(I)\) </strong>và \(\left\{\begin{matrix} ax-y=1\\ 2x+y=5 \end{matrix}\right.(II)\), biết hệ \((I)\) có nghiệm là \((2;1)\)</p>
<p><strong>Hướng dẫn: </strong>hệ \((I)\) và \((II)\) tương đương nhau nên nghiệm của hệ \((I)\) cũng là nghiệm của hệ \((II)\), khi đó \(\left\{\begin{matrix} a.2-1=1\\ 2.2+1=5 \end{matrix}\right. &lt;=&gt;a=1\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}