{% extends "pages/lop9/chuong3/base-lop9-chuong3.html" %}
{% block title %}Toán 9 Bài 5: Giải bài toán bằng cách lập hệ phương trình{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 9 Bài 5: Giải bài toán bằng cách lập hệ phương trình</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Hôm nay chúng ta sẽ đi sang bài học <strong>Giải bài toán bằng cách lập hệ phương trình</strong>, bài học này sẽ hướng dẫn các em giải quyết bài toán bằng cách <strong>lập hệ phương trình</strong>. Thay vì cho hệ thuần phương trình hai ẩn, đề bài thường cho các dạng toán như nước chảy, quãng đường vật di chuyển,... ta đưa nó về hệ rồi giải.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<div id="11">
<div id="11">
<h3>1.1. Phương pháp giải</h3>
</div>
</div>
</div>
<p>Để giải bài toán bằng cách lập hệ phương trình, chúng ta làm theo các bước sau:</p>
<h4>Bước 1: Lập hệ phương trình</h4>
<p>Chọn ẩn và đặt điều kiện cho ẩn</p>
<p>Biểu đạt các đại lượng khác nhau theo ẩn</p>
<p>Dựa vào đề bài toán, lập phương trình theo dạng đã học</p>
<h4>Bước 2: Giải hệ phương trình</h4>
<h4>Bước 3: So sánh kết quả tìm được và chọn nghiệm thích hợp</h4>
<div id="12">
<div id="12">
<h3>1.2. Các dạng toán cơ bản</h3>
</div>
</div>
<p>Dạng toán chuyển động</p>
<p>Dạng toán kết hợp các đại lượng hình học</p>
<p>Dạng toán làm việc chung 1 tập thể, làm việc cá nhân</p>
<p>Dạng toán nước chảy</p>
<p>Dạng toán tìm số</p>
<p>Dạng toán kết hợp vật lý, hóa học</p>
<p>...</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<div id="21">
<div id="21">
<h3>2.1. Bài tập cơ bản</h3>
</div>
</div>
<p><strong>Bài 1: </strong>Hình chữ nhật có diện tích là \(100cm\), nếu tăng chiều dài lên \(5cm\), giảm chiều rộng đi \(1cm\) thì diện tích không đổi. Tính chu vi hình chữ nhật ban đầu</p>
<p><strong>Hướng dẫn: </strong>Gọi chiều dài và chiều rộng của hình chữ nhật lần lượt là \(a;b(a&gt;b&gt;0)\) theo đề, ta có:</p>
<p>\(\left\{\begin{matrix} ab=100\\ (a+5)(b-1)=100 \end{matrix}\right.\)</p>
<p>Giải hệ phương trình, ta được \(a=20cm; b=5cm\)</p>
<p>Vậy chu vi ban đầu của hình chữ nhật là \(50cm\)</p>
<p><strong>Bài 2: </strong>Hai ô tô chạy từ A đến B dài 120km. Mỗi giờ ô tô thứ nhất hơn ô tô thứ 2 là 10km nên đến sớm hơn ô tô thứ hai là 24 phút. Tính vận tốc mỗi ô tô.</p>
<p><strong>Hướng dẫn:</strong></p>
<p>Gọi vận tốc của ô tô thứ nhất và thứ hai lần lượt là \(x;y(km/h)(x&gt;y)\)</p>
<p>Theo đề, ta có:</p>
<p>24 phút \(=\frac{2}{5}\) giờ</p>
<p>\(\left\{\begin{matrix} x-y=10\\ \frac{120}{x}+\frac{2}{5}=\frac{120}{y} \end{matrix}\right.\)</p>
<p>Giải hệ ta tìm được \(x=60km/h,y=50km/h\)</p>
<p><strong>Bài 3: </strong>Tìm một số có hai chữ số, biết rằng chữ số hàng đơn vị hơn chữ số hàng chục là 2, tích hai chữ số hơn tổng của chúng là 7</p>
<p><strong>Hướng dẫn:</strong></p>
<p>Gọi số đó là \(\bar{ab},(a,b\epsilon \mathbb{N})\)</p>
<p>Theo đề, ta có hệ phương trình: \(\left\{\begin{matrix} a+2=b\\ ab=a+b+7 \end{matrix}\right.\)\(\Rightarrow \left\{\begin{matrix} a=3\\ b=5 \end{matrix}\right.\)</p>
<p>Vậy, số cần tìm là 35</p>
<div id="22">
<div id="22">
<h3>2.2. Bài tập nâng cao</h3>
</div>
</div>
<p><strong>Bài 1: </strong>Tìm một số có ba chữ số, biết rằng khi chia số đó cho 11 ta được thương bằng tổng các chữ số của số bị chia</p>
<p><strong>Hướng dẫn: </strong>Gọi số cần tìm là \(\bar{abc}(a,b,c&gt;0; a,b,c \epsilon \begin{Bmatrix} 1;10 \end{Bmatrix})\)</p>
<p>Theo đề, ta có: \(100a+10b+c=11(a+b+c)\)</p>
<p>\(\Leftrightarrow 100a+10b+c=11a+11b+11c\)</p>
<p>\(\Leftrightarrow 89a=b+10c\)</p>
<p>Nếu \(a&gt;1\Rightarrow 89a\) có ít nhất 3 chữ số, mà vế phải là một tổng có hai chữ số.</p>
<p>Vậy \(a=1\)\(\Rightarrow 89=10c+b\)</p>
<p>Mà \(10c+b\) chính là \(\bar{cb}\).</p>
<p>Vậy số cần tìm là 198</p>
<p><strong>Bài 2: </strong>Đem một số có hai chữ số nhân với tổng của các chữ số với nhau thì được kết quả là 405. Nếu viết ngược lại bằng cách như vậy thì tích nhận được là 468. Tìm số đó</p>
<p><strong>Hướng dẫn: </strong></p>
<p>Gọi số cần tìm là \(\bar{ab}(a;b\epsilon \mathbb{N})\)</p>
<p>Theo đề, ta có hệ phương trình <img alt="" src="http://latex.codecogs.com/gif.latex?"/>\(\left\{\begin{matrix} (10a+b).(a+b)=405\\ (10b+a).(b+a)=486 \end{matrix}\right.\)</p>
<p>\(\Leftrightarrow \left\{\begin{matrix} 10a^2+11ab+b^2=405(1)\\ 10b^2+11ab+a^2=486(2) \end{matrix}\right.\)</p>
<p>Lấy (2) trừ cho (1) ta được: \(b^2-a^2=9\Leftrightarrow (b-a)(a+b)=9\)</p>
<p>Mà a, b là các số tự nhiên, dễ dàng suy ra \(a=4;b=5\)</p>
<p>Vậy số cần tìm là 45</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}