{% extends "pages/lop9/chuong3/base-lop9-chuong3.html" %}
{% block title %}Toán 9 Bài 3: Giải hệ phương trình bằng phương pháp thế{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 9 Bài 3: Giải hệ phương trình bằng phương pháp thế</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Tìm hiểu một trong những phương pháp rất hiệu quả trong giải <strong>hệ phương trình</strong> nói chung và <strong>hệ phương trình bậc nhất hai ẩn</strong> nói riêng đó là <strong>phương pháp thế</strong>.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Quy tắc thế</h3>
</div>
<p>Quy tắc thế dùng để biến đổi một hệ phương trình thành hệ phương trình tương đương. Quy tắc thế gồm hai bước sau:</p>
<p>Bước 1: Từ một phương trình của hệ đã cho (coi là phương trình thứ nhất), ta biểu diễn một ẩn theo ẩn kia rồi thế vào phương trình thứ hai để được một phương trình mới (chỉ còn một ẩn).</p>
<p>Bước 2: Dùng phương trình mới để thay thế cho một trong hai phương trình của hệ, ta được một hệ phương trình mới tương đương với hệ ban đầu.</p>
<div id="12">
<h3>1.2. Dùng quy tắc thế để giải hệ phương trình</h3>
</div>
<p>Bước 1: Dùng quy tắc thế biến đổi hệ phương trình đã cho để được một hệ phương trình mới tương đương, trong đó có một phương trình một ẩn.</p>
<p>Bước 2: Giải phương trình một ẩn đó, từ đó tìm ẩn còn lại, rồi suy ra nghiệm của hệ đã cho.</p>
<p><br>
<br/>
 </br></p>
<p><br/>
 </p>
<p> </p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<div id="21">
<h3>2.1. Bài tập cơ bản</h3>
</div>
<p><strong>Bài 1: </strong>Giải hệ phương trình sau bằng phương pháp thế  \(\left\{\begin{matrix} x-2y=1\\ x+y=1 \end{matrix}\right.\)</p>
<p><strong>Hướng dẫn: </strong>Ta có <strong>\(\left\{\begin{matrix} x-2y=1\\ x+y=1 \end{matrix}\right.&lt;=&gt;\left\{\begin{matrix} x=2y+1\\ x+y=1 \end{matrix}\right.&lt;=&gt;\left\{\begin{matrix} x=2y+1\\ 2y+1+y=1 \end{matrix}\right.&lt;=&gt;\left\{\begin{matrix} x=2y+1\\ 3y=0 \end{matrix}\right.\)  </strong>\(&lt;=&gt;\left\{\begin{matrix} x=1\\ y=0 \end{matrix}\right.\)</p>
<p><strong>Bài 2: </strong>Giải hệ phương trình sau bằng phương phép thế \(\left\{\begin{matrix} -x+2y=1\\ 2x-4y=-2 \end{matrix}\right.\)</p>
<p><strong>Hướng dẫn: </strong>Ta có \(\left\{\begin{matrix} -x+2y=1\\ 2x-4y=-2 \end{matrix}\right.&lt;=&gt;\left\{\begin{matrix} x=2y-1\\ 2x-4y=-2 \end{matrix}\right.&lt;=&gt;\left\{\begin{matrix} x=2y-1\\ 2(2y-1)-4y=-2 \end{matrix}\right.\) \(&lt;=&gt;\left\{\begin{matrix} x=2y-1\\ 0y=0 \end{matrix}\right.&lt;=&gt;\left\{\begin{matrix} x=2y-1\\ y \in \mathbb{R} \end{matrix}\right.\)</p>
<p><strong>Bài 3: </strong>Chứng minh hệ phương trình sau vô nghiệm \(\left\{\begin{matrix} x-3y=2\\ -3x+9y=0 \end{matrix}\right.\)</p>
<p><strong>Hướng dẫn: </strong>Ta có \(\left\{\begin{matrix} x-3y=2\\ -3x+9y=0 \end{matrix}\right.&lt;=&gt;\left\{\begin{matrix} x=3y+2\\ -3x+9y=0 \end{matrix}\right.&lt;=&gt;\left\{\begin{matrix} x=3y+2\\ -3(3y+2)+9y=0 \end{matrix}\right.\) \(&lt;=&gt;\left\{\begin{matrix} x=3y+2\\ 0x=6 \end{matrix}\right.\).</p>
<p>Do phương trình \(0x=6\) vô nghiệm nên hệ đã cho vô nghiệm</p>
<div id="22">
<h3>2.2. Bài tập nâng cao</h3>
</div>
<p><strong>Bài 1: </strong>Cho hệ phương trình với tham số a: \(\left\{\begin{matrix} (a+1)x-y=a+1\\ x+(a-1)y=2 \end{matrix}\right.\). Giải và biện luận hệ này.</p>
<p><strong>Hướng dẫn: </strong>Ta có <strong>\(\left\{\begin{matrix} (a+1)x-y=a+1\\ x+(a-1)y=2 \end{matrix}\right.&lt;=&gt;\left\{\begin{matrix} y=(a+1)x-(a+1)\\ x+(a-1)y=2 \end{matrix}\right.&lt;=&gt;\left\{\begin{matrix} y=(a+1)x-(a+1)\\ x+(a-1)[(a+1)x-(a+1)]=2 \end{matrix}\right.\) \(&lt;=&gt; \left\{\begin{matrix} y=(a+1)x-(a+1)\\ a^2x=a^2+1 \end{matrix}\right.\)</strong></p>
<p>Nếu \(a \neq 0\) thì hệ tương đương \(\left\{\begin{matrix} y=(a+1)x-(a+1)\\ x=\frac{a^2+1}{a^2} \end{matrix}\right. &lt;=&gt;\left\{\begin{matrix} y=\frac{a+1}{a^2}\\ x=\frac{a^2+1}{a^2} \end{matrix}\right.\)</p>
<p>Nếu \(a=0\) thì hệ tương đương \(\left\{\begin{matrix} y=x-1\\ 0x=1 \end{matrix}\right.\). Do phương trình \(0x=1\) vô nghiêm nên hệ vô nghiệm.</p>
<p><strong>Bài 2: </strong>Biết rằng đa thức <strong>\(P(x)\)</strong> chia hết cho <strong>\(x-a\)</strong> khi và chỉ khi \(P(a)=0\) (định lý Bezout). Tìm các giá trị a, b sao cho đa thức sau đồng thời chia hết cho \(x-1\) và \(x-2\):</p>
<p>\(P(x)=ax^4+(a-1)x^3+bx^2+3x+1\)</p>
<p><strong>Hướng dẫn: </strong>Từ giả thiết ta có<strong> \(\left\{\begin{matrix} P(1)=0\\ P(2)=0 \end{matrix}\right.&lt;=&gt;\left\{\begin{matrix} 2a+b=3\\ 24a+4b=1 \end{matrix}\right.\). Giải hệ này bằng phương pháp thế ta được \(\left\{\begin{matrix} a=\frac{13}{16}\\ b=\frac{-37}{8} \end{matrix}\right.\)</strong></p>
<p> </p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}