{% extends "pages/lop7/chuong1/base-lop7-chuong1.html" %}
{% block title %}Toán 7 Bài 8: Tính chất của dãy tỉ số bằng nhau{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 7 Bài 8: Tính chất của dãy tỉ số bằng nhau</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Nội dung bài học sẽ giới thiệu đến các em <strong>Tính chất của dãy tỉ số bằng nhau</strong> và ứng dụng của nó trong việc giải các bài toán <strong>chứng minh hệ thức</strong>, tìm các <strong>đại lượng chưa biết </strong>bằng cách áp dụng dãy tỉ số bằng nhau,...Thông qua các ví dụ minh họa có hướng dẫn giải sẽ giúp các em dễ dàng nắm được kiến thức.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="motmot">
<div id="motmot">
<h3>1.1. Tính chất</h3>
</div>
</div>
<p>\(\frac{a}{b} = \frac{c}{d} = \frac{{a + c}}{{b + d}} = \frac{{a - c}}{{b - d}}\,\,\,(b \ne d\,\,va\,\,b \ne  - d)\)</p>
<ul>
<li>Mở rộng:</li>
</ul>
<p>Từ dãy tỉ số bằng nhau: \(\frac{a}{b} = \frac{c}{d} = \frac{e}{f}\) ta suy ra:</p>
<p>\(\frac{a}{b} = \frac{c}{d} = \frac{e}{f} = \frac{{a + c + e}}{{b + d + f}} = \frac{{a - c - e}}{{b - d - f}}\,\)(giả thiết các tỉ số đều có nghĩa).</p>
<div id="mothai">
<div id="mothai">
<h3>1.2. Chú ý:</h3>
</div>
</div>
<ul>
<li>Khi các dãy tỉ số: \(\frac{a}{2} = \frac{b}{3} = \frac{c}{5},\) ta nói các số a, b, c tỉ lệ với các số 2, 3, 5.</li>
<li>Ta cũng viết: a : b : c = 2 : 3 : 5.</li>
</ul>
<hr/>
<h4><u>Ví dụ 1:</u> </h4>
<p>Tìm x, y biết:</p>
<p>a. \(\frac{x}{y} = \frac{{17}}{3}\) và \(x + y =  - 60\).</p>
<p>b. \(\frac{x}{{19}} = \frac{y}{{21}}\) và \(2x - y = 34\).</p>
<p>c. \(\frac{{{x^2}}}{9} = \frac{{{y^2}}}{{16}}\) và \({x^2} + {y^2} = 100\).</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a. \(\frac{x}{y} = \frac{{17}}{3}\) và \(x + y =  - 60\)</p>
<p>\( \Rightarrow \frac{x}{7} = \frac{y}{{13}} = \frac{{x + y}}{{7 + 13}} = \frac{{ - 60}}{{20}} =  - 3\).</p>
<p>Do đó:</p>
<p> \(\begin{array}{l}\frac{x}{7} =  - 3 \Rightarrow x =  - 21\\\frac{y}{{13}} =  - 3 \Rightarrow y =  - 39\end{array}\).</p>
<p>b. \(\frac{x}{{19}} = \frac{y}{{21}}\) và \(2x - y = 34\)</p>
<p>\(\frac{x}{{19}} = \frac{y}{{21}} \Rightarrow \frac{{2x}}{{38}} = \frac{y}{{21}} = \frac{{2x - y}}{{38 - 21}} = \frac{{34}}{{17}} = 2\).</p>
<p>Do đó: \(\frac{x}{9} = 2 \Rightarrow x = 38\).</p>
<p>\(\frac{y}{{21}} = 2 \Rightarrow y = 42\).</p>
<p>c. \(\frac{{{x^2}}}{9} = \frac{{{y^2}}}{{16}}\) và \({x^2} + {y^2} = 100\).</p>
<p>\(\frac{{{x^2}}}{9} = \frac{{{y^2}}}{{16}} = \frac{{{x^2} + {y^2}}}{{19 + 6}} = \frac{{100}}{{25}} = 4\).</p>
<p>Do đó: \(\frac{{{x^2}}}{9} = 4 \Rightarrow {x^2} = 36 \Rightarrow x =  \pm 6\).</p>
<p>\(\frac{{{y^2}}}{{16}} = 4 \Rightarrow {y^2} = 64 \Rightarrow y =  \pm 8\).</p>
<hr/>
<h4><u>Ví dụ 2:</u></h4>
<p>Chứng minh rằng nếu \(\frac{a}{b} = \frac{c}{d}\) thì:</p>
<p>a. \(\frac{{5a + 3b}}{{5a - 3b}} = \frac{{5c + 3d}}{{5c - 3d}}\).          </p>
<p>b. \(\frac{{7{a^2} + 3ab}}{{11{a^2} - 8{b^2}}} = \frac{{7{c^2} + 3cd}}{{11{c^2} - 8{d^2}}}\).</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a. Vì \(\frac{a}{b} = \frac{c}{d}\) nên \(\frac{a}{c} = \frac{b}{d}\).</p>
<p>Mặt khác \(\frac{a}{c} = \frac{b}{d} = \frac{{5a}}{{5c}} = \frac{{3b}}{{3d}} = \frac{{5a + 3b}}{{5c + 3d}} = \frac{{5a - 3d}}{{5c - 3d}}\).</p>
<p>Vậy \(\frac{{5a + 3b}}{{5a - 3b}} = \frac{{5a - 3b}}{{5c - 3d}}\).</p>
<p>b. Vì \(\frac{a}{b} = \frac{c}{d}\) nên \(\frac{a}{c} = \frac{b}{d}\).</p>
<p>Vậy \(\frac{a}{c}.\frac{a}{c} = \frac{b}{d} = \frac{b}{d} = \frac{a}{c}.\frac{b}{d}\) hay \(\frac{{{a^2}}}{{{c^2}}} = \frac{{{b^2}}}{{{d^2}}} = \frac{{ab}}{{cd}}\).</p>
<p>Mặt khác ta lại có:</p>
<p>\(\frac{{7{a^2}}}{{7{c^2}}} = \frac{{11{a^2}}}{{11{c^2}}} = \frac{{8{b^2}}}{{8{d^2}}} = \frac{{3ab}}{{3cd}} = \frac{{7{a^2} + 3ab}}{{7{c^2} + 3cd}} = \frac{{11{a^2} - 8{b^2}}}{{11{c^2} - 8d}}\)</p>
<p>Do đó ta có: \(\frac{{7{a^2} + 3ab}}{{11{a^2} - 8{b^2}}} = \frac{{7{c^2} + 3cd}}{{11{c^2} - 8{d^2}}}\).</p>
<hr/>
<h4><u>Ví dụ 3:</u></h4>
<p>Cho bốn số khác 0 là \({a_1},{a_2},{a_3},{a_4}\) thoả mãn \({a_2}^2 = {a_1}a{}_{3,}{a_3}^2 = {a_2}{a_4}\). Chứng minh: \(\frac{{a_1^3 + a_2^3 + a_3^3}}{{a_2^3 + a_3^3 + a_4^3}} = \frac{{{a_1}}}{{{a_4}}}\)</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Từ giả thiết ta có:</p>
<p>\(\begin{array}{l}a_2^2 = {a_1}.{a_3} \Rightarrow \frac{{{a_1}}}{{{a_2}}} = \frac{{{a_2}}}{{{a_3}}}\\a_3^2 = {a_2}.{a_4} \Rightarrow \frac{{{a_2}}}{{{a_3}}} = \frac{{{a_3}}}{{{a_4}}}\end{array}\).</p>
<p>Nên \(\frac{{{a_1}}}{{{a_2}}} = \frac{{{a_2}}}{{{a_3}}} = \frac{{{a_3}}}{{{a_4}}}\).</p>
<p>Suy ra: \(\frac{{a_1^3}}{{a_2^3}} = \frac{{a_2^3}}{{a_3^3}} = \frac{{a_3^3}}{{a_4^3}} = \frac{{{a_1}}}{{{a_2}}}.\frac{{{a_2}}}{{{a_3}}}.\frac{{{a_3}}}{{{a_4}}} = \frac{{{a_1}}}{{{a_4}}}\).</p>
<p>Theo tính chất của dãy tỉ số bằng nhau ta có:</p>
<p>\(\frac{{a_1^3 + a_2^3 + a_3^3}}{{a_2^3 + a_3^3 + a_4^3}} = \frac{{{a_1}}}{{{a_4}}}\).</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<h4><u>Bài 1:</u> </h4>
<p>Biết \(\frac{{bz - cy}}{a} = \frac{{cx - az}}{b} = \frac{{ay - bx}}{c}\). Chứng minh rằng: \(\frac{x}{a} = \frac{y}{b} = \frac{z}{c}.\)</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Ta có: \(\frac{{bz - cy}}{a} = \frac{{cx - az}}{b} = \frac{{ay - bx}}{c} = \frac{{abz - acy}}{{{a^2}}} = \frac{{bcx - abz}}{{{b^2}}} = \frac{{acy - bcx}}{{{c^2}}}\)</p>
<p>\( = \frac{{abz - acy + bcx - abz + acy - bcx}}{{{a^2} + {b^2} + {c^2}}} = 0\)</p>
<p>Suy ra:</p>
<ul>
<li>\(\frac{{bz - cy}}{a} = 0\) nên \(bz - cy = 0 \Rightarrow bz = cy\) hay \(\frac{b}{y} = \frac{c}{z}\) (1).</li>
<li>\(\frac{{cx - {\rm{az}}}}{b} = 0\) nên \(cx - az = 0 \Rightarrow cx = az\) hay \(\frac{c}{z} = \frac{a}{x}\)  (2).</li>
</ul>
<p>Từ (1) và (2) suy ra: \(\frac{a}{x} = \frac{b}{y} = \frac{c}{z}.\)</p>
<hr/>
<h4><u>Bài 2:</u><strong> </strong></h4>
<p>Ba vòi nước cùng chảy vào một hồ có dung tích \(15,8{m^3}\) từ lúc không có nước cho tới khi đầy hồ. Biết rằng thời gian để chảy được \(1{m^3}\) nước của vòi thứ nhất là 3 phút, vòi thức hai là 5 phút và vòi thứ ba là 8 phút. Hỏi mỗi vòi chảy được bao nhiêu nước vào hồ?</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Gọi lượng nước các vòi đã chảy vào hồ là x, y, z mét khối nước. Thời gian mà các vòi chảy vào hồ 3x, 5y, 8z. Vì thời gian chảy của các vòi là như nhau nên ta có:</p>
<p>\(3x = 5y = 8z \Rightarrow \frac{x}{5} = \frac{y}{3};\,\,\frac{y}{8} = \frac{5}{5} \Rightarrow \frac{{8x}}{{40}},\,\frac{{3y}}{{24}} = \frac{{3z}}{{15}}\)</p>
<p>\( \Rightarrow \frac{x}{{40}} = \frac{y}{{24}} = \frac{z}{{15}} = \frac{{x + y + z}}{{40 + 24 + 15}} = \frac{{15,8}}{{79}} = 0,2\)</p>
<p>Từ đó ta có: \(x = 8{m^3};y = 4,8{m^3};z = 3{m^3}\).</p>
<p><strong>Chú ý:</strong> Ta cũng có thể nói rằng: Trong cùng một thời gian, lượng nước chảy được mỗi vòi tỉ lệ với lượng nước mỗi vòi chảy được trong một đơn vị thời gian, nghĩa là: \(x:y:z = \frac{1}{3}:\frac{1}{5}:\frac{1}{8}\) tức là: \(\frac{x}{{\frac{1}{3}}} = \frac{y}{{\frac{1}{5}}} = \frac{z}{{\frac{1}{8}}}\)</p>
<p>Từ đây ta tìm được x, y, z.</p>
<hr/>
<h4><u>Bài 3:</u></h4>
<p>Ba học sinh A, B, C có số điểm mười tỉ lệ với các số 2; 3; 4. Biết rằng tổng số điểm 10 của A và C hơn B là 6 điểm 10. Hỏi mỗi em có bao nhiêu điểm 10?</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Gọi a, b, c là số điểm 10 của ba học sinh A, B, C ta có:</p>
<p>\(\frac{a}{2} = \frac{b}{3} = \frac{c}{4} = \frac{{a + c - b}}{{2 + 4 - 3}} = \frac{6}{3} = 2\).</p>
<p>Do đó: \(\frac{a}{2} = 2 \Rightarrow a = 4\)</p>
<p>\(\begin{array}{l}\frac{b}{3} = 2 \Rightarrow b = 6\\\frac{c}{4} = 2 \Rightarrow c = 8\end{array}\).</p>
<p>Vậy:</p>
<p>Học sinh A có 4 điểm 10.</p>
<p>Học sinh B có 6 điểm 10.</p>
<p>Học sinh C có 8 điểm 10.</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}