{% extends "pages/lop7/chuong1/base-lop7-chuong1.html" %}
{% block title %}Toán 7 Bài 9: Số thập phân hữu hạn. Số thập phân vô hạn tuần hoàn{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 7 Bài 9: Số thập phân hữu hạn. Số thập phân vô hạn tuần hoàn</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Nội dung bài học sẽ giới thiệu đến các em cách nhận diện <strong>số hữu tỉ</strong> có thể biểu diễn dưới dạng <strong>số thập phân hữu hạn</strong> hoặc <strong>số thập phân vô hạn tuần hoàn</strong>. Bên cạnh đó là những ví dụ minh họa có hướng dẫn giải sẽ giúp các em dễ dàng nắm được nội dung bài học.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="motmot">
<h3>1.1. Số thập phân hữu hạn</h3>
</div>
<ul>
<li>Nếu một phân số tối giản với mẫu dương mà mẫu không có ước là số nguyên tối nào khác 2 và 5 thì phân số đó viết được dưới dạng số thập phân hữu hạn.</li>
</ul>
<p><strong>Ví dụ: </strong>\(\frac{3}{{20}} = 0,15;\,\,\frac{{37}}{{25}} = 1,48\)</p>
<div id="mothai">
<h3>1.2. Số thập phân vô hạn tuần hoàn</h3>
</div>
<ul>
<li>Nếu một phân số tối giản với mẫu dương mà mẫu có ước là số nguyên tố khác 2 và 5 thì phân số đó viết được dưới dạng số thập phân vô hạn tuần hoàn.</li>
</ul>
<p><strong>Ví dụ: </strong>\(\frac{{17}}{{11}} = 1,5454...;\,\,\frac{5}{{12}} = 0,41666...\)</p>
<ul>
<li>Để viết gọn số thập phân vô hạn tuần hoàn, người ta đặt chu kỳ trong dấu ngoặc.</li>
</ul>
<p><strong>Ví dụ: </strong>\(\frac{{17}}{{11}} = 1,(54);\,\,\frac{5}{{12}} = 0,41(6)\)</p>
<p><strong>Ghi chú: </strong>Mỗi số hữu tỉ được biểu diễn bởi một số thập phân hữu hạn hoặc vô hạn tuần hoàn. Ngược lại, mỗi số thập phân hữu hạn và vô hạn tuần hoàn biểu diễn một số hữu tỉ.</p>
<hr/>
<h4><u>Ví dụ 1:</u><strong> </strong></h4>
<p>Viết các số hữu tỉ sau dưới dạng thập phân hữu hạn hoặc vô hạn tuần hoàn: \(\frac{4}{{11}};\frac{5}{{12}};\frac{8}{{25}};\frac{{17}}{{40}}\).</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>\(\begin{array}{l}\frac{4}{{11}} = 0,(36)\\\frac{5}{{12}} = 0,41(6)\\\frac{8}{{25}} = 0,32\\\frac{{17}}{{40}} = 0,425\end{array}\).</p>
<hr/>
<h4><u>Ví dụ 2:</u><strong> </strong></h4>
<p>Viết các số hữu tỉ sau dưới dạng phân số: \(0,00(24);\,\,0,75;\,\,1,28;\,\,\,0,(12);\,\,1,3(4)\).</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>\(\begin{array}{l}0,00(24) = \frac{1}{{100}}\,.0,(24) = \frac{1}{{100}}.\frac{{24}}{{99}} = \frac{2}{{825}}\\0,75 = \frac{{75}}{{100}} = \frac{3}{4}\\\,1,28\, = \frac{{128}}{{100}} = \frac{{32}}{{25}}\\\,\,0,(12) = \frac{{12}}{{99}} = \frac{4}{{33}}\\1,3(4) = 1,3 + 0,0(4) = 1,3 + \frac{1}{{10}}.0,(4) = \frac{{13}}{{10}} + \frac{4}{9} = \frac{{121}}{{90}}\end{array}\).</p>
<hr/>
<h4><u>Ví dụ 3:</u></h4>
<p>Tìm số hữu tỉ a sao cho x &lt; a &lt; y, biết rằng:</p>
<p>a. \(x = 25,9543...;y = 26,1765....\).</p>
<p>b. \(x =  - 126,247...;y =  - 125,8675...\).</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a. a = 25,96 hoặc a = 25, 97,v.v.</p>
<p>b. a = -126, 23 hoặc a = -125, 87,v.v.</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<h4><u>Bài 1:</u><strong> </strong></h4>
<p>Tính \({\rm{[}}12,(1) - 2,3(6){\rm{]}}:4,(21)\).</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Trước hết cần đổi các số thập phân tuần hoàn ra phân số.</p>
<p>Ta có: \(12,(1) = 12\frac{1}{9};\,\,2,3(6) = 2\frac{{36 - 3}}{{90}} = 2\frac{{11}}{{30}}\)</p>
<p>\(4,(21) = 4\frac{{21}}{{99}} = 4\frac{7}{{33}}\)</p>
<p>Vậy \({\rm{[}}12,(1) - 2,3(6){\rm{]}}:4,(21) = \left( {12\frac{1}{9} - 2\frac{{33}}{{90}}} \right) + 4\frac{7}{{33}}\)</p>
<p>\( = \left( {12\frac{{10}}{{90}} - 2\frac{{33}}{{90}}} \right):4\frac{7}{{33}} = 9\frac{{67}}{{90}}:4\frac{7}{{33}} = \frac{{877}}{{90}}.\frac{{33}}{{139}} = 2\frac{{1307}}{{4170}}\)</p>
<hr/>
<h4><u>Bài 2:</u> </h4>
<p>Tìm x : 0,(12) : 1,(6) = x : 0,(3).</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Ta có: \(\frac{{12}}{{99}}:1\frac{6}{9} = x:\frac{3}{9}\,\,\,hay\,\,\,\frac{4}{{33}}:\frac{5}{3} = x:\frac{1}{3}\).</p>
<p>Vậy \(x = \frac{4}{{33}}.\frac{1}{3}.\frac{3}{5} = \frac{4}{{165}}\).</p>
<hr/>
<h4><u>Bài 3:</u> </h4>
<p>Tìm các phân số tối giản, biết rằng tích của tử và mẫu bằng 550, phân số tối giản đó có thể biểu diễn bởi một số thập phân hữu hạn.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Ta có \(550 = {2.5^2}.11\)</p>
<p>Vậy ta có các phân số tối giản sau đây thoả mãn các điều kiện của bài toán:</p>
<p>\(\frac{{275}}{2} = 137,5;\,\frac{{22}}{{25}} = 0,88;\,\,\frac{{11}}{{50}} = 0,22\).</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}