{% extends "pages/lop7/chuong4/base-lop7-chuong4.html" %}
{% block title %}Toán 7 Bài 1: Khái niệm về biểu thức đại số{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 7 Bài 1: Khái niệm về biểu thức đại số</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Ở chương này, chúng ta sẽ được làm quen với một khái niệm mới, đó là <strong>Biểu thức đại số.</strong></p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Nhắc lại về biểu thức</h3>
</div>
<p>Chẳng hạn: 5+1+9; 6.4-2; 15:3-1; 15<sup>3</sup>.4<sup>7</sup>; 5.6<sup>2</sup>+1 ... là những biểu thức.</p>
<p>Những biểu thức như trên còn được gọi là <strong>biểu thức số.</strong></p>
<div id="12">
<h3>1.2. Khái niệm về biểu thức đại số</h3>
</div>
<ul>
<li>Trong toán học, vật lí,... ta thường gặp những biểu thức mà trong đó ngoài các số, các kí hiệu phép toán cộng, trừ, nhân, chia, lũy thừa, còn có các chữ (đại diện cho các số). Người ta gọi những biểu thức như vậy là <strong>biểu thức đại số.</strong></li>
</ul>
<p>Chẳng hạn, các biểu thức \(4x; 2(5+x); (x+y)^2; x^3;xy;\frac{150}{t-1};...\) là những biểu thức đại số.</p>
<ul>
<li>Trong biểu thức đại số, các chữ có thể đại diện cho những số <strong>tùy ý</strong> nào đó. Người ta gọi những chữ như vậy là <strong>biến số</strong> (gọi tắt là <strong>biến</strong>).</li>
</ul>
<p><strong>Chú ý: </strong></p>
<ul>
<li>Trong biểu thức đại số, vì chữ đại diện cho các số nên khi thực hiện các phép toán trên các chữ, ta có thể áp dụng những <strong>tính chất, quy tắc phép toán</strong> như trên các số (giao hoán, kết hợp, bỏ dấu ngoặc, quy tắc chuyển vế,...)</li>
<li>Các biểu thức có biến ở mẫu khá phức tạp, chưa được xét đến trong chương này. Chẳng hạn, \(\frac{150}{t-1}; \frac{20}{y^2}\).</li>
</ul> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<h4><u>Bài 1:</u><span style="font-size:13px"> </span></h4>
<p>Hãy viết biểu thức đại số biểu thị:</p>
<p>a) Tổng của hai lần x và ba lần y.</p>
<p>b) Hiệu của x và y.</p>
<p>c) Tích của tổng x và y với hiệu của x và y.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a) Biểu thức đại số biểu thị tổng của hai lần x và ba lần y là: 2x+3y.</p>
<p>b) Biểu thức đại số biểu thị hiệu của x và y là: x-y.</p>
<p>c) Biểu thức đại số biểu thị tích của tổng x và y với hiệu của x và y là: (x+y)(x-y).</p>
<p> </p>
<h4><u>Bài 2:</u></h4>
<p>Hãy viết biểu thức đại số biểu thị:</p>
<p>a) Chu vi hình vuông có cạnh là a.</p>
<p>b) Chu vi hình chữ nhật có chiều dài và rộng lần lượt là x, y.</p>
<p>c) Diện tích hình bình hành có đáy là a và chiều cao ứng với đáy đó là h.</p>
<p>d) Quãng đường đi được(s) của một xe máy có vận tốc 40km/h trong thời gian t (h).</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a) Biểu thức đại số biểu thị chu vi hình vuông là 4a.</p>
<p>b) Biểu thức đại số biểu thị chu vi hình chữ nhật là 2(x+y).</p>
<p>c) Biểu thức đại số biểu thị diện tích hình bình hành là a.h.</p>
<p>d) Biểu thức đại số biểu thị s=40t.</p>
<p> </p>
<h4><u>Bài 3:</u></h4>
<p>Nước trong bình đun đang có nhiệt độ là t độ. Sau khi đun một thời gian, nhiệt độ nước trong bình tăng lên y độ so với ban đầu, đột ngột cúp điện, để lâu một thời gian nhiệt độ nước trong bình giảm xuống x độ so với ban đầu. Hãy viết biểu thức đại số biểu thị nhiệt độ lúc nước trong bình tăng lên y độ so với ban đầu và giảm x độ so với ban đầu.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Ban đầu nước có nhiệt độ là t độ.</p>
<p>Sau khi đun một thời gian, nước trong bình có nhiệt độ tăng thêm y độ nên lúc đó nhiệt độ nước trong bình là t+y độ.</p>
<p>Để lâu một thời gian, nhiệt độ nước trong bình giảm xuống x độ so với ban đầu nên nhiệt độ nước trong bình lúc đó là t-x độ. </p>
<p> </p>
<h4><u>Bài 4:</u></h4>
<p>Một doanh nhân gửi tiết kiệm vào ngân hàng là a (đồng). Biết lãi suất hằng tháng của ngân hàng là x%. Viết biểu thức đại số biểu thị số tiền của doanh nhân này sau một tháng, hai tháng, một năm (một năm có 12 tháng).</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Sau một tháng, với lãi suất x%, doanh nhân này được số tiền lãi là a.x% (đồng)</p>
<p>Khi đó, số tiền của doanh nhân sau một tháng là a+ax%=a(1+x%) (đồng)</p>
<p>Sang tháng thứ hai, doanh nhân được số tiền lãi là a(1+x%).x% (đồng)</p>
<p>Khi đó số tiền của doanh nhân sau hai tháng sẽ là a(1+x%)+a(1+x%).x%=a(1+x%)(1+x%)=a(1+x%)<sup>2</sup></p>
<p>Cứ làm như vậy cho đến một năm, số tiền của doanh nhân sau một năm có được là a(1+x%)<sup>12</sup> (một năm có 12 tháng).</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}