{% extends "pages/lop7/chuong4/base-lop7-chuong4.html" %}
{% block title %}Toán 7 Bài 4: Đơn thức đồng dạng - Luyện tập{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 7 Bài 4: Đơn thức đồng dạng - Luyện tập</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Ở bài trước các em đã được tìm hiểu về khái niệm <strong>Đơn thức</strong>, bài học này sẽ giới thiệu đến các em cách phân loại Đơn thức thông qua khái niệm <strong>Đơn thức đồng dạng </strong>và phép toán <strong>cộng</strong>, <strong>trừ</strong> các đơn thức này.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Đơn thức đồng dạng</h3>
</div>
<p>Hai đơn thức đồng dạng là hai đơn thức có hệ số khác 0 và có cùng phần biến.</p>
<p><strong>Ví dụ: </strong>\(\frac{-1}{2}xy^2,5xy^2,xy^2,\frac{-7}{5}xy^2\) là những đơn thức đồng dạng (vì các đơn thức này có hệ số khác 0 và có chung phần biến \(xy^2\))</p>
<p><strong>Chú ý:</strong> Các số khác 0 được gọi là những đơn thức đồng dạng.</p>
<div id="12">
<p><span style="color:inherit; font-family:inherit; font-size:24px">1.2. Cộng, trừ các đơn thức đồng dạng</span></p>
</div>
<p><span style="color:inherit; font-family:inherit; font-size:16px">Đ</span>ể cộng (hay trừ) hai đơn thức đồng dạng, ta cộng (hay trừ) các hệ số với nhau và giữ nguyên phần biến.</p>
<p><strong>Ví dụ:</strong></p>
<ul>
<li>Cộng hai đơn thức \(2x\) và \(5x\): \(2x+5x=(2+5)x=7x\).</li>
<li>Cộng hai đơn thức \(\frac{-1}{2}x^3y\) và \(x^3y\): \(\frac{-1}{2}x^3y+x^3y=(\frac{-1}{2}+1)x^3y=\frac{1}{2}x^3y\).</li>
</ul> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<h4><u>Bài 1:</u><strong> </strong></h4>
<h3><span style="font-size:13px">Xếp các đơn thức sau thành từng nhóm các đơn thức đồng dạng và cho biết ở mỗi nhóm đơn thức đồng dạng với nhau, phần biến là gì?</span></h3>
<p style="text-align:center">\(\frac{-5}{8}xy\)         \(-xy\)         \(-xy^2\)          \(3x^3y\)            \(\frac{1}{4}xy\)            \(-7xy^2\)           \(-1,5x^3y\)</p>
<h4><u>Hướng dẫn giải:</u> </h4>
<ul>
<li>\(\frac{-5}{8}xy;-xy;\frac{1}{4}xy\) là các đơn thức đồng dạng với nhau với phần biến là \(xy\).</li>
<li>\(-xy^2;-7xy^2\) là các đơn thức đồng dạng với nhau với phần biến là \(xy^2\).</li>
<li>\(3x^3y;-1,5x^3y\) là các đơn thức đồng dạng với nhau với phần biến là \(x^3y\).</li>
</ul>
<p> </p>
<h4><u>Bài 2:</u></h4>
<p>Tính giá trị biểu thức \(\frac{-16}{3}y^2t+3y^2t\) tại \(y=-3,t=1\).</p>
<h4><u>Hướng dẫn giải: </u></h4>
<p>Trước tiên ta tính tông hai đơn thức trên \(\frac{-16}{3}y^2t+3y^2t=(\frac{-16}{3}+3)y^2t=\frac{-7}{3}y^2t\)</p>
<p>Tại \(y=-3,t=1\) thì \(\frac{-7}{3}y^2t=\frac{-7}{3}.(-3)^2.1=-21\)</p>
<p>Vậy giá trị biểu thức \(\frac{-16}{3}y^2t+3y^2t\) tại \(y=-3,t=1\) là \(-21\).</p>
<p> </p>
<h4><u>Bài 3:</u></h4>
<p>Rút gọn biểu thức sau: \((2xy)^2.(-3x)+(\frac{1}{3}x^2).(4xy^2)\)</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Ta rút gọn từng hạng tử của biểu thức</p>
<p>\((2xy)^2.(-3x)=(4x^2y^2).(-3x)=-12x^3y^2\)</p>
<p>\((\frac{1}{3}x^2).(4xy^2)=\frac{4}{3}(x^2.xy^2)=\frac{4}{3}x^3y^2\)</p>
<p>Đến đây, hai hạng tử đồng dạng với nhau nên ta có thể rút gọn tiếp</p>
<p>\((2xy)^2.(-3x)+(\frac{1}{3}x^2).(4xy^2)=-12x^3y^2+\frac{4}{3}x^3y^2=\frac{-32}{3}x^3y^2\).</p>
<p> </p>
<h4><u>Bài 4:</u></h4>
<p>Tính:</p>
<p>a) \(2xy^2z+\frac{-3}{5}xy^2z+6xy^2z\).</p>
<p>b) \(2x^3y-\frac{-7}{3}x^3y+5x^3y\).</p>
<p>c) \(-5yz^2-\frac{-1}{2}yz^2-3yz^2\).</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a) \(2xy^2z+\frac{-3}{5}xy^2z+6xy^2z=(2+\frac{-3}{5}+6)xy^2z=\frac{37}{5}xy^2z\).</p>
<p>b) \(2x^3y-\frac{-7}{3}x^3y+5x^3y=(2-\frac{-7}{3}+5)x^3y=\frac{28}{3}x^3y\).</p>
<p>c) \(-5yz^2-\frac{-1}{2}yz^2-3yz^2=(-5-\frac{-1}{2}-3)yz^2=\frac{-15}{2}yz^2\).</p>
<p> </p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}