{% extends "pages/lop7/chuong4/base-lop7-chuong4.html" %}
{% block title %}Toán 7 Bài 7: Đa thức một biến{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 7 Bài 7: Đa thức một biến</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Nội dung bài học sẽ giúp các em tìm hiểu các vấn đề liên quan đến khái niệm <strong>Đa thức một biến</strong>. Bên cạnh đó là hệ thống bài tập minh họa có hướng dẫn giải chi tiết sẽ giúp các em dễ dàng làm chủ nội dung này.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Đa thức một biến</h3>
</div>
<ul>
<li>Đa thức một biến là tổng của các đơn thức của cùng một biến. Do đó, mỗi số cũng có thể coi là một đa thức của một biến nào đó.</li>
<li>Sau đó thu gọn đa thức có thể được sắp xếp theo luỹ thừa giảm dần hoặc tăng tằng của biến.</li>
</ul>
<div id="12">
<h3>1.2. Bậc của đa thức một biến</h3>
</div>
<p>Bậc của đa thức một biến khác đa thức không (đa thu gọn) là số mũ lớn nhất của biến có trong đa thức đó.</p>
<div id="13">
<div id="13">
<h3>1.3. Hệ số, giá trị của một đa thức</h3>
</div>
</div>
<p>a. Hệ số của đa thức:</p>
<ul>
<li>Hệ số cao nhất là hệ số của số hạng có bậc cao nhất.</li>
<li>Hệ số tự do là số hạng không chứa biến.</li>
</ul>
<p>b. Giá trị của đa thức f(x) tại x=a được kí hiệu là f(a).</p>
<hr/>
<h4><u>Ví dụ 1:</u></h4>
<p>Thu gọn các đa thức sau và sắp xếp theo luỹ thừa giảm dần của biến:</p>
<p>a. \(2{x^3} - {x^5} + 3{x^4} + {x^2} - \frac{1}{2}{x^3} + 3{x^5} - 2{x^2} - {x^4} + 1\).</p>
<p>b. \({x^7} - 3{x^4} + 2{x^3} - {x^2} - {x^4} - x + {x^7} - {x^3} + 5\).</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a.</p>
<p>\(\begin{array}{l}2{x^3} - {x^5} + 3{x^4} + {x^2} - \frac{1}{2}{x^3} + 3{x^5} - 2{x^2} - {x^4} + 1\\ = (2{x^3} - \frac{1}{2}{x^3}) + ( - {x^5} + 3{x^5}) + (3{x^4} - {x^4}) + ({x^2} - 2{x^2}) + 1\\ = \frac{2}{3}{x^3} + 2{x^5} + 2{x^4} - {x^2} + 1\\ = 2{x^5} + 2{x^4} + \frac{2}{3}{x^3} - {x^2} + 1\end{array}\).</p>
<p>b.</p>
<p>\(\begin{array}{l}{x^7} - 3{x^4} + 2{x^3} - {x^2} - {x^4} - x + {x^7} - {x^3} + 5\\ = ({x^7} + {x^7}) + ( - 3{x^4} - {x^4}) + (2{x^3} - {x^3}) + ( - {x^2}) + 5\\ = 2{x^7} - 4{x^4} + {x^3} - {x^2} - x + 5\end{array}\).</p>
<hr/>
<h4><u>Ví dụ 2:</u></h4>
<p>Tính giá trị của các đa thức:</p>
<p>a. \(x + {x^2} + {x^3} + {x^4} + {x^5} + ... + {x^{99}} + {x^{100}}\) tại x=-1.</p>
<p>b. \({x^2} + {x^4} + {x^6} + {x^8} + .... + {x^{98}} + {x^{100}}\) tại x=-1.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a. Thay x=-1 vào ta được:</p>
<p>\(\begin{array}{l}x + {x^2} + {x^3} + {x^4} + {x^5} + ... + {x^{99}} + {x^{100}}\\ = ( - 1) + {( - 1)^2} + {( - 1)^3} + {( - 1)^4} + {( - 1)^5} + ... + {( - 1)^{99}} + {( - 1)^{100}}\\ =  - 1 + 1 - 1 + 1 - 1 + 1 + ... - 1 + 1 = 0\end{array}\).</p>
<p>b. Thay x=-1 vào ta được:</p>
<p>\(\begin{array}{l}{x^2} + {x^4} + {x^6} + {x^8} + .... + {x^{98}} + {x^{100}}\\ = {( - 1)^2} + {( - 1)^4} + {( - 1)^6} + {( - 1)^8} + .... + {( - 1)^{98}} + {( - 1)^{100}}\\ = \underbrace {1 + 1 + ...... + 1}_{50\,\,so\,\,\,hang} = 50\end{array}\).</p>
<hr/>
<h4><u>Ví dụ 3:</u></h4>
<p>Cho đa thức sau:</p>
<p>\(5{x^7} - 7{x^6} + 5{x^5} - 4{x^4} + 7{x^6} - 3{x^2} + 1 - 5{x^7} - 3{x^5}\)</p>
<p>Bậc của đa thức đã cho là bao nhiêu?</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Thu gọn đa thức đã cho ta được:</p>
<p>\(\begin{array}{l}5{x^7} - 7{x^6} + 5{x^5} - 4{x^4} + 7{x^6} - 3{x^2} + 1 - 5{x^7} - 3{x^5}\\ = (5{x^7} - 5{x^7}) + ( - 7{x^6} + 7{x^6}) + (5{x^5} - 3{x^5}) - 4{x^4} - 3{x^2} + 1\\ = 2{x^5} - 4{x^4} - 3{x^2} + 1\end{array}\).</p>
<p>Đa thức có bậc là 5.</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<h4><u>Bài 1:</u></h4>
<p>Cho \(P(x) =  - 3{x^2} + 7x + 12 - 28{x^4}\) và \(Q(x) = 13{x^2} + 22{x^3} + 15{x^4} + 3x.\). Tính P(x) + Q(x) và P(x) – Q(x).</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Ta có: \(\frac{\begin{array}{l}P(x) = 12 + 7x - 3{x^2}\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\, - 28{x^4}\\ + \\Q(x) = \,\,\,\,\,\,\,\,\,\,\,\,\,\,\,3x + 13{x^2} + 22{x^3} + 15{x^4}\end{array}}{{P(x) + Q(x) = 12 + 10x + 10{x^2} + 22{x^3} - 13{x^4}}}\).</p>
<p>Và: \(\frac{\begin{array}{l}P(x) = 12 + 7x - 3{x^2}\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\, - 28{x^4}\\ + \\ - Q(x) = \,\,\,\,\,\,\, - \,3x - 13{x^2} - 22{x^3} - 15{x^4}\end{array}}{{P(x) - Q(x) = 12 + 4x - 16{x^2} - 22{x^3} - 43{x^4}}}\).</p>
<hr/>
<h4><u>Bài 2:</u></h4>
<p>Cho đa thức: \(f = 2x - {x^2} + 2.|x + 1|\)</p>
<p>a. Thu gọn đa thức f.</p>
<p>b. Tính giá trị của f khi \(x =  - \frac{3}{2}\).</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>\(f = 2x - {x^2} + 2.|x + 1|\)</p>
<p>a. Thu gọn:</p>
<p>Nếu \(\begin{array}{l}x + 1 \ge 0 \Rightarrow x \ge  - 1\\f = 2x - {x^2} + 2(x - 1) = 2x - {x^2} + 2x + 2\\ =  - {x^2} + 4x + 2\end{array}\).</p>
<p>Nếu \(x + 1 &lt; 0 \Rightarrow x &lt;  - 1\)</p>
<p>\(f = 2x - {x^2} + 1[ - (x - 1){\rm{]}} = 2x - {x^2} - 2x - 2 =  - {x^2} - 2\)</p>
<p>Vậy \(f =  - {x^2} + 4x + 2\) với \(x \ge  - 1\)</p>
<p>\( - {x^2} - 2\) với \(x &lt;  - 1\).</p>
<p>b. Tính giá trị của f khi \(x =  - \frac{3}{2}\)</p>
<p>Vì \(x =  - \frac{3}{2} &lt;  - 1\) nên \(f =  - {x^2} - 2 =  - {\left( { - \frac{3}{2}} \right)^2} - 2 =  - \frac{9}{4}2 =  - \frac{{17}}{4}\).</p>
<hr/>
<h4><u>Bài 3:</u></h4>
<p>Cho P(x) là một đa thức bậc 4 sao cho P(1)=P(-1) và P(2)=P(-2). Chứng minh rằng P(x)=P(-x) với mọi \(x \in Q.\)</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>P(x) là một đa thức bậc 4 nên P(x) có dạng thu gọn là:</p>
<p>\(P(x) = {a_0} + {a_1}x + {a_2}{x^2} + {a_3}{x^3} + {a_4}{x^4}\)</p>
<p>Từ các điều kiện P(1)=P(-1) và P(2)=P(-2), ta suy ra:</p>
<p>\(\begin{array}{l}{a_1} + {a_3} =  - {a_1} + {a_3}\,\,\,\,\,\,\,\,\,\,\,\,\,\,(1)\\2{a_1} + 8{a_3} =  - 2{a_1} - 8{a_3}\,\,\,(2)\end{array}\)</p>
<p>Từ (1) và (2) suy ra: \({a_1} = {a_3} = 0\)</p>
<p>Vậy \(P(x) = {a_0} + {a_2}{x^2} + {a_4}{x^4} = {a_0} + {a_2}{( - x)^2} + {a_4}{( - x)^4} = P( - x)\) với mọi \(x \in Q.\)</p>
<p><strong>Nhận xét:</strong></p>
<p>Trong bài này, ta sử dụng dạng thu gọn của một đa thức bậc 4. Chú ý rằng dạng thu gọn của một đa thức bậc n là:</p>
<p>\(f(x) = {a_n}{x^n} + {a_{n - 1}}{x^{n - 1}} + .... + {a_1}x + {a_0}\)</p>
<p>Từ bài toán này ta rút ra: Nếu đa thức f(x) chỉ gồm các luỹ thừa bậc chẵn của biến x thì f(x)=f(-x) với mọi \(x \in Q.\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}