{% extends "pages/lop12/chuong2/base-lop12-chuong2.html" %}
{% block title %}Toán 12 Bài 4: Hàm số mũ Hàm số lôgarit{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 12 Bài 4: Hàm số mũ Hàm số lôgarit</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Nội dung bài học sẽ cung cấp đến các em<strong> khái niệm, tính chất, cách tính đạo hàm</strong> của <strong>hàm số mũ</strong> và <strong>hàm số lôgarit,</strong> cùng với những ví dụ minh họa sẽ giúp các em nắm được phương pháp giải một số dạng toán cơ bản liên quan đến hàm số mũ và hàm số lôgarit.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<h3>2.1. Hàm số mũ</h3>
<h4>a) Định nghĩa hàm số mũ</h4>
<p>Cho số thực dương \(a\) khác 1.</p>
<p>Hàm số \(y=a^x\) được gọi là hàm số mũ cơ số \(a\).</p>
<h4>b) Tính chất hàm số mũ</h4>
<ul>
<li>Tập xác định: \(\mathbb{R}.\)</li>
<li>Tập giá trị: \((0;+\infty )\)</li>
<li>Với \(a&gt;1\) hàm số \(y=a^x\) đồng biến trên \(\mathbb{R}.\)</li>
<li>Với \(0</li>
<li>Đồ thị hàm số mũ nhận trục \(Ox\) làm tiệm cận ngang.</li>
</ul>
<p><img alt="" src="http://image.hoc247.vn/fckeditor/upload/images/2016-09-19_084733.png"/></p>
<h4>c) Đạo hàm của hàm số mũ</h4>
<ul>
<li>Hàm số \(y=e^x\) có đạo hàm với mọi \(x\) và: \(\left ( e^x \right )'=e^x\)</li>
<li>Hàm số \(y=a^x(a&gt;0,a\ne 1)\) có đạo hàm tại mọi \(x\) và: \(\left( {{a^x}} \right)' = {a^x}{\mathop{\rm lna}\nolimits}\)</li>
<li>Đối với hàm hợp:
	<ul>
<li>​\(({e^u})' = u'.{e^u}\)</li>
<li>​\(({a^u})' = {a^u}.\ln a.u'\)</li>
</ul>
</li>
</ul>
<h3>2.2. Hàm số Lôgarit</h3>
<h4>a) Định nghĩa hàm số Lôgarit</h4>
<p>Cho số thực dương \(a\) khác 1.</p>
<p>Hàm số \(y=\log_ax\) được gọi là hàm số lôgarit cơ số \(a.\)</p>
<h4>b) Tính chất hàm số Lôgarit</h4>
<ul>
<li>Tập xác định: \(\left( {0; + \infty } \right).\)</li>
<li>Tập giá trị: \(\mathbb{R}.\)</li>
<li>Với \(a&gt;1\): \(y=\log_ax\) là hàm số đồng biến trên \(\left( {0; + \infty } \right).\)</li>
<li>Với \(0</li>
<li>Với \(x_1&gt;0,x_2&gt;0\): \(\log_ax_1=\log_ax_2\Leftrightarrow x_1=x_2\)</li>
</ul>
<h4>c) Đạo hàm của hàm số logarit</h4>
<ul>
<li>
<h4>\(\left( {{{\log }_a}x} \right)' = \frac{1}{{x\ln a}}\)</h4>
</li>
<li>
<h4>\(\left( {{{\log }_a}\left| x \right|} \right)' = \frac{1}{{x\ln a}}\)</h4>
</li>
<li>
<h4>\(\left( {\ln x} \right)' = \frac{1}{x}\)</h4>
</li>
<li>Đối với hàm hợp:
	<ul>
<li>​\(\left( {{{\log }_a}u} \right)' = \frac{{u'}}{{u.\ln a}}\)</li>
<li>​\(\left( {\ln u} \right)' = \frac{{u'}}{{\ln u}}\)</li>
</ul>
</li>
</ul> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-12/bai-4-ham-so-mu-ham-so-logarit-l809.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-12/bai-4-ham-so-mu-ham-so-logarit-l809.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<h4><u><strong>Ví dụ 1:</strong></u></h4>
<p>Tính đạo hàm các hàm số sau:</p>
<p>a) \(y = \left( {{x^2} - 2x + 2} \right){e^x}\)</p>
<p>b) \(y = {2^{{x^2} - 3x}}\)</p>
<p>c) \(y = \frac{{{2^x} - 1}}{{{5^x}}}\)</p>
<p>d) \(y = \frac{{{e^x} - {e^{ - x}}}}{{{e^x} + {e^{ - x}}}}\)</p>
<h4><u><strong>Lời giải:</strong></u></h4>
<p>a) \(y = \left( {{x^2} - 2x + 2} \right){e^x} \Rightarrow y' = \left( {2x - 2} \right){e^x} + \left( {{x^2} - 2x + 2} \right){e^x} = \left( {{x^2}} \right){e^x}\)</p>
<p>b) \(y = {2^{{x^2} - 3x}} \Rightarrow y' = (2x - 3){.2^{{x^2} - 3x}}.\ln 2\)</p>
<p>c) \(y = \frac{{{2^x} - 1}}{{{5^x}}} = {\left( {\frac{2}{5}} \right)^x} - {\left( {\frac{1}{5}} \right)^x} \Rightarrow y' = {\left( {\frac{2}{5}} \right)^x}.\ln \frac{2}{5} - {\left( {\frac{1}{5}} \right)^x}.\ln \frac{1}{5}\)</p>
<p>d) \(y = \frac{{{e^x} - {e^{ - x}}}}{{{e^x} + {e^{ - x}}}}\)</p>
<p>\(\Rightarrow y' = \frac{{\left( {{e^x} + {e^{ - x}}} \right)\left( {{e^x} + {e^{ - x}}} \right) - \left( {{e^x} - {e^{ - x}}} \right)\left( {{e^x} - {e^{ - x}}} \right)}}{{{{\left( {{e^x} + {e^{ - x}}} \right)}^2}}} = \frac{4}{{{{\left( {{e^x} + {e^{ - x}}} \right)}^2}}}\)</p>
<h4><u><strong>Ví dụ 2:</strong></u> </h4>
<p>Tính đạo hàm các hàm số sau:</p>
<p>a) \(y = \ln \left( {{x^2} + 1} \right)\)</p>
<p>b) \(y = \frac{{\ln x}}{x}\)</p>
<p>c) \(y = \left( {1 + \ln x} \right)\ln x\)</p>
<p>d) \(y = {\log _3}(3{x^2} + 2x + 1)\)</p>
<h4><u><strong>Lời giải:</strong></u></h4>
<p>a) \(y = \ln \left( {{x^2} + 1} \right) \Rightarrow y' = \frac{{2x}}{{{x^2} + 1}}\)</p>
<p>b) \(y = \frac{{\ln x}}{x} \Rightarrow y' = \frac{1}{{{x^2}}}\left( {\frac{1}{x}.x - \ln x} \right) = \frac{{1 - \ln x}}{{{x^2}}}\)</p>
<p>c) \(y = \left( {1 + \ln x} \right)\ln x \Rightarrow y' = \frac{{\ln x}}{x} + \frac{{1 + \ln x}}{x} = \frac{{1 + 2\ln x}}{x}\)</p>
<p>d) \(y = {\log _3}(3{x^2} + 2x + 1)\) \(\Rightarrow y' = \frac{{\left( {3{x^2} + 1x + 1} \right)'}}{{(3{x^2} + 2x + 1).\ln 3}} = \frac{{6x + 2}}{{(3{x^2} + 2x + 1).\ln 3}}\)</p>
<h4><u><strong>Ví dụ 3:</strong></u></h4>
<p>Tìm tập xác định của các hàm số sau:</p>
<p>a) \(y = {\log _2}(25 - 4{x^2})\)</p>
<p>b) \(y = {\log _{2x + 1}}(3x + 1) - 2{\log _{3x + 1}}(2x + 1)\)</p>
<p>c) \(y = {\log _{\sqrt {3x + 2} }}(1 - \sqrt {1 - 4{x^2}} )\)</p>
<h4><u><strong>Lời giải:</strong></u></h4>
<p>a) Điều kiện: \(25 - 4{x^2} &gt; 0 \Leftrightarrow - \frac{5}{2} &lt; x &lt; \frac{5}{2}\)</p>
<p>Vậy tập xác định của hàm số là: \(D = \left( { - \frac{5}{2};\frac{5}{2}} \right).\)</p>
<p>b) Điều kiện: \(\left\{ \begin{array}{l} 0 &lt; 2x + 1 \ne 1\\ 0 &lt; 3x + 1 \ne 1 \end{array} \right. \Leftrightarrow \left\{ \begin{array}{l} x \ge - \frac{1}{3}\\ x \ne 0 \end{array} \right.\)</p>
<p>Vậy tập xác định của hàm số là: \(D = \left[ { - \frac{1}{3}; + \infty } \right)\backslash \left\{ 0 \right\}\).</p>
<p>c) Điều kiện: \(\left\{ \begin{array}{l} 0 &lt; 3x + 2 \ne 1\\ 1 - \sqrt {1 - 4{x^2}} &gt; 0 \end{array} \right. \Leftrightarrow \left\{ \begin{array}{l} x &gt; - \frac{2}{3}\\ x \ne - \frac{1}{3}\\ x \ne 0 \end{array} \right.\)</p>
<p>Vậy tập xác định của hàm số là: \(D = \left( { - \frac{2}{3}; + \infty } \right)\backslash \left\{ { - \frac{1}{3};0} \right\}\).</p>
<h4><u><strong>Ví dụ 4:</strong></u> </h4>
<p>Tìm m để hàm số \(y={\log _2}(2{x^2} + 3x + 2m - 1)\) xác định \(\forall x \in \mathbb{R}\).</p>
<h4><u><strong>Lời giải</strong></u>:</h4>
<p>Điều kiện: \(2{x^2} + 3x + 2m - 1 &gt; 0,\forall x \in \mathbb{R}\)</p>
<p>Ta có: \(\Delta = {3^2} - 4.2.(2m - 1) = 17 - 16m &gt; 0 \Leftrightarrow m &lt; \frac{{17}}{{16}}.\)</p>
<p>Vậy với \(m&lt;\frac{17}{16}\) hàm số xác định \(\forall x \in \mathbb{R}\).</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}