{% extends "pages/lop12/chuong2/base-lop12-chuong2.html" %}
{% block title %}Toán 12 Ôn tập chương 2 Hàm số lũy thừa, Hàm số mũ và Hàm số Lôgarit{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 12 Ôn tập chương 2 Hàm số lũy thừa, Hàm số mũ và Hàm số Lôgarit</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Các dạng toán liên quan đến <strong>mũ</strong> và <strong>lôgarit </strong>trong chương trình phổ thông chủ yếu đòi hỏi khả năng ghi nhớ công thức và vận dụng linh hoạt các phương pháp giải là có thể xử lý hầu hết các bài tập từ cơ bản đến nâng cao, không cần khả năng tư duy hay suy luận quá phức tạp. Bài ôn tập chương <strong>Hàm số lũy thừa, Hàm số mũ và hàm số lôgarit </strong>sẽ giúp các em hệ thống hóa lại kiến thức đã học để ghi nhớ và vận dụng tốt hơn vào việc giải bài tập.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="21">
<h3>2.1. Công thức mũ và lũy thừa</h3>
</div>
<p>Cho a và b&gt;0, m và n là những số thực tùy ý, ta có các công thức mũ và lũy thừa sau:</p>
<p style="text-align:center"><img alt="Công thức mũ và lũy thừa" src="https://hoc247.net/fckeditorimg/upload/images/1(42).png" style="height:293px; width:695px"/></p>
<div id="22">
<h3>2.2. Công thức lôgarit</h3>
</div>
<p>Cho \(a&lt;0\ne1,b&gt;0\) và \(x,y&gt;0,\) ta có các công thức sau:</p>
<p style="text-align:center"><img alt="Công thức logarit" src="https://hoc247.net/fckeditorimg/upload/images/2(13)(1).png" style="height:258px; width:704px"/></p>
<p style="text-align:center"><strong>Công thức đổi cơ số:</strong></p>
<p style="text-align:center"><img alt="Công thức đổi cơ số" src="https://hoc247.net/fckeditorimg/upload/images/3(8).png" style="height:106px; width:702px"/></p>
<div id="23">
<h3>2.3. Đạo hàm của hàm số lũy thừa, hàm số mũ và hàm số lôgarit</h3>
</div>
<p style="text-align:center"><img alt="Đạo hàm của hàm số mũ và hàm số logarit" src="https://hoc247.net/fckeditorimg/upload/images/4(7).png" style="height:203px; width:697px"/></p>
<div id="24">
<h3>2.4. Hàm số lũy thừa, hàm số mũ, hàm số lôgarit</h3>
</div>
<h4>a) Hàm số lũy thừa</h4>
<p style="text-align:center"><strong>Bảng tóm tắt các tính chất của hàm số lũy thừa \(y=x^{\alpha}\) trên khoảng \(\left( {0; + \infty } \right)\)</strong></p>
<p style="text-align:center"><img alt="Bảng tóm tắt các tính chất của hàm số lũy thừa" src="https://hoc247.net/fckeditorimg/upload/images/hs%20luy%20thua.png" style="height:200px; width:702px"/></p>
<h4>b) Hàm số mũ</h4>
<p style="text-align:center"><strong>Bảng tóm tắt các tính chất của hàm số mũ \(y=a^x(a&gt;0,a\ne1)\)</strong></p>
<p style="text-align:center"><img alt="Bảng tóm tắt các tính chất của hàm số mũ" src="https://hoc247.net/fckeditorimg/upload/images/ham%20so%20mu.png" style="height:278px; width:583px"/></p>
<h4>c) Hàm số lôgarit</h4>
<p style="text-align:center"><strong>Bảng tóm tắt các tính chất của hàm số lôgarit \(y={\log_a}x(a&gt;0,a\ne1)\)</strong></p>
<p style="text-align:center"><img alt="Bảng tóm tắt tính chất của hàm số logarit" src="https://hoc247.net/fckeditorimg/upload/images/hs%20loga.png" style="height:261px; width:578px"/></p>
<div id="25">
<h3>2.5. Phương trình và bất phương trình mũ</h3>
</div>
<p>Các phương pháp giải:</p>
<ul>
<li>Phương pháp đưa về cùng cơ số.</li>
<li>Phương pháp lôgarit hóa.</li>
<li>Phương pháp đặt ẩn phụ.</li>
<li>Phương pháp hàm số.</li>
</ul>
<div id="26">
<h3>2.6. Phương trình và bất phương trình lôgarit</h3>
</div>
<p>Các phương pháp giải:</p>
<ul>
<li>Phương pháp đưa về cùng cơ số</li>
<li>Phương pháp mũ hóa.</li>
<li>Phương pháp đặt ẩn phụ.</li>
<li>Phương pháp hàm số.</li>
</ul> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-12/on-tap-chuong-2-ham-so-luy-thua-ham-so-mu-va-ham-so-logarit-l6277.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-12/on-tap-chuong-2-ham-so-luy-thua-ham-so-mu-va-ham-so-logarit-l6277.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<h4><u><strong>Bài tập 1:</strong></u></h4>
<p><span style="color:rgb(0, 0, 0); font-family:roboto,arial,helvetica,sans-serif">Cho a,b,c&gt;0; a,b,c</span>\(\neq\)<span style="color:rgb(0, 0, 0); font-family:roboto,arial,helvetica,sans-serif">1 thỏa mãn ac = b</span><sup>2</sup>.<span style="color:rgb(0, 0, 0); font-family:roboto,arial,helvetica,sans-serif"> CMR: </span>\(\log_ab+\log_cb=2\log_ab.\log_cb.\)</p>
<h4><u><strong>Lời giải:</strong></u></h4>
<p>\(ac=b^2\Rightarrow \log_b\ a+\log_b\ c=2\)\(\Rightarrow \frac{1}{\log_a \ b}+\frac{1}{\log_c \ b}=2\)<br>
\(\Rightarrow \frac{\log_c \ b +\log_a \ b}{\log_a \ b .\log_c \ b}=2\)\(\Rightarrow \log_c \ b +\log_a \ b = 2\log_a \ b . \log_c \ b\).</br></p>
<h4><u><strong>Bài tập 2:</strong></u></h4>
<p>Cho \(\log_{3}5=a\). Tính \(\log_{75}45\) theo a.</p>
<h4><u><strong>Lời giải:</strong></u></h4>
<p>\(\log_{75}45=\frac{\log_{3}45}{\log_{3}75}=\frac{\log_{3}(3^{2}.5)}{\log_{3}(3.5^{2})}\)\(=\frac{log_{3}3^{2}+log_{3}5}{log_{3}3+log_{3}5^{2}}=\frac{2+log_{3}5}{1+2log_{3}5}\)\(=\frac{2+a}{1+2a}\).</p>
<h4><u><strong>Bài tập 3:</strong></u></h4>
<div>Một người gửi tiết kiệm ngân hàng với lãi suất 6,8%/năm và lãi hàng năm được nhập vào vốn. Cho biết số tiền cả gốc và lãi được tính theo công thức \(T=A(1+r)^n\), trong đó A là số tiền gửi, r là lãi suất và n là số kỳ hạn gửi. Hỏi sau bao nhiêu năm người đó thu được gấp đôi số tiền ban đầu?</div>
<h4><u><strong>Lời giải:</strong></u></h4>
<div>Sau n năm số tiền thu được là \(T=A(1+0,068)^n\)<br/>
Để T = 2A thì phải có \((1,068)^n=2 \ \ (hay \ (1+6,8\%)^n=2)\)<br/>
\(\Leftrightarrow n=log_{1,068}.2\approx 10,54\)<br/>
Vậy muốn thu được gấp đôi số tiền ban đầu, người đó phải gửi 11 năm.</div>
<h4><u><strong>Bài tập 4:</strong></u></h4>
<div>Giải phương trình \(\log_8\frac{8}{x^2}=3\log_8^2x.\)</div>
<h4><u><strong>Lời giải:</strong></u></h4>
<div>Điều kiện: \(\left\{ \begin{array}{l}<br/>
x &gt; 0\\<br/>
{\log _8}\frac{8}{{{x^2}}} \ge 0<br/>
\end{array} \right. \Leftrightarrow 0 &lt; x &lt; 2\sqrt 2 .\)</div>
<div>\(\log_8\frac{8}{x^2}=3\log_8^2x\Leftrightarrow \log_88 -\log_8x^2=3.\log_8^2x\)<br/>
\(\Leftrightarrow 3\log_8^2x+2\log_8x^2-1=0\)<br/>
Đặt \(t=\log_8x\), phương trình trở thành: \(3{t^2} + 2t - 1 = 0 \Leftrightarrow \left[ \begin{array}{l} t = - 1\\ t = \frac{1}{3} \end{array} \right.\)<br/>
Với: \(t=-1\Leftrightarrow log_8x=-1\Leftrightarrow x=\frac{1}{8}\)<br/>
Với: \(t=\frac{1}{3}\Leftrightarrow log_8x=\frac{1}{3}\Leftrightarrow x=2\)<br/>
Vậy tập nghiệm phương trình là: \(\left \{ \frac{1}{8};2 \right \}\).</div>
<h4><u><strong>Bài tập 5:</strong></u></h4>
<div>Giải bất phương trình: \(\log_{0,5}x+2\log_{0,25}(x-1)+\log_26\geq 0.\)</div>
<h4><u><strong>Lời giải</strong></u>:</h4>
<div>Điều kiện: x&gt; 1 (*).<br/>
Khi đó ta có:<br/>
\(\log_{0,5}x+2\log_{0,25}(x-1)+\log_26\geq 0\)<br/>
\(\Leftrightarrow \log_2x-\log_2(x-1)+\log_26\geq 0\)<br/>
\(\Leftrightarrow \log_2[x(x-1)]\leq \log_26\Leftrightarrow x(x-1)\leq 6\Leftrightarrow x^2-x-6\leq 0\)<br/>
\(\Leftrightarrow -2\leq x\leq 3\).<br/>
Kết hợp điều kiện (*) ta được <span helvetica="" style="font-family: ">\(1 &lt; x \le 3\)</span>
<div>Vậy tập nghiệm bất phương trình là S=(1;3].</div>
<h4><u><strong>Bài tập 6:</strong></u></h4>
<div>Giải phương trình \(27^x-5.3^{2-3x}=4.\)</div>
<h4><strong><u>Lời giải:</u></strong></h4>
<div>\(27^x-5.3^{2-3x}=4\Leftrightarrow 27^x-\frac{45}{27^x}=4\Leftrightarrow (27^x)^2-4.27^x-45=0\)<br/>
<span style="color:rgb(0, 0, 0); font-family:roboto,arial,helvetica,sans-serif">Đặt: </span>\(t=27^x(t&gt;0)\)<span style="color:rgb(0, 0, 0); font-family:roboto,arial,helvetica,sans-serif"> ta được </span>\(t^2-4t-45=0\)\(\Leftrightarrow t=9\) (Do t&gt;0).<br/>
\(\Rightarrow 3^{3x}=3^2\Leftrightarrow 3x=2\Leftrightarrow x=\frac{2}{3}\).<br/>
<span style="color:rgb(0, 0, 0); font-family:roboto,arial,helvetica,sans-serif">Vậy phương trình đã cho có nghiệm là </span>\(x=\frac{2}{3}\).</div>
<h4><strong><u>Bài tập 7:</u></strong></h4>
<div><span style="color:rgb(0, 0, 0); font-family:roboto,arial,helvetica,sans-serif">Giải bất phương trình </span><span style="color:rgb(0, 0, 0); font-family:roboto,arial,helvetica,sans-serif"> </span>\(4^x-3^x&gt;1.\)</div>
<h4><u><strong>Lời giải:</strong></u></h4>
<div> </div>
<div>
<p>\(4^x-3^x&gt;1\Leftrightarrow 4^x&gt;3^x+1\)\(\Leftrightarrow 1&gt;(\frac{3}{4})^x+(\frac{1}{4})^x\)<br/>
Với \(x\leq 1\) ta có: \(\left.\begin{matrix} \left ( \frac{3}{4} \right )^x\geqslant \frac{3}{4}\\ \\ \left ( \frac{1}{4} \right )^x\geqslant \frac{1}{4} \end{matrix}\right\}VP\geqslant 1\) Không thỏa mãn.<br/>
Với \(x&gt;1\) ta có:  \(\left.\begin{matrix} (\frac{3}{4})^x&lt;\frac{3}{4}\\ \\ (\frac{1}{4})^x&lt; \frac{1}{4} \end{matrix}\right\}VP&lt; 1\) thỏa mãn.</p>
<p>Vậy bất phương trình có tập nghiệm là: \(S=(1;+\infty ).\)</p>
</div>
<div> </div>
</div> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}