{% extends "pages/lop12/chuong1/base-lop12-chuong1.html" %}
{% block title %}Toán 12 Bài 1: Sự đồng biến, nghịch biến của hàm số{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 12 Bài 1: Sự đồng biến, nghịch biến của hàm số</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Nội dung bài học sẽ giúp các em nắm được khái niệm thế nào là <strong>Hàm số đồng biến, nghịch biến,</strong> điều kiện để hàm số <strong>đơn điệu trên một miền</strong>. Cùng với những ví dụ minh họa các dạng toán liên quan đến <strong>Tính đơn điệu</strong> của hàm số sẽ giúp các em hình thành và phát triển kĩ năng giải bài tập ở dạng toán này.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="21">
<h3>2.1. Định nghĩa</h3>
</div>
<p>Kí hiệu: K là một khoảng, một đoạn hoặc một nửa khoảng.</p>
<p>Cho hàm số \(y=f(x)\) xác định trên K.</p>
<ul>
<li>Hàm số \(y=f(x)\) đồng biến (tăng) trên K nếu \(\left\{ {\begin{array}{*{20}{c}} {{x_1},{x_2} \in K}\\ {{x_1} &lt; {x_2}} \end{array}} \right. \Rightarrow f({x_1}) &lt; f({x_2})\).</li>
<li>Hàm số \(y=f(x)\) nghịch biến (giảm) trên K nếu \(\left\{ {\begin{array}{*{20}{c}} {{x_1},{x_2} \in K}\\ {{x_1} &lt; {x_2}} \end{array}} \right. \Rightarrow f({x_1}) &gt; f({x_2})\).</li>
</ul>
<div id="22">
<h3>2.2. Điều kiện cần để hàm số đơn điệu</h3>
</div>
<p>Cho hàm số \(y=f(x)\) có đạo hàm trên K:</p>
<ul>
<li>Nếu \(f(x)\) đồng biến trên K thì \(f'(x)\geq 0\) với mọi \(x\in K\).</li>
<li>Nếu \(f(x)\) nghịch biến trên K thì \(f'(x)\leq 0\) với mọi \(x\in K\).</li>
</ul>
<div id="23">
<h3>2.3. Điều kiện đủ để hàm số đơn điệu</h3>
</div>
<p>Cho hàm số \(y=f(x)\) có đạo hàm trên K:</p>
<ul>
<li>Nếu \(f'(x)\geq 0\) với mọi \(x\in K\) và \(f'(x)=0\) chỉ tại một số hữu hạn điểm thuộc K thì \(f(x)\) đồng biến trên K.</li>
<li>Nếu \(f'(x)\leq 0\) với mọi \(x\in K\) và \(f'(x)=0\) chỉ tại một số hữu hạn điểm thuộc K thì \(f(x)\) nghịch biến trên K.</li>
<li>Nếu \(f'(x)=0\) với mọi \(x\in K\) thì \(f(x)\) là hàm hằng trên K.</li>
</ul>
<div id="24">
<h3>2.4. Các bước xét tính đơn điệu của hàm số</h3>
</div>
<ul>
<li><strong>Bước 1</strong>: Tìm tập xác định</li>
<li><strong>Bước 2:</strong> Tính đạo hàm \(f'(x)=0\). Tìm các điểm \(x_i\) (i= 1 , 2 ,..., n) mà tại đó đạo hàm bằng 0 hoặc không xác định.</li>
<li><strong>Bước 3:</strong> Sắp xếp các điểm x<sub>i</sub> theo thứ tự tăng dần và lập bảng biến thiên.</li>
<li><strong>Bước 4: </strong>Nêu kết luận về các khoảng đồng biến, nghịch biến của hàm số.</li>
</ul> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-12/bai-1-su-dong-bien-nghich-bien-cua-ham-so-l4230.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-12/bai-1-su-dong-bien-nghich-bien-cua-ham-so-l4230.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<div id="31">
<h3>3.1. Dạng 1: Tìm khoảng đơn điệu của hàm số</h3>
</div>
<h4><strong><u>Ví dụ 1:</u> </strong></h4>
<p>Tìm khoảng đơn điệu của các hàm số sau:</p>
<p><strong>a)</strong> \(y = {x^3} - 3{x^2} + 3x + 7\)</p>
<p><strong>b)</strong> \(y=x^4-2x^2-1\)</p>
<p><strong>c)</strong> \(y=\frac{x+1}{x-1}\)</p>
<h4><u><strong>Lời giải:</strong></u></h4>
<p><strong>a)</strong> \(y = {x^3} - 3{x^2} + 3x + 7\)</p>
<ul>
<li>Xét hàm số: \(y = {x^3} - 3{x^2} + 3x + 7\)
	<ul>
<li>TXĐ: \(D=\mathbb{R}\)</li>
<li>\(y'=3x^2-6x+3\)</li>
<li>\(y' = 0 \Leftrightarrow 3{x^2} - 6x + 3 = 0 \Leftrightarrow x = 1\)</li>
</ul>
</li>
<li>Bảng biến thiên:</li>
</ul>
<p style="margin-left:40px"><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/1a.png" style="height:79px; width:247px"/></p>
<ul>
<li>Kết luận: Hàm số đồng biến trên \(\mathbb{R}.\)</li>
</ul>
<p><strong>b)</strong> \(y=x^4-2x^2-1\)</p>
<ul>
<li>Xét hàm số \(y=x^4-2x^2-1\)
	<ul>
<li>TXĐ: \(D=\mathbb{R}\)</li>
<li>\(y'=4x^3-4x\)</li>
<li>\(y' = 0 \Leftrightarrow 4{x^3} - 4x = 0 \Leftrightarrow \left[ \begin{array}{l} x = 0\\ x = - 1\\ x = 1 \end{array} \right.\)</li>
</ul>
</li>
<li>Bảng biến thiên:</li>
</ul>
<p style="margin-left:40px"><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/1a(1).png" style="height:79px; width:252px"/></p>
<ul>
<li>Kết luận:
	<ul>
<li>Hàm số đồng biến trên các khoảng \(\left( { - 1;0} \right)\) và \(\left( {1; + \infty } \right)\)</li>
<li>Hàm số nghịch biến trên các khoảng \(\left( {- \infty;-1 } \right)\) và \((0;1).\)</li>
</ul>
</li>
</ul>
<p><strong>c)</strong> \(y=\frac{x+1}{x-1}\)</p>
<ul>
<li>Xét hàm số \(y=\frac{x+1}{x-1}\).
	<ul>
<li>TXĐ: \(D = \mathbb{R}\backslash \left\{ 1 \right\}\)</li>
<li>\(y' = \frac{{ - 2}}{{{{(x - 1)}^2}}} &gt; 0,\forall \ne 1\)</li>
</ul>
</li>
<li>Bảng biến thiên:</li>
</ul>
<p style="margin-left:40px"><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/Ch%C6%B0a%20c%C3%B3%20t%C3%AAn.png" style="height:69px; width:200px"/></p>
<ul>
<li>Kết luận: Hàm số nghịch biến trên các khoảng \(\left( { - \infty ;1} \right)\) và \(\left( { 1;+ \infty } \right)\).</li>
</ul>
<div id="32">
<h3>3.2. Dạng 2: Tìm tham số để hàm số đơn điệu trên một miền</h3>
</div>
<h4><strong><u>Ví dụ 2:</u> </strong></h4>
<p>Tìm tất cả các giá trị thực của tham số m để hàm số \(y=x^3+3x^2+mx+m\) đồng biến trên \(\mathbb{R}\).</p>
<h4><u><strong>Lời giải:</strong></u></h4>
<ul>
<li>Xét hàm số \(y=x^3+3x^2+mx+m\)
	<ul>
<li>TXĐ: \(D=\mathbb{R}\)</li>
<li>\(y' = 3{x^2} + 6x + m\)</li>
</ul>
</li>
<li>Hàm số đồng biến trên \(\mathbb{R}\) khi \(y' \ge 0,\forall x \in\mathbb{R} \Leftrightarrow \left\{ \begin{array}{l} \Delta ' \le 0\\ a = 1 &gt; 0 \end{array} \right. \Leftrightarrow 9 - 3m &lt; 0 \Leftrightarrow m \ge 3\).</li>
<li>Kết luận: với \(m\geq 3\) thì hàm số đồng biến trên \(\mathbb{R}\).</li>
</ul>
<h4><u><strong>Ví dụ 3:</strong></u></h4>
<p>Tìm tất cả các giá trị thực của tham số m để hàm số \(y = 2x^3 - 3(2m + 1){x^2} + 6m(m + 1)x + 1\) đồng biến trong khoảng \((2; + \infty )\).</p>
<h4><u><strong>Lời giải:</strong></u></h4>
<ul>
<li>Xét hàm số \(y = 2x^3 - 3(2m + 1){x^2} + 6m(m + 1)x + 1\).
	<ul>
<li>TXĐ: \(D=\mathbb{R}\)</li>
<li>\(y' = 6{x^2} - 6(2m + 1)x + 6m(m + 1)\)</li>
<li>\(\Delta = {(2m + 1)^2} - 4({m^2} + m) = 1 &gt; 0\)</li>
<li>\(y' = 0 \Leftrightarrow \left[ \begin{array}{l} x = m\\ x = m + 1 \end{array} \right.\) </li>
</ul>
</li>
<li>Do \(m</li>
</ul>
<p style="margin-left:40px"><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/9(1).png" style="height:196px; width:481px"/></p>
<ul>
<li>Hàm số đồng biến trong các khoảng \(( - \infty ;m),\,\,(m + 1; + \infty )\).</li>
<li>Kết luận: Do đó hàm số đồng biến trong khoảng \((2; + \infty )\) khi \(m + 1 \le 2 \Leftrightarrow m \le 1.\)</li>
</ul> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}