{% extends "pages/lop12/chuong1/base-lop12-chuong1.html" %}
{% block title %}Toán 12 Bài 3: Giá trị lớn nhất và giá trị nhỏ nhất của hàm số{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 12 Bài 3: Giá trị lớn nhất và giá trị nhỏ nhất của hàm số</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Nội dung bài học sẽ giúp các em nắm được khái niệm <strong>Giá trị lớn nhất </strong>và <strong>giá trị nhỏ nhất </strong>của hàm số trên một miền, các phương pháp <strong>ứng dụng đạo hàm </strong>để tìm Giá trị lớn nhất và nhỏ nhất của hàm số đi kèm với những ví dụ minh họa sẽ giúp các em hình thành và phát triển kĩ năng giải bài tập ở dạng toán này.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="1">
<div id="21">
<h3>2.1. Định nghĩa</h3>
</div>
</div>
<p>Cho hàm số \(y=f(x)\) xác định trên tập D.</p>
<ul>
<li>
<p>M được gọi là GTLN của \(f(x)\) trên D nếu: \(\left\{\begin{matrix} f(x)\leq M\\ \exists x_0, f(x_0)=M \end{matrix}\right.\).</p>
</li>
<li>
<p>m được gọi là GTNN của \(f(x)\) trên D nếu:  \(\left\{\begin{matrix} m\leq f(x), \forall x\in D\\ \forall x_0\in D, f(x_0)=m \end{matrix}\right.\).</p>
</li>
</ul>
<div id="22">
<h3>2.2. Các phương pháp tìm GTLN và GTNN của hàm số</h3>
</div>
<h4>a) Tìm GTLN và GTNN của hàm số trên miền D </h4>
<p>Để tìm GTLN, GTNN của hàm số \(y=f(x)\) xác định trên tập hợp D, ta tiến hành khảo sát sự biến thiên của hàm số trên D, rồi căn cứ vào bảng biến thiên của hàm số đưa ra kết luận về GTLN và GTNN của hàm số.</p>
<h4>b) Tìm GTLN và GTNN của hàm số trên một đoạn</h4>
<ul>
<li>
<p><strong>Định lý:</strong> Mọi hàm số liên tục trên một đoạn đều có giá trị lớn nhất và giá trị nhỏ nhất trên đoạn đó.</p>
</li>
<li>
<p> Quy tắc tìm GTLN và GTNN của hàm số \(f(x)\) liên tục trên một đoạn \([a;b].\)</p>
<ul>
<li>
<p><span style="font-size:14px">Tìm các điểm \(x_i\in (a ; b)\) (i = 1, 2, . . . , n) mà tại đó \(f'(x_i)=0\) hoặc \(f'(x_i)\) không xác định.</span></p>
</li>
<li>
<p><span style="font-size:14px">Tính \(f(x),f(b),f(x_i)\) (i = 1, 2, . . . , n).</span></p>
</li>
<li>
<p><span style="font-size:14px">Khi đó :  <img alt="" id="equationview" src="http://latex.codecogs.com/gif.latex?%5Cunderset%7B%5Ba%3Bb%5D%7D%7Bmax%7D%20f%28x%29%3D%5Cmax%20%5Cleft%20%5C%7B%20f%28a%29%3B%20f%28b%29%3B%20f%28x_%7Bi%7D%29%20%5Cright%20%5C%7D%3B%20%5Cunderset%7B%5Ba%3Bb%5D%7D%7Bmin%7D%20f%28x%29%3D%5Cmin%20%5Cleft%20%5C%7B%20f%28a%29%3B%20f%28b%29%3B%20f%28x_%7Bi%7D%29%20%5Cright%20%5C%7D%3B" style="border-style:none; border-width:initial; margin:0px; padding:0px" title="This is the rendered form of the equation. You can not edit this directly. Right click will give you the option to save the image, and in most browsers you can drag the image onto your desktop or another program."/></span></p>
</li>
</ul>
</li>
</ul> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-12/bai-3-gia-tri-lon-nhat-va-gia-tri-nho-nhat-cua-ham-so-l803.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-12/bai-3-gia-tri-lon-nhat-va-gia-tri-nho-nhat-cua-ham-so-l803.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<div id="31">
<h3>3.1. Dạng 1: Tìm GTLN và GTNN của hàm số trên miền D</h3>
</div>
<p>Tìm GTLN-GTNN của các hàm số sau:</p>
<p>a) Hàm số \(y=x^3-3x^2-9x+5\).</p>
<p>b) Hàm số \(y=\frac{x^2+2x+3}{x-1},x\in(1;3].\)</p>
<p><u><strong>Lời giải:</strong></u></p>
<p>a) Hàm số \(y=x^3-3x^2-9x+5\).</p>
<ul>
<li>
<p>TXĐ: \(D=\mathbb{R}.\)</p>
</li>
<li>
<p>\(y'=3x^2-6x-9.\)</p>
</li>
<li>
<p>\(y' = 0 \Leftrightarrow 3{x^2} - 6x - 9 = 0 \Leftrightarrow \left[ \begin{array}{l} x = - 1\\ x = 3 \end{array} \right.\)</p>
</li>
<li>
<p>Bảng biến thiên:</p>
</li>
</ul>
<p style="margin-left:40px"><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/Ch%C6%B0a%20c%C3%B3%20t%C3%AAn(1).png" style="height:195px; width:389px"/></p>
<ul>
<li>
<p>Vậy hàm số không có giá trị lớn nhất và giá trị nhỏ nhất.</p>
</li>
</ul>
<p>b)  Xét hàm số \(y=\frac{x^2+2x+3}{x-1}\) xác định trên \((1;3].\)</p>
<ul>
<li>
<p>​\(y'=\frac{x^2-2x-5}{(x+1)^2}\)</p>
</li>
<li>
<p>\(y' = 0 \Rightarrow {x^2} - 2x - 5 = 0 \Leftrightarrow \left[ \begin{array}{l} x = 1 + \sqrt 6 \notin \left( {1;3} \right]\\ x = 1 - \sqrt 6 \notin \left( {1;3} \right] \end{array} \right.\)</p>
</li>
<li>
<p>Bảng biến thiên:</p>
</li>
</ul>
<p style="margin-left:40px"><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/Ch%C6%B0a%20c%C3%B3%20t%C3%AAn(2).png" style="height:124px; width:454px"/></p>
<ul>
<li>
<p>Vậy hàm số có giá trị nhỏ nhất \(\mathop {Min}\limits_{x \in (1;3]} y = 9\), Hàm số không có giá trị lớn nhất.</p>
</li>
</ul>
<div id="32">
<h3>3.2. Dạng 2: Tìm GTLN và GTNN của hàm số trên một đoạn</h3>
</div>
<p>Tìm GTLN-GTNN của các hàm số sau:</p>
<p>a) Hàm số \(y = f\left( x \right) = - \frac{1}{3}{x^3} + {x^2} - 2x + 1\) trên đoạn \(\left[ { - 1;0} \right]\).</p>
<p>b) Hàm số \(y = f\left( x \right) = \frac{{2x + 1}}{{x - 2}}\) trên đoạn \(\left[ { - \frac{1}{2};1} \right]\).</p>
<p>c) Hàm số \(y = f\left( x \right) = {\sin ^2}x - 2\cos x + 2\).</p>
<p><u><strong>Lời giải:</strong></u></p>
<p> a) Hàm số \(y = f\left( x \right) = - \frac{1}{3}{x^3} + {x^2} - 2x + 1\) xác định trên đoạn \(\left[ { - 1;0} \right]\).</p>
<ul>
<li>
<p>\({f^/}\left( x \right) = - {x^2} + 2x - 2\)</p>
</li>
<li>
<p>\({f^/}\left( x \right) = 0 \Leftrightarrow - {x^2} + 2x - 2 = 0\)</p>
</li>
<li>
<p>Ta có: \(f\left( { - 1} \right) = \frac{{11}}{3};f\left( 0 \right) = 1\).</p>
</li>
<li>
<p>Vậy: \(\mathop {\max f\left( x \right)}\limits_{\left[ { - 1;0} \right]} = \frac{{11}}{3}\); \(\mathop {\min f\left( x \right)}\limits_{\left[ { - 1;0} \right]} = 1\)</p>
</li>
</ul>
<p>b) Hàm số \(y = f\left( x \right) = \frac{{2x + 1}}{{x - 2}}\) xác định trên đoạn \(\left[ { - \frac{1}{2};1} \right]\)</p>
<ul>
<li>
<p>\({f^/}\left( x \right) = - \frac{5}{{{{\left( {x - 2} \right)}^2}}} &lt; 0,\forall x \in\left [ -\frac{1}{2};1 \right ]\)</p>
</li>
<li>
<p>Ta có: \(f\left( { - \frac{1}{2}} \right) = 0;f\left( 1 \right) = - 3\)</p>
</li>
<li>
<p>Vậy: \(\mathop {\max f\left( x \right)}\limits_{\left[ { - \frac{1}{2};1} \right]} = 0\); \(\mathop {min f\left( x \right)}\limits_{\left[ { - \frac{1}{2};1} \right]} = - 3\)</p>
</li>
</ul>
<p>c)  Hàm số \(y = f\left( x \right) = {\sin ^2}x - 2\cos x + 2\).</p>
<ul>
<li>
<p>TXĐ: \(D=\mathbb{R}\)</p>
</li>
<li>
<p>Ta có: \(f\left( x \right) = {\sin ^2}x - 2\cos x + 2 = - c{\rm{o}}{{\rm{s}}^2}x - 2co{\mathop{\rm s}\nolimits} x + 3\)</p>
</li>
<li>
<p>Đặt: \(t = {\cos ^2}x\) suy ra \(t \in \left[ { - 1;1} \right];\forall x \in \mathbb{R}\).</p>
</li>
<li>
<p>Xét hàm số: \(g\left( t \right) = - {t^2} - 2t + 3\) trên đoạn \([-1;1]\).</p>
<ul>
<li>
<p>Ta có: \({g^/}\left( t \right) = - 2t - 2\)</p>
</li>
<li>
<p>  \({g^/}\left( t \right) = 0 \Leftrightarrow t = - 1\)</p>
</li>
<li>
<p>Tính: \(g\left( { - 1} \right) = 4;g\left( 1 \right) = 0\).</p>
</li>
</ul>
</li>
<li>
<p>Vậy: \(\max f(x) = \mathop {\max }\limits_{{\rm{[}} - 1;1]} g(t) = 4\); \(\min f(x) = \mathop {\min }\limits_{{\rm{[}} - 1;1]} g(t) = 0\).</p>
</li>
</ul> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}