{% extends "pages/lop12/chuong1/base-lop12-chuong1.html" %}
{% block title %}Toán 12 Bài 4: Đường tiệm cận{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 12 Bài 4: Đường tiệm cận</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Nội dung bài học sẽ giúp các em nắm khái niệm <strong>Tiệm cận</strong> của đồ thị hàm số, biết được các phương pháp tìm <strong>tiệm cận đứng </strong>và <strong>tiệm cận ngang</strong> của đồ thì hàm số, cùng với những ví dụ minh họa sẽ giúp các em biết cách giải được hầu hết các bài tập từ cơ bản đến nâng cao.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="21">
<h3>2.1. Đường tiệm cận ngang</h3>
</div>
<h4>a) Định nghĩa</h4>
<p>Đường thẳng \(y=b\) được gọi là tiệm cận ngang của đồ thị hàm số \(y = f(x)\) nếu thỏa mãn <strong>một</strong> trong các điều kiện sau:</p>
<ul>
<li>\(\lim_{x\rightarrow -\infty } f(x) = b\)</li>
<li> \(\lim_{x\rightarrow +\infty } f(x) = b\)</li>
</ul>
<h4><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/2016-05-13_201703.jpg"/><br>
b) Chú ý</br></h4>
<ul>
<li>Điều kiện để đồ thị hàm số \(y = \frac{P(x)}{Q(x)}\)   có tiệm cận ngang là bậc của đa thức P(x) bé hơn hoặc bằng bậc của đa thức Q(x).</li>
<li>Tổng quát: Xét hàm số \(y = \frac{a_nx^n + ... + a_0}{b_mx^m + ... + b_0} \ \ \ m, n \in N; a_n\neq 0; b_m\neq 0\). 
	<ul>
<li>Điều kiện để hàm số có tiệm cận ngang là \(n\leq m.\)</li>
<li>Nếu \(n=m\): tiệm cận ngang là đường thẳng \(y = \frac{a_n}{b_m}\)</li>
<li>Nếu \(n</li>
</ul>
</li>
</ul>
<div id="22">
<h3>2.2. Đường tiệm cận đứng</h3>
</div>
<h4>a) Định nghĩa</h4>
<p>Đường thẳng \(x=a\) được gọi là đường tiệm cận đứng của đồ thị hàm số \(y = f(x)\) nếu thỏa mãn <strong>một </strong>trong các điều kiện sau:</p>
<ul>
<li><span>\(\lim_{x\rightarrow a^+} f(x) = \pm \infty\)</span></li>
<li><span>\(\lim_{x\rightarrow a^-} f(x) = \pm \infty\)</span></li>
</ul>
<p><span><img alt="" src="http://image.hoc247.vn/fckeditor/upload/images/2016-05-13_202024.jpg" style="height:145px; margin:0px; max-width:540px !important; padding:0px; width:221px"/></span></p>
<h4>b) Chú ý</h4>
<ul>
<li>Đường thẳng \(x=a\) là đường tiệm cận đứng của đồ thị \(y = f(x)\) thì a không thuộc tập xác định của \(f(x)\).</li>
<li><span>Đối với hàm phân thức </span>\(y = \frac{P(x)}{Q(x)}\)<span> thì a là nghiệm Q(x)=0.</span></li>
</ul> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-12/bai-4-duong-tiem-can-l804.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-12/bai-4-duong-tiem-can-l804.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<ul>
<li>
<h4><strong><u>Ví dụ 1:</u> </strong></h4>
</li>
</ul>
<p>Tìm tiệm cận đứng và tiệm cận ngang của đồ thị hàm số \(y=\frac{2x-1}{x+2}\).</p>
<h4><u><strong>Lời giải:</strong></u></h4>
<p>TXĐ: \(D = \mathbb{R}\backslash \left\{ -2 \right\}\)</p>
<p>Ta có: </p>
<p style="margin-left:40px">​\(\begin{array}{l} \mathop {\lim }\limits_{x \to - \infty } y = \mathop {\lim }\limits_{x \to - \infty } \frac{{2x - 1}}{{x + 2}} = 2\\ \mathop {\lim }\limits_{x \to + \infty } y = \mathop {\lim }\limits_{x \to + \infty } \frac{{2x - 1}}{{x + 2}} = 2 \end{array}\)</p>
<p>Vậy đường thẳng y=2 là tiệm cận ngang của đồ thị hàm số \(y=\frac{2x-1}{x+2}\).</p>
<p>Ta có:</p>
<p style="margin-left:40px">\(\begin{array}{l} \mathop {\lim }\limits_{x \to {{\left( { - 2} \right)}^ - }} y = \mathop {\lim }\limits_{x \to {{\left( { - 2} \right)}^ - }} \frac{{2x - 1}}{{x + 2}} = - \infty \\ \mathop {\lim }\limits_{x \to {{\left( { - 2} \right)}^ + }} y = \mathop {\lim }\limits_{x \to {{\left( { - 2} \right)}^ + }} \frac{{2x - 1}}{{x + 2}} = + \infty \end{array}\)</p>
<p>Vậy đường thẳng x=-2 là tiệm cận đứng của đồ thị hàm số \(y=\frac{2x-1}{x+2}\).</p>
<ul>
<li>
<h4><strong><u>Ví dụ 2:</u> </strong></h4>
</li>
</ul>
<p>Tìm tiệm cận đứng và tiệm cận ngang của đồ thị hàm số \(y = \frac{{{x^2} - x + 1}}{{x - 1}}.\)</p>
<h4><u><strong>Lời giải: </strong></u></h4>
<p>TXĐ: \(D = \mathbb{R}\backslash \left\{1 \right\}\)​</p>
<p>Ta có:</p>
<p style="margin-left:40px">\(\begin{array}{l} \mathop {\lim }\limits_{x \to {1^ + }} y = \mathop {\lim }\limits_{x \to {1^ + }} \frac{{{x^2} - x + 1}}{{x - 1}} = + \infty \\ \mathop {\lim }\limits_{x \to {1^ - }} y = \mathop {\lim }\limits_{x \to {1^ - }} \frac{{{x^2} - x + 1}}{{x - 1}} = - \infty \end{array}\)</p>
<p>Vậy đường thẳng x=1 là tiệm cận đứng của đồ thị hàm số \(y = \frac{{{x^2} - x + 1}}{{x - 1}}.\)</p>
<p>Ta có:</p>
<p style="margin-left:40px">\(\begin{array}{l} \mathop {\lim }\limits_{x \to + \infty } y = \mathop {\lim }\limits_{x \to + \infty } \frac{{{x^2} - x + 1}}{{x - 1}} = + \infty \\ \mathop {\lim }\limits_{x \to - \infty } y = \mathop {\lim }\limits_{x \to - \infty } \frac{{{x^2} - x + 1}}{{x - 1}} = - \infty \end{array}\)</p>
<p>Vậy đồ thị hàm số không có tiệm cận ngang.</p>
<ul>
<li>
<h4><strong><u>Ví dụ 3:</u> </strong></h4>
</li>
</ul>
<p>Tìm tiệm cận đứng và tiệm cận ngang của đồ thị hàm số \(y = \frac{{\sqrt {{x^2} + 1} }}{x}.\)</p>
<h4><strong><u>Lời giải</u>:</strong></h4>
<p>TXĐ: \(D = \mathbb{R}\backslash \left\{0\right\}\)​</p>
<p>Ta có:</p>
<p style="margin-left:40px">\(\mathop {\lim }\limits_{x \to - \infty } y = \mathop {\lim }\limits_{x \to - \infty } \frac{{ - x\sqrt {1 + \frac{1}{{{x^2}}}} }}{x} = - 1\)</p>
<p>Suy ra đường thẳng y=-1 là tiệm cận ngang của đồ thị hàm số \(y = \frac{{\sqrt {{x^2} + 1} }}{x}.\)</p>
<p>Ta có:</p>
<p style="margin-left:40px">\(\mathop {\lim }\limits_{x \to + \infty } y = \mathop {\lim }\limits_{x \to + \infty } \frac{{x\sqrt {1 + \frac{1}{{{x^2}}}} }}{x} = 1\)</p>
<p>Suy ra đường thẳng y=1 là tiệm cận ngang của đồ thị hàm số \(y = \frac{{\sqrt {{x^2} + 1} }}{x}.\)</p>
<p>Ta có:</p>
<p style="margin-left:40px">\(\mathop {\lim }\limits_{x \to {0^ - }} y = \mathop {\lim }\limits_{x \to {0^ - }} \frac{{\sqrt {{x^2} + 1} }}{x} = - \infty\)</p>
<p style="margin-left:40px">\(\mathop {\lim }\limits_{x \to {0^ + }} y = \mathop {\lim }\limits_{x \to {0^ + }} \frac{{\sqrt {{x^2} + 1} }}{x} = + \infty\)</p>
<p>Suy ra đường thẳng x=0 là tiệm cận đứng của đồ thị hàm số \(y = \frac{{\sqrt {{x^2} + 1} }}{x}.\)</p>
<ul>
<li>
<h4><strong><u>Ví dụ 4:</u> </strong></h4>
</li>
</ul>
<p>Tìm tiệm cận đứng và tiệm cận ngang của đồ thị hàm số \(y = 1 + \sqrt {1 - {x^2}}\).</p>
<h4><u><strong>Lời giải:</strong></u><strong> </strong></h4>
<p>Ta có: \(y = 1 + \sqrt {1 - {x^2}} \Leftrightarrow \left\{ \begin{array}{l} - 1 \le x \le 1\\ y \ge 1\\ {x^2} + {(y - 1)^2} = 1 \end{array} \right.\)</p>
<p>Do đó đồ thị hàm số là nửa đường tròn tâm I(0;1) bán kính R=1.</p>
<p>Vậy đồ thị hàm số không có tiệm cận.</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}