{% extends "pages/lop11/chuong3/base-lop11-chuong3.html" %}
{% block title %}Toán 11 Bài 4: Cấp số nhân{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 11 Bài 4: Cấp số nhân</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p><strong>Cấp số nhân</strong><span style="color:rgb(84, 84, 84)"> là một <strong>dãy số</strong> có tính chất đặc biệt. </span>Bài<span style="color:rgb(84, 84, 84)"> giảng này sẽ cung cấp cho các em khái niệm </span><strong>cấp số nhân</strong><span style="color:rgb(84, 84, 84)"> và các dạng toán liên quan, cùng với những ví dụ minh họa có hướng dẫn giải chi tiết sẽ giúp các em dễ dàng làm chủ nội dung phần này.</span></p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Định nghĩa</h3>
</div>
<p>Dãy số (u<sub>n</sub>) được xác định bởi \(\left\{ {\begin{array}{*{20}{c}}{{u_1} = a}\\{{u_{n + 1}} = {u_n}.q}\end{array}} \right.,{\rm{ }}n \in {N^*}\)  gọi là cấp số nhân; \(q\) gọi là công bội.</p>
<div id="12">
<h3>1.2. Các tính chất</h3>
</div>
<p>\( \bullet \)  Số hạng thứ n được cho bởi công thức: \({u_n} = {u_1}{q^{n - 1}}\).</p>
<p>\( \bullet \) Ba số hạng \({u_k},{u_{k + 1}},{u_{k + 2}}\) là ba số hạng liên tiếp của cấp số nhân khi và chỉ khi \(u_{k + 1}^2 = {u_k}.{u_{k + 2}}\).</p>
<p>\( \bullet \) Tổng \(n\) số hạng đầu tiên \({S_n}\) được xác định bởi công thức :</p>
<p>\({S_n} = {u_1} + {u_2} + ... + {u_n} = {u_1}\frac{{1 - {q^n}}}{{1 - q}}\)</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-11/bai-4-cap-so-nhan-l776.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-11/bai-4-cap-so-nhan-l776.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<div>
<h4>Vấn đề 1: Xác định cấp số và xác yếu tố của cấp số nhân</h4>
</div>
<p><strong>Phương pháp:</strong></p>
<p>\( \bullet \) Dãy số \(({u_n})\) là một cấp số nhân \( \Leftrightarrow \frac{{{u_{n + 1}}}}{{{u_n}}} = q\) không phụ thuộc vào n và \(q\) là công bội.</p>
<p>\( \bullet \) Ba số \(a,b,c\) theo thứ tự đó lập thành cấp số nhân \( \Leftrightarrow ac = {b^2}\).</p>
<p>\( \bullet \) Để xác định một cấp số nhân, ta cần xác định số hạng đầu và công bội. Do đó, ta thường biểu diễn giả thiết của bài toán qua \({u_1}\) và \(q\).</p>
<h4><u>Ví dụ 1:</u></h4>
<p>Cho cấp số nhân (u<sub>n</sub>) có các số hạng khác không, tìm \({u_1}\) biết:</p>
<p>a) \(\left\{ {\begin{array}{*{20}{c}}{{u_1} + {u_2} + {u_3} + {u_4} = 15}\\{u_1^2 + u_2^2 + u_3^2 + u_4^2 = 85}\end{array}} \right.\)          </p>
<p>b) \(\left\{ {\begin{array}{*{20}{c}}{{u_1} + {u_2} + {u_3} + {u_4} + {u_5} = 11}\\{{u_1} + {u_5} = \frac{{82}}{{11}}}\end{array}} \right.\)</p>
<h4><u>Hướng dẫn:</u></h4>
<p>a) Ta có: \(\left\{ \begin{array}{l}{u_1}(1 + q + {q^2} + {q^3}) = 15\\u_1^2\left( {1 + {q^2} + {q^4} + {q^6}} \right) = 85\end{array} \right. \Leftrightarrow \left\{ \begin{array}{l}{u_1}\frac{{{q^4} - 1}}{{q - 1}} = 15\\u_1^2\frac{{{q^8} - 1}}{{{q^2} - 1}} = 85\end{array} \right.\)</p>
<p>\( \Rightarrow {\left( {\frac{{{q^4} - 1}}{{q - 1}}} \right)^2}\left( {\frac{{{q^2} - 1}}{{{q^8} - 1}}} \right) = \frac{{45}}{{17}} \Leftrightarrow \frac{{({q^4} - 1)(q + 1)}}{{(q - 1)({q^4} + 1)}} = \frac{{45}}{{17}} \Leftrightarrow \left[ \begin{array}{l}q = 2\\q = \frac{1}{2}\end{array} \right.\)</p>
<p>Từ đó ta tìm được \({u_1} = 1,{u_1} = 8\).</p>
<p>b) Ta có: \(\left\{ \begin{array}{l}{u_1}\left( {1 + q + {q^2} + {q^3} + {q^4}} \right) = 11\\{u_1}(1 + {q^4}) = \frac{{82}}{{11}}\end{array} \right. \Leftrightarrow \left\{ \begin{array}{l}{u_1}q(1 + q + {q^2}) = \frac{{39}}{{11}}\\{u_1}(1 + {q^4}) = \frac{{82}}{{11}}\end{array} \right.\)</p>
<p>\( \Rightarrow \frac{{{q^4} + 1}}{{{q^3} + {q^2} + q}} = \frac{{82}}{{39}} \Leftrightarrow q = 3,q = \frac{1}{3}\).</p>
<p> </p>
<h4><u>Ví dụ 2:</u></h4>
<p>Cho cấp số nhân \(({u_n})\) thỏa: \(\left\{ \begin{array}{l}{u_4} = \frac{2}{{27}}\\{u_3} = 243{u_8}\end{array} \right.\).</p>
<p>a) Viết năm số hạng đầu của cấp số.</p>
<p>b) Tính tổng 10 số hạng đầu của cấp số.</p>
<p>c) Số \(\frac{2}{{6561}}\) là số hạng thứ bao nhiêu của cấp số?</p>
<h4><u>Hướng dẫn:</u></h4>
<p>Gọi \(q\) là công bội của cấp số. Theo giả thiết ta có:</p>
<p>\(\left\{ \begin{array}{l}{u_1}{q^3} = \frac{2}{{27}}\\{u_1}{q^2} = 243.{u_1}{q^7}\end{array} \right. \Leftrightarrow \left\{ \begin{array}{l}{u_1}{q^3} = \frac{2}{{27}}\\{q^5} = \frac{1}{{243}}\end{array} \right. \Leftrightarrow \left\{ \begin{array}{l}q = \frac{1}{3}\\{u_1} = 2\end{array} \right.\)</p>
<p>a) Năm số hạng đầu của cấp số là:\({u_1} = 2,{u_2} = \frac{2}{3},{u_3} = \frac{2}{9};{u_4} = \frac{2}{{27}},{u_5} = \frac{2}{{81}}\).</p>
<p>b) Tổng 10 số hạng đầu của cấp số</p>
<p>\({S_{10}} = {u_1}\frac{{{q^{10}} - 1}}{{q - 1}} = 2.\frac{{{{\left( {\frac{1}{3}} \right)}^{10}} - 1}}{{\frac{1}{3} - 1}} = 3\left[ {1 - {{\left( {\frac{1}{3}} \right)}^{10}}} \right] = \frac{{59048}}{{19683}}\).</p>
<p>c) Ta có: \({u_n} = \frac{2}{{{3^{n - 1}}}} \Rightarrow {u_n} = \frac{2}{{6561}} \Leftrightarrow {3^{n - 1}} = 6561 = {3^8} \Rightarrow n = 9\)</p>
<p>Vậy \(\frac{2}{{6561}}\) là số hạng thứ 9 của cấp số.</p>
<p> </p>
<div>
<p>Vấn đề 3: Tìm điều kiện để dãy số lập thành cấp số nhân</p>
</div>
<p><strong>Phương pháp:</strong> \(a,b,c\) theo thứ tự đó lập thành CSN \( \Leftrightarrow ac = {b^2}\).</p>
<p> </p>
<h4><u>Ví dụ 1:</u> Tìm \(x\) biết \(1,{x^2},6 - {x^2}\) lập thành cấp số nhân.</h4>
<h4><u>Hướng dẫn:</u></h4>
<p>Ta có: \(1,{x^2},6 - {x^2}\) lập thành cấp số nhân  \( \Leftrightarrow {x^4} = 6 - {x^2} \Leftrightarrow x =  \pm \sqrt 2 .\)</p>
<p> </p>
<h4><u>Ví dụ 2:</u> </h4>
<p>Tìm \(x,y\) biết:</p>
<p>a) Các số \(x + 5y,5x + 2y,8x + y\) lập thành cấp số cộng  và  các số</p>
<p>\({\left( {y - 1} \right)^2},xy - 1,{\left( {x + 1} \right)^2}\) lập thành cấp số nhân.</p>
<p>b) Các số \(x + 6y,5x + 2y,8x + y\) lập thành cấp số cộng và các số \(x + \frac{5}{3}y,y - 1,2x - 3y\) lập thành cấp số nhân.</p>
<h4><u>Hướng dẫn:</u></h4>
<p>a) Ta có hệ: \(\left\{ \begin{array}{l}x + 5y + 8x + y = 2(5x + 2y)\\{(x + 1)^2}{(y - 1)^2} = {(xy - 1)^2}\end{array} \right.\) giải hệ này ta tìm được</p>
<p>\((x;y) = \left( { - \sqrt 3 ; - \frac{{\sqrt 3 }}{2}} \right);\left( {\sqrt 3 ;\frac{{\sqrt 3 }}{2}} \right)\).</p>
<p>b) Ta có hệ: \(\left\{ \begin{array}{l}x + 6y + 8x + y = 2(5x + 2y)\\(x + \frac{5}{3}y)(2x - 3y) = {(y - 1)^2}\end{array} \right.\) giải hệ này ta tìm được</p>
<p>\((x;y) = \left( { - 3; - 1} \right);\left( {\frac{3}{8};\frac{1}{8}} \right)\).</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}