{% extends "pages/lop11/chuong3/base-lop11-chuong3.html" %}
{% block title %}Toán 11 Ôn tập chương 3 Dãy số, Cấp số cộng và Cấp số nhân{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 11 Ôn tập chương 3 Dãy số, Cấp số cộng và Cấp số nhân</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Nội dung bài ôn tập chương <strong>Dãy số, Cấp số cộng và Cấp số nhân</strong> sẽ giúp các em hệ thống hóa lại toàn bộ kiến thức đã được học ở <strong>Chương 3 Đại số và Giải tích 11</strong>. Bên cạnh đó các em có thể đánh giá mức độ hiểu bài của mình thông qua bài kiểm tra Trắc nghiệm với những câu hỏi có mức độ khó từ cơ bản đến nâng cao.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Tổng quát nội dung chương III</h3>
</div>
<p><img alt="Sơ đồ tư duy Dãy số, Cấp số cộng, Cấp số nhân" src="https://hoc247.net/fckeditorimg/upload/images/1(1).bmp" style="height:207px; width:800px"/></p>
<div id="12">
<h3>1.2. Các dạng bài tập chương III</h3>
</div>
<p><img alt="Các dạng bài tập dãy số, cấp số cộng, cấp số nhân" src="https://hoc247.net/fckeditorimg/upload/images/2.bmp" style="height:446px; width:706px"/></p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-11/on-tap-chuong-3-day-so-cap-so-cong-va-cap-so-nhan-l6448.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-11/on-tap-chuong-3-day-so-cap-so-cong-va-cap-so-nhan-l6448.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<h4><u>Ví dụ 1:</u> </h4>
<p>Chứng minh rằng với mọi số tự nhiên \(n \ge 1\), ta luôn có:</p>
<p>a) \({1^2} + {2^2} + ... + {(n - 1)^2} + {n^2} = \frac{{n(n + 1)(2n + 1)}}{6}\)   </p>
<p>b) \(\frac{1}{3} + \frac{2}{{{3^2}}} + ... + \frac{n}{{{3^n}}} = \frac{3}{4} - \frac{{2n + 3}}{{{{4.3}^n}}}\)</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a) Bước 1: Với \(n = 1\) ta có:</p>
<p>\(VT = {1^2} = 1,{\rm{ }}VP = \frac{{1(1 + 1)(2.1 + 1)}}{6} = 1 \Rightarrow VT = VP\)</p>
<p>\( \Rightarrow \) đẳng thức cho đúng với \(n = 1\).</p>
<p>Bước 2: Giả sử đẳng thức cho  đúng với \(n = k \ge 1\), tức là:</p>
<p>\({1^2} + {2^2} + ... + {(k - 1)^2} + {k^2} = \frac{{k(k + 1)(2k + 1)}}{6}\)   (1)</p>
<p>Ta sẽ chứng minh đẳng thức cho đúng với \(n = k + 1\), tức là cần chứng minh:</p>
<p>\({1^2} + {2^2} + ... + {(k - 1)^2} + {k^2} + {(k + 1)^2} = \frac{{(k + 1)(k + 1)(2k + 3)}}{6}\)  (2).</p>
<p>Thật vây:</p>
<p>\(VT(2) = \left[ {{1^2} + {2^2} + ... + {k^2}} \right] + {(k + 1)^2}\)\(\mathop  = \limits^{{\rm{do }}(1)} \frac{{k(k + 1)(2k + 1)}}{6} + {(k + 1)^2}\)</p>
<p>                \( = (k + 1)\left[ {\frac{{2{k^2} + k}}{6} + k + 1} \right] = \frac{{(k + 1)(2{k^2} + 7k + 6)}}{6}\)</p>
<p>               \( = \frac{{(k + 1)(k + 2)(2k + 3)}}{6} = VP(2)\)</p>
<p>\( \Rightarrow (2)\) đúng \( \Rightarrow \)đẳng thức cho  đúng với mọi \(n \ge 1\).</p>
<p>b) * Với \(n = 1\) ta có \(VT = 1 = VP \Rightarrow \) đẳng thức cho đúng với \(n = 1\)</p>
<p>* Giả sử đẳng thức cho đúng với \(n = k \ge 1\), tức là:\(\frac{1}{3} + \frac{2}{{{3^2}}} + ... + \frac{k}{{{3^k}}} = \frac{3}{4} - \frac{{2k + 3}}{{{{4.3}^k}}}\)   (1)</p>
<p>Ta sẽ chứng minh đẳng thức cho  đúng với \(n = k + 1\), tức là cần chứng minh</p>
<p>\(\frac{1}{3} + \frac{2}{{{3^2}}} + ... + \frac{k}{{{3^k}}} + \frac{{k + 1}}{{{3^{k + 1}}}} = \frac{3}{4} - \frac{{2k + 5}}{{{{4.3}^{k + 1}}}}\)    (2).</p>
<p>Thật vậy:\(VT(2) = \frac{3}{4} - \frac{{2k + 3}}{{{{4.3}^k}}} + \frac{{k + 1}}{{{3^{k + 1}}}} = \frac{3}{4} - \frac{{2k + 5}}{{{{4.3}^{k + 1}}}} = VP(2)\)</p>
<p>\( \Rightarrow (2)\) đúng \( \Rightarrow \) đẳng thức cho đúng.</p>
<h4><u>Ví dụ 2:</u></h4>
<p>Cho dãy số \(({u_n}):\left\{ \begin{array}{l}{u_1} = 1,{u_2} = 2\\{u_{n + 1}} = \sqrt {{u_n}}  + \sqrt {{u_{n - 1}}} {\rm{ }}\forall n \ge 2\end{array} \right.\). Chứng minh rằng dãy \(({u_n})\) là dãy tăng và bị chặn.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Ta chứng minh dãy \(({u_n})\) là dãy tăng bằng phương pháp quy nạp</p>
<p>* Dễ thấy: \({u_1} &lt; {u_2} &lt; {u_3}\).</p>
<p>* Giả sử \({u_{k - 1}} &lt; {u_k}{\rm{ }}\forall k \ge 2\), ta chứng minh \({u_{k + 1}} &lt; {u_k}\). Thật vậy:</p>
<p>\({u_{k + 1}} = \sqrt {{u_k}}  + \sqrt {{u_{k - 1}}}  &gt; \sqrt {{u_{k - 1}}}  + \sqrt {{u_{k - 2}}}  = {u_k}\)</p>
<p>Vậy \(({u_n})\) là dãy tăng.</p>
<p>Cũng bằng quy nạp ta chứng minh được \({u_n} &lt; 4{\rm{ }}\forall n\), hơn nữa \({u_n} &gt; 0\)</p>
<p>Nên dãy \(({u_n})\) là dãy bị chặn.</p>
<h4><u>Ví dụ 3:</u></h4>
<p>Chứng minh rằng :</p>
<p>a) Nếu phương trình \({x^3} - a{x^2} + bx - c = 0\) có ba nghiệm lập thành CSC thì \(9ab = 2{a^3} + 27c\)</p>
<p>b) Nếu phương trình \({x^3} - a{x^2} + bx - c = 0\) có ba nghiệm lập thành CSN thì \(c(c{a^3} - {b^3}) = 0\)</p>
<h4><u>Hướng dẫn:</u></h4>
<p>a) Giả sử phương trình  có ba nghiệm \({x_1},{x_2},{x_3}\) lập thành CSC</p>
<p>Suy ra: \({x_1} + {x_3} = 2{x_2}\) (1)</p>
<p>Mặt khác: \({x^3} - a{x^2} + bx - c = (x - {x_1})(x - {x_2})(x - {x_3})\)</p>
<p>                      \( = {x^3} - ({x_1} + {x_2} + {x_3}){x^2} + ({x_1}{x_2} + {x_2}{x_3} + {x_3}{x_1})x - {x_1}{x_2}{x_3}\)</p>
<p>Suy ra \({x_1} + {x_2} + {x_3} = a\)  (2)</p>
<p>Từ (1) và (2), ta suy ra \(3{x_2} = a\) hay \({x_2} = \frac{a}{3}\)</p>
<p>Dẫn tới phương trình đã cho có nghiệm \({x_2} = \frac{a}{3}\), tức là:</p>
<p>\({\left( {\frac{a}{3}} \right)^3} - a{\left( {\frac{a}{3}} \right)^2} + b\left( {\frac{a}{3}} \right) - c = 0 \Leftrightarrow  - \frac{{2{a^3}}}{{27}} + \frac{{ba}}{3} - c = 0 \Leftrightarrow 9ab = 2{a^3} + 27c\)</p>
<p>Ta có đpcm.</p>
<p>b) Giả sử ba nghiệm \({x_1},{x_2},{x_3}\) lập thành CSN, suy ra \({x_1}{x_3} = x_2^2\)</p>
<p>Theo phân tích bài trên, ta có: \({x_1}{x_2}{x_3} = c \Rightarrow x_2^3 = c \Rightarrow {x_2} = \sqrt[3]{c}\)</p>
<p>Hay phương trình đã cho có nghiệm \({x_2} = \sqrt[3]{c}\), tức là:</p>
<p>\({\left( {\sqrt[3]{c}} \right)^3} - a{\left( {\sqrt[3]{c}} \right)^2} + b\sqrt[3]{c} - c = 0 \Leftrightarrow b\sqrt[3]{c} = a\sqrt[3]{{{c^2}}} \Leftrightarrow c(c{a^3} - {b^3}) = 0\)</p>
<p>Bài toán được chứng minh.</p>
<h4><u>Ví dụ 4:</u></h4>
<p>a) Cho tam giác ABC. Chứng minh rằng \(\tan \frac{A}{2};\tan \frac{B}{2};\)</p>
<p>\(\tan \frac{C}{2}\) lập thành cấp số cộng \( \Leftrightarrow \cos A;\cos B;\cos C\) lập thành cấp số cộng.</p>
<p>b) Cho tam giác ABC.Chứng minh rằng \(\cot \frac{A}{2};\cot \frac{B}{2};\cot \frac{C}{2}\) lập thành cấp số cộng \( \Leftrightarrow \sin A;\sin B;\sin C\) lập thành cấp số cộng.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a) Ta có: \(\tan \frac{A}{2};\tan \frac{B}{2};\tan \frac{C}{2}\) lập thành cấp số cộng</p>
<p>\( \Leftrightarrow \tan \frac{A}{2} + \tan \frac{C}{2} = 2\tan \frac{B}{2} \Leftrightarrow \frac{{\sin (\frac{A}{2} + \frac{C}{2})}}{{\cos \frac{A}{2}\cos \frac{C}{2}}} = 2\frac{{\sin \frac{B}{2}}}{{\cos \frac{B}{2}}}\)</p>
<p>\( \Leftrightarrow {\cos ^2}\frac{B}{2} = \sin \frac{B}{2}\left[ {\cos \left( {\frac{A}{2} + \frac{C}{2}} \right) + \cos \left( {\frac{A}{2} - \frac{C}{2}} \right)} \right]\)</p>
<p>\( \Leftrightarrow \frac{{1 + \cos B}}{2} = \frac{{1 - \cos B}}{2} + \frac{1}{2}\left[ {\cos A + \cos C} \right]\)</p>
<p>\( \Leftrightarrow \cos B = \frac{{\cos A + \cos C}}{2} \Leftrightarrow \cos A,\cos B,\cos C\) lập thành CSC.</p>
<p>b) Ta có: \(\cot \frac{A}{2} - \cot \frac{B}{2} = \cot \frac{B}{2} - \cot \frac{C}{2}\)</p>
<p>\( \Leftrightarrow \frac{{\cos \frac{A}{2}\sin \frac{B}{2} - \cos \frac{B}{2}\sin \frac{A}{2}}}{{\sin \frac{A}{2}\sin \frac{B}{2}}} = \frac{{\cos \frac{B}{2}\sin \frac{C}{2} - \cos \frac{C}{2}\sin \frac{B}{2}}}{{\sin \frac{C}{2}\sin \frac{B}{2}}}\)</p>
<p>\( \Leftrightarrow \sin \frac{{B - A}}{2}\cos \frac{{B + A}}{2} = \sin \frac{{C - B}}{2}.\cos \frac{{C + B}}{2}\)</p>
<p>\( \Leftrightarrow \sin B - \sin A = \sin C - \sin B \Leftrightarrow \sin A + \sin C = 2\sin B\).</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}