{% extends "pages/lop11/chuong4/base-lop11-chuong4.html" %}
{% block title %}Toán 11 Bài 3: Hàm số liên tục{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 11 Bài 3: Hàm số liên tục</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Nội dung bài học sẽ tiếp tục giới thiệu đến các em khái niệm mới trong chương <strong>giới hạn</strong> đó là <strong>Hàm số liên tục </strong>và các dạng toán liên quan. Cùng với những ví dụ minh họa có hướng dẫn giải chi tiết, các em sẽ dễ dàng nắm vững được nội dung bài học.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Định nghĩa</h3>
</div>
<p>\( \bullet \) Cho hàm số \(y = f(x)\) xác định trên khoảng K và \({x_0} \in K\)</p>
<p>1) Hàm số \(y = f(x)\) liên tục tại \({x_0} \Leftrightarrow \mathop {\lim }\limits_{x \to {x_0}} f(x) = f({x_0})\)</p>
<p>2) Hàm số \(y = f(x)\) không liên tục tại \({x_0}\) ta nói hàm số gián đoạn tại \({x_0}\)</p>
<p>\( \bullet \) \(y = f(x)\) liên tục trên một khoảng nếu nó kiên tục tại mọi điểm của khoảng đó.</p>
<p>\( \bullet \) \(y = f(x)\) liên tục trên đoạn \(\left[ {a;b} \right]\) nếu nó liên tục trên \(\left( {a;b} \right)\)  và</p>
<p>\(\mathop {\lim }\limits_{x \to {a^ + }} f(x) = f(a)\), \(\mathop {\lim }\limits_{x \to {b^ - }} f(x) = f(b)\).</p>
<div id="12">
<h3>1.2. Các định lý cơ bản</h3>
</div>
<p><strong>Định lý 1:</strong></p>
<p>a) Hàm số đa thức liên tục trên tập R</p>
<p>b) Hàm số phân thức hữu tỉ và hàm số lượng giác liên tục trên từng khoảng xác định của chúng</p>
<p><strong>Định lý 2.</strong> Các hàm số \(y = f(x),{\rm{ }}y = g(x)\) liên tục tại \({x_0}\).  Khi đó tổng, hiệu, tích liên tục tai x<sub>0</sub>, thương \(y = \frac{{f(x)}}{{g(x)}}\) liên tục nếu \(g({x_0}) \ne 0\).</p>
<p><strong>Định lý 3. </strong> Cho hàm số f liên tục trên đoạn \(\left[ {a;b} \right]\).</p>
<p>Nếu \(f(a) \ne f(b)\) và M là một số nằm giữa \(f(a){\rm{ }},f(b)\) thì tồn tại ít nhất một số \(c \in \left( {a;b} \right)\) sao cho \(f(c) = M{\rm{ }}\)</p>
<p><strong><u>Hệ quả</u>:</strong>  Cho hàm số f liên tục trên đoạn \(\left[ {a;b} \right]\).</p>
<p>Nếu \(f(a){\rm{ }}f(b) &lt; 0\) thì tồn tại ít nhất một số \(c \in \left( {a;b} \right)\) sao cho \(f(c) = 0\).</p>
<p><strong>Chú ý: </strong>Ta có thể phát biểu hệ quả trên theo cách khác như sau :</p>
<p>Cho hàm số f liên tục trên đoạn \(\left[ {a;b} \right]\). Nếu \(f(a){\rm{ }}f(b) &lt; 0\) thì phương trình \(f(x) = 0\) có ít nhất một nghiệm thuộc \((a;b)\).</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-11/bai-3-ham-so-lien-tuc-l779.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-11/bai-3-ham-so-lien-tuc-l779.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<div>
<h3><u>Vấn đề 1:</u> Xét tính liên tục của hàm số tại một điểm</h3>
</div>
<p><strong>Phương pháp:</strong></p>
<p>\( \bullet \) Tìm  giới hạn của hàm số \(y = f(x)\) khi \(x \to {x_0}\) và tính \(f({x_0})\)</p>
<p>\( \bullet \) Nếu tồn tại \(\mathop {\lim }\limits_{x \to {x_0}} f(x)\) thì ta so sánh \(\mathop {\lim }\limits_{x \to {x_0}} f(x)\) với \(f({x_0})\).</p>
<p><strong>Chú ý:</strong></p>
<p>1. Nếu hàm số liên tục tại \({x_0}\) thì trước hết hàm số phải xác định tại điểm đó</p>
<p>2. \(\mathop {\lim }\limits_{x \to {x_0}} f(x) = l \Leftrightarrow \mathop {\lim }\limits_{x \to x_0^ + } f(x) = \mathop {\lim }\limits_{x \to x_0^ - } f(x) = l\).</p>
<p>3. Hàm số \(y = \left\{ \begin{array}{l}f(x){\rm{  khi }}x \ne {x_0}\\k{\rm{      khi }}x = {x_0}\end{array} \right.\) liên tục tại \(x = {x_0} \Leftrightarrow \mathop {\lim }\limits_{x \to {x_0}} f(x) = k\).</p>
<p>4. Hàm số \(f(x) = \left\{ \begin{array}{l}{f_1}(x){\rm{  khi  }}x \ge {x_0}\\{f_2}(x){\rm{  khi  }}x &lt; {x_0}\end{array} \right.\) liên tục tại điểm \(x = {x_0}\) khi và chỉ  khi \(\mathop {\lim }\limits_{x \to x_0^ + } {f_1}(x) = \mathop {\lim }\limits_{x \to x_0^ - } {f_2}(x) = {f_1}({x_0})\).</p>
<p><strong>Chú ý:</strong></p>
<p>\( \bullet \) Hàm số \(y = \left\{ \begin{array}{l}f(x){\rm{  khi }}x \ne {x_0}\\k{\rm{      khi }}x = {x_0}\end{array} \right.\) liên tục tại \(x = {x_0}\) khi và chỉ khi</p>
<p>\(\mathop {\lim }\limits_{x \to {x_0}} f(x) = k\).</p>
<p>\( \bullet \) Hàm số \(y = \left\{ \begin{array}{l}f(x){\rm{  khi }}x &gt; {x_0}\\g(x){\rm{  khi }}x \le {x_0}\end{array} \right.\) liên tục tại \(x = {x_0}\) khi và chỉ khi</p>
<p>\(\mathop {\lim }\limits_{x \to x_0^ + } f(x) = \mathop {\lim }\limits_{x \to x_0^ - } g(x)\).</p>
<p> </p>
<h4><u>Ví dụ </u><u>1</u><u>:</u></h4>
<p>Xét tính liên tục của hàm số sau tại \(x = 3\)</p>
<p>a) \(f\left( x \right) = \left\{ {\begin{array}{*{20}{c}}{\frac{{{x^3} - 27}}{{{x^2} - x - 6}}\,\,\,{\rm{khi}}\,x \ne 3}\\{\frac{{10}}{3}\,\,\,{\rm{          khi}}\,\,x = 3}\end{array}} \right.\)                   </p>
<p>b) \(f\left( x \right) = \left\{ {\begin{array}{*{20}{c}}{\frac{{x - 3}}{{\sqrt {2x + 3}  - 3}}\,\,\,{\rm{khi }}\,x &lt; 3}\\{\,\,{{\left( {x - 1} \right)}^2}\,\,\,\,\,\,\,\,\,{\rm{khi }}\,\,x \ge 3}\end{array}} \right.\)</p>
<h4><u>Hướng dẫn</u><u>:</u></h4>
<p>a) Hàm số xác định trên \(\mathbb{R}\)</p>
<p>Ta có \(f(3) = \frac{{10}}{3}\) và  \(\mathop {\lim }\limits_{x \to 3} f(x) = \mathop {\lim }\limits_{x \to 3} \frac{{{x^3} - 27}}{{{x^2} - x - 6}} = \mathop {\lim }\limits_{x \to 3} \frac{{(x - 3)({x^2} + 3x + 9)}}{{(x - 3)(x + 2)}}\)</p>
<p>\( = \mathop {\lim }\limits_{x \to 3} \frac{{{x^2} + 3x + 9}}{{x + 2}} = \frac{{27}}{5} \ne f(3)\).</p>
<p>Vậy hàm số không liên tục tại \(x = 3\).</p>
<p>b) Ta có \(f(3) = 4\) và  \(\mathop {\lim }\limits_{x \to {3^ + }} f(x) = \mathop {\lim }\limits_{x \to {3^ + }} {(x - 1)^2} = 4\) ; \(\mathop {\lim }\limits_{x \to {3^ - }} f(x) = \mathop {\lim }\limits_{x \to {3^ - }} \frac{{x - 3}}{{\sqrt {2x + 3}  - 3}} = \mathop {\lim }\limits_{x \to {3^ - }} \frac{{\sqrt {2x + 3}  + 3}}{2} = 3 \ne \mathop {\lim }\limits_{x \to {3^ + }} f(x)\)</p>
<p>Vậy hàm số gián đoạn tại \(x = 3\).</p>
<p> </p>
<h4><u>Ví dụ </u><u>2</u><u>:</u></h4>
<p>Xét tính liên tục của hàm số sau tại điểm chỉ ra.</p>
<p>a) \(f(x) = \left\{ \begin{array}{l}{x^2} + 1{\rm{   khi  }}x \ne 1\\{\rm{2         khi  }}x = 1\end{array} \right.\) tại điểm \({x_0} = 1\)                   </p>
<p>b) \(f(x) = \left\{ \begin{array}{l}\frac{{\left| {{x^2} - x - 2} \right|}}{{x + 1}}{\rm{  khi }}x \ne  - 1\\1{\rm{               khi  }}x =  - 1{\rm{ }}\end{array} \right.\)</p>
<h4><u>Hướng dẫn</u><u>:</u></h4>
<p>a) Ta có \(f(1) = 2\)và \(\mathop {\lim }\limits_{x \to 1} f(x) = \mathop {\lim }\limits_{x \to 1} ({x^2} + 1) = 2 = f(1)\)</p>
<p>Vậy hàm số liên tục tại điểm \(x = 1\).</p>
<p>b) Ta có \(f( - 1) = 1\)</p>
<p>\(\mathop {\lim }\limits_{x \to  - {1^ + }} f(x) = \mathop {\lim }\limits_{x \to  - {1^ + }} \frac{{\left| {(x + 1)(x - 2)} \right|}}{{x + 1}} = \mathop {\lim }\limits_{x \to  - {1^ + }} (2 - x) = 3\)</p>
<p>\(\mathop {\lim }\limits_{x \to  - {1^ - }} f(x) = \mathop {\lim }\limits_{x \to  - {1^ - }} \frac{{\left| {(x + 1)(x - 2)} \right|}}{{x + 1}} = \mathop {\lim }\limits_{x \to  - {1^ - }} (x - 2) =  - 3 \ne \mathop {\lim }\limits_{x \to  - {1^ + }} f(x)\)</p>
<p>Suy ra không tồn tại giới hạn của hàm số \(y = f(x)\) khi \(x \to  - 1\).</p>
<p>Vậy hàm số gián đoạn tại \(x =  - 1\).</p>
<p> </p>
<h4><u>Ví dụ </u><u>3</u><u>:</u></h4>
<p>Tìm \(a\) để hàm số sau liên tục tại \(x = 2\)</p>
<p>a) \(f\left( x \right) = \left\{ {\begin{array}{*{20}{c}}{\,\frac{{\sqrt[3]{{4x}} - 2}}{{x - 2}}\,\,{\rm{ khi  }}\,x \ne 2}\\{a\,\,\,{\rm{          khi  }}\,\,x = 2}\end{array}} \right.\)                                    </p>
<p>b) \(f\left( x \right) = \left\{ {\begin{array}{*{20}{c}}{\frac{{{x^4} - 5{x^2} + 4}}{{{x^3} - 8}}\,\,\,\,\,{\rm{khi }}\,x &lt; 2}\\{\,\,a{x^2} + x + 1\,\,\,\,\,\,\,\,\,{\rm{   khi }}\,\,x \ge 2}\end{array}} \right.\)</p>
<h4><u>Hướng dẫn:</u></h4>
<p>a) Ta có \(f(2) = a\) và   \(\mathop {\lim }\limits_{x \to 2} f(x) = \mathop {\lim }\limits_{x \to 2} \frac{{\sqrt[3]{{4x}} - 2}}{{x - 2}} = \mathop {\lim }\limits_{x \to 2} \frac{4}{{\sqrt[3]{{{{(4x)}^2}}} + 2\sqrt[3]{{4x}} + 4}} = \frac{1}{3}\)</p>
<p>Hàm số liên tục tại điểm \(x = 2 \Leftrightarrow \mathop {\lim }\limits_{x \to 2} f(x) = f(2) \Leftrightarrow a = \frac{1}{3}\).</p>
<p>b)  Ta có : \(\mathop {\lim }\limits_{x \to {2^ - }} f(x) = \mathop {\lim }\limits_{x \to {2^ - }} \frac{{{x^4} - 5{x^2} + 4}}{{{x^3} - 8}} = \mathop {\lim }\limits_{x \to {2^ - }} \frac{{({x^2} - 1)(x + 2)}}{{{x^2} + 2x + 4}} = 1\)</p>
<p>\(\mathop {\lim }\limits_{x \to {2^ + }} f(x) = \mathop {\lim }\limits_{x \to {2^ + }} \left( {a{x^2} + x + 1} \right) = 4a + 3 = f(2)\)</p>
<p>Hàm số liên tục tại \(x = 2 \Leftrightarrow \mathop {\lim }\limits_{x \to {2^ + }} f(x) = \mathop {\lim }\limits_{x \to {2^ - }} f(x) = f(2)\)</p>
<p>\( \Leftrightarrow 4a + 3 = 1 \Leftrightarrow a =  - \frac{1}{2}\).                    </p>
<div>
<h3> </h3>
<h3><u>Vấn đề 2:</u> Xét tính liên tục của hàm số  trên một tập</h3>
</div>
<p>Phương pháp:Sử dụng các định lí về tính liên tục của hàm đa thức, lương giác, phân thức hữu tỉ …</p>
<p>Nếu hàm số cho dưới dạng nhiều công thức thì ta xét tính liên tục trên mỗi khoảng đã chia và tại các điểm chia của các khoảng đó.</p>
<p> </p>
<h4><u>Ví dụ </u><u>1</u><u>:</u></h4>
<p>Xét tính liên tục của các hàm số sau trên toàn trục  số:</p>
<p>a) \(f(x) = \tan 2x + \cos x\)                                      </p>
<p>b) \(f(x) = \frac{{\sqrt {x - 1}  + 2}}{{{x^2} - 3x + 2}}\)</p>
<h4><u>Hướng dẫn:</u></h4>
<p>a) TXĐ: \(D = \mathbb{R}\backslash \left\{ {\frac{\pi }{4} + k\frac{\pi }{2},k \in \mathbb{Z}} \right\}\)</p>
<p>Vậy hàm số liên tục trên \(D\)</p>
<p>b) Điều kiện xác định: \(\left\{ \begin{array}{l}x - 1 \ge 0\\{x^2} - 3x + 2 \ne 0\end{array} \right. \Leftrightarrow \left\{ \begin{array}{l}x &gt; 1\\x \ne 2\end{array} \right.\)</p>
<p>Vậy hàm số liên tục trên \(\left( {1;2} \right) \cup \left( {2; + \infty } \right)\).</p>
<p> </p>
<h4><u>Ví dụ </u><u>2</u><u>:</u></h4>
<p>Xác định a để hàm số \(\,f\left( x \right) = \left\{ {\begin{array}{*{20}{c}}{\frac{{{a^2}\left( {x - 2} \right)}}{{\sqrt {x + 2}  - 2}}\,\,\,\,\,{\rm{khi}}\,x &lt; 2}\\{\,\,\left( {1 - a} \right)x\,\,\,\,\,\,\,\,{\rm{khi}}\,\,x \ge 2}\end{array}} \right.\) liên tục trên \(\mathbb{R}\).</p>
<h4><u>Hướng dẫn</u><u>:</u></h4>
<p>Hàm số xác định trên \(\mathbb{R}\)</p>
<p>Với \(x &lt; 2 \Rightarrow \) hàm số liên tục</p>
<p>Với \(x &gt; 2 \Rightarrow \) hàm số liên tục</p>
<p>Với \(x = 2\) ta có \(\mathop {\lim }\limits_{x \to {2^ + }} f(x) = \mathop {\lim }\limits_{x \to {2^ + }} (1 - a)x = 2(1 - a) = f(2)\)</p>
<p>\(\mathop {\lim }\limits_{x \to {2^ - }} f(x) = \mathop {\lim }\limits_{x \to {2^ - }} \frac{{{a^2}(x - 2)}}{{\sqrt {x + 2}  - 2}} = \mathop {\lim }\limits_{x \to {2^ - }} {a^2}(\sqrt {x + 2}  + 2) = 4{a^2}\)</p>
<p>Hàm số liên tục trên \(\mathbb{R} \Leftrightarrow \) hàm số liên tục tại \(x = 2\)</p>
<p>\( \Leftrightarrow \mathop {\lim }\limits_{x \to {2^ - }} f(x) = \mathop {\lim }\limits_{x \to {2^ + }} f(x) \Leftrightarrow 4{a^2} = 2(1 - a) \Leftrightarrow a =  - 1,a = \frac{1}{2}\).</p>
<p>Vậy \(a =  - 1,a = \frac{1}{2}\) là những giá trị cần tìm.</p>
<p> </p>
<div>
<h3><u>Vấn đề 3:</u> Chứng minh phương trình có nghiệm</h3>
</div>
<p><strong>Phương pháp:</strong></p>
<p>\( \bullet \) Để chứng minh phương trình \(f(x) = 0\) có ít nhất một nghiệm trên D, ta chứng minh hàm số \(y = f(x)\) liên tục trên D và có hai số \(a,b \in D\) sao cho \(f(a).f(b) &lt; 0\).</p>
<p>\( \bullet \) Để chứng minh phương trình \(f(x) = 0\) có k nghiệm trên D, ta chứng minh hàm số \(y = f(x)\) liên tục trên D và tồn tại k khoảng rời nhau \(({a_i};{a_{i + 1}})\) (i=1,2,…,k) nằm trong D sao cho \(f({a_i}).f({a_{i + 1}}) &lt; 0\).</p>
<p> </p>
<h4><u>Ví dụ </u><u>1:</u></h4>
<p>Chứng minh rằng phương trình sau có ít nhất một nghiệm :</p>
<p>a) \({x^7} + 3{x^5} - 1 = 0\)                                        </p>
<p>b) \({x^2}\sin x + x\cos x + 1 = 0\)</p>
<h4><u>Hướng dẫn:</u></h4>
<p>a) Ta có hàm số \(f(x) = {x^7} + 3{x^5} - 1\) liên tục trên R và \(f(0).f(1) =  - 3 &lt; 0\)</p>
<p>Suy ra phương trinh \(f(x) = 0\) có ít nhất một nghiệm thuộc \((0;1)\).</p>
<p>b) Ta có hàm số \(f(x) = {x^2}\sin x + x\cos x + 1\) liên tục trên R và \(f(0).f(\pi ) =  - \pi  &lt; 0\). Suy ra phương trinh \(f(x) = 0\) có ít nhất một nghiệm thuộc \((0;\pi )\).</p>
<p> </p>
<h4><u>Ví dụ 2:</u></h4>
<p>Chứng minh rằng phương trình sau có đúng ba nghiệm phân biệt</p>
<p>a) \({x^3} - 3x + 1 = 0\)                      </p>
<p>b) \(2x + 6\sqrt[3]{{1 - x}} = 3\)</p>
<h4><u>Hướng dẫn:</u></h4>
<p>a) Hàm số \(f(x) = {x^3} - 3x + 1\), ta có hàm số liên tục trên R và</p>
<p>\(f( - 2) =  - 1\,\,;\,\,\,f(0) = 1\,\,;\,\,f(1) =  - 1\,\,;\,f(2) = 3\)</p>
<p>\( \Rightarrow f( - 2).f(0) =  - 1 &lt; 0\,,f(0).f(1) =  - 1 &lt; 0,f(1).f(2) =  - 3 &lt; 0\)</p>
<p>Suy ra phương trình có ba nghiệm phân biệt thuộc các khoảng</p>
<p>\(( - 2;0),(0;1),(1;2)\).</p>
<p>Mà f(x) là đa thức bậc ba nên f(x) chỉ có tối đa 3 nghiệm</p>
<p>Vậy phương trình đã cho có đúng ba nghiệm.</p>
<p>b)  Phương trình \( \Leftrightarrow 2x - 3 = 6\sqrt[3]{{x - 1}} \Leftrightarrow {(2x - 3)^3} - 216(x - 1) = 0\)</p>
<p>Xét hàm số \(f(x) = {(2x - 3)^3} - 216(x - 1)\), ta có hàm số liên tục trên R và</p>
<p>\(f( - 4) =  - 251,f(0) = 189,f(1) =  - 1,f(7) = 35\)</p>
<p>Suy ra\( \Rightarrow f( - 4).f(0) &lt; 0\,,f(0).f(1) &lt; 0,f(1).f(7) &lt; 0\)</p>
<p>Suy ra phương trình có ba nghiệm phân biệt thuộc các khoảng</p>
<p>\(( - 4;0),(0;1),(1;7)\).</p>
<p>Mà f(x) là đa thức bậc ba nên f(x) chỉ có tối đa 3 nghiệm</p>
<p>Vậy phương trình đã cho có đúng ba nghiệm.</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}