{% extends "pages/lop8/chuong4/base-lop8-chuong4.html" %}
{% block title %}Toán 8 Bài 2: Liên hệ giữa thứ tự và phép nhân - Luyện tập{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 8 Bài 2: Liên hệ giữa thứ tự và phép nhân - Luyện tập</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Bài trước ta đã tìm hiểu về <strong>Liên hệ giữa t</strong><strong>hứ tự với phép cộng </strong>nhưng khi chúng ta gặp các bất đẳng thức có phép nhân thì sẽ xử lý như thế nào? Bài tiếp theo ta sẽ tìm hiểu về <strong>Liên hệ giữa t</strong><strong>hứ tự với phép nhân</strong></p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Liên hệ giữa thứ tự và phép nhân với số dương</h3>
</div>
<p><strong>Tính chất: </strong>Với 3 số a,b,c mà c&gt;0, ta có:</p>
<p>Nếu  \(a<b\) le="" p="" u=""> </b\)></p>
<p>Nếu \(a&gt;b\) thì \(a.c&gt;b.c\) ; Nếu \(a\geq b\) thì \(a.c\geq b.c\)</p>
<p><strong>Khi nhân cả hai vế của bất đẳng thức với cùng một số dương ta được bất đẳng thức mới cùng chiều với bất đẳng thức đã cho</strong></p>
<div id="12">
<h3>1.2. Liên hệ giữa thứ tự và phép nhân với số âm</h3>
</div>
<p><strong>Tính chất: </strong>Với 3 số a,b,c mà c&lt;0, ta có:</p>
<p>Nếu a<b ac=""> bc; nếu \(a \le b\) thì \(ac \ge bc\)</b></p>
<p><b ac="">Nếu a &gt; b thì ac &lt; bc; nếu \(a \ge b\) thì \(ac \le bc\)</b></p>
<p><b ac=""><strong>Khi nhân cả hai vế của bất đẳng thức với cùng một số âm ta được bất đẳng thức mới ngược chiều với bất đẳng thức đã cho</strong></b></p>
<div id="13">
<h3><b ac="">1.3. Tính chất bắc cầu của thứ tự</b></h3>
</div>
<p><b ac="">Với 3 số a,b,c </b></p>
<p><b ac="">Nếu a&gt;b và b&gt;c thì a&gt;c .Tính chất này gọi là Tính chất bắc cầu</b></p>
<p><b ac="">Tính chất bắc cầu cũng đúng cho các thứ tự \(&lt;,\leq ,\geq\)</b></p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<div id="21">
<h3>2.1. Bài tập cơ bản</h3>
</div>
<p><strong>Bài 1: </strong>Khẳng định sau đúng hay sai</p>
<p>a) \((-3).4&gt;(-3).3\)</p>
<p>b) \((-4).(-5)\leq (-6).(-5)\)</p>
<p><strong>Hướng dẫn:</strong></p>
<p>a) \(4&gt;3\Rightarrow (-3).4&lt;(-3).3\). Khẳng định trên là sai</p>
<p>b) \(-4\geq -6\Rightarrow (-4).(-5)\leq (-6).(-5)\). Khẳng định trên là đúng </p>
<p><strong>Bài 2: </strong>Cho a và \(-3b\); \(2a\) và \(a+b\)</p>
<p><strong>Hướng dẫn:</strong></p>
<p><strong>\(a<strong>-3.b\)</strong></strong></p>
<p><strong><strong>\(a</strong></strong></p>
<div id="22">
<h3>2.2. Bài tập nâng cao</h3>
</div>
<p><strong>Bài 1:</strong> CMR  \(\frac{x^2+9}{2}\geq 3x,\forall x\in \mathbb{R}\)</p>
<p>Hướng dẫn: </p>
<p>\(\frac{x^2+9}{2}\geq 3x\Leftrightarrow x^2+9\geq 2.3x\Leftrightarrow x^2-2.x.3+9\geq 0\Leftrightarrow (x-3)^2\geq0\)</p>
<p> Đúng \(\forall x\in \mathbb{R}\)</p>
<p><strong>Bài 2:</strong> Cho \(3a\leq 2b\) \((b\geq 0)\). Hãy so sánh 2 số \(5a\) và \(4b\)</p>
<p>Hướng dẫn: </p>
<p>\(3a\leq 2b\Rightarrow \frac{5}{3}.3a\leq \frac{5}{3}.2b\Rightarrow 5a\leq \frac{10}{3}b\)</p>
<p>mà \(\frac{10}{3}&lt;4\Rightarrow \frac{10}{3}.b\leq 4b\Rightarrow 5a\leq 4b\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}