{% extends "pages/lop9/chuong2/base-lop9-chuong2.html" %}
{% block title %}Toán 9 Bài 4: Đường thẳng song song và đường thẳng cắt nhau{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 9 Bài 4: Đường thẳng song song và đường thẳng cắt nhau</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Giúp xác định vị trí tương đối của hai <strong>đường thẳng</strong>, khi nào thì <strong>song song, cắt nhau,...</strong>và giải các dạng bài tập liên quan.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Đường thẳng song song</h3>
</div>
<p>Cho đường thẳng d có phương trình là \(y=ax+b(a\neq0)\) và đường thẳng d' có phương trình là \(y=a'x+b'(a'\neq0)\). Khi đó d và d' song song khi và chỉ khi \(a=a'\) và \(b\neq b'\)</p>
<h4>Chú ý: nếu a=a' và b=b' thì d trùng d'</h4>
<div id="12">
<h3>1.2. Đường thẳng cắt nhau</h3>
</div>
<p>Cho đường thẳng d có phương trình là \(y=ax+b(a\neq0)\) và đường thẳng d' có phương trình là \(y=a'x+b'(a'\neq0)\). Khi đó d và d' cắt nhau khi và chỉ khi \(a\neq a'\)</p>
<h4>Chú ý: nếu \(a\neq a'\) và b=b' thì d cắt d' tại một điểm trên trục tung có tung độ là b</h4> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<div id="21">
<h3>2.1. Bài tập cơ bản</h3>
</div>
<p><strong>Bài 1: </strong>Tìm giá trị của m để hai đường thẳng \(y=2x+3\) và \(y=(m-1)x+2\) song song với nhau.</p>
<p><strong>Hướng dẫn: </strong>Để hai đường thẳng đã cho song song thì \(2=m-1\) hay \(m=3\)</p>
<p><strong>Bài 2: </strong>Tìm giá trị của m để hai đường thẳng \(y=mx+1\) và \(y=(3m-4)x-2\) cắt nhau.</p>
<p><strong>Hướng dẫn: </strong>Để hai đường thẳng đã cho cắt nhau thì \(m \neq 3m-4\) hay \(m \neq 2\)</p>
<p><strong>Bài 3: </strong>Tìm phương trình đường thẳng d biết d song song với đường thẳng \(y=2x+1\) và d đi qua \(A(1;2)\)</p>
<p><strong>Hướng dẫn: </strong>Gọi \((d):y=ax+b\), d song song với \(y=2x+1\) nên \(a=2\), d đi qua \(A(1;2)\) nên \(2=2.1+b\) hay \(b=0\), tức là \((d):y=2x\)</p>
<div id="22">
<p><span style="color:inherit; font-family:inherit; font-size:24px">2.2. Bài tập nâng cao</span></p>
</div>
<p><strong>Bài 1: </strong>Xác định các hệ số a và b để đường thẳng \(y=ax+b\) cắt trục tung tại điểm có tung độ bằng -2 và song song với đường thẳng OA, trong đó O là gốc tọa độ, \(A(2;1).\)</p>
<p><strong>Hướng dẫn: </strong>Đường thẳng OA có phương trình là \(x-2y=0\) nên \(a=\frac{1}{2}\). Mặt khác đường thẳng đã cho đi qua điểm \((0;-2)\) nên tìm được \(b=-2\)</p>
<p><strong>Bài 2: </strong>Cho ba điểm \(A(-1;6), B(-4;4), C(1;1)\). Tìm tọa độ D sao cho \(ABCD\) là hình bình hành.</p>
<p><strong>Hướng dẫn:</strong></p>
<p>Đường thẳng AB có phương trình \(2x-3y+20=0\)</p>
<p>Đường thẳng BC có phương trình \(3x+5y-8=0\)</p>
<p>Đường thẳng qua A và song song với BC có phương trình \(3x+5y-27=0\)</p>
<p>Đường thẳng qua C và song song AB có phương trình \(2x-3y+1=0\)</p>
<p>Khi đó là tọa độ D là nghiệm của hệ phương trình \(\left\{\begin{matrix}3x+5y=27\\2x-3y=-1 \end{matrix}\right.\)</p>
<p>Giải hệ ta được \(\left\{\begin{matrix} x=4\\ y=3 \end{matrix}\right.\). Vậy \(D(4;3)\)</p>
<p> </p>
<p> </p>
<p> </p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}