{% extends "pages/lop9/chuong2/base-lop9-chuong2.html" %}
{% block title %}Toán 9 Ôn tập chương 2 Hàm số bậc nhất{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 9 Ôn tập chương 2 Hàm số bậc nhất</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Sau khi nhắc lại kiến thức về <strong>hàm số bậc nhất</strong> đã từng học ở lớp dưới, chúng ta đã hiểu hơn về khái niêm của hàm số bậc nhất, cách vẽ đồ thị phương trình bậc nhất, vị trí tương đối giữa hai đường thẳng... Bài học này sẽ giúp các em củng cố và ôn tập nội dung chính của <strong>Hàm số bậc nhất</strong></p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<h3>Kiến thức cần nhớ</h3>
<h4>1. Khái niệm</h4>
<p>Hàm số bậc nhất là hàm số được viết dưới dạng \(y=ax+b(a\neq 0)\)</p>
<p>Hàm số đồng biến trên \(\mathbb{R}\) khi a dương.</p>
<p>Hàm số nghịch biến trên \(\mathbb{R}\) khi a âm.</p>
<h4>2. Đồ thị hàm số \(y=ax+b(a\neq 0)\)</h4>
<p>Đồ thị hàm số bậc nhất là một đường thẳng:</p>
<p>Cắt trục tung tại điểm có tung độ bằng b</p>
<p>Song song với đường thẳng \(y=ax\), và cũng chính là đường thẳng \(y=ax\) nếu \(b=0\)</p>
<h4>3. Vị trí tương đối của hai đường thẳng</h4>
<p>Chúng ta có 3 vị trí của hai đường thẳng \(y=ax+b;y=a'x+b'(a;a'\neq 0)\)</p>
<p>Song song: \(\left\{\begin{matrix} a=a'\\ b\neq b' \end{matrix}\right.\)</p>
<p>Trùng nhau: \(\left\{\begin{matrix} a=a'\\ b= b' \end{matrix}\right.\)</p>
<p>Cắt nhau: \(a\neq a'\)</p>
<p><em>Lưu ý: </em>Đối với vị trí cắt nhau, ta cũng có trường hợp đó là hai đường thẳng vuông góc với nhau</p>
<p>khi đó: \(a.a'=-1\)</p>
<h4>4. Hệ số góc</h4>
<p>Về phương trình đường thẳng dạng chuẩn đó là \(y=ax+b(a\neq 0)\), ta có hệ số góc của phương trình này chính là \(a\)</p>
<p>Đôi khi, phương trình đường thẳng được viết dưới dạng \(ax+by+c=0\)</p>
<p>Thì ta sẽ biến đổi một chút thành dạng chuẩn:</p>
<p>\(ax+by+c=0(b\neq 0)\)\(\Leftrightarrow by=-ax-c\)\(\Leftrightarrow y=-\frac{a}{b}x-\frac{c}{b}\); hệ số góc của phương trình này chính là \(\frac{-a}{b}\).</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<h3>Các bài tập trọng tâm của chương</h3>
<p><strong>Bài 1: </strong>Cho hàm số \(y=ax-2\). Xác định hệ số góc của hàm số đó, biết rằng hàm số đi qua điểm \(A(2;4)\). Vẽ đồ thị hàm số đó trên trục tọa độ.</p>
<p><strong>Hướng dẫn: </strong>Do hàm số đi qua điểm \(A(2;4)\) nên tọa độ của điểm A cũng thuộc đồ thị hàm số.</p>
<p>Thế hoành độ và tung độ của điểm A vào hàm số, ta được:</p>
<p>\(4=a.2-2\)\(\Leftrightarrow a=3\)</p>
<p>Vậy, hàm số được cho có dạng: \(y=3x-2\) với hệ số góc \(a=3\)</p>
<p><em>Vẽ đồ thị:</em></p>
<p>Hàm số qua các điểm: \(A(2;4)\); \(B(0;-2)\)</p>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/12(70).png" style="height:567px; width:512px"/></p>
<p><strong>Bài 2: </strong></p>
<p>a) Với giá trị nào của m thì hàm số \(y=(m-2)x-6\) đồng biến trên \(\mathbb{R}\)?</p>
<p>b) Với các giá trị nào của n thì hàm số \(y=(4-n)x+2017\) nghịch biến trên \(\mathbb{R}\)?</p>
<p><strong>Hướng dẫn: </strong></p>
<p>a) Để hàm số \(y=(m-2)x-6\) đồng biến trên \(\mathbb{R}\) thì hệ số góc \(a&gt;0\)</p>
<p>Tức là \(m-2&gt;0\Leftrightarrow m&gt;2\)</p>
<p>Vậy \(m&gt;2\) thì hàm số đồng biến trên \(\mathbb{R}\)</p>
<p>b) Để hàm số \(y=(4-n)x+2017\) nghịch biến trên \(\mathbb{R}\) thì hệ số góc \(a&lt;0\)</p>
<p>Tức là \(4-n&lt;0\Leftrightarrow n&gt;4\)</p>
<p>Vậy \(n&gt;4\) thì hàm số nghịch biến trên \(\mathbb{R}\)</p>
<p><strong>Bài 3:</strong> Xác định các hệ số a, b để hai hàm số sau: \(y=ax+(b+3)\) và \(y=(4-a)x+(b+10)\)</p>
<p>a) Vuông góc</p>
<p>b) Song song</p>
<p>c) Trùng nhau</p>
<p><strong>Hướng dẫn:</strong></p>
<p>Để các hàm số trên là hàm số bậc nhất, trước hết hệ số góc khác 0</p>
<p>\(\Leftrightarrow \left\{\begin{matrix} a\neq 0\\ a\neq 4 \end{matrix}\right.\)</p>
<p>a) Để hai hàm số vuông góc với nhau, ta có:</p>
<p>\(a(4-a)=-1\Leftrightarrow a^2-4a-1=0\)</p>
<p>\(\Leftrightarrow a=2+\sqrt{5}\) hoặc \(a=2-\sqrt{5}\) thì hai đường thẳng vuông góc với nhau.</p>
<p>b) Để hai hàm số song song với nhau, ta có:</p>
<p>\(\left\{\begin{matrix} a=4-a\\ b+3\neq b+10 \end{matrix}\right.\)\(\Leftrightarrow \left\{\begin{matrix} a=2\\ 0.b\neq 7 \end{matrix}\right.\)</p>
<p>Vậy \(a=2\) thì hai đường thẳng song song với nhau.</p>
<p>c) Để hai hàm số trùng nhau, ta có:</p>
<p>\(\left\{\begin{matrix} a=4-a\\ b+3=b+10 \end{matrix}\right.\)</p>
<p>Không thể làm cho \(b+3=b+10\) nên hai đường thẳng này không thể trùng nhau với mọi hệ số a, b.</p>
<p><strong>Bài 4: </strong>Vẽ các đồ thị sau trên cùng một mặt phẳng tọa độ</p>
<p>\(y=x+2\)</p>
<p>\(y=2x-1\)</p>
<p>\(y=3-x\)</p>
<p>Chứng tỏ rằng tam giác tạo bởi 3 điểm là 3 tọa độ giao nhau của 3 đường thẳng trên là một tam giác vuông.</p>
<p>Hãy dùng đồ thị kiểm chứng lại.</p>
<p><strong>Hướng dẫn:</strong></p>
<p>Gọi đồ thị \(y=x+2\) là \(d_1\), \(y=2x-1\) là \(d_2\), \(y=3-x\) là \(d_3\)</p>
<p>Hàm số \(d_1\) qua \(A(0;2);B(1;3)\)</p>
<p>Hàm số \(d_2\) qua \(C(0;-1);D(2;3)\)</p>
<p>Hàm số \(d_3\) qua \(E(0;3);F(3;0)\)</p>
<p>Vẽ đồ thị:</p>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/12(71).png" style="height:580px; width:588px"/></p>
<p>Dễ thấy bằng đồ thị, Tam giác MNP vuông tại N.</p>
<p>Vì N là giao điểm của \(d_1\) và \(d_3\)</p>
<p>Ta có tích hệ số góc của \(d_1\) và \(d_3\) là \(1.(-1)=-1\)</p>
<p><strong>Bài 5: </strong>Vẽ đường thẳng \(y=6-x\) trên mặt phẳng tọa độ.</p>
<p>Chứng tỏ đường thẳng tạo với hai trục tọa độ và gốc tọa độ thành một tam giác vuông cân. Tính chu vi và diện tích của tam giác vuông cân ấy.</p>
<p><strong>Hướng dẫn:</strong></p>
<p>Đường thẳng \(y=6-x\) đi qua các điểm \(A(1;5), B(2;4)\)</p>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/12(72).png" style="height:496px; width:490px"/></p>
<p>Chúng ta tìm điểm cắt trục tung của đường thẳng đó là điểm \(C(0;6)\)</p>
<p>Điểm cắt trục hoành là điểm \(D(6;0)\)</p>
<p>Ta có độ lớn đại số của \(OC=OD=6(dvdd)\)</p>
<p>Vậy tam giác OCD vuông cân tại O.</p>
<p>Áp dụng định lý Pytago vào tam giác vuông cân OCD, ta tìm được \(CD=\sqrt{OD^2+OC^2}=\sqrt{6^2+6^2}=6\sqrt{2}(dvdd)\)</p>
<p>Vậy, Chu vi của tam giác OCD là \(OC+OD+CD=12+6\sqrt{2}(dvdd)\)</p>
<p>Diện tích tam giác OCD là \(\frac{1}{2}OD.OC=\frac{1}{2}.6.6=18(dvdt)\)</p>
<p> </p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}