{% extends "pages/lop9/chuong2/base-lop9-chuong2.html" %}
{% block title %}Toán 9 Bài 1: Nhắc lại và bổ sung các khái niệm về hàm số{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 9 Bài 1: Nhắc lại và bổ sung các khái niệm về hàm số</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Ôn lại <strong>khái niệm hàm số</strong> và <strong>đồ thị của hàm số</strong> đã học ở lớp 7 và bổ sung một số <strong>khái niệm quan trọng</strong> khác về <strong>hàm số</strong>.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Khái niệm hàm số</h3>
</div>
<p>Nếu đại lượng \(y\) phụ thuộc vào đại lượng thay đổi \(x\) sao cho với mỗi giá trị của x ta luôn xác định được chỉ một giá trị tương ứng của \(y\) thì \(y\) được gọi là hàm số của \(x\)</p>
<div id="12">
<h3>1.2. Đồ thị hàm số</h3>
</div>
<p>Đồ thị hàm số \(y=f(x)\) là tập hợp tất cả các điểm biểu diễn các cặp giá trị tương ứng \((x;f(x))\) trên mặt phẳng tọa độ</p>
<div id="13">
<h3>1.3. Hàm số đồng biến, nghịch biến</h3>
</div>
<p>Cho hàm số \(y=f(x)\) xác định với mọi giá trị \(x\) thuộc \(\mathbb{R}\). Với \(x_{1}, x_{2}\) bất kì thuộc \(\mathbb{R}\):</p>
<p>Nếu \(x_1f(x_2)\) thì ta nói hàm số đó nghịch biến biến trên \(\mathbb{R}\)</p>
<p> </p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<div id="21">
<h3>2.1. Bài tập cơ bản</h3>
</div>
<p><strong>Bài 1:</strong> Cho hàm số \(y=f(x)=x^2\). Tính \(f(-2)\) và \(f(0)\)</p>
<p><strong>Hướng dẫn:</strong> Ta có \(f(-2)=(-2)^2=4\), \(f(0)=0^2=0\)</p>
<p><strong>Bài 2:</strong> Xác định hàm số \(f(x)\) biết rằng \(f(x+1)=x^2-2x+3\)</p>
<p><strong>Hướng dẫn:</strong> Đặt \(x+1=t\) thì \(x=t-1\). Khi đó\(f(t)=(t-1)^2-2(t-1)+3=t^2-4t+6\). Vậy \(f(x)=x^2-4x+6\)</p>
<p><strong>Bài 3:</strong> Chứng minh rằng trên tập số thực, hàm số \(y=f(x)=ax+b (a&gt;0)\) đồng biến  </p>
<p><strong>Hướng dẫn:</strong> Với \(x_1, x_2 \in \mathbb{R}\) và \(x_10\), suy ra \(ax_1+b</p>
<div id="22">
<h3>2.2. Bài tập nâng cao</h3>
</div>
<p><strong>Bài 1:</strong> Cho Cho hàm số \(f(x)=ax^5+bx^3+cx-5\) (\(a,b,c\) là hằng số). Cho biết \(f(-3)=-10\). Tính \(f(3)\)</p>
<p><strong>Hướng dẫn:</strong> Ta có \(f(3)+f(-3)=-10\) nên \(f(3)=0\)</p>
<p><strong>Bài 2:</strong> Chứng minh công thức tính khoảng cách \(d\) giữa hai điểm \(A(x_1;y_1)\) và \(B(x_2;y_2)\) là \(d=\sqrt{(x_2-x_1)^2+(y_2-y_1)^2}\)</p>
<p><strong>Hướng dẫn:</strong> Gọi \(C(x_2;y_2)\), ta có khoảng cách giữa 2 điểm \(x_1,x_2\) trên trục hoành chính là \(AC\) nên \(AC= |x_2-x_1|\), tương tự \(BC= |y_2-y_1|\)</p>
<p>Do tam giác \(ABC\) vuông tại \(C\) nên \(AB^2=AC^2+BC^2=(x_2-x_1)^2+(y_2-y_1)^2\) hay \(d=\sqrt{(x_2-x_1)^2+(y_2-y_1)^2}\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}