{% extends "pages/lop9/chuong2/base-lop9-chuong2.html" %}
{% block title %}Toán 9 Bài 2: Hàm số bậc nhất{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 9 Bài 2: Hàm số bậc nhất</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Ta sẽ tìm hiểu một dạng tổng quát của <strong>hàm số</strong> y=ax đã học ở lớp 7 đó là <strong>hàm số bậc nhất</strong> y=ax+b</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Khái niệm về hàm số bậc nhất</h3>
</div>
<p>Hàm số bậc nhất là hàm số được cho bởi công thức \(y=ax+b\), trong đó \(a\) và \(b\) là các số thực, \(a\) khác <img alt="0" src="http://latex.codecogs.com/gif.latex?0"/></p>
<div id="12">
<h3>1.2. Tính chất</h3>
</div>
<p>Trên tập hợp số thực, hàm số \(y=ax+b\) đồng biến khi \(a&gt;0\), nghịch biến khi \(a&lt;0\)</p>
<p> </p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<div id="21">
<h3>2.1. Bài tập cơ bản</h3>
</div>
<p><strong>Bài 1: </strong>Xác định \(m\) để hàm số \(y=(m-1)x+2\) đồng biến</p>
<p><strong>Hướng dẫn: </strong>hàm số đã cho đồng biến khi \(m-1&gt;0\) hay \(m&gt;1\)</p>
<p><strong>Bài 2: </strong>Cho hàm số \(y=2x^2+3\). Hỏi hàm số này có phải là hàm số bậc nhất không?</p>
<p><strong>Hướng dẫn: </strong>Hàm số đã cho không phải là hàm số bậc nhất vì không có dạng \(y=ax+b\)</p>
<p><strong>Bài 3: </strong>Cho hàm số \(y=ax+1\). Biết đồ thị hàm số đi qua điểm \(A(1;2)\). Hỏi \(a\) bằng mấy?</p>
<p><strong>Hướng dẫn: </strong>Đồ thị hàm số đi qua điểm \(A(1;2)\) nên \(2=a.1+1\) hay \(a=1\)</p>
<div id="22">
<h3>2.2. Bài tập nâng cao</h3>
</div>
<p><strong>Bài 1: </strong>Xác định đường thẳng đi qua hai điểm \(A\) và \(B\), biết rằng \(A(-2;0)\) và \(B(0,1)\)</p>
<p><strong>Hướng dẫn: </strong>Giả sử đường thẳng đó có dạng \(y=ax+b\) với \(a\) khác <img alt="0" src="http://latex.codecogs.com/gif.latex?0"/> </p>
<p>\(A\) và \(B\) thuộc đường thẳng nên ta có \(0=a.(-2)+b\) và \(1=a.0+b\). Giải hệ ta được \(a=\frac{1}{2}\) và \(b=1\). Vậy \(y=\frac{1}{2}x+1\)</p>
<p><strong>Bài 2: </strong>Chứng minh rằng nếu một đường thẳng không đi qua gốc tọa độ, cắt trục hoành tại điểm có hoành độ bằng a, cắt trục tung tại điểm có tung độ bằng b thì đường thẳng đó có phương trình là</p>
<p>\(\frac{x}{a}+\frac{y}{b}=1\)</p>
<p><strong>Hướng dẫn: </strong>Giả sử đường thẳng đó có dạng \(y=mx+n\) với \(m\) khác <img alt="0" src="http://latex.codecogs.com/gif.latex?0"/> </p>
<p>Đường thẳng đi qua điểm \((0;b)\) nên \(b=m.0+n=&gt;n=b\)</p>
<p>Đường thẳng đi qua điểm \((a;0)\) nên \(0=m.a+b=&gt;m=\frac{-b}{a}\) (chú ý rằng \(a\) khác <img alt="0" src="http://latex.codecogs.com/gif.latex?0"/>)</p>
<p>Từ đó: \(y=\frac{-b}{a}x+b\) hay  \(\frac{y}{b}=\frac{-x}{a}+1\) tức là  \(\frac{x}{a}+\frac{y}{b}=1\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}