{% extends "pages/lop9/chuong2/base-lop9-chuong2.html" %}
{% block title %}Toán 9 Bài 5: Hệ số góc của đường thẳng y = ax + b (a ≠ 0){% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 9 Bài 5: Hệ số góc của đường thẳng y = ax + b (a ≠ 0)</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Làm quen với khái niệm <strong>Hệ số góc của đường thẳng y = ax + b</strong> và các dạng bài tập liên quan.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Khái niệm hệ số góc của đường thẳng y = ax + b (a ≠ 0).</h3>
</div>
<p>Xét đường thẳng \(y=ax+b (a \neq 0)\). Khi đó a được gọi là hệ số góc của đường thẳng \(y=ax+b\)</p>
<div id="12">
<h3>1.2.Tính chất</h3>
</div>
<p>Gọi A là giao điểm của đường thẳng \(y=ax+b\) và trục Ox, T là điểm thuộc đường thẳng \(y=ax+b\) và có tung độ dương. Ta gọi góc tạo bởi đường thẳng \(y=ax+b\) và trục Ox là góc tạo bởi tia AT và tia Ax. Đặt góc đó là \(\alpha\)</p>
<p>Nếu \(a&gt;0\) thì \(0^{\circ}&lt;\alpha&lt;90^{\circ}\) và \(\tan \alpha =a\)</p>
<p>Nếu \(a&lt;0\) thì \(0^{\circ}&lt;\alpha&lt;90^{\circ}\) và \(\tan (180^{\circ}-\alpha) =-a\)​</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<div id="21">
<h3>2.1. Bài tập cơ bản</h3>
</div>
<p><strong>Bài 1: </strong>Xác định hệ số góc của đường thẳng  \(\frac{x}{3}+\frac{y}{2}=1\)</p>
<p><strong>Hướng dẫn: </strong>Viết phương trình đường thẳng thành: \(y=\frac{-2}{3}x+2\) nên hệ số góc là \(\frac{-2}{3}\)</p>
<p><strong>Bài 2: </strong>Cho phương trình đường thẳng (d) là \(y=x+1\), gọi \(\alpha\) là góc tạo bởi (d) và Ox. Tính \(\alpha\)</p>
<p><strong>Hướng dẫn: Ta có: </strong>\(\tan \alpha =1\) nên \(\alpha =45^{\circ}\)</p>
<p><strong>Bài 3: </strong>Cho (d): \(y=ax+b\). Tìm a, b biết (d) đi qua gốc tọa độ và song song với (d') trong đó (d') có hệ số góc là 1</p>
<p><strong>Hướng dẫn: </strong>(d) đi qua gốc tọa độ nên \(b=0\), (d) song song (d') và (d') có hệ số góc là 1 nên \(a=1\)</p>
<div id="22">
<h3>2.2. Bài tập nâng cao</h3>
</div>
<p><strong>Bài 1: </strong>Cho các điểm \(A(m;3)\) và \(B(1;m)\) nằm trên đường thẳng có hệ số góc \(m&gt;0\). Tìm giá trị của m.</p>
<p><strong>Hướng dẫn: </strong>Đường thẳng d có hệ số góc là m nên có dạng \((d): y=mx+n\). A và B thuộc d nên ta có hệ \(\left\{\begin{matrix} 3=m.m+n\\ m=m.1+n \end{matrix}\right. &lt;=&gt; \left\{\begin{matrix} m=\sqrt{3}\\ n=0 \end{matrix}\right.\)</p>
<p><strong>Bài 2: </strong>Chứng minh rằng nếu một đường thẳng đi qua điểm \(A(x_1;y_1)\) và có hệ số góc bằng a thì đường thẳng đó có phương trình là \(y-y_1=a(x-x_1)\)</p>
<p><strong>Hướng dẫn: </strong>Đường thẳng d có hệ số góc là a nên có dạng \((d): y=ax+b\)</p>
<p>(d) đi qua \(A(x_1;y_1)\) nên \(y_1=ax_1+b\). Do đó \((d): y=ax+(y_1-ax_1)\) hay \((d): y-y_1=a(x-x_1)\)</p>
<p> </p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}