{% extends "pages/lop9/chuong2/base-lop9-chuong2.html" %}
{% block title %}Toán 9 Bài 3: Đồ thị của hàm số y = ax + b (a ≠ 0){% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 9 Bài 3: Đồ thị của hàm số y = ax + b (a ≠ 0)</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Giúp ta biết cách vẽ <strong>đồ thị hàm số</strong> <strong>bậc nhất</strong> cũng như một số dạng toán liên quan tới <strong>đồ thị </strong>này.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Đồ thị của hàm số y = ax + b (a ≠ 0)</h3>
</div>
<p>Đồ thị của hàm số \(y = ax + b (a \neq 0)\) là một đường thẳng:</p>
<p>-Cắt trục tung tại điểm có tung độ bằng b</p>
<p>-Song song với đường thẳng \(y = ax\) nếu \(b \neq 0\) và trùng với đường thẳng y=ax nếu b=0</p>
<h4>Chú ý:</h4>
<p>Đồ thị của hàm số \(y = ax + b (a \neq 0)\) còn được gọi là đường thẳng \(y = ax + b\); b được gọi là tung độ gốc của đường thẳng</p>
<div id="12">
<h3>1.2. Cách vẽ đồ thị của hàm số y = ax + b (a ≠ 0)</h3>
</div>
<p>Vẽ đường thẳng đi qua hai điểm \(P(0;b)\) và \(Q(\frac{-b}{a};0)\) ta được đồ thị của hàm số \(y = ax + b\)</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<div id="21">
<div id="21">
<h3>2.1. Bài tập cơ bản</h3>
</div>
</div>
<p><strong>Bài 1: </strong>Gọi A là giao điểm của hai đường thẳng \(y=x+1\) và \(y=2x+1\), tìm tọa độ của A?</p>
<p><strong>Hướng dẫn: </strong>A thuộc cả hai đường thẳng nên tọa độ A thỏa mãn hệ phương trình \(\left\{\begin{matrix} y=x+1\\ y=2x+1 \end{matrix}\right.\) , giải hệ ta được \(\left\{\begin{matrix} x=0\\ y=1 \end{matrix}\right.\) nên \(A(0;1)\)</p>
<p><strong>Bài 2: </strong>Cho đường thẳng \(2x-y+1=0\). Hỏi \(A(1;2)\) có thuộc đường thẳng không?</p>
<p><strong>Hướng dẫn: </strong>Ta có \(2.1-2+1\neq0\) nên A không thuộc đường thẳng đã cho</p>
<p><strong>Bài 3: </strong>Vẽ đường thẳng \(x+y-2=0\) trên mặt phẳng tọa độ.</p>
<p><strong>Hướng dẫn: </strong>Xác định hai điểm \((0;2)\) và \((2;0)\), sau đó vẽ đường thẳng đi qua hai điểm này, đó chính là đường thẳng cần vẽ.</p>
<div id="22">
<h3>2.2. Bài tập nâng cao</h3>
</div>
<p><strong>Bài 1: </strong>Cho đường thẳng d xác định bởi \(y=2x+11\). Đường thẳng d' đối xứng với đường thẳng d qua trục hoành có phương trình là?</p>
<p><strong>Hướng dẫn: </strong>Điểm đối xứng với điểm \((x;y)\) qua trục hoành là điểm \((x;-y)\). Xét \(y=2x+11\), thay \(y\) bởi \(-y\) ta được \(-y=2x+11\) hay \(y=-2x-11\). Vậy \((d'):y=-2x-11\)</p>
<p><strong>Bài 2: </strong>Cho đường thẳng d có phương trình \(y=mx+m-1\) (m là tham số). Chứng minh rằng đường thẳng đã cho luôn đi qua một điểm cố định với mọi giá trị của m</p>
<div><strong>Hướng dẫn: </strong>Giả sử d đi qua \(M(x_o,y_o)\) với mọi m. Khi đó \(y_o=mx_o+m-1=0\) với mọi m, tức là \((x_o+1)m-(y_o+1)=0\) với mọi m <strong>\(&lt;=&gt;\left\{\begin{matrix}x_o+1=0\\ y_o+1=0\end{matrix}\right. &lt;=&gt;\left\{\begin{matrix}x_o=-1\\ y_o=-1\end{matrix}\right.\)</strong></div>
<div>Vậy d luôn đi qua điểm \((-1;-1)\) với mọi m.</div>
<p> </p>
<p> </p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}