{% extends "pages/lop8/chuong2/base-lop8-chuong2.html" %}
{% block title %}Toán 8 Bài 5: Phép cộng các phân thức đại số{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 8 Bài 5: Phép cộng các phân thức đại số</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Với bài học này, chúng ta sẽ làm quen với <strong>Cộng các phân thức đại số</strong>. Đây là bài học giúp các em làm quen với việc Cộng các phân thức đại số dựa vào những quy tắc đã học.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1 Kiến thức cần nhớ</h3>
</div>
<p>Muốn cộng hai phân thức có còng mẫu thức, ta cộng các tử thức với nhau và giữ nguyên mẫu thức.</p>
<p>Muốn cộng hai phân  thức có mẫu thức khác nhau, ta quy đồng mẫu thức rồi cộng các phân thức có cùng mẫu thức vừa tìm được.</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<p><strong>Bài 1: Cộng các phân thức cùng mẫu:</strong></p>
<p>a.<span class="math-tex">\(\frac{{x - 5}}{5} + \frac{{1 - x}}{5}\)</span></p>
<p>b.<span class="math-tex">\(\frac{{{x^2} - x}}{{xy}} + \frac{{1 - 4x}}{{xy}}\)</span></p>
<p>c.<span class="math-tex">\(\frac{{5xy - 3x}}{{2{x^2}{y^3}}} + \frac{{5x - 7xy}}{{2{x^2}{y^3}}}\)</span></p>
<p><strong>Hướng dẫn</strong></p>
<p>a.</p>
<p><span class="math-tex">\(\begin{array}{l} \frac{{x - 5}}{5} + \frac{{1 - x}}{5}\\ = \frac{{x - 5 + 1 - x}}{5}\\ = \frac{{ - 4}}{5} \end{array}\)</span></p>
<p>b.</p>
<p><span class="math-tex">\(\begin{array}{l} \frac{{{x^2} - x}}{{xy}} + \frac{{1 - 4x}}{{xy}}\\ = \frac{{{x^2} - x + 1 - 4x}}{{xy}}\\ = \frac{{{x^2} - 5x + 1}}{{xy}} \end{array}\)</span></p>
<p>c.</p>
<p><span class="math-tex">\(\begin{array}{l} \frac{{5xy - 3x}}{{2{x^2}{y^3}}} + \frac{{5x - 7xy}}{{2{x^2}{y^3}}}\\ = \frac{{5xy - 3x + 5x - 7xy}}{{2{x^2}{y^3}}}\\ = \frac{{2x - 2xy}}{{2{x^2}{y^3}}}\\ = \frac{{2x(1 - y)}}{{2{x^2}{y^3}}}\\ = \frac{{1 - y}}{{x{y^3}}} \end{array}\)</span></p>
<p><strong>Bài 2: Thực hiện quy đồng mẫu số rồi cộng các phân thức sau:</strong></p>
<p>a. <span class="math-tex">\(\frac{{1 - 2x}}{{2x}} + \frac{{2x}}{{2x - 1}} + \frac{1}{{4{x^2} - 2x}}\)</span>  </p>
<p>b. <span class="math-tex">\(\frac{{{x^2}}}{{{x^2} - 2x}} + \frac{6}{{6 - 3x}} + \frac{1}{{x + 2}}\)</span>  </p>
<p><strong>Hướng dẫn</strong></p>
<p>a.</p>
<p><span class="math-tex">\(\begin{array}{l} \frac{{1 - 2x}}{{2x}} + \frac{{2x}}{{2x - 1}} + \frac{1}{{4{x^2} - 2x}}\\ = \frac{{\left( {1 - 2x} \right)\left( {2x - 1} \right)}}{{2x\left( {2x - 1} \right)}} + \frac{{2x.2x}}{{2x\left( {2x - 1} \right)}} + \frac{1}{{2x\left( {2x - 1} \right)}}\\ = \frac{{\left( { - 4{x^2} + 4x - 1} \right) + 4{x^2} + 1}}{{2x\left( {2x - 1} \right)}}\\ = \frac{{4x}}{{2x\left( {2x - 1} \right)}}\\ = \frac{2}{{2x - 1}} \end{array}\)</span></p>
<p>b.</p>
<p><span class="math-tex">\(\begin{array}{l} \frac{{{x^2}}}{{{x^2} - 2x}} + \frac{6}{{6 - 3x}} + \frac{1}{{x + 2}}\\ = \frac{{3{x^2}\left( {x + 2} \right)}}{{3x\left( {x - 2} \right)\left( {x + 2} \right)}} + \frac{{ - 6x\left( {x + 2} \right)}}{{3x\left( {x - 2} \right)\left( {x + 2} \right)}} + \frac{{3x\left( {x - 2} \right)}}{{3x\left( {x - 2} \right)\left( {x + 2} \right)}}\\ = \frac{{3{x^3} + 6{x^2} - 6{x^2} - 12x + 3{x^2} - 6x}}{{3x\left( {x - 2} \right)\left( {x + 2} \right)}}\\ = \frac{{3{x^3} + 3{x^2} - 18x}}{{3x\left( {x - 2} \right)\left( {x + 2} \right)}}\\ = \frac{{3x\left( {{x^2} + x - 6} \right)}}{{3x\left( {x - 2} \right)\left( {x + 2} \right)}}\\ = \frac{{{x^2} - 2x + 3x - 6}}{{\left( {x - 2} \right)\left( {x + 2} \right)}}\\ = \frac{{\left( {x - 2} \right)\left( {x + 3} \right)}}{{\left( {x - 2} \right)\left( {x + 2} \right)}}\\ = \frac{{x + 3}}{{x + 2}} \end{array}\)</span></p>
<p><strong>Bài 3: Tính A:</strong></p>
<p><span class="math-tex">\(A = \frac{{2x}}{{{x^2} + 2xy}} + \frac{y}{{xy - 2{y^2}}} + \frac{4}{{{x^2} - 4{y^2}}}\)</span></p>
<p><strong>Hướng dẫn</strong></p>
<p>Ta có:</p>
<p><span class="math-tex">\(\begin{array}{l} A = \frac{{2x}}{{{x^2} + 2xy}} + \frac{y}{{xy - 2{y^2}}} + \frac{4}{{{x^2} - 4{y^2}}}\\ = \frac{{2xy\left( {x - 2y} \right)}}{{xy\left( {x - 2y} \right)\left( {x + 2y} \right)}} + \frac{{xy\left( {x + 2y} \right)}}{{xy\left( {x - 2y} \right)\left( {x + 2y} \right)}} + \frac{{4y}}{{xy\left( {x - 2y} \right)\left( {x + 2y} \right)}}\\ = \frac{{2xy\left( {x - 2y} \right) + xy\left( {x + 2y} \right) + 4xy}}{{xy\left( {x - 2y} \right)\left( {x + 2y} \right)}}\\ = \frac{{\left( {2x - 4y + x + 2y + 4} \right)}}{{\left( {x - 2y} \right)\left( {x + 2y} \right)}}\\ = \frac{{3x - 2y + 4}}{{\left( {x - 2y} \right)\left( {x + 2y} \right)}}\\ = \frac{{3x - 2y + 4}}{{\left( {x - 2y} \right)\left( {x + 2y} \right)}} \end{array}\)</span></p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}