{% extends "pages/lop8/chuong2/base-lop8-chuong2.html" %}
{% block title %}Toán 8 Bài 4: Quy đồng mẫu thức nhiều phân thức{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 8 Bài 4: Quy đồng mẫu thức nhiều phân thức</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Với bài học này, chúng ta sẽ làm quen với <strong>Quy đồng mẫu thức nhiều phân thức</strong>. Đây là bài học giúp các em làm quen với cách quy đồng mẫu thức nhiều phân thức.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1 Kiến thức cần nhớ</h3>
</div>
<p>Khi quy đồng mẫu thức nhiều phân thức, muốn tìm mẫu thức chung ta có thể làm như sau:</p>
<p>1)Phân tích mẫu thức của các phân thức đã cho thành nhân tử</p>
<p>2)Mẫu thức chung cần tìm là một tích mà các nhân tử được chọn như sau:</p>
<p>-Nhân tử bằng số của mẫu thức chung là tích các nhân tử bằng số ở các mẫu thức của các phân tử đã cho. (Nếu các nhân tử bằng số ở các mẫu thức là những số nguyên dương thì nhân tử bằng số của mẫu thức chung là BCNN của chúng);</p>
<p>-Với mỗi lũy thừa của cùng một biểu thức có mặt trong các mẫu thức, ta chọn lũy thừa với mẫu số cao nhất.</p>
<p>Muốn quy đồng mẫu thức nhiều phân thức ta có thể làm như sau:</p>
<p>-Phân tích các mẫu thức thành nhân tử rồi tìm mẫu thức chung;</p>
<p>-Tìm nhân tử phụ của mỗi biểu thức;</p>
<p>-Nhân cả tử và mẫu của mỗi phân thức với nhân tử phụ tương ứng.</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<p><strong>Bài 1: Quy đồng mẫu thức các phân thức sau:</strong></p>
<p>a.<span class="math-tex">\(\frac{7}{{x + 4}},\frac{1}{{3{x^2} - 48}}\)</span></p>
<p>b.<span class="math-tex">\(\frac{4}{{{x^3} - 7{x^2}}},\frac{1}{{2{x^2} - 14}}\)</span></p>
<p><strong>Hướng dẫn</strong></p>
<p>a.</p>
<p><span class="math-tex">\(\begin{array}{l} \frac{7}{{x + 4}}\\ = \frac{{7.3.\left( {x - 4} \right)}}{{3\left( {x + 4} \right)\left( {x - 4} \right)}}\\ = \frac{{21\left( {x - 4} \right)}}{{3\left( {x + 4} \right)\left( {x - 4} \right)}} \end{array}\)</span></p>
<p><span class="math-tex">\(\begin{array}{l} \frac{1}{{3{x^2} - 48}}\\ = \frac{1}{{3\left( {x + 4} \right)\left( {x - 4} \right)}} \end{array}\)</span></p>
<p>b.</p>
<p><span class="math-tex">\(\begin{array}{l} \frac{4}{{{x^3} - 7{x^2}}}\\ = \frac{4}{{x\left( {{x^2} - 7} \right)}}\\ = \frac{{4.2}}{{2x\left( {{x^2} - 7} \right)}}\\ = \frac{8}{{2x\left( {{x^2} - 7} \right)}} \end{array}\)</span></p>
<p><span class="math-tex">\(\begin{array}{l} \frac{1}{{2{x^2} - 14}}\\ = \frac{1}{{2\left( {{x^2} - 7} \right)}}\\ = \frac{x}{{2x\left( {{x^2} - 7} \right)}} \end{array}\)</span></p>
<p><strong>Bài 2: Quy đồng mẫu thức các phân thức sau:</strong></p>
<p>a.<span class="math-tex">\(\frac{1}{{{x^6}{y^4}}},\frac{{29}}{{{x^{17}}{y^3}}}\)</span></p>
<p>b.<span class="math-tex">\(\frac{3}{{25{x^3}{y^2}}},\frac{2}{{15{x^5}{y^2}}}\)</span></p>
<p><strong>Hướng dẫn</strong></p>
<p>a.</p>
<p><span class="math-tex">\(\begin{array}{l} \frac{1}{{{x^6}{y^4}}}\\ = \frac{{{x^{11}}}}{{{x^{17}}{y^4}}} \end{array}\)</span></p>
<p><span class="math-tex">\(\begin{array}{l} \frac{{29}}{{{x^{17}}{y^3}}}\\ = \frac{{29y}}{{{x^{17}}{y^4}}} \end{array}\)</span></p>
<p>b.</p>
<p><span class="math-tex">\(\begin{array}{l} \frac{3}{{25{x^3}{y^2}}}\\ = \frac{{3.3{x^2}}}{{3{x^2}.25{x^3}{y^2}}}\\ = \frac{{9{x^2}}}{{75{x^5}{y^2}}}\\ \frac{2}{{15{x^5}{y^2}}}\\ = \frac{{2.5}}{{5.15{x^5}{y^2}}}\\ = \frac{{10}}{{75{x^5}{y^2}}} \end{array}\)</span></p>
<p><strong>Bài 3: Cho hai phân thức: <span class="math-tex">\(\frac{1}{{{x^2} + 3x - 10}},\frac{x}{{{x^2} + 7x + 10}}\)</span></strong></p>
<p><strong>Chứng minh <span class="math-tex">\({x^3} + 5{x^2} - 4x - 20\)</span> là mẫu số chung của hai phân thức trên và quy đồng mẫu thức hai phân thức trên.</strong></p>
<p><strong>Hướng dẫn</strong></p>
<p>Chứng minh:</p>
<p><span class="math-tex">\(\begin{array}{l} {x^3} + 5{x^2} - 4x - 20\\ = \left( {{x^2} + 3x - 10} \right)\left( {x + 2} \right)\\ {x^3} + 5{x^2} - 4x - 20\\ = \left( {{x^2} + 7x + 10} \right)\left( {x - 2} \right) \end{array}\)</span></p>
<p>Quy đồng mẫu thức:</p>
<p><span class="math-tex">\(\begin{array}{l} \frac{1}{{{x^2} + 3x - 10}}\\ = \frac{{x + 2}}{{\left( {{x^2} + 3x - 10} \right)\left( {x + 2} \right)}}\\ \frac{x}{{{x^2} + 7x + 10}}\\ = \frac{{x\left( {x - 2} \right)}}{{\left( {{x^2} + 7x + 10} \right)\left( {x - 2} \right)}} \end{array}\)</span></p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}