{% extends "pages/lop8/chuong2/base-lop8-chuong2.html" %}
{% block title %}Toán 8 Bài 7: Phép nhân các phân thức đại số{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 8 Bài 7: Phép nhân các phân thức đại số</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Với bài học này, chúng ta sẽ làm quen với <strong>Phép nhân các phân thức đại số</strong>. Đây là bài học giúp các em làm quen với việc nhân các phân thức đại số dựa vào những quy tắc đã học.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1 Kiến thức cần nhớ</h3>
</div>
<p>Muốn nhân hai phân thức, ta nhân các tử thức với nhau, các mẫu thức với nhau:  </p>
<p><br>
<span class="math-tex">\(\frac{A}{B}.\frac{C}{D} = \frac{{A.C}}{{B.D}}\)</span></br></p>
<p>Quy tắc này giống hệt với quy tắc nhân 2 phân số mà các em đã học, điểm khác nhau ở đây là các em thực hiện phép nhân các phân thức đựa trên quy tắc nhân đa thức với đa thức đac học ở chương trước.</p>
<p> </p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<p><strong>Bài 1: Thực hiện các phép tính sau:</strong></p>
<p>a.<span class="math-tex">\(\frac{{15x}}{{7{y^3}}}.\frac{{2{y^2}}}{{{x^2}}}\)</span></p>
<p>b.<span class="math-tex">\(\frac{{2{x^2}}}{y}.3x{y^2}\)</span></p>
<p>c.<span class="math-tex">\(\frac{{2{x^2}}}{{x - y}}.\frac{y}{{5{x^3}}}\)</span></p>
<p><strong>Hướng dẫn</strong></p>
<p>a.</p>
<p><span class="math-tex">\(\begin{array}{l} \frac{{15x}}{{7{y^3}}}.\frac{{2{y^2}}}{{{x^2}}}\\ = \frac{{30x{y^2}}}{{7{x^2}{y^3}}}\\ = \frac{{30}}{{7xy}} \end{array}\)</span></p>
<p>b.</p>
<p><span class="math-tex">\(\begin{array}{l} \frac{{2{x^2}}}{y}.3x{y^2}\\ = \frac{{2{x^2}.3x{y^2}}}{y}\\ = 6{x^3}y \end{array}\)</span></p>
<p>c.</p>
<p><span class="math-tex">\(\begin{array}{l} \frac{{2{x^2}}}{{x - y}}.\frac{y}{{5{x^3}}}\\ = \frac{{2{x^2}y}}{{\left( {x - y} \right).5{x^3}}}\\ = \frac{{2y}}{{5x\left( {x - y} \right)}} \end{array}\)</span></p>
<p><strong>Bài 2: Thực hiện các phép tính sau:</strong></p>
<p>a.<span class="math-tex">\(\frac{{5x + 10}}{{4x - 8}}.\frac{{4 - 2x}}{{x + 2}}\)</span>   </p>
<p>b.<span class="math-tex">\(\frac{{{x^2} - 36}}{{2x + 10}}.\frac{3}{{6 - x}}\)</span>  </p>
<p><strong>Hướng dẫn</strong></p>
<p>a.</p>
<p><span class="math-tex">\(\begin{array}{l} \frac{{5x + 10}}{{4x - 8}}.\frac{{4 - 2x}}{{x + 2}}\\ = \frac{{5\left( {x + 2} \right)}}{{4\left( {x - 2} \right)}}.\frac{{2\left( {2 - x} \right)}}{{x + 2}}\\ = \frac{{5\left( {x + 2} \right)}}{{4\left( {x - 2} \right)}}.\frac{{ - 2\left( {x - 2} \right)}}{{x + 2}}\\ = \frac{{ - 10\left( {x + 2} \right)\left( {x - 2} \right)}}{{4\left( {x - 2} \right)\left( {x + 2} \right)}}\\ = \frac{{ - 5}}{2} \end{array}\)</span></p>
<p>b.</p>
<p><span class="math-tex">\(\begin{array}{l} \frac{{{x^2} - 36}}{{2x + 10}}.\frac{3}{{6 - x}}\\ = \frac{{\left( {x - 6} \right)\left( {x + 6} \right)}}{{2\left( {x + 5} \right)}}.\frac{{ - 3}}{{x - 6}}\\ = \frac{{ - 3\left( {x - 6} \right)\left( {x + 6} \right)}}{{2\left( {x + 5} \right)\left( {x - 6} \right)}}\\ = \frac{{ - 3\left( {x + 6} \right)}}{{2\left( {x + 5} \right)}} \end{array}\)</span></p>
<p><strong>Bài 3: Phân tích các tử thức và mẫu thức thành nhân tử rồi rút gọn</strong></p>
<p><span class="math-tex">\(A = \frac{{x - 2}}{{x + 1}}.\frac{{{x^2} - 2x - 3}}{{{x^2} - 5x + 6}}\)</span></p>
<p><strong>Hướng dẫn</strong></p>
<p>Ta có:</p>
<p><span class="math-tex">\(\begin{array}{l} A = \frac{{x - 2}}{{x + 1}}.\frac{{{x^2} - 2x - 3}}{{{x^2} - 5x + 6}}\\ {\rm{ = }}\frac{{x - 2}}{{x + 1}}.\frac{{{x^2} + x - 3x - 3}}{{{x^2} - 2x - 3x + 6}}\\ {\rm{ = }}\frac{{x - 2}}{{x + 1}}.\frac{{x\left( {x + 1} \right) - 3\left( {x + 1} \right)}}{{x\left( {x - 2} \right) - 3\left( {x - 2} \right)}}\\ {\rm{ = }}\frac{{x - 2}}{{x + 1}}.\frac{{\left( {x + 1} \right)\left( {x - 3} \right)}}{{\left( {x - 2} \right)\left( {x - 3} \right)}}\\ {\rm{ = 1}} \end{array}\)</span></p>
<p> </p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}