{% extends "pages/lop8/chuong2/base-lop8-chuong2.html" %}
{% block title %}Toán 8 Bài 3: Rút gọn phân thức{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 8 Bài 3: Rút gọn phân thức</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Với bài học này, chúng ta sẽ làm quen với <strong>Rút gọn phân thức</strong>. Đây là bài học giúp các em làm quen với việc rút gọn phân thức bằng cách đơn giản phân thức ban đầu.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<h3>1.1 Kiến thức cần nhớ</h3>
<p>Muốn rút gọn phân thức ta có thể:</p>
<ul>
<li>Phân tích cả tử và mẫu thành nhân tử (nếu cần) để tìm nhân tử chung;</li>
<li>Chia cả tử và mẫu cho nhân tử chung.</li>
</ul>
<p>( Việc phân tích đa thức thành nhân tử đã được học ở chương I, các em có thể xem lại các bài học ở chương I để nắm lại kiến thức.) </p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<p><strong>Bài 1: Rút gọn phân thức:</strong></p>
<p>a. \(\frac{{12{x^3}y}}{{9{x^2}{y^4}}}\)</p>
<p>b. \(\frac{{4{x^3} + 20x}}{{{x^2} + 5}}\)</p>
<p>c. <span class="math-tex">\(\frac{{14x{y^5}\left( {2x - 3y} \right)}}{{21{x^2}y{{\left( {2x - 3y} \right)}^2}}}\)</span></p>
<p><strong>Hướng dẫn:</strong></p>
<p>a.</p>
<p><span class="math-tex">\(\begin{array}{l} \frac{{12{x^3}y}}{{9{x^2}{y^4}}}\\ = \frac{{4x}}{{{y^3}}} \end{array}\)</span></p>
<p>b.</p>
<p> <span class="math-tex">\(\begin{array}{l} \frac{{4{x^3} + 20x}}{{{x^2} + 5}}\\ = \frac{{4x\left( {{x^2} + 5} \right)}}{{{x^2} + 5}}\\ = 4x \end{array}\)</span></p>
<p>c.</p>
<p><span class="math-tex">\(\begin{array}{l} \frac{{14x{y^5}\left( {2x - 3y} \right)}}{{21{x^2}y{{\left( {2x - 3y} \right)}^2}}}\\ = \frac{{2{y^4}}}{{3x\left( {2x - 3y} \right)}} \end{array}\)</span></p>
<p><strong>Bài 2: Rút gọn phân thức bằng cách đổi dấu hạng tử:</strong></p>
<p>a. <span class="math-tex">\(\frac{{12{x^2} - 8x}}{{40 - 60x}}\)</span>  </p>
<p>b. <span class="math-tex">\(\frac{{8xy{{\left( {3x - 1} \right)}^2}}}{{12{x^3}\left( {1 - 3x} \right)}}\)</span> </p>
<p>c. <span class="math-tex">\(\frac{{\left( {{x^2} - xy} \right){{\left( {2x - 1} \right)}^3}}}{{\left( {5{y^2} - 5xy} \right){{\left( {1 - 2x} \right)}^2}}}\)</span></p>
<p><strong>Hướng dẫn:</strong></p>
<p>a.</p>
<p> <span class="math-tex">\(\begin{array}{l} \frac{{12{x^2} - 8x}}{{40 - 60x}}\\ = \frac{{4x(3x - 2)}}{{ - 20\left( {3x - 2} \right)}}\\ = \frac{x}{{ - 5}}\\ = \frac{{ - x}}{5} \end{array}\)</span></p>
<p>b.</p>
<p> <span class="math-tex">\(\begin{array}{l} \frac{{8xy{{\left( {3x - 1} \right)}^2}}}{{12{x^3}\left( {1 - 3x} \right)}}\\ = \frac{{2y{{\left( {1 - 3x} \right)}^2}}}{{3{x^2}(1 - 3x)}}\\ = \frac{{2y\left( {1 - 3x} \right)}}{{3{x^2}}} \end{array}\)</span></p>
<p>c.</p>
<p><span class="math-tex">\(\begin{array}{l} \frac{{\left( {{x^2} - xy} \right){{\left( {2x - 1} \right)}^3}}}{{\left( {5{y^2} - 5xy} \right){{\left( {1 - 2x} \right)}^2}}}\\ = \frac{{x\left( {x - y} \right){{\left( {2x - 1} \right)}^3}}}{{ - 5y\left( {x - y} \right){{\left( {2x - 1} \right)}^2}}}\\ = \frac{{x\left( {2x - 1} \right)}}{{ - 5y}}\\ = \frac{{x\left( {1 - 2x} \right)}}{{5y}} \end{array}\)</span></p>
<p> </p>
<p><strong>Bài 3: Rút gọn phân thức A bằng cách phân tích tử và mẫu thành nhân tử:</strong></p>
<p style="margin-left:40px"><span class="math-tex">\(A = \frac{{8{x^2} - 8x + 2}}{{\left( {4x - 2} \right)\left( {15 - x} \right)}}\)</span></p>
<p> </p>
<p><strong>Hướng dẫn:</strong></p>
<p>Ta có:</p>
<p><span class="math-tex">\(\begin{array}{l} A = \frac{{8{x^2} - 8x + 2}}{{\left( {4x - 2} \right)\left( {15 - x} \right)}}\\ = \frac{{2\left( {4{x^2} - 4x + 1} \right)}}{{2\left( {2x - 1} \right)\left( {15 - x} \right)}}{\rm{ }}\\ = \frac{{2{{\left( {2x - 1} \right)}^2}}}{{2\left( {2x - 1} \right)\left( {15 - x} \right)}}\\ = \frac{{2x - 1}}{{15 - x}}\\ \end{array}\)</span></p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}