{% extends "pages/lop8/chuong2/base-lop8-chuong2.html" %}
{% block title %}Toán 8 Bài 1: Phân thức đại số{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 8 Bài 1: Phân thức đại số</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Với bài học này, chúng ta sẽ làm quen với <strong>Phân thức đại số. </strong>Đây là một bài học giúp các em nắm được những kiến thức cơ bản nhất về phân thức đại số.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1 Kiến thức cần nhớ</h3>
</div>
<p><span style="font-size:14px">Mỗi đa thức được coi là một phân thức có mẫu bằng 1.</span></p>
<p><span style="font-size:14px">Mỗi số thực bất kì cũng là một phân thức.</span></p>
<p><span style="font-size:14px">0 là một phân thức (thường được gọi là phân thức tầm thường).</span></p>
<p><span style="font-size:14px">Một phân thức bằng không khi và chỉ khi tử thức bằng không và mẫu thức khác không.</span></p>
<p><span style="font-size:14px">Hai phân thức <span class="math-tex">\(\frac{{\rm{A}}}{{\rm{B}}}\)</span> và <span class="math-tex">\(\frac{{\rm{C}}}{{\rm{D}}}\)</span> gọi là bằng nhau nếu A.D=B.C.  Ta viết:</span></p>
<p><span style="font-size:14px"><span class="math-tex">\(\frac{A}{B} = \frac{C}{D}\)</span> nếu <span class="math-tex">\(A.D = B.C\)</span></span></p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<p><strong>Bài 1: Dùng định nghĩa hai phân thức bằng nhau chứng tỏ rằng:</strong></p>
<p>a.<span class="math-tex">\(\frac{4}{{5y}} = \frac{8}{{10y}}\)</span></p>
<p>b.<span class="math-tex">\(\frac{{3x}}{5} = \frac{{9{x^2}y}}{{15xy}}\)</span></p>
<p><strong>Hướng dẫn:</strong></p>
<p>a.</p>
<p><span class="math-tex">\(\begin{array}{l} \frac{4}{{5y}} = \frac{8}{{10y}}\\ 4.10y = 8.5y\\ 40y = 40y \end{array}\)</span></p>
<p>b.</p>
<p><span class="math-tex">\(\begin{array}{l} \frac{{3x}}{5} = \frac{{9{x^2}y}}{{15xy}}\\ 3x.15xy = 5.9{x^2}y\\ 45{x^2}y = 45{x^2}y \end{array}\)</span></p>
<p><strong>Bài 2: Dùng định nghĩa hai phân thức bằng nhau chứng tỏ rằng:</strong></p>
<p>a.<span class="math-tex">\(\frac{{x + 3}}{{x - 2}} = \frac{{\left( {x + 3} \right)\left( {x + 2} \right)}}{{{x^2} - 4}}\)</span></p>
<p>b.<span class="math-tex">\(\frac{{{x^3} - 27}}{{{x^2} + 6x + 9}} = x - 3\)</span></p>
<p><strong>Hướng dẫn:</strong></p>
<p>a.</p>
<p><span class="math-tex">\(\begin{array}{l} \frac{{x + 3}}{{x - 2}} = \frac{{\left( {x + 3} \right)\left( {x + 2} \right)}}{{{x^2} - 4}}\\ \left( {x + 3} \right)\left( {{x^2} - 4} \right) = \left( {x - 2} \right)\left( {x + 3} \right)\left( {x + 2} \right)\\ \left( {x + 3} \right)\left( {{x^2} - 4} \right) = \left( {x + 3} \right)\left( {x - 2} \right)\left( {x + 2} \right)\\ \left( {x + 3} \right)\left( {{x^2} - 4} \right) = \left( {x + 3} \right)\left( {{x^2} - 4} \right) \end{array}\)</span></p>
<p>b.</p>
<p><span class="math-tex">\(\begin{array}{l} \frac{{{x^3} - 27}}{{{x^2} + 6x + 9}} = x - 3\\ {x^3} - 27 = \left( {x - 3} \right)\left( {{x^2} + 6x + 9} \right)\\ {x^3} - 27 = {x^3} - 27 \end{array}\)</span></p>
<p><strong>Bài 3: Với những giá trị nào của x thì hai phân thức bằng nhau:</strong></p>
<p><span class="math-tex">\(\frac{{x - 2}}{{{x^2} - 5x + 6}}\)</span> và <span class="math-tex">\(\frac{1}{{x - 3}}\)</span></p>
<p><strong>Hướng dẫn:</strong></p>
<p><span class="math-tex">\(\begin{array}{l} \frac{{x - 2}}{{{x^2} - 5x + 6}} = \frac{1}{{x - 3}}\\ \left( {x - 2} \right)\left( {x - 3} \right) = {x^2} - 5x + 6\\ {x^2} - 2x - 3x + 6 = {x^2} - 5x + 6\\ {x^2} - 5x + 6 = {x^2} - 5x + 6 \end{array}\)</span></p>
<p>Đến đây học sinh rất dễ nhầm lẫn rằng 2 phân thức trên bằng nhâu với mọi x, tuy nhiên chũng ta cần lưu ý là ở giá trị x=2 và x=3 thì xuất hiện phân thức có mẫu số là 0 tức là phân thức không xác định. Vậy kết quả bài toán này là 2 phân thức trên bằng nhau với mọi x ngoại trừ 2 và 3. Hay viết dưới dạng tập hợp là <span class="math-tex">\(x = R\backslash \left\{ {2;3} \right\}\)</span> thỏa đề bài.</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}