{% extends "pages/lop10/chuong6/base-lop10-chuong6.html" %}
{% block title %}Toán 10 Bài 2: Giá trị lượng giác của một cung{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 10 Bài 2: Giá trị lượng giác của một cung</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Nội dung bài học sẽ giới thiệu đến các em khái niệm cơ bản về <strong>Giá trị lượng giác của một cung</strong> và phương pháp giải một số dạng toán cơ bản liên quan đến giá trị lượng giác của một cung.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Giá trị lượng giác của cung \(\alpha \)</h3>
</div>
<div id="111">
<h4>1.1.1. Định nghĩa</h4>
</div>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/1(379).png" style="height: 221px; width: 200px;"/></p>
<p>Trên đường tròn lượng giác, cho điểm \(M\left( {{x_o},{y_o}} \right)\) sao cho cung lượng giác AM có sđ\(AM = \alpha \). Khi đó:</p>
<p>\(\begin{array}{l}<br>
\sin \alpha  = \overline {OK}  = {y_0}\\<br/>
\cos \alpha  = \overline {OH}  = {x_0}\\<br/>
\tan \alpha  = \frac{{\sin \alpha }}{{\cos \alpha }}{\rm{ }}\left( {\cos \alpha  \ne 0} \right)\\<br/>
\cot \alpha  = \frac{{\cos \alpha }}{{\sin \alpha }}{\rm{ }}\left( {\sin \alpha  \ne 0} \right)<br/>
\end{array}\)</br></p>
<p><u><strong>Định nghĩa:</strong></u> Các giá trị \(\sin \alpha ,\cos \alpha {\rm{, tan}}\alpha {\rm{, cot}}\alpha \) được gọi là các giá trị lượng giác của cung . Ta cũng gọi trục tung là trục sin, còn trục hoành là trục côsin.</p>
<p><u><strong>Chú ý:</strong></u></p>
<p>1. Các định nghĩa trên cũng áp dụng cho các góc lượng giác.</p>
<p>2. Nếu \({0^ \circ } \le \alpha  \le {180^ \circ }\) thì các giá trị lượng giác của góc \[\alpha \] chính là các giá trị lượng giác của góc đó.</p>
<p><strong>Ví dụ 1:</strong> Tính \(\sin \frac{{25\pi }}{4}\), \(cos\left( { - {{240}^o}} \right)\)</p>
<p><u><strong> Hướng dẫn:</strong></u></p>
<p>Để tính giá trị lượng giác của cung lượng giác AM có số đo \(\alpha \) bất kì, ta thực hiện theo các bước:</p>
<p>+ Biểu diễn cung lượng giác AM trên đường tròn lượng giác.</p>
<p>+ Tìm tọa độ điểm M, từ đó áp dụng định nghĩa suy ra các giá trị lượng giác cần tìm.</p>
<div class="table-responsive"><table border="0" cellpadding="1" cellspacing="1" style="width:500px;">
<tbody>
<tr>
<td>
<p>Ta có \(\frac{{25\pi }}{4} = \frac{\pi }{4} + 3.2\pi \)</p>
<p>Suy ra \(\sin \frac{{25\pi }}{4} = \sin \frac{\pi }{4} = \frac{{\sqrt 2 }}{2}\)</p>
</td>
<td><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/2(340).png" style="height: 169px; width: 250px;"/></td>
</tr>
</tbody>
</table></div>
<div class="table-responsive"><table border="0" cellpadding="1" cellspacing="1" style="width:500px;">
<tbody>
<tr>
<td>
<p>Tương tự \( - {240^0} = {120^0} - {360^0}\)</p>
<p>Suy ra \(cos\left( { - {{240}^o}} \right) = cos{120^ \circ } =  - \frac{1}{2}\)</p>
</td>
<td><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/3(234).png" style="height: 223px; width: 230px;"/></td>
</tr>
</tbody>
</table></div>
<div id="112">
<h4>1.1.2. Hệ quả</h4>
</div>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/4(217).png" style="width: 250px; height: 169px;"/></p>
<p><strong>1)</strong> \(\sin \alpha \) và \(\cos \alpha \) xác định với mọi \(\alpha  \in R\).</p>
<p>\(\begin{array}{l}<br/>
\sin \left( {\alpha  + k2\pi } \right) = \sin \alpha ,\forall k \in Z\\<br/>
\cos \left( {\alpha  + k2\pi } \right) = \cos \alpha ,\forall k \in Z<br/>
\end{array}\)</p>
<p><strong>2)</strong> \( - 1 \le \sin \alpha  \le 1, - 1 \le \cos \alpha  \le 1\)</p>
<p><strong>3)</strong> Với mọi \(m \in R\) mà \( - 1 \le m \le 1\) đều tồn tại \(\alpha \) và \(\beta \) sao cho \(\sin \alpha  = m\) và \(\cos \alpha  = m\).</p>
<p><strong>4)</strong> \(\tan \alpha \) xác định với mọi \(\alpha  \ne \frac{\pi }{2} + k\pi {\rm{  }}\left( {k \in Z} \right)\)</p>
<p><strong>5) </strong>\(\cot \alpha \) xác định với mọi \(\alpha  \ne k\pi {\rm{  }}\left( {k \in Z} \right)\)</p>
<p><strong>6)</strong> Bảng xác định dấu của các giá trị lượng giác </p>
<div style="clear:both;"><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/6(148).png" style="width: 400px; height: 103px;"/></div>
<div id="113">
<h4>1.1.3. Giá trị lượng giác của các cung đặc biệt</h4>
</div>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/8(92).PNG" style="width: 400px; height: 141px;"/></p>
<div id="12">
<h3>1.2. Ý nghĩa hình học của tang và côtang</h3>
</div>
<h4>Ý nghĩa hình học của<strong> </strong>\(\tan \alpha \) và \(\cot \alpha\)</h4>
<div class="table-responsive"><table border="0" cellpadding="1" cellspacing="1" style="width:500px;">
<tbody>
<tr>
<td>
<p>\(\tan \alpha  = \overline {AT} \)</p>
<p><em>Trục  t'At được gọi là <span style="font-weight: 700;">trục tang</span>.</em></p>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/7(113).png" style="height: 202px; width: 230px;"/></p>
</td>
<td>
<p>\(\cot \alpha  = \overline {BS} \)</p>
<p><em>Trục  s'Bs được gọi là <span style="font-weight: 700;">trục côtang</span>.</em></p>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/12(1252).png" style="height: 219px; width: 230px;"/></p>
</td>
</tr>
</tbody>
</table></div>
<p><u><strong>Chú ý: </strong></u></p>
<p>\(\begin{array}{l}<br/>
\tan \left( {\alpha  + k\pi } \right) = \tan \alpha \\<br/>
\cot \left( {\alpha  + k\pi } \right) = \cot \alpha <br/>
\end{array}\)</p>
<div id="13">
<h3>1.3. Quan hệ giữa các giá trị lượng giác</h3>
</div>
<div id="131">
<h4>1.3.1. Công thức lượng giác cơ bản</h4>
</div>
<p>\(\begin{array}{l}<br/>
si{n^2}\alpha  + co{s^2}\alpha  = 1\\<br/>
1 + {\tan ^2}\alpha  = \frac{1}{{co{s^2}\alpha }},\alpha  \ne \frac{\pi }{2} + k\pi ,k \in Z\\<br/>
1 + co{t^2}\alpha  = \frac{1}{{si{n^2}\alpha }},\alpha  \ne k\pi ,k \in Z\\<br/>
\tan \alpha .\cot \alpha  = 1,\alpha  \ne \frac{{k\pi }}{2},k \in Z<br/>
\end{array}\)</p>
<div id="132">
<h4>1.3.2. Giá trị lượng giác của các cung có liên quan đặc biệt <br/>
<strong style="font-size: 13px;">1) Cung đối nhau:</strong><span style="font-size: 13px;"> \(\alpha \) và \( - \alpha \)</span></h4>
</div>
<p>Các điểm cuối của hai cung AM và AM' đối xứng nhau qua trục hoành nên ta có:</p>
<div class="table-responsive"><table border="0" cellpadding="1" cellspacing="1" style="width:500px;">
<tbody>
<tr>
<td>
<div class="table-responsive"><table border="0" cellpadding="1" cellspacing="1" style="background-color:rgb(255, 255, 255);width:200px;">
<tbody>
<tr>
<td style="width: 100px;">\(\begin{array}{l}<br/>
						\cos ( - \alpha ) = \,\cos \alpha \\<br/>
						\sin ( - \alpha ) = \,\, - \sin \alpha \\<br/>
						\tan ( - \alpha ) =  - \tan \alpha \\<br/>
						\cot ( - \alpha ) =  - \cot \alpha <br/>
						\end{array}\)</td>
</tr>
</tbody>
</table></div>
</td>
<td><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/9(83).PNG" style="height: 162px; width: 156px;"/></td>
</tr>
</tbody>
</table></div>
<p><br/>
<strong>2) Cung bù nhau:</strong> \(\alpha \) và \(\pi  - \alpha \)</p>
<p>Các điểm cuối của hai cung AM và AM' đối xứng với nhau qua trục tung, nên ta có:</p>
<div class="table-responsive"><table border="0" cellpadding="1" cellspacing="1" style="width:500px;">
<tbody>
<tr>
<td>
<p> </p>
<div class="table-responsive"><table border="0" cellpadding="1" cellspacing="1" style="width:200px;">
<tbody>
<tr>
<td>\(\begin{array}{l}<br/>
						\sin (\pi  - \alpha ) = \,\,\,\,\,\,\sin \alpha \\<br/>
						\cos (\pi  - \alpha ) =  - \cos \alpha \\<br/>
						\tan (\pi  - \alpha ) =  - \tan \alpha \\<br/>
						\cot (\pi  - \alpha ) =  - \cot \alpha <br/>
						\end{array}\)</td>
</tr>
</tbody>
</table></div>
</td>
<td><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/5(171).png" style="width: 158px; height: 211px;"/></td>
</tr>
</tbody>
</table></div>
<p> </p>
<p><strong>3) Hơn kém nhau \(\pi \)</strong>: \(\pi \) và \(\left( {\alpha  + \pi } \right)\)</p>
<p>Các điểm cuối của hai cung đối xứng nhau qua gốc tọa độ, nên ta có:</p>
<div class="table-responsive"><table border="0" cellpadding="1" cellspacing="1" style="width:500px;">
<tbody>
<tr>
<td>
<p> </p>
<div class="table-responsive"><table border="0" cellpadding="1" cellspacing="1" style="width:200px;">
<tbody>
<tr>
<td>\(\begin{array}{l}<br/>
						\sin (\alpha  + \pi ) =  - \sin \alpha \\<br/>
						\cos (\alpha  + \pi ) =  - \cos \alpha \\<br/>
						\tan (\alpha  + \pi ) = \,\,\,\,\,\tan \alpha \\<br/>
						\cot (\alpha  + \pi ) = \,\,\,\,\,\cot \alpha <br/>
						\end{array}\)</td>
</tr>
</tbody>
</table></div>
</td>
<td><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/10(52).PNG" style="width: 159px; height: 162px;"/></td>
</tr>
</tbody>
</table></div>
<p><strong>4) Cung phụ nhau:</strong> \(\alpha \) và \(\alpha  - \frac{\pi }{2}\)</p>
<p>Các điểm cuối của hai cung đối xứng nhau qua đường phân giác d của góc xOy, nên ta có:</p>
<div class="table-responsive"><table border="0" cellpadding="1" cellspacing="1" style="width:500px;">
<tbody>
<tr>
<td>
<p> </p>
<div class="table-responsive"><table border="0" cellpadding="1" cellspacing="1" style="width:200px;">
<tbody>
<tr>
<td>\(\begin{array}{l}<br/>
						\sin \,\left( {\frac{\pi }{2} - \alpha } \right) = \cos \alpha \\<br/>
						\cos \,\left( {\frac{\pi }{2} - \alpha } \right) = \sin \alpha \\<br/>
						\tan \,\left( {\frac{\pi }{2} - \alpha } \right) = \cot \alpha \\<br/>
						\cot \,\left( {\frac{\pi }{2} - \alpha } \right) = \tan \alpha <br/>
						\end{array}\)</td>
</tr>
</tbody>
</table></div>
<p> </p>
</td>
<td><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/11(177).PNG" style="height: 160px; width: 155px;"/></td>
</tr>
</tbody>
</table></div>
<p><u><strong>Chú ý:</strong></u> Để ghi nhớ các công thức trên dễ dàng ta học thuộc câu: <strong>“cos-đối, sin-bù, phụ-chéo, hơn kém nhau- tan và cot”.</strong> </p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-10/bai-2-gia-tri-luong-giac-cua-mot-cung-l753.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-10/bai-2-gia-tri-luong-giac-cua-mot-cung-l753.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<p><strong>Ví dụ 1: </strong>Cho \(\sin \alpha  = \frac{{\sqrt 3 }}{2}\) với \(0 &lt; \alpha  &lt; \frac{\pi }{2}\).  Tính \(\cos \alpha \)</p>
<p><u><strong>Hướng dẫn:</strong></u></p>
<p>Ta có \(si{n^2}\alpha  + co{s^2}\alpha  = 1\)</p>
<p>\(\begin{array}{l}<br/>
 \Rightarrow {\cos ^2}\alpha  = 1 - {\sin ^2}\alpha \\<br/>
\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\, = 1 - {\left( {\frac{{\sqrt 3 }}{2}} \right)^2} = \frac{1}{4}\\<br/>
 \Rightarrow \cos \alpha  =  \pm \frac{1}{2}<br/>
\end{array}\)</p>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/13(53).png" style="width: 200px; height: 192px;"/></p>
<p>Vì \(0 &lt; \alpha  &lt; \frac{\pi }{2}\) nên \(\cos \alpha &gt;0\) \( \Rightarrow \cos \alpha  = \frac{1}{2}\)</p>
<p><strong>Ví dụ 2:</strong> Cho \(\cos \alpha  = \frac{{\sqrt {11} }}{6}\) với \(\frac{{3\pi }}{2} &lt; \alpha  &lt; 2\pi \). Tính \(\sin \alpha \)</p>
<p><u><strong>Hướng dẫn:</strong></u></p>
<p>Ta có \(si{n^2}\alpha  + co{s^2}\alpha  = 1\)</p>
<p>\(\begin{array}{l}<br/>
 \Rightarrow {\sin ^2}\alpha  = 1 - {\cos ^2}\alpha \\<br/>
\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\, = 1 - {\left( {\frac{{\sqrt {11} }}{6}} \right)^2} = \frac{{25}}{{36}}\\<br/>
 \Rightarrow \sin \alpha  =  \pm \frac{5}{6}<br/>
\end{array}\)</p>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/14(34).png" style="width: 200px; height: 190px;"/></p>
<p>Vì \(\frac{{3\pi }}{2} &lt; x &lt; 2\pi \) nên \(\sin \alpha  &lt; 0\) \( \Rightarrow \sin \alpha  =  - \frac{5}{6}\)</p>
<p><strong>Ví dụ 3:</strong> Rút gọn biểu thức sau</p>
<p>\(A = \cos ({90^0} - x).\sin ({180^0} - x) - \sin ({90^0} - x).\cos ({180^0} - x)\)</p>
<p><u><strong>Hướng dẫn: </strong></u></p>
<p>Sử dụng công thức cung phụ nhau và cung bù nhau</p>
<p>Ta có \(A = \cos ({90^0} - x).\sin ({180^0} - x) - \sin ({90^0} - x).\cos ({180^0} - x)\)</p>
<p>\(\begin{array}{l}<br/>
 = \sin x.\sin x - \cos x.( - \cos x)\\<br/>
 = {\sin ^2}x + {\cos ^2}x = 1<br/>
\end{array}\)</p>
<p><strong>Ví dụ 4:</strong> Tính </p>
<p>\(\begin{array}{l}<br/>
a)\cos \left( { - \frac{{11\pi }}{4}} \right)\\<br/>
b)\tan \frac{{31\pi }}{6}\\<br/>
c)\sin ( - {1380^0})<br/>
\end{array}\)</p>
<p><u><strong>Hướng dẫn:</strong></u></p>
<p>- Sử dụng cung đối</p>
<p>- Biến đổi về góc nhỏ (dựa vào chu kỳ của \(\cos \alpha \) là \(\,2\pi \))</p>
<p>- Sử dụng cung bù</p>
<p>\(\begin{array}{l}<br/>
a)\cos \left( { - \frac{{11\pi }}{4}} \right) = \cos \frac{{11\pi }}{4} = \cos \left( {2\pi  + \frac{{3\pi }}{4}} \right) = \cos \frac{{3\pi }}{4}\\<br/>
 = \cos \left( {\pi  - \frac{\pi }{4}} \right) =  - \cos \frac{\pi }{4} =  - \frac{{\sqrt 2 }}{2}<br/>
\end{array}\)</p>
<p>\(\begin{array}{l}<br/>
b)\tan \frac{{31\pi }}{6} = {\mathop{\rm t}\nolimits} {\rm{an}}\left( {4\pi  + \frac{{7\pi }}{6}} \right) = \tan \frac{{7\pi }}{6}\\<br/>
 = \tan \left( {\pi  + \frac{\pi }{6}} \right) = \tan \frac{\pi }{6} = \frac{{\sqrt 3 }}{3}<br/>
\end{array}\)</p>
<p>\(\begin{array}{l}<br/>
c)\,\,\,\,\sin ( - {1380^0}) =  - \sin ({1380^0}) =  - \sin ({4.360^0} - {60^0})\\<br/>
 =  - \sin ( - {60^0}) = \,\,\,\,\,\sin {60^0} = \frac{1}{2}<br/>
\end{array}\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}