{% extends "pages/lop10/chuong6/base-lop10-chuong6.html" %}
{% block title %}Toán 10 Bài 3: Công thức lượng giác{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 10 Bài 3: Công thức lượng giác</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Nội dung bài học sẽ giới thiệu đến các em khái niệm cơ bản về <b>Công thức lượng giác </b>kèm theo các bài tập minh họa có lời giải chi tiết nhằm giúp các em có thêm tài liệu học tập thật tốt.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Công thức cộng </h3>
</div>
<p>cos( a – b) = cosa.cosb + sina.sinb    </p>
<p>cos( a + b) = cosa.cosb – sina.sinb    </p>
<p>sin(a – b) = sina.cosb – cosa.sinb      </p>
<p>sin(a + b) = sina.cosb + cosa.sinb     </p>
<p>\(\tan (a - b) = \frac{{\tan a - \tan b}}{{1 + \tan a.\tan b}}\)<strong>       </strong></p>
<p>\(\tan (a + b) = \frac{{\tan a + \tan b}}{{1 - \tan a.\tan b}}\)      </p>
<p><strong>Cách ghi nhớ: </strong></p>
<p style="text-align: center;"><em>Sin thì sin cos cos sin<br>
Cos thì cos cos sin sin “coi chừng” (dấu trừ).<br/>
Tang tổng thì lấy tổng tang<br/>
Chia một trừ với tích tang, dễ òm.</br></em></p>
<div id="12">
<h3>1.2. Công thức nhân đôi</h3>
</div>
<p>* Công thức nhân đôi</p>
<p>sin2a = 2sina.cosa</p>
<p>cos2a = cos<sup>2</sup>a – sin<sup>2</sup>a = 2cos<sup>2</sup>a – 1= 1 – 2sin<sup>2</sup>a </p>
<p>\(\tan 2a = \frac{{2\tan a}}{{1 - {{\tan }^2}a}}\)</p>
<p><strong>Cách ghi nhớ:</strong></p>
<p style="text-align: center;"><em>Sin gấp đôi = 2 sin cos<br/>
Cos gấp đôi = bình cos trừ bình sin<br/>
= trừ 1 cộng hai lần bình cos<br/>
= cộng 1 trừ hai lần bình sin<br/>
Tang gấp đôi<br/>
Tang đôi ta lấy đôi tang (2 tang)<br/>
Chia 1 trừ lại bình tang, ra liền.</em></p>
<p>* Công thức hạ bậc</p>
<p>\(\begin{array}{l}<br/>
c{\rm{o}}{{\rm{s}}^2}a = \frac{{1 + c{\rm{os}}2a}}{2}\\<br/>
{\rm{si}}{{\rm{n}}^2}a = \frac{{1 - c{\rm{os}}2a}}{2}\\<br/>
{\tan ^2}a = \frac{{1 - c{\rm{os}}2a}}{{1 + c{\rm{os}}2a}}<br/>
\end{array}\)</p>
<div id="13">
<div id="13">
<h3>1.3. Công thức biến đổi tích thành tổng, tổng thành tích</h3>
</div>
<div id="131">
<h4>1.3.1. Công thức biến đổi tích thành tổng</h4>
</div>
</div>
<p>\(\begin{array}{l}<br/>
\cos a.\cos b = \frac{1}{2}{\rm{[}}c{\rm{os}}(a - b) + c{\rm{os}}(a + b){\rm{]}}\\<br/>
\sin a.\sin b = \frac{1}{2}{\rm{[}}c{\rm{os}}(a - b) - c{\rm{os}}(a + b){\rm{]}}\\<br/>
\sin a.\cos b = \frac{1}{2}{\rm{[}}\sin (a - b) + \sin (a + b){\rm{]}}<br/>
\end{array}\)</p>
<p><strong>Cách ghi nhớ:</strong></p>
<p style="text-align: center;"><em>Cos cos nửa cos-cộng, cộng cos-trừ<br/>
Sin sin nửa cos-trừ trừ cos-cộng<br/>
Sin cos nửa sin-cộng cộng sin-trừ </em></p>
<div id="132">
<h4>1.3.2. Công thức biến đổi tổng thành tích</h4>
</div>
<p>\(\begin{array}{l}<br/>
\cos u + \cos v = 2\cos \frac{{u + v}}{2}\cos \frac{{u - v}}{2}\\<br/>
\cos u + \cos v = 2\cos \frac{{u + v}}{2}\cos \frac{{u - v}}{2}\\<br/>
\sin u + \sin v = 2\sin \frac{{u + v}}{2}\cos \frac{{u - v}}{2}\\<br/>
\sin u - \sin v = 2\cos \frac{{u + v}}{2}\sin \frac{{u - v}}{2}<br/>
\end{array}\)</p>
<p><strong>Cách ghi nhớ:</strong></p>
<p style="text-align: center;"><em>Cos cộng cos bằng hai cos cos<br/>
cos trừ cos bằng trừ hai sin sin<br/>
Sin cộng sin bằng hai sin cos<br/>
sin trừ sin bằng hai cos sin.</em></p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-10/bai-3-cong-thuc-luong-giac-l754.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-10/bai-3-cong-thuc-luong-giac-l754.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<p><strong>Ví dụ 1:</strong> Tính \(\sin \frac{{5\pi }}{{12}};c{\rm{os}}\frac{{7\pi }}{{12}}\)</p>
<p><u><strong>Hướng dẫn:</strong></u></p>
<p>Sử dụng công thức cộng đối với sin và cos</p>
<p>* Ta có \(\sin \frac{{5\pi }}{{12}} = \sin \frac{{2\pi  + 3\pi }}{{12}} = \sin (\frac{\pi }{6} + \frac{\pi }{4})\)</p>
<p>\(\begin{array}{l}<br/>
 = \sin \frac{\pi }{6}.c{\rm{os}}\frac{\pi }{4} + c{\rm{os}}\frac{\pi }{6}.\sin \frac{\pi }{4}\\<br/>
 = \frac{1}{2}.\frac{{\sqrt 2 }}{2} + \frac{{\sqrt 3 }}{2}.\frac{{\sqrt 2 }}{2} = \frac{{\sqrt 2  + \sqrt 6 }}{4}<br/>
\end{array}\)</p>
<p>* Ta có \(c{\rm{os}}\frac{{7\pi }}{{12}} = c{\rm{os}}\frac{{3\pi  + 4\pi }}{{12}} = \cos (\frac{\pi }{4} + \frac{\pi }{3})\)</p>
<p>\(\begin{array}{l}<br/>
 = c{\rm{os}}\frac{\pi }{4}.c{\rm{os}}\frac{\pi }{3} - \sin \frac{\pi }{4}.\sin \frac{\pi }{3} = \frac{{\sqrt 2 }}{2}.\frac{1}{2} - \frac{{\sqrt 2 }}{2}.\frac{{\sqrt 3 }}{2}\\<br/>
 = \frac{{\sqrt 2  - \sqrt 6 }}{4}<br/>
\end{array}\)</p>
<p><strong>Ví dụ 2:</strong> Chứng minh rằng </p>
<p>\(\begin{array}{l}<br/>
a){\rm{ }}\tan (\frac{\pi }{4} - a) = \frac{{1 - {\mathop{\rm t}\nolimits} {\rm{ana}}}}{{1 + {\mathop{\rm t}\nolimits} {\rm{ana}}}}\\<br/>
b){\rm{ }}\tan (\frac{\pi }{4} + a) = \frac{{1 + {\mathop{\rm t}\nolimits} {\rm{ana}}}}{{1 - {\mathop{\rm t}\nolimits} {\rm{ana}}}}<br/>
\end{array}\)</p>
<p><u><strong>Hướng dẫn:</strong></u></p>
<p>Sử dụng công thức cộng đối với tan</p>
<p>\(\begin{array}{l}<br/>
a)\tan (\frac{\pi }{4} - a) = \frac{{\tan \frac{\pi }{4} - {\mathop{\rm t}\nolimits} {\rm{ana}}}}{{\tan \frac{\pi }{4} + {\mathop{\rm t}\nolimits} {\rm{ana}}}} = \frac{{1 - {\mathop{\rm t}\nolimits} {\rm{ana}}}}{{1 + {\mathop{\rm t}\nolimits} {\rm{ana}}}}\\<br/>
b)\tan (\frac{\pi }{4} + a) = \frac{{\tan \frac{\pi }{4} + {\mathop{\rm t}\nolimits} {\rm{ana}}}}{{\tan \frac{\pi }{4} - {\mathop{\rm t}\nolimits} {\rm{ana}}}} = \frac{{1 + {\mathop{\rm t}\nolimits} {\rm{ana}}}}{{1 - {\mathop{\rm t}\nolimits} {\rm{ana}}}}<br/>
\end{array}\)</p>
<p><strong>Ví dụ 3: </strong>Tính sin2a, cos2a, tan2a biết \(\sin a =  - \frac{3}{5}{\rm{, }}\pi {\rm{ &lt; a &lt; }}\frac{{3\pi }}{2}\)</p>
<p><u><strong>Hướng dẫn:</strong></u></p>
<p>+ Tính cos a bằng công thức lượng giác cơ bản thích hợp </p>
<p>+ Áp dụng công thức nhân đôi</p>
<p>\(\begin{array}{l}<br/>
{\sin ^2}a + c{\rm{o}}{{\rm{s}}^2}a = 1 \Leftrightarrow c{\rm{o}}{{\rm{s}}^2}a = 1 - {\sin ^2}a\\<br/>
 \Leftrightarrow c{\rm{o}}{{\rm{s}}^2}a = 1 - {( - \frac{3}{5})^2} = \frac{{16}}{{25}} \Leftrightarrow \cos a =  \pm \frac{4}{5}<br/>
\end{array}\)</p>
<p>Vì \(\pi {\rm{ &lt; a &lt; }}\frac{{3\pi }}{2}\) nên \(\cos a =  - \frac{4}{5}\)</p>
<p>Vậy \(\sin 2a = 2\sin a.\cos a = 2.( - \frac{3}{5})( - \frac{4}{5}) = \frac{{24}}{{25}}\)</p>
<p>\(\begin{array}{l}<br/>
\cos 2a = 2{\cos ^2}a - 1 = 2{( - \frac{4}{5})^2} - 1 = \frac{{32}}{{25}} - 1 = \frac{7}{{25}}\\<br/>
\tan 2a = \frac{{\sin 2a}}{{c{\rm{os}}2a}} = \frac{{24}}{{25}}.\frac{{25}}{7} = \frac{{24}}{7}<br/>
\end{array}\)</p>
<p><strong>Ví dụ 4:</strong> Tính \({\rm{sin}}\frac{\pi }{8};\tan \frac{\pi }{8}\)</p>
<p><strong><u>Hướng dẫn:</u></strong></p>
<p>Sử dụng công thức hạ bậc</p>
<p>Ta có \({\sin ^2}\frac{\pi }{8} = \frac{{1 - c{\rm{os}}\frac{\pi }{4}}}{2} = \frac{{1 - \frac{{\sqrt 2 }}{2}}}{2} = \frac{{2 - \sqrt 2 }}{4}\)</p>
<p>Vì \(\sin \frac{\pi }{8} &gt; 0\) nên suy ra \(\sin \frac{\pi }{8} = \frac{{\sqrt {2 - \sqrt 2 } }}{2}\)</p>
<p>\({\tan ^2}\frac{\pi }{8} = \frac{{1 - c{\rm{os}}\frac{\pi }{4}}}{{1 + c{\rm{os}}\frac{\pi }{4}}} = \frac{{1 - \frac{{\sqrt 2 }}{2}}}{{1 + \frac{{\sqrt 2 }}{2}}} = \frac{{2 - \sqrt 2 }}{{2 + \sqrt 2 }}\)</p>
<p>Vì \(\tan \frac{\pi }{8} &gt; 0\) nên suy ra \(\tan \frac{\pi }{8} = \sqrt {\frac{{2 - \sqrt 2 }}{{2 + \sqrt 2 }}}  = \sqrt {\frac{{{{(2 - \sqrt 2 )}^2}}}{2}}  = \sqrt {3 - 2\sqrt 2 }  = \sqrt 2  - 1\)</p>
<p><strong>Ví dụ 5: </strong>Tính giá trị của các biểu thức </p>
<p>\(A = \sin \frac{{15\pi }}{{12}}\cos \frac{{5\pi }}{{12}};B = \cos {75^ \circ }.\cos {15^ \circ }\)</p>
<p><u><strong>Hướng dẫn:</strong></u></p>
<p>Sử dụng công thức biến đổi tích thành tổng</p>
<p>\(\begin{array}{l}<br/>
A = \sin \frac{{15\pi }}{{12}}\cos \frac{{5\pi }}{{12}} = \frac{1}{2}\left[ {\sin \left( {\frac{{15\pi }}{{12}} - \frac{{5\pi }}{{12}}} \right) + \sin \left( {\frac{{15\pi }}{{12}} + \frac{{5\pi }}{{12}}} \right)} \right]\\<br/>
 = \frac{1}{2}\left[ {\sin \frac{{10\pi }}{{12}} + \sin \frac{{20\pi }}{{12}}} \right] = \frac{1}{2}\left[ {\sin \frac{{5\pi }}{6} + \sin \frac{{5\pi }}{3}} \right]\\<br/>
 = \frac{1}{2}\left[ {\sin \frac{\pi }{6} + \sin \left( { - \frac{{2\pi }}{3}} \right)} \right] = \frac{1}{2}(\frac{1}{2} - \frac{{\sqrt 3 }}{2}) = \frac{1}{4}\left( {1 - \sqrt 3 } \right)<br/>
\end{array}\)</p>
<p>\(\begin{array}{l}<br/>
B = \cos {75^ \circ }.\cos {15^ \circ }\\<br/>
 = \frac{1}{2}\left[ {\cos \left( {{{75}^0} - {{15}^0}} \right) + \cos \left( {{{75}^0} + {{15}^0}} \right)} \right]\\<br/>
 = \frac{1}{2}\left[ {\cos {{60}^0} + \cos {{90}^0}} \right] = \frac{1}{2}\left[ {\frac{1}{2} + 0} \right] = \frac{1}{4}<br/>
\end{array}\)</p>
<p><strong>Ví dụ 6:</strong> Chứng minh đẳng thức </p>
<p>\({\mathop{\rm s}\nolimits} {\rm{inx}} + \cos x = \sqrt 2 .\sin (x + \frac{\pi }{4})\)</p>
<p><u><strong>Hướng dẫn:</strong></u></p>
<p>Áp dụng công thức biến đổi tổng thành tích để biến đổi vế trái thành vế phải của đẳng thức (có thể áp dụng công thức cộng, biến đổi VP thành VT của đẳng thức)</p>
<p>\(\begin{array}{l}<br/>
VT{\rm{ = sinx}} + \cos x = \sin x + \sin (\frac{\pi }{2} - x)\\<br/>
 = 2\sin \frac{\pi }{4}.\cos (x - \frac{\pi }{4}) = 2.\frac{{\sqrt 2 }}{2}.\cos (\frac{\pi }{4} - x)\\<br/>
 = \sqrt 2 .\sin [\frac{\pi }{2} - (\frac{\pi }{4} - x){\rm{]}} = \sqrt 2 .\sin (x + \frac{\pi }{4}) = VP<br/>
\end{array}\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}