{% extends "pages/lop10/chuong6/base-lop10-chuong6.html" %}
{% block title %}Toán 10 Bài 1: Cung và góc lượng giác{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 10 Bài 1: Cung và góc lượng giác</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Nội dung bài học sẽ giới thiệu đến các em khái niệm cơ bản về <strong>Cung và góc lượng giác</strong> và phương pháp giải một số dạng toán cơ bản liên quan đến cung và góc lượng giác </p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Khái niệm cung và góc lượng giác</h3>
</div>
<div id="111">
<h4>1.1.1. Đường tròn định hướng và cung lượng giác</h4>
</div>
<p>Đường tròn định hướng là một đường tròn trên đó ta đã chọn một chiều chuyển động gọi là chiều dương, chiều ngược lại với chiều quay kim đồng hồ là chiều dương.<br>
<img alt="" src="https://hoc247.net/fckeditorimg/upload/images/12(529).png" style="height:141px; width:155px"/><br/>
<em>Lưu ý:</em><br/>
Trên một đường tròn định hướng, lấy hai điểm A và B thì:<br/>
Kí hiệu <img alt="" class="fxm" src="https://hoc247.net/fckeditorimg/upload/images/12(530).png" style="height:20px; width:24px"/>là một cung hình học (cung lớn hoặc cung bé) hoàn toàn xác định.<br/>
Kí hiệu <img alt="" class="fxm" src="https://hoc247.net/fckeditorimg/upload/images/12(530).png" style="height:20px; width:24px"/> chỉ một cung lượng giác điểm đầu A, điểm cuối B.</br></p>
<div id="112">
<h4>1.1.2. Góc lượng giác</h4>
</div>
<div id="113">
<h4>Trên đường tròn định hướng cho một cung lượng giác <img alt="" class="fxm" src="https://hoc247.net/fckeditorimg/upload/images/12(530).png" style="height:20px; width:24px"/>. Điểm M chuyển động từ A tới B tạo nên cung lượng giác <img alt="" class="fxm" src="https://hoc247.net/fckeditorimg/upload/images/12(530).png" style="height:20px; width:24px"/> nói trên. Khi đó tia OM quay quanh gốc O từ vị trí OA tới vị trí OB. Ta nói tia OM tạo ra một <strong>góc lượng giác.</strong> có tia đầu là OA, tia cuối là OB. Kí hiệu góc lượng giác đó là (OA, OB).<br/>
<img alt="" src="https://hoc247.net/fckeditorimg/upload/images/12(531).png" style="width: 250px; height: 280px;"/><br/>
1.1.3. Đường tròn lượng giác</h4>
</div>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/12(532).png" style="width: 290px; height: 253px;"/></p>
<p>Đường tròn được xác định như hình vẽ trên là <strong>đường tròn lượng giác gốc A.</strong></p>
<div id="12">
<h3>1.2. Số đo của cung và góc lượng giác</h3>
</div>
<div id="121">
<h4>1.2.1. Độ và rađian</h4>
</div>
<p><strong>a) Đơn vị rađian</strong></p>
<p>Trên đường tròn tùy ý, cung có độ dài bằng bán kính được gọi là <strong>cung có số đo 1 rad</strong></p>
<p><strong>b) Quan hệ giữa độ và rađian</strong></p>
<p><span class="math-tex">\({1^o} = \frac{\pi }{{180}}rad\,;\,1\,ra{\rm{d}} = {\left( {\frac{{180}}{\pi }} \right)^o}\)</span></p>
<p>Bảng chuyển đổi thông dụng:<br/>
<img alt="" src="https://hoc247.net/fckeditorimg/upload/images/12(533).png" style="height:84px; width:477px"/></p>
<p><strong>c) Độ dài của một cung tròn</strong></p>
<p>Cung có số đo alpha (rad) của đường tròn bán kính R có độ dài<br/>
<span class="math-tex">\(l = R\alpha \)</span></p>
<div id="122">
<h4>1.2.2. Số đo của một cung lượng giác</h4>
</div>
<p>Số đo của các cung lượng giác có cùng điểm đầu và điểm cuối sai khác nhau một bội của <span class="math-tex">\(2\pi\)</span>. Ta viết<br/>
<img alt="" src="https://hoc247.net/fckeditorimg/upload/images/12(534).png" style="height:33px; width:169px"/></p>
<p>Người ta cũng viết số đo bằng độ, công thức tổng quát đó là:<br/>
<img alt="" src="https://hoc247.net/fckeditorimg/upload/images/12(535).png" style="height:29px; width:190px"/></p>
<div id="123">
<h4>1.2.3. Số đo của một góc lượng giác</h4>
</div>
<p>Số đo của một góc lượng giác (OA, OC) là số đo của cung lượng giác tương ứng.</p>
<div id="124">
<h4>1.2.4. Biểu diễn cung lượng giác trên đường tròn lượng giác</h4>
</div>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/12(536).png" style="height:181px; width:200px"/><br/>
Điểm M biểu diễn các cung lượng giác có số đo là \(\frac{{3\pi }}{4} + k2\pi \)</p>
<p>Điểm N biểu diễn các cung lượng giác có số đo là \(\frac{{ - 2\pi }}{3} + k2\pi \)</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-10/bai-1-cung-va-goc-luong-giac-l752.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-10/bai-1-cung-va-goc-luong-giac-l752.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<p><strong>Ví dụ 1:</strong> <span style="font-size: 13px;">Đổi các số đo của góc sau đây ra rađian: </span></p>
<p><span class="math-tex">\({60^o};\,{59^o};\,{90^o};\,{14^o}\)</span></p>
<p><strong><u>Hướng dẫn:</u></strong><br/>
Ta có: <br/>
<span class="math-tex">\(\begin{array}{l} {60^o} = \frac{{60.\pi }}{{180}} = \frac{\pi }{3}\left( {ra{\rm{d}}} \right)\\ {59^o} = \frac{{59.\pi }}{{180}}\left( {ra{\rm{d}}} \right)\\ {90^o} = \frac{{90.\pi }}{{180}} = \frac{\pi }{2}\left( {ra{\rm{d}}} \right)\\ {14^o} = \frac{{14.\pi }}{{180}} = \frac{{7\pi }}{{90}}\left( {ra{\rm{d}}} \right) \end{array}\)</span></p>
<p><strong>Ví dụ 2:</strong> Đổi các số đo của góc sau đây ra độ, phút, giây:</p>
<p><span class="math-tex">\(\frac{\pi }{5};\frac{{2\pi }}{3};\frac{\pi }{4};\pi \)</span></p>
<p><u><strong>Hướng dẫn:</strong></u></p>
<p>Ta có:<br/>
<span class="math-tex">\(\begin{array}{l} \frac{\pi }{5} = \frac{{\pi .180}}{{5.\pi }} = {36^o}\\ \frac{{2\pi }}{3} = \frac{{2\pi .180}}{{3.\pi }} = {120^o}\\ \frac{\pi }{4} = \frac{{\pi .180}}{{4.\pi }} = {45^o}\\ \pi = \frac{{\pi .180}}{\pi } = {180^o} \end{array}\)</span></p>
<p><b>Ví dụ 3:</b> Biểu diễn điểm A, B, C trên đường tròn lượng giác, biết rằng số đo cung AB = 120 độ, số đo cung BC = <span class="math-tex">\(\frac{{3\pi }}{4}\)</span>, số đo cung AC bằng <span class="math-tex">\(\frac{{\pi }}{12}\)</span><br/>
<u><strong>Hướng dẫn:</strong></u><br/>
Trước hết, ta sẽ đồng nhất các số đo thành số đo góc:<br/>
Số đo cung AB = 120 độ<br/>
Số đo cung BC = 135 độ<br/>
Số đo cung AC = 15 độ<br/>
Như vậy, các điểm trên đường tròn không thể đi cùng một chiều được, lấy điểm A tùy ý, ta có hình vẽ thỏa mãn bài toán:<br/>
<img alt="" src="https://hoc247.net/fckeditorimg/upload/images/12(537).png" style="height: 238px; width: 200px;"/></p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}