{% extends "pages/lop10/chuong1/base-lop10-chuong1.html" %}
{% block title %}Toán 10 Bài 2: Tập hợp{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 10 Bài 2: Tập hợp</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Tập hợp là một khái niệm các em đã được tìm hiểu ở chương trình <strong>Toán 6</strong>. Chương trình<strong> Đại số 10</strong>, tiếp tục kế thừa và giới thiệu đến các em thêm những khái niệm, dạng bài tập mới. Xin mời các em cùng tìm hiểu nội dung bài học.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Tập hợp</h3>
</div>
<ul>
<li>Tập hợp là khái niệm cơ bản của toán học, không định nghĩa .</li>
<li>Tập hợp thường được kí hiệu bằng các chữ cái in hoa như: A, B, C, D, .... các phần tử của tập hợp đặt trong cặp dấu { }.</li>
<li>Để chỉ <strong>phần tử</strong> a thuộc tập hợp A ta viết \(a \in A,\) ngược lại ta viết \(a \notin A.\)</li>
<li>Tập hợp không chứa phần tử nào gọi là <strong>tập rỗng</strong>. Khí hiệu \(\emptyset .\)</li>
</ul>
<div id="12">
<h3>1.2. Cách xác định tập hợp</h3>
</div>
<p>Có 2 cách:</p>
<ul>
<li><strong>Cách 1:</strong> Liệt kê các phần tử : mỗi phần tử liệt kê một lần, giữa các phần tử có dấu phẩy hoặc dấu chấm phẩy ngăn cách. Nếu số lượng phần tử nhiều có thể dùng dấu ba chấm.</li>
</ul>
<p><strong>Ví dụ:</strong></p>
<p>A = {1; 3; 5; 7}</p>
<p>B = {0 ; 1; 2; . . . . ; 100 }</p>
<p>C= {1; 3; 5;…;15; 17}</p>
<ul>
<li><strong>Cách 2:</strong> Chỉ rõ tính chất đặc trưng của các phần tử trong tập hợp, <strong>tính chất này được viết sau dấu gạch đứng</strong><strong>.</strong></li>
</ul>
<p><strong>Ví dụ: </strong></p>
<p>A = {\(x \in \mathbb{N}\) | x lẻ và x &lt;9}; B= {\(x \in \mathbb{R}\)| 2x<sup>2</sup>-5x+3=0}</p>
<div id="13">
<h3>1.3. Tập con</h3>
</div>
<ul>
<li>Nếu tập A là con của B, kí hiệu: \(A \subset B\) hoặc \(B \supset A.\) .</li>
<li>Khi đó \(A \subset B \Leftrightarrow \forall x\left( {x \in A \Rightarrow x \in B} \right)\)</li>
</ul>
<p><strong>Ví dụ:</strong></p>
<p>A={1;3;5;7;9}, B={1;2;3;...;10}</p>
<p>Cho \(A \ne \emptyset \) có ít nhất 2 tập con là \(\emptyset \) và A.</p>
<p><strong>Tính chất:</strong>    </p>
<p>\(A \subset A,\emptyset  \subset A\)  với mọi A.</p>
<p>Nếu \(A \subset B\) và \(B \subset C\) thì \(A \subset C.\)</p>
<div id="14">
<h3>1.4. Tập hợp bằng nhau</h3>
</div>
<p>\(A = B \Leftrightarrow A \subset B\) và \(B \subset A\) hay \(A = B \Leftrightarrow \forall x\left( {x \in A \Leftrightarrow x \in B} \right)\)</p>
<p>Ví dụ:</p>
<p>\(\begin{array}{l}C = \left\{ {x \in \mathbb{R}|2{x^2} - 5x + 2 = 0} \right\}\\D = \left\{ {\frac{1}{2};1} \right\}\\ \Rightarrow C = D.\end{array}\)</p>
<ul>
<li><strong>Biểu đồ Ven</strong></li>
</ul>
<p><img alt="Biểu đồ Ven các tập số" src="https://hoc247.net/fckeditorimg/upload/images/bieudoven.jpg" style="height:178px; width:292px"/></p>
<p>Ta có \(\mathbb{N}* \subset \mathbb{N} \subset \mathbb{Z} \subset \mathbb{Q} \subset \mathbb{R}\)</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-10/bai-2-tap-hop-l733.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-10/bai-2-tap-hop-l733.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<h4><u>Ví dụ 1:</u></h4>
<p>Cho các tập hợp sau:</p>
<p>a) Tập hợp A là các nghiệm của phương trình \((x + 1)(x + 3)\left( {x - \frac{1}{2}} \right) = 0.\)</p>
<p>b) Tập \(B = \left\{ {m \in \mathbb{Z}|{m^2} \le 50} \right\}\)</p>
<p>Hãy liệt kê tất cả các phần tử của chúng.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a) \(A = \left\{ { - 3; - 1;\frac{1}{2}} \right\}\)</p>
<p>b) \(B = \left\{ { - 7; - 6; - 5; - 4; - 3; - 2; - 1;0;1;2;3;4;5;6;7} \right\}.\)</p>
<p> </p>
<h4><u>Ví dụ 2:</u></h4>
<p>Tìm tất cả các tập hợp con của tập hợp \(A = \left\{ { - 3;0;2} \right\}.\)</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Tập A có 8 tập hợp con là: \(\emptyset ,\left\{ { - 3} \right\},\left\{ 0 \right\},\left\{ 2 \right\},\left\{ { - 3;0} \right\},\left\{ { - 3;2} \right\},\left\{ {0;2} \right\},\left\{ { - 3;0;2} \right\}.\)</p>
<p> </p>
<h4><u>Ví dụ 3:</u></h4>
<p>Tìm các tính chất đặc trưng của các tập hợp sau:</p>
<p>a) \(A = \left\{ {1;\frac{1}{2};\frac{1}{3};\frac{1}{4};\frac{1}{5};\frac{1}{6}} \right\}\)</p>
<p>b) \(B = \left\{ {\frac{5}{4};\frac{{10}}{9};\frac{{17}}{{16}};\frac{{26}}{{25}};\frac{{37}}{{36}};\frac{{50}}{{49}}} \right\}.\)</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a) \(A = \left\{ {\frac{1}{n}|n \in \mathbb{N},1 \le n \le 6} \right\}.\)</p>
<p>b) \(B = \left\{ {\frac{{{n^2} + 1}}{{{n^2}}}|n \in \mathbb{N},2 \le n \le 7} \right\}.\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}