{% extends "pages/lop10/chuong1/base-lop10-chuong1.html" %}
{% block title %}Toán 10 Bài 1: Mệnh đề{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 10 Bài 1: Mệnh đề</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Mở đầu chương trình <strong>Đại số 10</strong>, các em sẽ được tìm hiểu về <strong>Mệnh đề và Tập hợp</strong>, các thuật ngữ có vẻ hết sức quen thuộc. Khái niệm Tập hợp các em đã bước đầu được tìm hiểu ở chương trình Toán lớp 6. Mệnh đề là gì? Thông qua bài học này các em sẽ được tìm hiểu và giải được các dạng bài tập liên quan đến thuật ngữ này.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Mệnh đề. Mệnh đề chứa biến.</h3>
</div>
<h4>a) Mệnh đề</h4>
<ul>
<li>Mỗi mệnh đề là một câu khẳng định hoặc đúng hoặc sai.</li>
</ul>
<ul>
<li>Một mệnh đề không thể vừa đúng, vừa sai.</li>
<li>
<p>Một câu khẳng định đúng gọi là <strong>mệnh đề đúng.</strong> Một câu khẳng định sai gọi là <strong>mệnh đề sai</strong>. </p>
</li>
</ul>
<p><u><strong>Ví dụ:</strong></u></p>
<p>Số 2 là số nguyên tố là một mệnh đề đúng.</p>
<p>5 chia hết cho 3 là mệnh đề sai.</p>
<h4>b) Mệnh đề chứa biến</h4>
<p><strong><u>Ví dụ</u>:</strong> Xét các câu :</p>
<p>(a): “7 + x  = 3”</p>
<p>(b): “n là số nguyên tố”</p>
<p>Hãy tìm hai giá trị của x, n để (a), (b) nhận được một mệnh đề đúng và một mệnh sai.</p>
<p>* Câu (a) và (b) là những ví dụ về <em>mệnh đề chứa biến</em>.</p>
<div id="12">
<h3>1.2. Phủ định của một mệnh đề</h3>
</div>
<p>Kí hiệu mệnh đề phủ định của mệnh đề P là \(\overline P \), ta có :</p>
<p>\(\overline P \) đúng khi P sai.</p>
<p>\(\overline P \) sai khi P đúng.</p>
<p><u><strong>Ví dụ:</strong></u></p>
<p>Cho mệnh đề P: “\(\pi \) là một số hữu tỷ”. Ta có: \(\overline P :\) “\(\pi \) không là một số hữu tỷ”.</p>
<p>Cho mệnh đề Q: “Tổng hai cạnh của một tam giác lớn hơn cạnh thứ ba”.</p>
<p>Ta có: \(\overline Q :\) “Tổng hai cạnh của một tam giác không lớn hơn cạnh thứ ba”.</p>
<div id="13">
<h3>1.3. Mệnh đề kéo theo</h3>
</div>
<p><strong><u>Ví dụ</u>:</strong> Hãy xét dạng của mệnh đề “Nếu gió mùa đông Bắc về thì trời trở lạnh”.</p>
<ul>
<li>Mệnh đề “Nếu P thì Q” được gọi là mệnh đề kéo theo và kí hiệu là \(P \Rightarrow Q\).</li>
<li>Mệnh đề \(P \Rightarrow Q\) chỉ sai khi P đúng Q sai.</li>
<li>Các mệnh đề toán học thường có dạng \(P \Rightarrow Q\)
	<ul>
<li>P là giả thiết, Q là kết luận của định lí.</li>
<li>Hoặc P là <strong>điều kiện đủ</strong> để có Q, hoặc Q là <strong>điều kiện</strong> <strong>cần</strong> để có P.</li>
</ul>
</li>
</ul>
<p><u><strong>Ví dụ:</strong></u></p>
<p>Cho mệnh đề: “Nếu tam giác ABC có hai góc bằng 60<sup>0 </sup>thì ABC là một tam giác đều”.</p>
<ul>
<li>GT: Tam giác ABC có hai góc bằng 60<sup>0</sup>.</li>
<li>KL: ABC là một tam giác đều.</li>
</ul>
<div id="14">
<h3>1.4. Mệnh đề đảo – Hai mệnh đề tương đương</h3>
</div>
<p><strong>Ví dụ:</strong> Cho số thực x. Xét:</p>
<p>         P: “ x là một số nguyên”.</p>
<p>         Q: “x + 2 là một số nguyên”.</p>
<p> a) Phát biểu mệnh đề \(P \Rightarrow Q\) và \(Q \Rightarrow P\).</p>
<p> b) Xét tính đúng sai của hai mệnh đề \(P \Rightarrow Q\) và \(Q \Rightarrow P\).</p>
<p>Ta có:</p>
<p>+ \(P \Rightarrow Q\): “Nếu x là một số nguyên thì x + 2 là một số nguyên”. (Đúng)</p>
<p> + \(Q \Rightarrow P\): “Nếu x + 2 là một số nguyên thì x là một số nguyên”. (Đúng)</p>
<p><strong>Định nghĩa:</strong></p>
<ul>
<li>Mệnh đề \(Q \Rightarrow P\) được gọi là mệnh đề đảo của mệnh đề \(P \Rightarrow Q\).</li>
<li>Nếu cả hai mệnh đề \(P \Rightarrow Q\) và \(Q \Rightarrow P\) đều đúng thì ta nói P và Q là hai mệnh đề tương đương và kí hiệu \(P \Leftrightarrow Q\).</li>
</ul>
<p><strong>Cách đọc:</strong></p>
<ul>
<li>P tương đương Q</li>
<li>P là điều kiện cần và đủ để có Q</li>
</ul>
<div id="15">
<h3><strong>1.5. Kí hiệu <span class="math-tex">\(\forall \)</span></strong><strong> và <span class="math-tex">\(\exists\)</span></strong><strong>.</strong></h3>
</div>
<p><strong>Ví dụ</strong>: Cho các mệnh đề sau:</p>
<p> P: “Mọi số tự nhiên đều lớn hơn số đối của nó”.</p>
<p> Q: “Có một số hữu tỷ nhỏ hơn nghịch đảo của nó”.</p>
<p>Hãy phát biểu mệnh đề phủ định của các mệnh đề trên. Xét tính đúng sai của các mệnh đề P, Q, \(\overline P \), \(\overline Q \).</p>
<p>Ta có:</p>
<p>+ \(\overline P :\) “Có một số tự nhiên nhỏ hơn hoặc bằng số đối của nó”.</p>
<p>+ \(\overline Q :\)  “Mọi số hữu tỷ đều lớn hơn hoặc bằng nghịch đảo của nó”.</p>
<p>+ P sai, \(\overline P \) đúng vì số 0 không có số đối.</p>
<p>+ Q đúng, \(\overline Q \) sai, chẳng hạn \(\frac{1}{2} &lt; 2\).</p>
<ul>
<li>Kí hiệu \(\forall \) đọc là “với mọi”.</li>
<li>Kí hiệu \(\exists \) đọc là “có một” (tồn tại một) hay “có ít nhất một”.</li>
</ul>
<p><strong>Nhận xét:</strong></p>
<ul>
<li>Mệnh đề phủ định của \(''\forall x \in X,P(x)''\) là \(''\exists x \in X,\overline {P(x)} ''.\)</li>
<li>Mệnh đề phủ định của \(''\exists x \in X,P(x)''\)là \(''\forall x \in X,\overline {P(x)} ''.\)</li>
</ul>
<p><strong>Ví dụ:</strong></p>
<p>Mệnh đề P: “\(\exists n \in \mathbb{N}:{n^2} = n\)”</p>
<p>Tồn tại số tự nhiên n mà bình phương của nó bằng chính nó.</p>
<p>Với mọi số nguyên:</p>
<p>Mệnh đề Q: “\(\forall x \in \mathbb{Z}:{x^2} = x\)”</p>
<p>Bình phương của mọi số nguyên x đều bằng chính nó.</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-10/bai-1-menh-de-l732.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-10/bai-1-menh-de-l732.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<h4><u>Ví dụ 1:</u></h4>
<p>Xét xem các phát biểu sau có phải là mệnh đề không? Nếu là mệnh đề thì cho biết đó là mệnh đề đúng hay sai?</p>
<p>a) \(\sqrt 2 \) không là số hữu tỉ.</p>
<p>b) Iran là một nước thuộc châu Âu phải không?</p>
<p>c) Phương trình \({x^2} + 5x + 6 = 0\) vô nghiệm.</p>
<p>d) Chứng minh bằng phản chứng khó thật!</p>
<p>e) x+4 là một số âm.</p>
<p>f) Nếu n là số chẵn thì n chia hết cho 4.</p>
<p>g) Nếu n chia hết cho 4 thì n là số chẵn.</p>
<p>h) n là số chẵn nếu và chỉ nếu \({n^2}\) chia hết cho 4.</p>
<p>i) \(\exists n \in \mathbb{N},{n^3} - n\) không là bội của 3.</p>
<p>j) \(\forall x \in \mathbb{R},{x^2} - x + 1 &gt; 0.\)</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a) Đây là mệnh đề đúng.</p>
<p>b) Đây là câu hỏi, không phải là mệnh đề.</p>
<p>c) Đây là mệnh đề sai vì phương trình có nghiệm x=-2.</p>
<p>d) Đây là câu cảm thán, không phải là mệnh đề.</p>
<p>e) Đây là mệnh đề chứa biến.</p>
<p>f) Đây là mệnh đề sai vì n=2 là số chẵn nhưng không chia hết ch 4.</p>
<p>g) Đây là mệnh đề đúng.</p>
<p>h) Đây là mệnh đề đúng.</p>
<p>i) Đây là mệnh đề sai vì \(\forall n \in \mathbb{N},{n^3} - n = (n - 1)n(n + 1)\) chia hết cho 3.</p>
<p>j) Ta có: \({x^2} - x + 1 = {\left( {x - \frac{1}{2}} \right)^2} + \frac{3}{4} &gt; 0.\) Đây là mệnh đề đúng.</p>
<p> </p>
<h4><u>Ví dụ 2:</u></h4>
<p>Tìm mệnh đề đảo của các mệnh đề sau và cho biết mệnh đề đảo này đúng hay sai: “Nếu hai góc đối đỉnh thì chúng bằng nhau”.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Mệnh đề đã cho có dạng: \(P \Rightarrow Q\) trong đó P là “hai góc đối đỉnh”, Q là “hai góc bằng nhau”. Vậy mệnh đề đảo là: “Nếu hai góc bằng nhau thì chúng đối đỉnh”. Mệnh đề này sai.</p>
<p> </p>
<h4><u>Ví dụ 3:</u></h4>
<p>Tìm mệnh đề phủ định của các mệnh đề sau và cho biết chúng đúng hay sai.</p>
<p>a) \(P = ''\forall x \in \mathbb{R},{(x - 1)^2} \ge 0''.\)</p>
<p>b) \(Q = \) “Có một tam giác không có góc nào lớn hơn \({60^0}\)”.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>Mệnh đề phủ định của \(''\forall x \in X,P(x)''\) là \(''\exists x \in X,\overline {P(x)} ''.\)</p>
<p>Mệnh đề phủ định của \(''\exists x \in X,P(x)''\)là \(''\forall x \in X,\overline {P(x)} ''.\)</p>
<p>a) Mệnh đề phủ định của P là \(\overline P  = ''\exists x \in \mathbb{R},{(x - 1)^2} &lt; 0''.\)Đây là mệnh đề sai.</p>
<p>b) Mệnh đề phủ định của Q là \(\overline Q \) = “Mọi tam giác luôn có một góc lớn hơn \({60^0}\)”.</p>
<p>Đây là mệnh đề sai vì tam giác đều không có góc lớn hơn \({60^0}.\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}