{% extends "pages/lop10/chuong1/base-lop10-chuong1.html" %}
{% block title %}Toán 10 Ôn tập chương 1 Mệnh đề Tập hợp{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 10 Ôn tập chương 1 Mệnh đề Tập hợp</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Bài <strong>ôn tập chương I</strong> sẽ giúp các em có cái nhìn khái quát về nội dung phần <strong>Mệnh đề, Tập hợp</strong> đã được học. Đây là những kiến thức mang tính chất hỗ trợ trong suốt <strong>chương trình Toán THPT</strong> các khối lớp. Vì vậy yêu cầu đặt ra các em cần ghi nhớ được các khái niêm, các phép toán tập hơp để vận dụng sau này.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<h3>A. Mệnh đề</h3>
<div id="11">
<h3>1.1. Mệnh đề</h3>
</div>
<p>Mệnh đề là một câu thỏa mãn đồng thời hai yêu câu:</p>
<p>a) Câu ấy hoặc là đúng, hoặc là sai.</p>
<p>b) Câu ấy không thể vừa đúng và vừa sai.</p>
<div id="12">
<h3>1.2. Mệnh đề kéo theo</h3>
</div>
<p>Là mệnh đề có dạng \(P \Rightarrow Q.\)</p>
<div id="13">
<h3>1.3. Mệnh đề phủ định</h3>
</div>
<p>Cho mệnh đề A. Mệnh đề bác bỏ mệnh đề A được gọi là mệnh đề phủ định của mệnh đề A. Ký hiệu \(\overline A .\)</p>
<div id="14">
<h3>1.4. Định lý</h3>
</div>
<p>Những mệnh đề đúng và có dạng \(P \Rightarrow Q\) được gọi là định lý.</p>
<p>P là giải thiết, Q là kết luận của định lý.</p>
<div id="15">
<h3>1.5. Mệnh đề đảo</h3>
</div>
<p>Mệnh đề \(P \Rightarrow Q\) được gọi là mệnh đề đảo của mệnh đề \(Q \Rightarrow P.\)</p>
<h3>B. Tập hợp</h3>
<div id="16">
<h3>1.6. Các phép toán về tập hợp</h3>
</div>
<p>a) Giao của hai tập hợp A và B là một tập hợp C mà các phần tử thuộc tập A và tập B.</p>
<p>Ký hiệu: \(C = A \cap B.\)</p>
<p>Vậy \(x \in A \cap B \Leftrightarrow \left\{ \begin{array}{l}x \in A\\x \in B\end{array} \right..\)</p>
<p>Mô tả:</p>
<p> <img alt="Giao của hai tập hợp" src="https://hoc247.net/fckeditorimg/upload/images/1(38).PNG" style="height:146px; width:206px"/></p>
<p>b) Hợp của hai tập hợp A và B là một tập hợp C mà các phần tử thuộc tập A hoặc thuộc tập B.</p>
<p>Ký hiệu: \(C = A \cup B.\)</p>
<p>Vậy \(x \in A \cup B \Leftrightarrow \left[ \begin{array}{l}x \in A\\x \in B\end{array} \right..\)</p>
<p>Mô tả:</p>
<p><img alt="Hợp của hai tập hợp" src="https://hoc247.net/fckeditorimg/upload/images/2(28).PNG" style="height:140px; width:223px"/></p>
<p>c) Hiệu của hai tập hợp A và B là một tập hợp C mà các phần tử thuộc tập A và không thuộc tập B.</p>
<p>Ký hiệu: \(C = A\backslash B.\)</p>
<p>Vậy \(x \in A\backslash B \Leftrightarrow \left\{ \begin{array}{l}x \in A\\x \notin B\end{array} \right..\)</p>
<p>Mô tả:</p>
<p><img alt="Hiệu của hai tập hợp" src="https://hoc247.net/fckeditorimg/upload/images/3(24).PNG" style="height:108px; width:180px"/></p>
<p>Đặc biệt: \(B \subset A \Rightarrow A\backslash B\) được gọi là phần bù của B trong A.</p>
<p>Ký hiệu: \({C_A}B = A\backslash B.\)</p>
<div id="17">
<h3>1.7. Các tập hợp thường gặp</h3>
</div>
<p>a) Đoạn: \(\left[ {a;b} \right] = \left\{ {x \in \mathbb{R}|a \le x \le b} \right\}.\)</p>
<p>b) Khoảng: \(\left( {a;b} \right) = \left\{ {x \in \mathbb{R}|a &lt; x &lt; b} \right\}.\)</p>
<p>c) Nửa khoảng:</p>
<p>\(\left[ {a;b} \right) = \left\{ {x \in \mathbb{R}|a \le x &lt; b} \right\}\)</p>
<p>\(\left( {a;b} \right] = \left\{ {x \in \mathbb{R}|a &lt; x \le b} \right\}.\)</p>
<p>\(\left( { - \infty ;b} \right] = \left\{ {x \in \mathbb{R}|x \le b} \right\}.\)</p>
<p>\(\left[ {a; + \infty } \right) = \left\{ {c \in \mathbb{R}|x \ge a} \right\}.\)</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-10/on-tap-chuong-1-menh-de-tap-hop-l6460.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-10/on-tap-chuong-1-menh-de-tap-hop-l6460.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<h4><u>Bài 1:</u></h4>
<p>Lập mệnh đề đảo của các định lí sau và cho biết mệnh đề này đúng hay sai. Viết mệnh đề tương đương (nếu được):</p>
<p>a) “Nếu a và b cùng chia hết cho c thì a + b chia hết cho c (a, b, c là những số nguyên)”.</p>
<p>b) “Nếu một số có tổng các chữ số chia hết cho 3 thì số đó chia hết cho 3”.</p>
<p>c) “Nếu tứ giác là hình vuông thì tứ giác có bốn cạnh bằng nhau”.</p>
<p>d) “Nếu \(\Delta ABC\) cân thì  \(\Delta ABC\) có hai đường trung tuyến bằng nhau”.          </p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a)  Mệnh đề đảo: “Nếu a + b chia hết cho c thì a và b cùng chia hết cho c(a,b,c là các số nguyên)” là mệnh đề sai.</p>
<p>b) Mệnh đề đảo: “Nếu một số chia hết cho 3 thì số đó có tổng các chữ số chia hết cho 3”  \( \to \) mệnh đề đúng.</p>
<p>Mệnh đề tương đương: “ Một số chia hết cho 3 khi và chỉ khi số đó có tổng các chữ số chia hết cho 3”.</p>
<p>c) Mệnh đề đảo: “ Nếu tứ giác có 4 cạnh bằng nhau thì tư giác đó là hình vuông” \( \to \) mệnh đề sai.</p>
<p>d) Mệnh đề đảo:” Nếu \(\Delta ABC\) có hai đường trung tuyến bằng nhau thì \(\Delta ABC\) là tam giác cân” \( \to \) mệnh đề đúng.</p>
<p>Mệnh đề tương đương: “\(\Delta ABC\) có hai đường trung tuyến bằng nhau khi và chỉ khi \(\Delta ABC\) là tam giác cân”.</p>
<p> </p>
<h4><u>Bài 2:</u></h4>
<p>Cho các tập hợp \(A = \left[ { - 3;2} \right),\;B = \left( { - 2;4} \right],\;C = \left( { - \infty ;3} \right),\;D = \left[ {1; + \infty } \right).\)</p>
<p>Hãy xác định các tập hợp sau:</p>
<p>a) \(A \cap B\)                               </p>
<p>b) \(A \cup B\)                   </p>
<p>c) \(\mathbb{R}\backslash C\)                       </p>
<p>d) \(D\backslash \left( {A \cup B} \right)\)</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a) \(A \cap B = ( - 2;\,2)\).</p>
<p>b) \(A \cup B = \left[ { - 3;\,4} \right]\).</p>
<p>c) \(\mathbb{R}\backslash C = \left[ {3;\, + \infty } \right)\).</p>
<p>d) \(D\backslash (A \cup B) = \left[ {1;\, + \infty } \right)\backslash \left[ { - 3;\,4} \right] = \left( {4;\, + \infty } \right)\).</p>
<p> </p>
<h4><u>Bài 3:</u></h4>
<p>Cho tập hợp \(A = \left\{ {x \in \mathbb{R}|\,{x^2} - 2x + m - 1 = 0\,\,,\,m\, \in \mathbb{N}} \right\}\)</p>
<p>Tìm tất cả các giá trị của \(m\)để \(A \ne \emptyset \).</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>\(A \ne \emptyset \,\)khi phương trình \({x^2} - 2x + m - 1 = 0\) có nghiệm thực.</p>
<p>Điều nảy xảy ra khi \(\Delta '\, \ge \,0,\,m \in \mathbb{N}\)\( \Leftrightarrow 1 - (m - 1) \ge 0,\,m \in \mathbb{N}\)</p>
<p>\( \Leftrightarrow m \le 2,\,m \in \mathbb{N} \Leftrightarrow \,m = \left\{ {0\,;\,1\,;2} \right\}.\)</p>
<p>Vậy với \(m = \left\{ {0;\,1;2} \right\}\) thì \(A \ne \emptyset .\)</p>
<p> </p>
<h4><u>Bài 4:</u></h4>
<p>a) Cho \(\sqrt 7  = 2,6457513...\) với độ chính xác là \(d = 0,003\). Hãy viết số quy tròn của số \(\sqrt 7 \)</p>
<p>b) Tìm hai số thực a và b để có \(\left\{ {x \in R|{x^3} - a{x^2} + bx + 12 = 0} \right.{\rm{\} }}\)=\(\left\{ { - 3;2} \right\}.\)</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a) Do độ chính xác đến hàng phần nghìn nên ta quy tròn số hàng phần trăm nên Số quy tròn của\(\sqrt 7 \) là: 2,65.</p>
<p>b) Phương trình \({x^3} - a{x^2} + bx + 12 = 0\) có hai nghiệm là -3 và 2 nên ta có:</p>
<p>\(\left\{ \begin{array}{l} - 4a + 2b =  - 20\\ - 9a - 3b = 15\end{array} \right. \Leftrightarrow \left\{ \begin{array}{l}a = 1\\b =  - 8\end{array} \right..\)</p>
<p>Thử lại, giá trị a và b nhận được thỏa yêu cầu bài toán.</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}