{% extends "pages/lop12/chuong4/base-lop12-chuong4.html" %}
{% block title %}Toán 12 Bài 3: Phép chia số phức{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 12 Bài 3: Phép chia số phức</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Nội dung bài học tiếp tục giới thiệu đến các em một phép toán tiếp theo trên tập số phức đó là <strong>phép chia hai số phức</strong>. Cách làm cụ thể và những ví dụ minh họa sẽ được giới thiệu thông qua bài học này.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="21">
<h3>2.1. Phép chia hai số phức</h3>
</div>
<p><span style="font-family:quicksand; font-size:14px">Cho hai số phức </span>\({z_1} = a + bi,\,\,{z_2} = c + di\,(a,b,c,d \in \mathbb{R}),\)<span style="font-family:quicksand; font-size:14px"> ta có:</span></p>
<p>\(\frac{{c + di}}{{a + bi}} = \frac{{\left( {c + di} \right)(a - bi)}}{{{a^2} + {b^2}}} = \frac{{ac + bd}}{{{a^2} + {b^2}}} + \frac{{ad - bc}}{{{a^2} + {b^2}}}i\)</p>
<p><span style="color:rgb(0, 0, 0); font-family:arial,tahoma,helvetica,sans-serif; font-size:14px">(Nhân cả tử và mẫu với \(a - bi\)(số phức liên hợp của mẫu)).</span></p>
<div id="22">
<h3>2.2. Chú ý</h3>
</div>
<p>Với số phức \(z\ne0\) ta có:</p>
<ul>
<li><span style="font-size:14px">Số phức nghịch đảo của \(z\): \({z^{ - 1}} = \frac{1}{{{{\left| z \right|}^2}}}\overline z .\)</span></li>
<li><span style="font-size:14px">Thương của \(z'\) chia cho \(z\): \(\frac{{z'}}{z} = z'.{z^{ - 1}} = \frac{{z'.\overline z }}{{{{\left| z \right|}^2}}} = \frac{{z'.\overline z }}{{z.\overline z }}.\)</span></li>
</ul> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-12/bai-3-phep-chia-so-phuc-l817.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-12/bai-3-phep-chia-so-phuc-l817.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<h4><u><strong>Ví dụ 1:</strong></u></h4>
<p>Tìm số phức liên hợp của số phức: \(z = (1 + i)(3 - 2i) + \frac{1}{{3 + i}}\).</p>
<h4><u><strong>Lời giải:</strong></u></h4>
<p>Ta có: \(z = 5 + i + \frac{{3 - i}}{{(3 + i)(3 - i)}} = 5 + i + \frac{{3 - i}}{{10}}=\frac{53}{10}+\frac{9}{10}i\)</p>
<p>Suy ra số phức liên hợp của số phức z là: \(\overline z = \frac{{53}}{{10}} - \frac{9}{{10}}i\).</p>
<h4><u><strong>Ví dụ 2:</strong></u></h4>
<p>Tìm môđun của số phức \(z = \frac{{(1 + i)(2 - i)}}{{1 + 2i}}\).</p>
<h4><u><strong>Lời giải:</strong></u></h4>
<p>Ta có:\(z = \frac{{(1 + i)(2 - i)}}{{1 + 2i}} = \frac{{3 + i}}{{1 + 2i}} = \frac{{\left( {3 + i} \right)\left( {1 - 2i} \right)}}{{\left( {1 + 2i} \right)\left( {1 - 2i} \right)}} = \frac{{5 + i}}{5} = 1 + \frac{1}{5}i.\)</p>
<p>Vậy môđun của số phức z là: \(\left| z \right| = \sqrt {1 + {{\left( {\frac{1}{5}} \right)}^2}} = \frac{{\sqrt {26} }}{5}\).</p>
<h4><u><strong>Ví dụ 3:</strong></u> </h4>
<p>Tìm phần thực, phần ảo và tính môđun của số phức z thỏa: \({\left( {1 + i} \right)^2}\left( {2 - i} \right)z = 8 + i + \left( {1 + 2i} \right)z.\)</p>
<h4><u><strong>Lời giải:</strong></u></h4>
<p>\({\left( {1 + i} \right)^2}\left( {2 - i} \right)z = 8 + i + \left( {1 + 2i} \right)z\)</p>
<p>\(\Leftrightarrow z = \frac{{8 + i}}{{1 + 2i}} = \frac{{\left( {8 + i} \right)\left( {1 - 2i} \right)}}{{\left( {1 + 2i} \right)\left( {1 - 2i} \right)}} = \frac{{10 - 15i}}{5} = 2 - 3i.\)</p>
<p>Vậy z có phần thực bằng 2, phần ảo bằng -3, môđun \(\left| z \right| = \sqrt {{2^2} + {{\left( { - 3} \right)}^2}} = \sqrt {13} .\)</p>
<h4><u><strong>Ví dụ 4:</strong></u></h4>
<p>Tìm số phức z thỏa: \(\frac{{(\overline z - 1).(2 - i)}}{{\overline z + 2i}} = \frac{{3 + i}}{2}\)</p>
<h4><u><strong>Lời giải:</strong></u></h4>
<p>Điều kiện: \(\overline z \ne -2i\) hay \(z\ne 2i\)</p>
<p>Khi đó:  \(\frac{{(\overline z - 1).(2 - i)}}{{\overline z + 2i}} = \frac{{3 + i}}{2}\)\(\Leftrightarrow 2(\overline z - 1)(2 - i) = (3 + i)(\overline z + 2i)\)</p>
<p>\(\Leftrightarrow (\overline z - 1)(4 - 2i) = 3\overline z + 6i + iz + 2{i^2}\)</p>
<p>\(\Leftrightarrow (1 - 3i)\overline z = 2i + 4\)</p>
<p>\(\Leftrightarrow \overline z = \frac{{2i + 4}}{{1 - 3i}} = \frac{{(2i + 4)(1 + 3i)}}{{10}} = \frac{{ - 1}}{5} + \frac{7}{5}i\)</p>
<p>\(\Rightarrow z = \frac{{ - 1}}{5} - \frac{7}{5}i\).</p>
<h4><u><strong>Ví dụ 5:</strong></u></h4>
<p>Tính số phức sau: \(z={\left( {\frac{{1 + i}}{{1 - i}}} \right)^{16}} + {\left( {\frac{{1 - i}}{{1 + i}}} \right)^8}.\)</p>
<h4><u><strong>Lời giải:</strong></u></h4>
<p>Ta có:  \(\frac{{1 + i}}{{1 - i}} = \frac{{(1 + i)(1 + i)}}{2} = \frac{{2i}}{2} = i\)\(\Rightarrow \frac{{1 - i}}{{1 + i}} = \frac{1}{i} = - i.\)</p>
<p>Vậy: \({\left( {\frac{{1 + i}}{{1 - i}}} \right)^{16}} + {\left( {\frac{{1 - i}}{{1 + i}}} \right)^8} = {i^{16}} + {( - i)^8} = {({i^2})^8} + {\left( {{{\left( { - i} \right)}^2}} \right)^4} = 1 + 1 = 2.\)</p>
<p> </p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}