{% extends "pages/lop12/chuong4/base-lop12-chuong4.html" %}
{% block title %}Toán 12 Ôn tập chương 4 Số phức{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 12 Ôn tập chương 4 Số phức</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Tuy là một khái niệm mới nhưng <strong>số phức</strong> được xem là một trong những dạng toán dễ trong chương trình phổ thông. Các câu hỏi liên quan đến số phức luôn được xem là câu "ăn điểm". Bài ôn tập chương Số phức sẽ giúp các em tổng hợp lại hệ thống kiến thức đã được học trong các bài, bên cạnh đó là những bài tập tổng hợp có hướng dẫn giải sẽ giúp các em rèn luyện kĩ năng làm bài và nắm vững kiến thức hơn.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="21">
<h3 style="text-align:center">HỆ THỐNG HÓA KIẾN THỨC "SỐ PHỨC VÀ CÁC DẠNG TOÁN LIÊN QUAN"</h3>
</div>
<p style="text-align:center"><img alt="Hệ thống hóa số phức và các dạng toán liên quan" src="https://hoc247.net/fckeditorimg/upload/images/so-do-tu-duy-SoPhucpng_Page1.png" style="height:615px; width:939px"/></p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-12/on-tap-chuong-4-so-phuc-l6279.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-12/on-tap-chuong-4-so-phuc-l6279.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<h4><u><strong>Bài tập 1:</strong></u></h4>
<p>Tìm số phức z sao cho (1 +2i)z là số thuần ảo và \(\left | 2.z-\bar{z} \right |=\sqrt{13}\).</p>
<h4><u><strong>Lời giải:</strong></u></h4>
<p><span style="color:rgb(0, 0, 0); font-family:roboto,arial,helvetica,sans-serif">Giả sử </span>\(z=a+bi \ (a,b\in R)\).</p>
<p><span style="color:rgb(0, 0, 0); font-family:roboto,arial,helvetica,sans-serif">Khi đó \((1+2i)z=(1+2i)(a+bi)=(a-2b)+(2a+b)i.\)</span></p>
<p><span style="color:rgb(0, 0, 0); font-family:roboto,arial,helvetica,sans-serif">(1 +2i)z là số thuần ảo khi và chỉ khi: </span>\(a-2b=0\Leftrightarrow a=2b\)</p>
<p>\(\left | 2.z-\bar{z} \right |=\left | a+3bi \right |=\left | 2b+3bi \right | =\sqrt{13b^2}=\sqrt{13}\Leftrightarrow b=\pm 1.\)</p>
<p><span style="color:rgb(0, 0, 0); font-family:roboto,arial,helvetica,sans-serif">Vậy có hai số phức thỏa mãn đề bài: </span>\(z=2+i;z=-2-i.\)</p>
<h4><u><strong>Bài tập 2:</strong></u></h4>
<p>Tìm phần thực và phần ảo của số phức z thoả mãn điều kiện \(z+(2+i)\bar{z}=3+5i.\)</p>
<h4><u><strong>Lời giải:</strong></u></h4>
<p>Giả sử \(z=a+bi(a,b\in R)\)<br>
Ta có <br/>
\(z+(1+i)\bar{z}=3+5i\Leftrightarrow a+bi+(2+i)(a-bi)=3+5i\)<br/>
\(\Leftrightarrow 3a+b+(a-b)i=3+5i\)<br/>
\(\Leftrightarrow \left\{\begin{matrix} 3a+b=3\\ a-b=5 \end{matrix}\right.\Leftrightarrow \left\{\begin{matrix} a=2\\ b=-3 \end{matrix}\right.\)<br/>
Vậy z=2-3i.</br></p>
<p>Do đó phần thực của z là 2 và phần ảo của z là –3.</p>
<h4><u><strong>Bài tập 3:</strong></u></h4>
<p>Cho hai số phức \(z_1,z_2\) thỏa mãn \(\left |z_1 \right |=\left |z_2 \right |=1,\left |z_1 +z_2 \right | =\sqrt{3}\). Tính \(\left |z_1 -z_2 \right |.\)</p>
<h4><u><strong>Lời giải:</strong></u></h4>
<p>Đặt: \(z_1=a_1+b_1i;z_2=a_2+b_2i \ (a_1,a_2,b_1,b_2 \in R)\)<br/>
\(\left\{\begin{matrix} \left | z_1 \right | =\left | z_2 \right |=1\\ \left | z_1 +z_2\right |=\sqrt{3} \end{matrix}\right.\Rightarrow \left\{\begin{matrix} a^2_1+b^2_1=a^2_2+b^2_2=1\\ (a_1+b_2)^2+(b_1+b_2)^2=2 \end{matrix}\right.\)<br/>
\(\Leftrightarrow 2(a_1b_1+a_2b_2)=1\Rightarrow (a_1-a_2)^2+(b_1-b_2)^2=1\)<br/>
Vậy \(\left | z_1-z_2 \right |=1.\)</p>
<h4><u><strong>Bài tập 4:</strong></u></h4>
<p>Cho số phức z thỏa mãn điều kiện \((1+2i)z+(3+2i)\bar{z}=4+10i.\) Tìm môđun của số phức \(w=z+2\bar{z}.\)</p>
<h4><u><strong>Lời giải:</strong></u></h4>
<p>Đặt \(z=a+bi(a,b\in R)\Rightarrow \bar{z}=a-bi\)<br/>
Ta có \((1+2i)z+(3+2i)\bar{z}=4+10i\)<br/>
\(\Leftrightarrow (1+2i)(a+bi)+(3+2i)(a-bi)(a-bi)=4+10i\)<br/>
\(\Leftrightarrow 4a+(4a-2b)i=4+10i\Leftrightarrow \left\{\begin{matrix} 4a=4\\ 4a-2b=10 \end{matrix}\right.\Leftrightarrow \left\{\begin{matrix} a=1\\ b=-3 \end{matrix}\right.\)<br/>
Do đó \(z= 1- 3i.\)<br/>
Ta có: \(w=z+2\bar{z}=1-3i+2(1+3i)=3+3i.\)<br/>
Suy ra môđun của w là \(\left | w \right |=\sqrt{3^2+3^2}=3\sqrt{2}.\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}