{% extends "pages/lop12/chuong4/base-lop12-chuong4.html" %}
{% block title %}Toán 12 Ôn tập cuối năm phần Giải tích{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 12 Ôn tập cuối năm phần Giải tích</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Sau khi kết thúc tất cả bài học chương trình <strong>Giải tích 12</strong>, bài <strong>ôn tập cuối năm</strong> sẽ giúp các em có cái nhìn tổng quan về toàn bộ chương trình đã học. Từ đó sẽ có định hướng ôn tập và rèn luyện nhằm hướng đến kì thi<strong> THPT Quốc gia </strong>mà ở đó chương trình <strong>Toán 12</strong> luôn chiếm tỉ trọng cao nhất về điểm số. Hy vọng các bảng tổng kết nội dung sau sẽ phần nào giúp được các em trong quá trình ôn tập, chúc các em học tập tốt và đạt kết quả cáo trong các kì thi.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3 style="text-align:center"><a href="#11" style="background-color: rgb(255, 255, 255);">Bảng tổng kết giải tích 12</a></h3>
</div>
<p style="text-align:center"><img alt="Công thức mũ và logarit" src="https://hoc247.net/fckeditorimg/upload/images/1(46).png" style="height:508px; width:842px"/></p>
<p style="text-align:center"><img alt="Bảng đạo hàm và nguyên hàm " src="https://hoc247.net/fckeditorimg/upload/images/2(17).png" style="height:489px; width:841px"/></p>
<p style="text-align:center"><img alt="Phương pháp tìm nguyên hàm các hàm số" src="https://hoc247.net/fckeditorimg/upload/images/3(12).png" style="height:276px; width:833px"/></p>
<p style="text-align:center"><img alt="Tính phân và các tính chất" src="https://hoc247.net/fckeditorimg/upload/images/4(9).png" style="height:392px; width:837px"/></p>
<p style="text-align:center"><img alt="Ứng dụng tích phân tính diện tích và thể tích" src="https://hoc247.net/fckeditorimg/upload/images/5(7).png" style="height:533px; width:839px"/></p>
<p style="text-align:center"><img alt="Số phức và các dạng toán liên quan" src="https://hoc247.net/fckeditorimg/upload/images/6(6).png" style="height:606px; width:835px"/></p> </div>
</div>
<div class="box-1">
<div class="ads-2 box-2" id="ads-right-flexible" style="background:#fff;padding:20px 0px 30px 0px;margin-bottom:0px;margin-top:0px;">
<script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" data-ad-client="ca-pub-8066379099334713" data-ad-format="fluid" data-ad-layout="in-article" data-ad-slot="4860858211" style="display:block; text-align:center;"></ins>
<script>
	     (adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div> </div></div></div></section>
{% endverbatim %}
{% endblock %}