{% extends "pages/lop10/chuong5/base-lop10-chuong5.html" %}
{% block title %}Toán 10 Ôn tập chương 5 Thống kê{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 10 Ôn tập chương 5 Thống kê</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p><span style="text-align: justify;">Bài </span><span style="font-weight: 700; text-align: justify;">ôn tập chương 5</span><span style="text-align: justify;"> sẽ giúp các em có cái nhìn khái quát về nội dung phần <span style="font-weight: 700;">Thống kê</span></span><span style="text-align: justify;"> đã được học. Đây là những kiến thức mang tính chất hỗ trợ trong suốt </span><span style="font-weight: 700; text-align: justify;">chương trình Toán THPT</span><span style="text-align: justify;"> các khối lớp. Vì vậy yêu cầu đặt ra các em cần ghi nhớ được các khái niêm, các công thức tính toán để vận dụng sau này.</span></p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Mẫu số liệu</h3>
</div>
<p>+ Dấu hiệu là một vấn đề mà người điều tả quan tâm</p>
<p>+ Đơn vị điều tra là mỗi đối tượng điều tả</p>
<p>+ Mẫu là một tập hợp con hữu hạn các đơn vị điều tra </p>
<p>+ Kích thước mẫu là số phần tử của mẫu</p>
<p>+ Mẫu số liệu là giá trị của dấu hiệu thu được trên mẫu</p>
<p>+ Trình bày một mẫu số liệu có 2 cách chính</p>
<p>         <img alt="" src="https://hoc247.net/fckeditorimg/upload/images/22(120).PNG" style="width: 500px; height: 190px;"/></p>
<div id="12">
<h3>1.2. Các số đặc trưng của mẫu số liệu </h3>
</div>
<p><strong>Số trung bình cộng</strong> (ký hiệu \(\overline x \)): </p>
<p>\(\bar x = \frac{1}{n}({n_1}{x_1} + {n_2}{x_2} + ... + {n_k}{x_k}) = {f_1}{x_1} + {f_2}{x_2} + ... + {f_k}{x_k}\)</p>
<p>hoặc \(\bar x = \frac{1}{n}({n_1}{c_1} + {n_2}{c_2} + ... + {n_k}{c_k}) = {f_1}{c_1} + {f_2}{c_2} + ... + {f_k}{c_k}\)</p>
<p><strong>Số trung vị </strong>(ký hiệu Me): </p>
<p>Cho mẫu số liệu có kích thước n được sắp xếp theo thứ tự không giảm (hoặc không tăng)</p>
<p>+ Nếu n lẻ thì M<span style="position: relative; font-size: 9.75px; line-height: 0; vertical-align: baseline; bottom: -0.25em;">e</span> là số đứng chính giữa dãy ( số hạng thứ \(\frac{{n + 1}}{2}\)).</p>
<p>+ Nếu n chẵn thì M<span style="position: relative; font-size: 9.75px; line-height: 0; vertical-align: baseline; bottom: -0.25em;">e</span> là  trung bình cộng của 2 số đứng giữa dãy (số hạng thứ \(\frac{n}{2}\) và số hạng thứ \(\frac{n}{2} + 1\)).</p>
<p><strong>Mốt</strong> (ký hiệu M<sub>O</sub>): Giá trị có tần số lớn nhất</p>
<p><strong>Phương sai</strong> (ký hiệu s<sup>2</sup>):</p>
<p>\(\begin{array}{l}<br>
{s^2} = \frac{1}{n}\left[ {{n_1}{{\left( {{x_1} - \overline x } \right)}^2} + {n_2}{{\left( {{x_2} - \overline x } \right)}^2} + ... + {n_k}{{\left( {{x_k} - \overline x } \right)}^2}} \right]\\<br/>
 = {f_1}{\left( {{x_1} - \overline x } \right)^2} + {f_2}{\left( {{x_2} - \overline x } \right)^2} + ... + {f_k}{\left( {{x_k} - \overline x } \right)^2}<br/>
\end{array}\)</br></p>
<p>hoặc</p>
<p>\(\begin{array}{l}<br/>
{s^2} = \frac{1}{n}\left[ {{n_1}{{\left( {{c_1} - \overline x } \right)}^2} + {n_2}{{\left( {{c_2} - \overline x } \right)}^2} + ... + {n_k}{{\left( {{c_k} - \overline x } \right)}^2}} \right]\\<br/>
 = {f_1}{\left( {{c_1} - \overline x } \right)^2} + {f_2}{\left( {{c_2} - \overline x } \right)^2} + ... + {f_k}{\left( {{c_k} - \overline x } \right)^2}<br/>
\end{array}\)</p>
<p><strong>Độ lệch chuẩn</strong> (ký hiệu s): \(s = \sqrt {{s^2}} \)</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-10/on-tap-chuong-5-thong-ke-l7722.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-10/on-tap-chuong-5-thong-ke-l7722.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<p><strong>Ví dụ 1:</strong> Điều tra về số giờ tự học của 1 học sinh lớp 10 ở nhà trong 1 tuần, người ta chọn ra ngẫu nhiên 50 học sinh lớp 10 và đề nghị các em cho biết số giờ tự học ở nhà trong 1 tuần. Kết quả được nêu dưới dạng bảng phân bố tần số ghép lớp sau ( đơn vị là giờ):</p>
<div class="table-responsive"><table border="1" cellpadding="0" cellspacing="0" style="width:528px;" width="528">
<colgroup>
<col span="2"/>
</colgroup>
<tbody>
<tr height="33">
<td height="33" style="height:33px;width:264px;">
<p style="text-align: center;"><strong>Lớp</strong></p>
</td>
<td style="width:264px;">
<p style="text-align: center;"><strong>Tần số</strong></p>
</td>
</tr>
<tr height="33">
<td height="33" style="height:33px;width:264px;">
<p style="text-align: center;">[0;9]</p>
</td>
<td style="width:264px;">
<p style="text-align: center;">5</p>
</td>
</tr>
<tr height="33">
<td height="33" style="height:33px;width:264px;">
<p style="text-align: center;">[10;19]</p>
</td>
<td style="width:264px;">
<p style="text-align: center;">9</p>
</td>
</tr>
<tr height="33">
<td height="33" style="height:33px;width:264px;">
<p style="text-align: center;">[20;29]</p>
</td>
<td style="width:264px;">
<p style="text-align: center;">15</p>
</td>
</tr>
<tr height="33">
<td height="33" style="height:33px;width:264px;">
<p style="text-align: center;">[30;39]</p>
</td>
<td style="width:264px;">
<p style="text-align: center;">10</p>
</td>
</tr>
<tr height="33">
<td height="33" style="height:33px;width:264px;">
<p style="text-align: center;">[40;49]</p>
</td>
<td style="width:264px;">
<p style="text-align: center;">9</p>
</td>
</tr>
<tr height="33">
<td height="33" style="height:33px;width:264px;">
<p style="text-align: center;">[50;59]</p>
</td>
<td style="width:264px;">
<p style="text-align: center;">2</p>
</td>
</tr>
<tr height="33">
<td height="33" style="height:33px;width:264px;">
<p style="text-align: center;"> </p>
</td>
<td style="width:264px;">
<p style="text-align: center;">N = 50</p>
</td>
</tr>
</tbody>
</table></div>
<p> </p>
<p>a) Dấu hiệu là gì ? Đơn vị điều tra là gì?</p>
<p>b) Bổ xung cột tần suất để được bảng phân bố tần số – tần suất.</p>
<p>c) Vẽ biểu đồ tần số hình cột và biểu đồ tần suất hình quạt.</p>
<p>d) Tính số trung bình?</p>
<p><u><strong>Hướng dẫn:</strong></u></p>
<p>a) Dấu hiệu: Số giờ học trong 1 tuần</p>
<p>Đơn vị điều tả: Một học sinh lớp 10</p>
<p>b) Bổ sung cột tần suất, ta có bảng phân bố tần số - tần suất ghép lớp</p>
<p>Công thức tính tần suất: \({f_i} = \frac{{{n_i}}}{n}\)</p>
<div class="table-responsive"><table border="1" cellpadding="0" cellspacing="0" style="width:475px;" width="474">
<colgroup>
<col/>
<col/>
<col/>
</colgroup>
<tbody>
<tr height="42">
<td height="42" style="height:42px;width:175px;">
<p style="text-align: center;"><strong>Lớp</strong></p>
</td>
<td style="width:131px;">
<p style="text-align: center;"><strong>Tần số</strong></p>
</td>
<td style="width:168px;">
<p style="text-align: center;"><strong>Tần suất %</strong></p>
</td>
</tr>
<tr height="42">
<td height="42" style="height:42px;width:175px;">
<p style="text-align: center;">[0;9]</p>
</td>
<td style="width:131px;">
<p style="text-align: center;">5</p>
</td>
<td style="width:168px;">
<p style="text-align: center;">10</p>
</td>
</tr>
<tr height="42">
<td height="42" style="height:42px;width:175px;">
<p style="text-align: center;">[10;19]</p>
</td>
<td style="width:131px;">
<p style="text-align: center;">9</p>
</td>
<td style="width:168px;">
<p style="text-align: center;">18</p>
</td>
</tr>
<tr height="42">
<td height="42" style="height:42px;width:175px;">
<p style="text-align: center;">[20;29]</p>
</td>
<td style="width:131px;">
<p style="text-align: center;">15</p>
</td>
<td style="width:168px;">
<p style="text-align: center;">30</p>
</td>
</tr>
<tr height="42">
<td height="42" style="height:42px;width:175px;">
<p style="text-align: center;">[30;39]</p>
</td>
<td style="width:131px;">
<p style="text-align: center;">10</p>
</td>
<td style="width:168px;">
<p style="text-align: center;">20</p>
</td>
</tr>
<tr height="42">
<td height="42" style="height:42px;width:175px;">
<p style="text-align: center;">[40;49]</p>
</td>
<td style="width:131px;">
<p style="text-align: center;">9</p>
</td>
<td style="width:168px;">
<p style="text-align: center;">18</p>
</td>
</tr>
<tr height="42">
<td height="42" style="height:42px;width:175px;">
<p style="text-align: center;">[50;59]</p>
</td>
<td style="width:131px;">
<p style="text-align: center;">2</p>
</td>
<td style="width:168px;">
<p style="text-align: center;">4</p>
</td>
</tr>
<tr height="42">
<td height="42" style="height:42px;width:175px;">
<p style="text-align: center;"> </p>
</td>
<td style="width:131px;">
<p style="text-align: center;">N = 50</p>
</td>
<td style="width:168px;">
<p style="text-align: center;"> </p>
</td>
</tr>
</tbody>
</table></div>
<p> </p>
<p> c) </p>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/23(82).PNG" style="width: 300px; height: 208px;"/><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/24(64).PNG" style="width: 300px; height: 149px;"/></p>
<p>d) Số trung bình </p>
<div class="table-responsive"><table border="1" cellpadding="0" cellspacing="0" style="width:515px;" width="515">
<colgroup>
<col/>
<col/>
<col/>
</colgroup>
<tbody>
<tr height="25">
<td height="25" style="height:25px;width:175px;">
<p style="text-align: center;"><strong>Lớp</strong></p>
</td>
<td style="width:204px;">
<p style="text-align: center;"><strong>Giá trị đại diện</strong></p>
</td>
<td style="width:136px;">
<p style="text-align: center;"><strong>Tần số</strong></p>
</td>
</tr>
<tr height="25">
<td height="25" style="height:25px;width:175px;">
<p style="text-align: center;">[0;9]</p>
</td>
<td style="width:204px;">
<p style="text-align: center;">4,5</p>
</td>
<td style="width:136px;">
<p style="text-align: center;">5</p>
</td>
</tr>
<tr height="25">
<td height="25" style="height:25px;width:175px;">
<p style="text-align: center;">[10;19]</p>
</td>
<td style="width:204px;">
<p style="text-align: center;">14,5</p>
</td>
<td style="width:136px;">
<p style="text-align: center;">9</p>
</td>
</tr>
<tr height="25">
<td height="25" style="height:25px;width:175px;">
<p style="text-align: center;">[20;29]</p>
</td>
<td style="width:204px;">
<p style="text-align: center;">24,5</p>
</td>
<td style="width:136px;">
<p style="text-align: center;">15</p>
</td>
</tr>
<tr height="25">
<td height="25" style="height:25px;width:175px;">
<p style="text-align: center;">[30;39]</p>
</td>
<td style="width:204px;">
<p style="text-align: center;">34,5</p>
</td>
<td style="width:136px;">
<p style="text-align: center;">10</p>
</td>
</tr>
<tr height="25">
<td height="25" style="height:25px;width:175px;">
<p style="text-align: center;">[40;49]</p>
</td>
<td style="width:204px;">
<p style="text-align: center;">44,5</p>
</td>
<td style="width:136px;">
<p style="text-align: center;">9</p>
</td>
</tr>
<tr height="25">
<td height="25" style="height:25px;width:175px;">
<p style="text-align: center;">[50;59]</p>
</td>
<td style="width:204px;">
<p style="text-align: center;">54,5</p>
</td>
<td style="width:136px;">
<p style="text-align: center;">2</p>
</td>
</tr>
<tr height="25">
<td height="25" style="height:25px;width:175px;">
<p style="text-align: center;"> </p>
</td>
<td style="width:204px;">
<p style="text-align: center;"> </p>
</td>
<td style="width:136px;">
<p style="text-align: center;">N=50</p>
</td>
</tr>
</tbody>
</table></div>
<p> </p>
<p>\(\overline x  = \frac{1}{{50}}\left( {5.4,5 + 9.14,5 + 15.24,5 + 10.34,5 + 9.44,5 + 2.54,5} \right) = 27,5\) (giờ)</p>
<p><strong>Ví dụ 2:</strong> Để khảo sát kết quả thi môn Toán trong kỳ thi Tuyển sinh Đại học năm trước ở trường A, người ta chọn một mẫu gồm 100 học sinh tham gia kỳ thi tuyển sinh đó. Kết quả được bảng phân bố tần số sau:</p>
<div class="table-responsive"><table border="1" cellpadding="0" cellspacing="0" style="width:920px;" width="920">
<colgroup>
<col/>
<col span="6"/>
<col/>
<col/>
<col/>
<col/>
<col/>
<col/>
</colgroup>
<tbody>
<tr height="52">
<td height="52" style="height: 52px; width: 50px;">
<p style="text-align: center;"><strong>Điểm</strong></p>
</td>
<td style="width: 30px;">
<p style="text-align: center;">0</p>
</td>
<td style="width: 30px;">
<p style="text-align: center;">1</p>
</td>
<td style="width: 30px;">
<p style="text-align: center;">2</p>
</td>
<td style="width: 30px;">
<p style="text-align: center;">3</p>
</td>
<td style="width: 30px;">
<p style="text-align: center;">4</p>
</td>
<td style="width: 30px;">
<p style="text-align: center;">5</p>
</td>
<td style="width: 30px;">
<p style="text-align: center;">6</p>
</td>
<td style="width: 30px;">
<p style="text-align: center;">7</p>
</td>
<td style="width: 30px;">
<p style="text-align: center;">8</p>
</td>
<td style="width: 30px;">
<p style="text-align: center;">9</p>
</td>
<td style="width: 30px;">
<p style="text-align: center;">10</p>
</td>
<td style="width: 30px;">
<p style="text-align: center;"> </p>
</td>
</tr>
<tr height="52">
<td height="52" style="height: 52px; width: 30px;">
<p style="text-align: center;"><strong>Tần số</strong></p>
</td>
<td style="width: 30px;">
<p style="text-align: center;">1</p>
</td>
<td style="width: 30px;">
<p style="text-align: center;">1</p>
</td>
<td style="width: 30px;">
<p style="text-align: center;">3</p>
</td>
<td style="width: 30px;">
<p style="text-align: center;">5</p>
</td>
<td style="width: 30px;">
<p style="text-align: center;">8</p>
</td>
<td style="width: 30px;">
<p style="text-align: center;">13</p>
</td>
<td style="width: 30px;">
<p style="text-align: center;">19</p>
</td>
<td style="width: 30px;">
<p style="text-align: center;">24</p>
</td>
<td style="width: 30px;">
<p style="text-align: center;">13</p>
</td>
<td style="width: 30px;">
<p style="text-align: center;">11</p>
</td>
<td style="width: 30px;">
<p style="text-align: center;">2</p>
</td>
<td style="width: 30px;">
<p style="text-align: center;">N=100</p>
</td>
</tr>
</tbody>
</table></div>
<p> </p>
<p>a) Tìm mốt?</p>
<p>b) Tìm số trung bình (chính xác đến hàng phần trăm)?</p>
<p>c) Tìm số trung vị?</p>
<p>d) Tìm phương sai và độ lệch chuẩn (chính xác đến hàng phần nghìn)?</p>
<p><u><strong>Hướng dẫn:</strong></u></p>
<p>a) Mốt M<sub>O</sub>=7</p>
<p>b) Số trung bình</p>
<p>\(\overline x  = \frac{1}{{100}}\left( {1.0 + 1.1 + 3.2 + 5.3 + ... + 2.10} \right) = 6,24\) (điểm)</p>
<p>c) Số liệu đứng thứ 50 là 6, số liệu đứng thứ 51 là 7. Vậy số trung vị bằng:</p>
<p>\({M_e} = \frac{{6 + 7}}{2} = 6,5\)</p>
<p>d) Phương sai và độ lệch chuẩn</p>
<p>\({s^2} = \frac{1}{{100}}\sum\limits_{i = 1}^{100} {{n_i}{{\left( {{x_i} - \overline x } \right)}^2}}  \approx 4,002\);</p>
<p>\(s = \sqrt {{s^2}}  = \sqrt {4,002}  \approx 2,001\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}