{% extends "pages/lop10/chuong2/base-lop10-chuong2.html" %}
{% block title %}Toán 10 Ôn tập chương 2 Hàm số bậc nhất và Bậc hai{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 10 Ôn tập chương 2 Hàm số bậc nhất và Bậc hai</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Nội dung bài giảng sẽ giúp các em tổng hợp kiến thức về các <strong>hàm số</strong> đã được học gồm<strong> </strong><strong>hàm số y=ax+b</strong> và<strong> hàm số bậc hai</strong> thông qua các sơ đồ. Bên cạnh đó các em còn được ôn lại phương pháp giải toán thông qua một số bài tập có hướng dẫn giải chi tiết.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Hàm số bậc nhất</h3>
</div>
<p style="text-align:center"><img alt="Hàm số bậc nhất" src="https://hoc247.net/fckeditorimg/upload/images/Ham%20so%20bac%20nhat.jpg" style="height:479px; width:638px"/></p>
<p style="text-align:center"><img alt="Hàm số bậc nhất" src="https://hoc247.net/fckeditorimg/upload/images/2(134).PNG" style="height:376px; width:584px"/></p>
<p style="text-align:center"><em>Sơ đồ tư duy hàm số bậc nhất</em></p>
<div id="12">
<h3>1.2. Hàm số bậc hai</h3>
</div>
<p style="text-align:center"><img alt="Khảo sát sự biến thiên và vẽ đồ thị hàm số bậc hai" src="https://hoc247.net/fckeditorimg/upload/images/5(71).PNG" style="height:478px; width:721px"/></p>
<p style="text-align:center"><em>Khảo sát sự biến thiên và vẽ đồ thị hàm số bậc hai</em></p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-10/on-tap-chuong-2-ham-so-bac-nhat-va-bac-hai-l6461.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-10/on-tap-chuong-2-ham-so-bac-nhat-va-bac-hai-l6461.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<h4><u>Ví dụ 1:</u></h4>
<p>Cho các hàm số : \(y =  - 2x + 3,\,\,y = x + 2,\,\,y = \frac{3}{2}\).</p>
<p>a) Vẽ đồ thị các hàm số trên.</p>
<p>b) Dựa vào đồ thị hãy xác định giao điểm của các đồ thị hàm số đó.</p>
<h4><u>Hướng dẫn:</u></h4>
<p>a) Đồ thị hàm số \(y =  - 2x + 3\) đi qua \(A\left( {0;3} \right),\,\,B\left( {\frac{3}{2};0} \right)\)</p>
<p>Đồ thị hàm số \(y = x + 2\) đi qua \(A'\left( {0;2} \right),\,\,B'\left( { - 2;0} \right)\)</p>
<p>Đồ thị hàm số \(y = \frac{3}{2}\) đi qua \(M\left( {0;\frac{3}{2}} \right)\) và song song với trục hoành.</p>
<p style="text-align:center"><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/1(304).png" style="height:250px; width:250px"/></p>
<p>b) Giao điểm của hai đồ thị hàm số \(y =  - 2x + 3,\,\,y = x + 2\) là \({M_1}\left( {\frac{1}{3};\frac{7}{3}} \right)\).</p>
<p>Giao điểm của hai đồ thị hàm số \(y =  - 2x + 3,\,\,y = \frac{3}{2}\) là \({M_2}\left( {\frac{3}{4};\frac{3}{2}} \right)\).</p>
<p>Giao điểm của hai đồ thị hàm số \(\,y = x + 2,\,\,y = \frac{3}{2}\) là \({M_2}\left( { - \frac{1}{2};\frac{3}{2}} \right)\).</p>
<p> </p>
<h4><u>Ví dụ 2:</u></h4>
<p>Vẽ đồ thị hàm số \(y = 2x - 3.\) Từ đó suy ra đồ thị của:</p>
<p>\(\left( {{C_1}} \right):y = 2\left| x \right| - 3,\)             \(\left( {{C_2}} \right):y = \left| {2x - 3} \right|,\)       \(\left( {{C_3}} \right):y = \left| {2\left| x \right| - 3} \right|\)                                 </p>
<h4><u>Hướng dẫn:</u></h4>
<p>Đồ thị hàm số \(y = 2x - 3\) đi qua \(A\left( {0; - 3} \right),\,\,B\left( {2;1} \right)\) ta gọi là \(\left( C \right)\)</p>
<p>\(\bullet \) Khi đó đồ thị hàm số \(\left( {{C_1}} \right):y = 2\left| x \right| - 3\) là phần được xác định như sau</p>
<p>Ta giữ nguyên đồ thị \(\left( C \right)\) ở bên phải trục tung; lấy đối xứng đồ thị \(\left( C \right)\) ở phần bên phải trục tung qua trục tung.</p>
<p>\(\bullet \) \(\left( {{C_2}} \right):y = \left| {2x - 3} \right|\) là phần đồ thị \(\left( C \right)\) nằm phái trên trục hoành và đồ thị lấy đối xứng qua trục hoành của phần nằm trên trục hoành của \(\left( C \right)\).</p>
<p>\(\bullet \) \(\left( {{C_3}} \right):y = \left| {2\left| x \right| - 3} \right|\) là phần đồ thị \(\left( {{C_1}} \right)\) nằm phái trên trục hoành và đồ thị lấy đối xứng qua trục hoành của phần nằm trên trục hoành của \(\left( {{C_1}} \right)\).</p>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/2(135).PNG" style="height:176px; width:572px"/></p>
<p> </p>
<h4><u>Ví dụ 3:</u></h4>
<p>Xác định phương trình của Parabol (P): \(y = {x^2} + bx + c\) trong các trường hợp sau:</p>
<p>a) (P) đi qua điểm \(A\left( {1;{\rm{ }}0} \right)\) và \(B\left( { - 2; - 6} \right)\).</p>
<p>b) (P) có đỉnh \(I\left( {1;{\rm{ }}4} \right)\).</p>
<p>c) (P) cắt trục tung tại điểm có tung độ bằng 3 và có đỉnh \(S\left( { - 2; - 1} \right)\).</p>
<p><u>Hướng dẫn:</u></p>
<p>a) Vì (P) đi qua A, B nên \(\left\{ \begin{array}{l}0 = 1 + b + c\\ - 6 = 4 - 2b + c\end{array} \right. \Leftrightarrow \left\{ \begin{array}{l}b + c =  - 1\\2b - c = 10\end{array} \right. \Leftrightarrow \left\{ \begin{array}{l}b = 3\\c =  - 4\end{array} \right.\).</p>
<p>Vậy (P):\(y = {x^2} + 3x--4\) .</p>
<p>b) Vì (P) có đỉnh \(I\left( {1;{\rm{ }}4} \right)\) nên\(\left\{ \begin{array}{l}\frac{{ - b}}{2} = 1\\ - \frac{{{b^2} - 4c}}{4} = 4\end{array} \right. \Leftrightarrow \left\{ \begin{array}{l}b =  - 2\\c = 5\end{array} \right.\).</p>
<p>Vậy (P):\(y = {\rm{ }}{x^2}--2x + 5\) .</p>
<p>c) (P) cắt Oy tại điểm có tung độ bằng 3 suy ra \(c = 3\)</p>
<p>(P) có đỉnh \(S\left( { - 2; - 1} \right)\)suy ra: \(\left\{ \begin{array}{l} - \frac{b}{{2a}} =  - 2\\ - 1 = 4a - 2b + 3\end{array} \right. \Leftrightarrow \left\{ \begin{array}{l}b = 4\\a = 1\end{array} \right.\)</p>
<h4> </h4>
<h4><u>Ví dụ 4:</u></h4>
<p>Cho hàm số \(y = {x^2} - 6x + 8\)</p>
<p>a) Lập bảng biến thiên và vẽ đồ thị các hàm số trên.</p>
<p>b) Sử dụng đồ thị để biện luận theo tham số \(m\) số điểm chung của đường thẳng \(y = m\) và đồ thị hàm số trên.</p>
<p>c) Sử dụng đồ thị, hãy nêu các khoảng trên đó hàm số chỉ nhận giá trị dương.</p>
<p>d) Sử dụng đồ thị, hãy tìm giá trị lớn nhất, nhỏ nhất của hàm số đã cho trên \(\left[ { - 1;5} \right]\).</p>
<h4><u>Hướng dẫn:</u></h4>
<p>a) Ta có \( - \frac{b}{{2a}} = 3,\,\, - \frac{\Delta }{{4a}} =  - 1\)</p>
<p>Bảng biến thiên:</p>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/7(36).PNG" style="height:125px; width:283px"/></p>
<p>Suy ra đồ thị hàm số \(y = {x^2} + 3x + 2\) có đỉnh là \(I\left( {3; - 1} \right)\), đi qua các điểm \(A\left( {2;0} \right),\,\,B\left( {4;0} \right)\)</p>
<p>Nhận đường thẳng x = 3\) làm trục đối xứng và hướng bề lõm lên trên.</p>
<p><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/6(128).png" style="height:261px; width:250px"/></p>
<p>b) Đường thẳng \(y = m\) song song hoặc trùng với trục hoành do đó dựa vào đồ thị ta có</p>
<p>Với \(m &lt;  - 1\) đường thẳng \(y = m\) và parabol \(y = {x^2} - 6x + 8\) không cắt nhau</p>
<p>Với \(m =  - 1\) đường thẳng \(y = m\) và parabol \(y = {x^2} - 6x + 8\) cắt nhau tại một điểm(tiếp xúc)</p>
<p>Với \(m &gt;  - 1\) đường thẳng \(y = m\) và parabol \(y = {x^2} - 6x + 8\) cắt nhau tại hai điểm phân biệt</p>
<p>c) Hàm số nhận giá trị dương ứng với phần đồ thị nằm hoàn toàn trên trục hoành</p>
<p>Do đó hàm số chỉ nhận giá trị dương khi và chỉ khi \(x \in \left( { - \infty ;2} \right) \cup \left( {4; + \infty } \right)\).</p>
<p>d) Ta có \(y\left( { - 1} \right) = 15,\,\,y\left( 5 \right) = 13,\,\,y\left( 3 \right) =  - 1\), kết hợp với đồ thị hàm số suy ra</p>
<p>\(\mathop {\max }\limits_{\left[ { - 1;5} \right]} y = 15\)  khi và chỉ khi\(x =  - 1\)</p>
<p>\(\mathop {\min }\limits_{\left[ { - 1;5} \right]} y =  - 1\) khi và chỉ khi \(x = 3\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}