{% extends "pages/lop10/chuong2/base-lop10-chuong2.html" %}
{% block title %}Toán 10 Bài 2: Hàm số y = ax + b{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 10 Bài 2: Hàm số y = ax + b</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Trong bài học này, các sẽ được tìm hiểu về khái niệm <strong>hàm số </strong>cụ thể là <strong>hàm số y=ax+b</strong> và dạng<strong> đồ thị</strong> của nó và các ví dụ minh họa sẽ giúp các em dễ dàng nắm được nội dung bài học.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<h3>1.1. Nhắc lại về hàm số bậc nhất</h3>
<ul>
<li>Hàm số bậc nhất là hàm số được cho bằng biểu thức có dạng <strong><span class="math-tex">\(y = {\rm{ax + b}}\)</span></strong> với a, b là những hằng số và <span class="math-tex">\({\rm{a}} \ne {\rm{0}}\)</span>.</li>
<li>Hàm số bậc nhất có tập xác định là R.</li>
<li>Khi <span class="math-tex">\({\rm{a &gt; 0}}\)</span> hàm số bậc nhất <span class="math-tex">\(y = {\rm{ax + b}}\)</span> đồng biến trên R.</li>
<li>Khi <span class="math-tex">\({\rm{a &lt; 0}}\)</span> hàm số bậc nhất <span class="math-tex">\(y = {\rm{ax + b}}\)</span> nghịch biến trên R.</li>
<li>Đồ thị hàm số <span class="math-tex">\(y = {\rm{ax + b}}\)</span> (<span class="math-tex">\({\rm{a}} \ne {\rm{0}}\)</span>) là một đường thẳng gọi là đường thẳng <span class="math-tex">\(y = {\rm{ax + b}}\)</span>. Nó có hệ số góc là a và có các đặc điểm sau:
	<ul>
<li>Không song song và không trùng với các trục tọa độ;</li>
<li>Cắt trục tung tại điểm B(0;b) và cắt trục hoành tại điểm <span class="math-tex">\(A(\frac{{ - b}}{a};0)\)</span></li>
</ul>
</li>
<li>Cho hai đường thẳng <span class="math-tex">\(y = a{\rm{x}} + b\)</span> và hàm số <span class="math-tex">\(y= a'x + b'\)</span></li>
<li>Khi a=a' và <span class="math-tex">\(b \ne b'\)</span> thì d và d' song song với nhau.</li>
<li>Khi a=a' và b=b' thì d và d' trùng nhsu.</li>
<li>Khi <span class="math-tex">\(a \ne a'\)</span> thì d và d' cắt nhau.</li>
</ul>
<div id="12">
<h3>1.2. Hàm số y = |ax + b|</h3>
</div>
<h4>a) Hàm số bậc nhất trên từng khoảng</h4>
<ul>
<li>Hàm số bậc nhất trên từng khoảng là sự " lắp ghép" của nhiều hàm số bậc nhất khác nhau.</li>
</ul>
<h4>Ví dụ:</h4>
<p>Vẽ đồ thị của hàm số  <span class="math-tex">\(y = \left\{ {\begin{array}{*{20}{c}} {\frac{{ - 2}}{3}x + 5\,\,\,\,\,\,khi\,\,\,\,0 \le x \le 3}\\ {x\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,khi\,\,\,\,\,3 \le x \le 6}\\ { - 2x + 18\,\,\,\,\,khi\,\,\,\,6 \le x \le 8} \end{array}} \right.\)</span></p>
<h4><u>Hướng dẫn:</u></h4>
<p>Để vẽ đồ thị hàm số này, ta vẽ đồ thị của từng hàm số tạo thành chẳng hạn:</p>
<p>AB là phần đồ thị của <span class="math-tex">\(y = \frac{{ - 2}}{3}x + 5\)</span> ứng với <span class="math-tex">\({0 \le x \le 3}\)</span> .</p>
<p>BC là phần đồ thị của <span class="math-tex">\(y = x\)</span> ứng với <span class="math-tex">\({3 \le x \le 6}\)</span> .</p>
<p>CD là phần đồ thị của <span class="math-tex">\(y = - 2x + 18\)</span> ứng với <span class="math-tex">\({6 \le x \le 8}\)</span> .  </p>
<p>Ghép các phần trên lại ta được đồ thị của hàm số đã cho như hình vẽ:</p>
<p style="text-align:center"><img alt="" src="https://hoc247.net/fckeditorimg/upload/images/%C4%91%E1%BB%93%20th%E1%BB%8B%20vsk.png" style="height:342px; width:350px"/></p>
<h4>b) Hàm số dạng <u><span class="math-tex">\(y = \left| {ax + b} \right|\)</span></u></h4>
<p>Hàm số dạng <span class="math-tex">\(y = \left| {ax + b} \right|\)</span> thực chất cũng là một dạng hàm số bậc thất trên từng khoảng.</p>
<p>Chẳng hạn như khi xét hàm số <span class="math-tex">\(y = \left| {3x - 9} \right|\)</span> thì theo định nghĩa trị tuyệt đối thì ta có:</p>
<ul>
<li>Nếu <span class="math-tex">\(3x - 9 \ge 0\)</span> tức là <span class="math-tex">\(x \ge 3\)</span> ,thì <span class="math-tex">\(\left| {3x - 9} \right| = 3x - 9\)</span> </li>
<li>Nếu <span class="math-tex">\(3x - 9 &lt; 0\)</span> tức là <span class="math-tex">\(x &lt; 3\)</span> ,thì <span class="math-tex">\(\left| {3x - 9} \right| = 9 - 3x\)</span></li>
</ul>
<p>Do đó hàm số <span class="math-tex">\(y = \left| {3x - 9} \right|\)</span> có thể viết là <span class="math-tex">\(y = \left\{ {\begin{array}{*{20}{c}} {3x - 9\,\,\,\,\,\,khi\,\,\,x \ge 3}\\ {9 - 3x\,\,\,\,\,\,khi\,\,\,x &lt; 3} \end{array}} \right.\)</span> </p>
<p><strong>Chú ý:</strong></p>
<p>Một cách khá đơn giản để vẽ đồ thị của hàm số <em><span class="math-tex">\(y = \left| {ax + b} \right|\)</span></em> là ta có thể vẽ  các đường thẳng ax+b và -ax-b rồi xóa đi phần nằm dưới trục hoành. </p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-10/bai-2-ham-so-y-ax-b-l738.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-10/bai-2-ham-so-y-ax-b-l738.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<h4><u>Bài 1:</u><strong> </strong></h4>
<p>Tính a và b để đồ thị hàm số y=ax+b đi qua 2 điểm A(0;2) và B(1;3).</p>
<h4><u>Hướng dẫn:</u></h4>
<p>Thay tọa độ điểm A(0;2) vào hàm số y=ax+b ta được:</p>
<p>2 = a.0 + b ⇒ b = 2</p>
<p>Thay tọa độ điểm B(1;3) vào hàm số y=ax+b với b=2 ta được:</p>
<p>3 = a.1 + 2 ⇒ a = 1</p>
<p>vậy ta được a=1 và b=2</p>
<h4> </h4>
<h4><u>Bài 2:</u><strong> </strong></h4>
<p>Tính a và b để đồ thị hàm số y=ax+b đi qua điểm M(-1;3) và song song với đường thẳng y=-2x+5.</p>
<h4><u>Hướng dẫn:</u></h4>
<p>Vì đồ thị hàm số y=ax+b song song với đường thẳng y=-2x+5 ⇒ a=-2</p>
<p>Thay tọa độ điểm M(-1;3) vào hàm số y=ax+b với a=-2 ta được:</p>
<p>3 = (-1)(-2)+b ⇒ b=1</p>
<p>Vậy ta được a=-2 và b=1.</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}