{% extends "pages/lop11/chuong5/base-lop11-chuong5.html" %}
{% block title %}Toán 11 Bài 2: Quy tắc tính đạo hàm{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 11 Bài 2: Quy tắc tính đạo hàm</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Ở bài 1, các em đã được tìm hiều về <strong>khái niệm đạo hàm</strong> và phương pháp<strong> tính đạo hàm</strong> <strong>bằng định nghĩa</strong>. Khuyết điểm của phương pháp này là rất khó áp dụng với các hàm số phức tạp, và phải trải qua nhiều công đoạn tính toán. Bài 2 <strong>Quy tắc tính đạo hàm </strong>sẽ giới thiệu đến các em <strong>công thức tính đạo hàm</strong> của các hàm số thường gặp và <strong>hàm hợp</strong> của chúng, các <strong>quy tắc</strong> tính <strong>đạo hàm</strong> của <strong>tổng</strong>, <strong>hiệu</strong>, <strong>tích</strong>, <strong>thương</strong>. Bên cạnh đó là những ví dụ minh họa có hướng dẫn giải chi tiết sẽ giúp các em hình thành và rèn luyện kĩ năng tính đạo hàm.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Đạo hàm của một số hàm số thường gặp</h3>
</div>
<p><strong>Định lý 1:</strong> Hàm số \(y = {x^n}(n \in \mathbb{N},n &gt; 1\)) có đạo hàm với mọi \(x \in\mathbb{R}\) và: \({\left( {{x^n}} \right)'} = n{x^{n - 1}}.\)</p>
<p>Nhận xét: </p>
<ul>
<li>(c)'=0 (với c là hằng số).</li>
<li>(x)'=1.</li>
</ul>
<p><strong>Định lý 2: </strong>Hàm số \(y= \sqrt x\) có đạo hàm với mọi x dương và: \(\left( {\sqrt x } \right)' = \frac{1}{{2\sqrt x }}.\)</p>
<div id="12">
<h3>1.2. Đạo hàm của tổng, hiệu, tích, thương</h3>
</div>
<p><strong>Định lý 3: </strong>Giả sử \(u = u\left( x \right)\) và \(v = v\left( x \right)\) là các hàm số có đạo hàm tại điểm x thuộc khoảng xác định. Ta có:</p>
<ul>
<li>\({\left( {u + v} \right)'} = {u'} + {v'}\)</li>
<li>\({\left( {u - v} \right)'} = {u'} - {v'}\)</li>
<li>\({\left( {u.v} \right)'} = {u'}.v + u.{v'}\)</li>
<li>\(\left ( \frac{u}{v} \right )'=\frac{u'v-uv'}{v^2},(v(x) \ne 0)\)</li>
</ul>
<p><strong>Mở rộng:</strong></p>
<ul>
<li>\(({u_1} + {u_2} + ... + {u_n})' = {u_1}' + {u_2}' + ... + {u_n}'.\)</li>
</ul>
<p><strong>Hệ quả 1:</strong> Nếu k là một hằng số thì: \((ku)'=ku'.\)</p>
<p><strong>Hệ quả 2:</strong> \({\left( {\frac{1}{v}} \right)'} = - \frac{{ - v'}}{{{v^2}}}\) , \((v(x)\ne 0)\)</p>
<p> </p>
<ul>
<li>\((u.v.{\rm{w}})' = u'.v.{\rm{w}} + u.v'.{\rm{w}} + u.v.{\rm{w}}'\)</li>
</ul>
<div id="13">
<h3>1.3. Đạo hàm với hàm hợp</h3>
</div>
<p><strong>Định lý:</strong> Cho hàm số \(y=f(u)\) với \(u=u(x)\) thì ta có: \(y'_u=y'_u.u'_x.\)</p>
<p><strong>Hệ quả:</strong></p>
<ul>
<li>\(({u^n}) = n.{u^{n - 1}}.u',n \in \mathbb{N}^*.\)</li>
<li>\(\left( {\sqrt u } \right)' = \frac{{u'}}{{2\sqrt u }}.\)</li>
</ul> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-11/bai-2-quy-tac-tinh-dao-ham-l781.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-11/bai-2-quy-tac-tinh-dao-ham-l781.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<h4><u>Ví dụ 1:</u> </h4>
<p>a) Cho hàm số f(x)=x<sup>6</sup>. Tính f'(x) và f'(1).</p>
<p>b) Tính đạo hàm của hàm số \(y=\sqrt x\) tại x=9.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a) Ta có: \(f'(x) = 6{x^5},\forall x \in \mathbb{R}\)</p>
<p>Vậy: \(f'(1) = 6.\)</p>
<p>b) Ta có: \(f'(x) = \frac{1}{{2\sqrt x }}\)</p>
<p>Tại x=9 ta có: \(f'(9) = \frac{1}{{2\sqrt 9 }} = \frac{1}{6}.\)</p>
<h4><u>Ví dụ 2:</u> </h4>
<p>Tính đạo hàm của các hàm số sau:</p>
<p>a) \(y = \frac{1}{3}{x^3} - 2{x^2} + 3x.\)</p>
<p>b) \(y=(x^2+1)(3-2x^2).\)</p>
<p>c) \(y=(x^2+3)^5.\)</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a) \(y' = \left( {\frac{1}{3}{x^3} - 2{x^2} + 3x} \right)' = {x^2} - 4x + 3.\)</p>
<p>b) \(y' = \left[ {({x^2} + 1)(3 - 2{x^2})} \right]' = ({x^2} + 1)'(3 - 2{x^2}) + ({x^2} + 1)(3 - 2{x^2})'\)</p>
<p>\(= 2x(3 - 2{x^2}) - 4x({x^2} + 1) = - 8{x^3} + 2x.\)</p>
<p>c) \(y' = \left[ {{{({x^2} + 3)}^5}} \right]' = 5{({x^2} + 3)^4}({x^2} + 3)' = 10x{({x^2} + 3)^4}.\)</p>
<h4><u>Ví dụ 3:</u> </h4>
<p>Tính đạo hàm của các hàm số sau:</p>
<p>a) \(y = \frac{1}{4}x + \frac{1}{x}.\)</p>
<p>b) \(y = \frac{{2x + 1}}{{x + 1}}.\)</p>
<p>c) \(y = \frac{{ - {x^2} + 2x + 3}}{{{x^3} - 2}}.\)</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a) \(y' = \left( {\frac{1}{4}x + \frac{1}{x}} \right)' = \left( {\frac{1}{4}x} \right)' + \left( {\frac{1}{x}} \right)' = \frac{1}{4} - \frac{1}{{{x^2}}} = \frac{{{x^2} - 4}}{{4{x^2}}}.\)</p>
<p>b) \(y' = \left( {\frac{{2x + 1}}{{x + 1}}} \right)' = \frac{{(2x + 1)'(x + 1) - (2x + 1)(x + 1)'}}{{{{(x + 1)}^2}}} = \frac{1}{{{{(x + 1)}^2}}}.\)</p>
<p>c) \(y' = \left( {\frac{{ - {x^2} + 2x + 3}}{{{x^3} - 2}}} \right)' = \frac{{( - {x^2} + 2x + 3)'({x^3} - 2) - ( - {x^2} + 2x + 3)({x^3} - 2)'}}{{{{({x^3} - 2)}^2}}}\)</p>
<p>\(= \frac{{\left( { - 2x + 2} \right)({x^3} - 2) - 3{x^2}( - {x^2} + 2x + 3)}}{{{{({x^3} - 2)}^2}}} = \frac{{{x^4} - 4{x^3} - 9{x^2} + 4x - 4}}{{{{({x^3} - 2)}^2}}}.\)</p>
<h4><u>Ví dụ 4:</u> </h4>
<p>Tính đạo hàm của các hàm số sau: </p>
<p>a) \(y = \frac{2}{x} + 5\sqrt x .\)</p>
<p>b) \(y = (x - 2)\sqrt {{x^2} + 1}\)</p>
<p>c) \(y = \frac{x}{{\sqrt {{a^2} - {x^2}} }}\) với a là hằng số.</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a) \(y' = \left( {\frac{2}{x} + 5\sqrt x } \right)' = \left( {\frac{2}{x}} \right)' + \left( {5\sqrt x } \right)' = - \frac{2}{{{x^2}}} + \frac{5}{{2\sqrt x }} = \frac{{5x\sqrt x - 4}}{{2{x^2}}}.\)</p>
<p>b) \(y = \left[ {(x - 2)\sqrt {{x^2} + 1} } \right]' = (x - 2)'\sqrt {{x^2} + 1} + (x - 2)\left( {\sqrt {{x^2} + 1} } \right)'\)</p>
<p>\(= \sqrt {{x^2} + 1} + \left( {x - 2} \right)\frac{{\left( {{x^2} + 1} \right)'}}{{2\sqrt {{x^2} + 1} }} = \sqrt {{x^2} + 1} + \frac{{x(x - 2)}}{{\sqrt {{x^2} + 1} }} = \frac{{2{x^2} - 2x + 1}}{{\sqrt {{x^2} + 1} }}.\)</p>
<p>c) \(y' = \left( {\frac{x}{{\sqrt {{a^2} - {x^2}} }}} \right)' = \frac{{\left( x \right)'\sqrt {{a^2} - {x^2}} - x\left( {\sqrt {{a^2} - {x^2}} } \right)'}}{{{{\left( {\sqrt {{a^2} - {x^2}} } \right)}^2}}}\)</p>
<p>\(= \frac{{\sqrt {{a^2} - {x^2}} - x.\frac{{\left( {{a^2} - {x^2}} \right)'}}{{2\sqrt {{a^2} - {x^2}} }}}}{{{{\left( {\sqrt {{a^2} - {x^2}} } \right)}^2}}} = \frac{{\sqrt {{a^2} - {x^2}} + \frac{{{x^2}}}{{\sqrt {{a^2} - {x^2}} }}}}{{{{\left( {\sqrt {{a^2} - {x^2}} } \right)}^2}}}\)</p>
<p>\(= \frac{{{a^2}}}{{\left( {{a^2} - {x^2}} \right)\sqrt {{a^2} - {x^2}} }}.\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}