{% extends "pages/lop11/chuong5/base-lop11-chuong5.html" %}
{% block title %}Toán 11 Bài 5: Đạo hàm cấp hai{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 11 Bài 5: Đạo hàm cấp hai</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Nội dung bài học giới thiệu đến các em khái niệm <strong>đạo hàm cấp hai</strong> của hàm số và mở rộng ra khái niệm <strong>đạo hàm cấp cao</strong>. Bên cạnh đó còn có những ví dụ minh họa có lời giải chi tiết sẽ giúp các em nắm được phương pháp tính đạo hàm cấp hai của hàm số.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Định nghĩa đạo hàm cấp hai</h3>
</div>
<h4>a) Đạo hàm cấp hai</h4>
<p>Hàm số \(y=f(x)\) có đạo hàm tại \(x \in (a;b).\)</p>
<p>Khi đó \(y'=f'(x)\) xác định một hàm sô trên (a;b).</p>
<p>Nếu hàm số \(y'=f'(x)\) có đạo hàm tại x thì ta gọi đạo hàm của y' là đạo hàm cấp hai của hàm số \(y=f(x)\) tại x.</p>
<p><strong>Kí hiệu:</strong> \(y''\) hoặc \(f''(x).\)</p>
<h4>b) Đạo hàm cấp n</h4>
<p>Cho hàm số \(y=f(x)\) có đạo hàm cấp \(n-1,\) kí hiệu \(f^{\left ( n-1 \right )}(x)(n \in \mathbb{N}, n\geq 4)\) và nếu \(f^{\left ( n-1 \right )}(x)\) có đạo hàm thì đạo hàm của nó được gọi là đạo hàm câp n của \(y=f(x),\) kí hiệu \(y^{(n)}\) hoặc \(f^{(n)}(x).\)</p>
<p style="text-align:center">\({f^{(n)}}(x) = {\rm{[}}{f^{(n - 1)}}(x){\rm{]}}'\)</p>
<div id="12">
<h3>1.2. Ý nghĩa cơ học</h3>
</div>
<p>Đạo hàm cấp hai \(f''(t)\) là gia tốc tức thời của chuyển động \(S=f(t)\) tại thời điểm t.</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div data="INPAGE_MB YOMEDIA/intVisit=1"> </div><script type="text/javascript">
	/* load placement: hoc247.net-mobile-inpage, for account: tailieu, site: hoc247.net, size: 2x2 - mobile */
	var _avlVar = _avlVar || [];
	_avlVar.push(["8701f44d62d54250b122748815c71b40","https://hoc247.net/toan-11/bai-5-dao-ham-cap-hai-l784.html","[width]","[height]"]);
</script>
<script id="s-8701f44d62d54250b122748815c71b40" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div data="INVIEW_MB YOMEDIA"> </div> <script type="text/javascript">
	/* load placement: hoc247.net-inread, for account: tailieu, site: hoc247.net, size: 2x2 - video */
	var _avlVar = _avlVar || [];
	_avlVar.push(["15c47dbd541741bd976281bcda70b78c","https://hoc247.net/toan-11/bai-5-dao-ham-cap-hai-l784.html","[width]","[height]"]);
</script>
<script id="s-15c47dbd541741bd976281bcda70b78c" src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3" type="text/javascript"></script>
<div class="box-content content-fck">
<h4><u>Ví dụ:</u></h4>
<p>Tính đạo hàm cấp hai của các hàm số sau: </p>
<p>a) \(f(x) = {(2x - 3)^5}.\)</p>
<p>b) \(f(x) = \frac{{{x^2} + x + 1}}{{x + 1}}\).</p>
<p>c) \(f(x) = x\sqrt {1 + {x^2}} .\)</p>
<h4><u>Hướng dẫn giải:</u></h4>
<p>a) Ta có: </p>
<p>\(f'(x) =\left [ \left ( 2x-3 \right )^5 \right ]'= 5.(2x - 3)'{(2x - 3)^4} = 10{(2x - 3)^4}.\)</p>
<p>\(f''(x) = \left[ {10{{\left( {2x - 3} \right)}^4}} \right]' = 10.4.(2x - 3)'(2x - 3) = 80{(2x - 3)^3}.\)</p>
<p>b) Ta có: </p>
<p>\(f(x) = \frac{{{x^2} + x + 1}}{{x + 1}} = x + \frac{1}{x}\)</p>
<p>\(f'(x) = \left( {x + \frac{1}{x}} \right)' = 1 - \frac{1}{{{{(x + 1)}^2}}}.\)</p>
<p>\(f''(x) = \left[ {1 - \frac{1}{{{{(x + 1)}^2}}}} \right]' = \frac{2}{{{{(x + 1)}^3}}}.\)</p>
<p>c) Ta có: \(f'(x) = \left( {x\sqrt {1 + {x^2}} } \right)' = \sqrt {1 + {x^2}} + \frac{{{x^2}}}{{\sqrt {1 + {x^2}} }} = \frac{{2{x^2} + 1}}{{\sqrt {1 + {x^2}} }}.\)</p>
<p>\(\begin{array}{l} f''(x) = \left[ {\frac{{2{x^2} + 1}}{{\sqrt {1 + {x^2}} }}} \right]' = \frac{{(2{x^2} + 1)'\sqrt {1 + {x^2}} - \left( {2{x^2} + 1} \right)\left( {\sqrt {1 + {x^2}} } \right)'}}{{{{\left( {\sqrt {1 + {x^2}} } \right)}^2}}}\\ = \frac{{4x\sqrt {1 + {x^2}} - \left( {2{x^2} + 1} \right)\frac{x}{{\sqrt {1 + {x^2}} }}}}{{{{\left( {\sqrt {1 + {x^2}} } \right)}^2}}} = \frac{{4x({x^2} + 1) - x(2{x^2} + 1)}}{{(1 + {x^2})\sqrt {1 + {x^2}} }}\\ = \frac{{2{x^3} + 3x}}{{(1 + {x^2})\sqrt {1 + {x^2}} }}. \end{array}\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}