body {
    margin-top: 30px;
    background-color: #eee;
  }
  
  .faq-nav {
    flex-direction: column;
    margin: 0 0 32px;
    border-radius: 2px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
  }
  .faq-nav .nav-link {
    position: relative;
    display: block;
    margin: 0;
    padding: 13px 16px;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #616161;
    transition: background-color 0.2s ease;
  }
  .faq-nav .nav-link:hover {
    background-color: #f6f6f6;
  }
  .faq-nav .nav-link.active {
    background-color: #f6f6f6;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.87);
  }
  .faq-nav .nav-link:last-of-type {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom: 0;
  }
  .faq-nav .nav-link i.mdi {
    margin-right: 5px;
    font-size: 18px;
    position: relative;
  }
  
  .tab-content {
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
    border-radius: 10px;
  }
  .tab-content .card {
    border-radius: 5px !important;
  }
  .tab-content .card-header {
    padding: 15px 16px;
    border-radius: 0;
    background-color: #f6f6f6;
  }
  .tab-content .card-header h5 {
    margin: 0;
  }
  .tab-content .card-header h5 button {
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    white-space: normal;
  }
  .tab-content .card-header h5 button:hover, .tab-content .card-header h5 button:focus, .tab-content .card-header h5 button:active, .tab-content .card-header h5 button:hover:active {
    text-decoration: none;
  }
  .tab-content .card-body p {
    color: #616161;
  }
  .tab-content .card-body p:last-of-type {
    margin: 0;
  }
  
  .accordion > .card:not(:first-child) {
    border-top: 0;
  }
  
  .collapse.show .card-body {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  .logo{
    position: absolute;
    width: 150px;
    border-radius: 50%;
    left: 45px;
    top: 45px;
    border: 1px solid #0000006e;
  }

  .can{
    width: 13%;
  }
  .sub-image{
    display: none;
  }
  .show-active{
    display: flex;
    flex-flow: column;
  } 
  .loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 59px;
    height: 59px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .show-more{
    color: #2b58ff !important;
    cursor: pointer;
  }
  .show-more:hover{
    text-decoration: underline !important;
  }
    