{% extends "pages/lop9/chuong1/base-lop9-chuong1.html" %}
{% block title %}Toán 9 Bài 1: Căn bậc hai{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 9 Bài 1: Căn bậc hai</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Kiến thức <strong>Căn bậc hai </strong> là kiến thức nền tảng của chương trình đại số lớp 9, cung cấp cho các em cách để <strong>khai căn</strong> một số thực dương, từ đó có thể áp dụng giải nhiều dạng toán quan trọng. Các em sẽ được học <strong>phương pháp lấy căn</strong>, <strong>so sánh hai số có chứa căn</strong>...</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Căn bậc hai số học</h3>
</div>
<p>Căn bậc hai của số a không âm là số x sao cho \(x^2=a\)</p>
<p>Với số dương a, số \(\sqrt{a}\) được gọi là căn bậc hai số học của a</p>
<p>Số 0 cũng được gọi là căn bậc hai số học của 0</p>
<div id="12">
<h3>1.2. So sánh hai căn bậc hai số học</h3>
</div>
<p>Định lý: Với hai số a và b không âm, ta có: \(a &lt; b \Leftrightarrow \sqrt a  &lt; \sqrt b \)</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<div id="21">
<h3>2.1. Bài tập cơ bản</h3>
</div>
<p><strong>Bài 1: </strong>Tìm căn bậc hai số học của các số sau đây:<br>
121; 144; 361; 400</br></p>
<p><strong>Hướng dẫn:</strong> \(\sqrt{121}=11\) vì \(11&gt; 0\) và \(11^2=121\)<br/>
Tương tự, ta có: \(\sqrt{144}=12; \sqrt{361}=19; \sqrt{400}=20\)</p>
<p><strong>Bài 2: </strong>So sánh: <br/>
2 và \(\sqrt{3}\); 7 và \(\sqrt{51}\)</p>
<p><strong>Hướng dẫn: </strong>Ta có \(2=\sqrt{4}\) và \(4&gt;3\) nên \(\sqrt{4}&gt;\sqrt{3}\) tức là \(2&gt; \sqrt{3}\)<br/>
Tương tự, ta có \(7=\sqrt{49}\) và \(51&gt;49\) nên \(\sqrt{49}&lt;\sqrt{51}\) tức là \(7&lt;\sqrt{51}\)</p>
<p><strong>Bài 3: </strong>Giải các phương trình sau:<br/>
\(x^2=196\) ; \(x^2=1,69\)</p>
<p><strong>Hướng dẫn: </strong>\(x^2=196\Rightarrow x=\pm \sqrt{196}=\pm 14\)<br/>
\(x^2=1,69\Rightarrow x=\pm \sqrt{1,69}=\pm 1,3\)</p>
<div id="22">
<h3>2.2. Bài tập nâng cao</h3>
</div>
<p><strong>Bài 1: </strong>Tìm số x không âm biết:<br/>
\(2\sqrt{x}=14\) ; \(\sqrt{3x}&lt;2\)</p>
<p><strong>Hướng dẫn: </strong>\(2\sqrt{x}=14\Leftrightarrow \sqrt{x}=7\Leftrightarrow x=49\)<br/>
\(\sqrt{3x}&lt;2\Leftrightarrow 3x&lt;4\Leftrightarrow x&lt;\frac{4}{3}\) mà \(x\geq 0\) nên \(0\leq x\leq \frac{4}{3}\)</p>
<p><strong>Bài 2: Đố. </strong>Tính cạnh một hình vuông, biết diện tích nó bằng diện tích của hình chữ nhật có chiều dài bằng 18 cm, chiều rộng bằng 2 cm.</p>
<p><strong>Hướng dẫn: </strong>Diện tích của hình chữ nhật là \(18.2=36 (cm^2)\)<br/>
Gọi độ dài cạnh của hình vuông là a \((a&gt;0)\), theo đề, \(a^2=36\Leftrightarrow a=6(cm)\) vì  \(a&gt;0\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}