{% extends "pages/lop9/chuong1/base-lop9-chuong1.html" %}
{% block title %}Toán 9 Bài 4: Liên hệ giữa phép chia và phép khai phương{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 9 Bài 4: Liên hệ giữa phép chia và phép khai phương</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Trong bài <strong>liên hệ giữa các phép chia căn</strong> thức này, các em sẽ được làm quen với các quy tắc <strong>khai phương một thương</strong>, <strong>chia hai căn bậc 2 </strong>để áp dụng vào <strong>rút gọn biểu thức</strong> và <strong>tính toán các giá trị</strong>.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Định lí</h3>
</div>
<p>Với số a không âm và số b dương, ta có: \(\sqrt{\frac{a}{b}}=\frac{\sqrt{a}}{\sqrt{b}}\)</p>
<div id="12">
<h3>1.2. Áp dụng</h3>
</div>
<h4>a. Quy tắc khai phương một thương</h4>
<p>Muốn khai phương một thương \(\frac{a}{b}\), trong đó số a không âm và số b dương, ta có thể lần lượt khai căn của số a và số b, rồi lấy kết quả thứ nhất chia cho kết quả thứ hai.</p>
<h4>b. Quy tắc chia hai căn bậc hai</h4>
<p>Muốn chia hai căn bậc hai của số a không âm và số b dương, ta có thể lấy số a chia cho số b rồi khai phương kết quả vừa tìm được.</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<div id="21">
<h3>2.1. Bài tập cơ bản</h3>
</div>
<p><strong>Bài 1: </strong>Thực hiện phép tính các giá trị sau:</p>
<p>\(\frac{\sqrt{52}}{\sqrt{117}}\) ; \(\frac{\sqrt{2}}{\sqrt{18}}\)</p>
<p><strong>Hướng dẫn: </strong>Ta có: \(\frac{\sqrt{52}}{\sqrt{117}}=\sqrt{\frac{52}{117}}=\sqrt{\frac{4}{9}}=\frac{2}{3}\)</p>
<p>Tương tự, ta có \(\frac{\sqrt{2}}{\sqrt{18}}=\sqrt{\frac{2}{18}}=\sqrt{\frac{1}{9}}=\frac{1}{3}\)</p>
<p><strong>Bài 2: </strong>Rút gọn biểu thức sau:</p>
<p>\(5xy.\sqrt{\frac{25x^2}{y^6}}\) với \(x&gt; 0; y\neq 0\) ;  \(0,2x^3y^3\sqrt{\frac{16}{x^4y^8}}\) với \(x\neq 0;y\neq 0\)</p>
<p><strong>Hướng dẫn: </strong>\(5xy.\sqrt{\frac{25x^2}{y^6}}=5xy.\frac{5|x|}{y^3}=\frac{25x^2y}{y^3}=\frac{25x^2}{y^2}\)</p>
<p>Tương tự, ta có: \(0,2x^3y^3\sqrt{\frac{16}{x^4y^8}}=\frac{0,2x^3y^3.4}{x^2y^4}=\frac{0,8x}{y}\)</p>
<p><strong>Bài 3: </strong>Giải phương trình:</p>
<p>\(\sqrt{2}x-\sqrt{50}=0\) ; \(\frac{x^2}{5}-\sqrt{20}=0\)</p>
<p><strong>Hướng dẫn: </strong>\(\sqrt{2}x-\sqrt{50}=0\Leftrightarrow \sqrt{2}x=\sqrt{50}\Leftrightarrow x=\frac{\sqrt{50}}{\sqrt{2}}=5\)</p>
<p>Tương tự, ta có: \(\frac{x^2}{5}-\sqrt{20}=0\Leftrightarrow \frac{x^2}{5}=\sqrt{20}\Leftrightarrow x^2=5\sqrt{20}\Leftrightarrow x=\pm \sqrt{\sqrt{500}}\)</p>
<div id="22">
<h3>2.2. Bài tập nâng cao</h3>
</div>
<p><strong>Bài 1: </strong>Rút gọn biểu thức sau:</p>
<p>\(\sqrt{\frac{27(a-3)^2}{48}}\) với \(a&gt;3\) ;   \((a-b).\sqrt{\frac{ab}{(a-b)^2}}\) với \(a</p>
<p><strong>Hướng dẫn: </strong>\(\sqrt{\frac{27(a-3)^2}{48}}=\sqrt{\frac{9}{16}}|a-3|=\frac{3}{4}(a-3)\) (vì \(a&gt;3\) nên \(a-3&gt;0\))</p>
<p>\((a-b).\sqrt{\frac{ab}{(a-b)^2}}=(a-b)\frac{\sqrt{ab}}{|a-b|}=(a-b)\frac{\sqrt{ab}}{b-a}=-\sqrt{ab}\) (vì \(a</p>
<p><strong>Bài 2: </strong>Giải phương trình: \(\sqrt{x^2-8x+32}=4\)</p>
<p><strong>Hướng dẫn: </strong>Cách 1 các bạn có thể bình phương hai vế rồi giải phương trình bậc hai bình thường<br>
Cách 2: Ta thấy rằng \(x^2-8x+32=x^2-8x+16+16=(x-4)^2+16\geq 16\)<br/>
nên \(\sqrt{x^2-8x+32}\geq \sqrt{16}=4\)</br></p>
<p>Dấu "=" xảy ra khi và chỉ khi \(x^2-8x+16=0\Leftrightarrow x=4\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}