{% extends "pages/lop9/chuong1/base-lop9-chuong1.html" %}
{% block title %}Toán 9 Bài 3: Liên hệ giữa phép nhân và phép khai phương{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 9 Bài 3: Liên hệ giữa phép nhân và phép khai phương</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Trong bài học này, các em sẽ được làm quen với việc <strong>khai phương một tích không âm</strong>, đưa <strong>các giá trị không âm vào trong hoặc ra ngoài dấu căn</strong>.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Định lí</h3>
</div>
<p>Với hai số a và b không âm, ta có: \(\sqrt{a}.\sqrt{b}=\sqrt{ab}\)</p>
<p>Lưu ý: định lý trên có thể mở rộng đối với nhiều số không âm.</p>
<div id="12">
<h3>1.2. Áp dụng</h3>
</div>
<h4>a. Quy tắc khai phương một tích</h4>
<p>Muốn khai phương một tích của các số không âm, ta có thể khai phương từng thừa số rồi nhân các kết quả lại với nhau.</p>
<h4>b. Quy tắc nhân các căn bậc hai</h4>
<p>Muốn nhân các căn bậc hai của các số không âm, ta có thể nhân các số dưới dấu căn với nhau rồi khai phương kết quả đó.</p>
<p>Lưu ý: một cách tổng quát, với hai biểu thức A và B không âm, ta có: \(\sqrt{A}.\sqrt{B}=\sqrt{AB}\) </p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<div id="21">
<h3>2.1. Bài tập cơ bản</h3>
</div>
<p><strong>Bài 1: </strong>Áp dụng quy tắc khai phương một tích, hãy tính:<br>
\(\sqrt{0,09.64}\) ; \(\sqrt{2^4.(-7)^2}\)</br></p>
<p><strong>Hướng dẫn: </strong>Ta có \(\sqrt{0,09.64}=\sqrt{0,09}.\sqrt{64}=0,3.8=2,4\)</p>
<p>\(\sqrt{2^4.(-7)^2}=\sqrt{2^4}.\sqrt{(-7)^2}=4.7=28\)</p>
<p><strong>Bài 2: </strong>Áp dụng quy tắc nhân, hãy tính:</p>
<p>\(\sqrt{7}.\sqrt{63}\) ; \(\sqrt{0,4}.\sqrt{6,4}\)</p>
<p><strong>Hướng dẫn: </strong>Ta có: \(\sqrt{7}.\sqrt{63}=\sqrt{7.63}=\sqrt{7.7.3.3}=7.3=21\)</p>
<p>\(\sqrt{0,4}.\sqrt{6,4}=\sqrt{0,4.6,4}=\sqrt{0,04.64}=\sqrt{0,04}.\sqrt{64}=0,2.8=1,6\)</p>
<p><strong>Bài 3: </strong>Rút gọn biểu thức \(\sqrt{a^4(3-a)^2}\) với \(a\geq 3\)</p>
<p><strong>Hướng dẫn: </strong>\(\sqrt{a^4(3-a)^2}=a^2.|3-a|=a^2(a-3)\) vì \(a\geq 3\)</p>
<div id="22">
<h3>2.2. Bài tập nâng cao</h3>
</div>
<p><strong>Bài 4: </strong>Khai phương tích 12.30.40</p>
<p><strong>Hướng dẫn: </strong>\(\sqrt{12.30.40}=\sqrt{12.3.2.2.100}=6.2.10=120\)</p>
<p><strong>Bài 5: </strong>Tính giá trị của \((2-\sqrt{3})(2+\sqrt{3})\)</p>
<p><strong>Hướng dẫn:</strong>\((2-\sqrt{3})(2+\sqrt{3})=2^2-(\sqrt{3})^2=4-3=1\)<br/>
hoặc: \((2-\sqrt{3})(2+\sqrt{3})=2.2+2\sqrt{3}-2\sqrt{3}-\sqrt{3}.\sqrt{3}=1\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}