{% extends "pages/lop9/chuong1/base-lop9-chuong1.html" %}
{% block title %}Toán 9 Ôn tập chương 1 Căn bậc hai, căn bậc ba{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 9 Ôn tập chương 1 Căn bậc hai, căn bậc ba</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Chúng ta vừa kết thúc chương đầu tiên của phân môn Đại số 9, đây là kiến thức nền tảng giúp các em biết và vận dụng để giải các bài toán. Đây là bài ôn tập toàn bộ chương I, giúp các em nắm chắc kiến thức bằng lý thuyết và các bài tập minh họa.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<h3>Các công thức biến đổi căn thức</h3>
<p>1. \(\sqrt{A^2}=|A|\)</p>
<p>2. \(\sqrt{AB}=\sqrt{A}.\sqrt{B}\) (với \(A\geq 0;B\geq 0\))</p>
<p>3. \(\sqrt{\frac{A}{B}}=\frac{\sqrt{A}}{\sqrt{B}}\) (với \(A\geq 0;B&gt;0\))</p>
<p>4. \(\sqrt{A^2B}=|A|\sqrt{B}\) (với \(B\geq 0\))</p>
<p>5. \(A\sqrt{B}=\sqrt{A^2B}\) (với \(A\geq 0;B\geq 0\))</p>
<p>\(A\sqrt{B}=-\sqrt{A^2B}\) (với \(A&lt;0;B\geq 0\))</p>
<p>6. \(\sqrt{\frac{A}{B}}=\frac{1}{|B|}\sqrt{AB}\) (với \(AB\geq 0;B\neq 0\))</p>
<p>7. \(\frac{A}{\sqrt{B}}=\frac{a\sqrt{B}}{B}\) (với \(B&gt;0\))</p>
<p>8. \(\frac{C}{\sqrt{A}\pm B}=\frac{C(\sqrt{A}\mp B)}{A-B^2}\) (với \(A\geq 0;A\neq B^2\))</p>
<p>9. \(\frac{C}{\sqrt{A}\pm \sqrt{B}}=\frac{C(\sqrt{A}\mp \sqrt{B})}{A-B}\) (với \(A\geq 0;B\geq 0;A\neq B\))</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<h3>Các bài tập trọng tâm của chương</h3>
<p><strong>Bài 1: </strong>Tính cạnh của một hình vuông, biết rằng diện tích hình vuông đó bằng diện tích hình chữ nhật có chiều dài là \(16m\) và chiều rộng là \(9m\).</p>
<p><strong>Hướng dẫn: </strong>Diện tích của hình chữ nhật là: \(16.9=144(m^2)\)</p>
<p>Theo đề, diện tích hình vuông bằng diện tích hình chữ nhật nên cạnh a của hình vuông là: \(a^2=\sqrt{144}\Leftrightarrow a=12(m)\)</p>
<p><strong>Bài 2:</strong> Giải phương trình: \(x^2-2\sqrt{13}x+13=0\)</p>
<p><strong>Hướng dẫn:</strong></p>
<p>\(x^2-2\sqrt{13}x+13=0\) \(\Leftrightarrow x^2-2\sqrt{13}x+(\sqrt{13})^2=0\)\(\Leftrightarrow (x-\sqrt{13})^2=0\)</p>
<p>\(\Leftrightarrow x=\sqrt{13}\)</p>
<p><strong>Bài 3: </strong>Không dùng máy tính, so sánh hai số \(\sqrt{16+64}\) và \(\sqrt{16}+\sqrt{64}\). Từ đó rút ra nhận xét gì</p>
<p><strong>Hướng dẫn: </strong>\(\sqrt{16+64}=\sqrt{80}=4\sqrt{5}\)</p>
<p>\(\sqrt{16}+\sqrt{64}=4+8=12\)</p>
<p>Vậy \(\sqrt{16}+\sqrt{64}&gt;\sqrt{16+64}\)</p>
<p><strong>Bài 4: </strong>Không dùng máy tính, so sánh hai số \(\sqrt{100-64}\) và \(\sqrt{100}-\sqrt{64}\). Từ đó rút ra nhận xét gì</p>
<p><strong>Hướng dẫn: </strong>\(\sqrt{100-64}=\sqrt{36}=6\)</p>
<p>\(\sqrt{100}-\sqrt{64}=10-8=2\)</p>
<p>Vậy \(\sqrt{100-64}&gt;\sqrt{100}-\sqrt{64}\)</p>
<p>Nhận xét: Với hai số dương a, b, \(a&gt;b\) ta có: \((\sqrt{a}-\sqrt{b})^2=a+b-2\sqrt{ab}\)</p>
<p>\((\sqrt{a-b})^2=a-b\)</p>
<p>\((\sqrt{a-b})^2-(\sqrt{a}-\sqrt{b})^2=a-b-a-b+2\sqrt{ab}=2(\sqrt{ab}-b)\)</p>
<p>\(=2\sqrt{b}(\sqrt{a}-\sqrt{b})&gt;0\)</p>
<p>Vậy \(\sqrt{a}-\sqrt{b}&lt;\sqrt{a-b}\)</p>
<p><strong>Bài 5: </strong>Rút gọn biểu thức chứa biến sau: \(\left ( 1+\frac{a+\sqrt{a}}{\sqrt{a}+1} \right )\left ( 1-\frac{a-\sqrt{a}}{\sqrt{a}-1} \right )\)</p>
<p><strong>Hướng dẫn: </strong></p>
<p>Điều kiện: \(a\geq 0;a\neq 1\)</p>
<p>Với điều kiện trên:</p>
<p>\(\left ( 1+\frac{a+\sqrt{a}}{\sqrt{a}+1} \right )\left ( 1-\frac{a-\sqrt{a}}{\sqrt{a}-1} \right )\)</p>
<p>\( = \left( {1 + \sqrt a } \right).\left( {1 - \sqrt a } \right)\)\(=1-a\)</p>
<p><strong>Bài 6:</strong> Thực hiện phép tính: \(A=\sqrt{5+\sqrt{24}}+\sqrt{5-\sqrt{24}}\) </p>
<p><strong>Hướng dẫn: </strong>Do A dương nên bình phương đẳng thức, ta được:</p>
<p>\(A^2=5+5+\sqrt{24}-\sqrt{24}+2\sqrt{(5+\sqrt{24})(5-\sqrt{24})}=12\)</p>
<p>Vậy \(A=3\sqrt{2}\)</p>
<p><strong>Bài 7:</strong> Giải phương trình: \(\sqrt{2x-1}+\sqrt{x}=2\)</p>
<p><strong>Hướng dẫn:</strong></p>
<p>Điều kiện: \(x\geq \frac{1}{2}\)</p>
<p>Với điều kiện trên, đặt \(\sqrt{2x-1}=a(a\geq 0);\sqrt{x}=b(b\geq 0)\)</p>
<p>Ta có: \(a^2=2x-1;b^2=x\)\(\Rightarrow a^2-2b^2=-1\)</p>
<p>Mặc khác: \(a+b=2\)</p>
<p>Ta đưa vào hệ: \(\left\{\begin{matrix} a+b=2\\ a^2-2b^2=-1 \end{matrix}\right.\)</p>
<p>Giải hệ trên bằng phương pháp thế:</p>
<p>\(\left\{\begin{matrix} a=1\\ b=1 \end{matrix}\right.\) (nhận) và \(\left\{\begin{matrix} a=7\\ b=-5 \end{matrix}\right.\)(không nhận)</p>
<p>Với \(a=1\Leftrightarrow x=1\)</p>
<p>Vậy \(x=1\) là nghiệm duy nhất của phương trình</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}