{% extends "pages/lop9/chuong1/base-lop9-chuong1.html" %}
{% block title %}Toán 9 Bài 2: Căn thức bậc hai và hằng đẳng thức căn bậc hai{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 9 Bài 2: Căn thức bậc hai và hằng đẳng thức căn bậc hai</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p>Trong bài học <strong>căn thức bậc hai</strong> này, các em sẽ được làm quen với các khái niệm cơ bản để <strong>biểu thức căn có nghĩa</strong>, <strong>rút gọn biểu thức</strong> và <strong>tính toán các giá trị</strong>.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Căn thức bậc hai</h3>
</div>
<p>Với A là một biểu thức đại số, người ta gọi \(\sqrt{A}\) là <strong>căn thức bậc hai</strong> của A, còn A được gọi là biểu thức lấy căn, hay biểu thức dưới dấu căn.<br>

\(\sqrt{A}\) xác định (hay có nghĩa) khi A có giá trị không âm</br></p>
<div id="12">
<h3>1.2. Hằng đẳng thức \(\sqrt{A^2}=|A|\)</h3>
</div>
<p><strong>Định lý:</strong> Với mọi số thực a, ta có \(\sqrt{a^2}=|a|\)</p>
<p><strong>Lưu ý: </strong>Một cách tổng quát, với A là một biểu thức, ta có \(\sqrt{A^2}=|A|\), có nghĩa là<br/>

\(\sqrt{A^2}=A\) nếu A không âm<br/>

\(\sqrt{A^2}=-A\) nếu A âm.</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<div id="21">
<h3>2.1. Bài tập cơ bản</h3>
</div>
<p><strong>Bài 1: </strong>Với giá trị nào của a thì biểu thức sau có nghĩa:<br/>

\(\sqrt{\frac{a}{4}}\) ; \(\sqrt{4a-9}\)</p>
<p><strong>Hướng dẫn:</strong> Để biểu thức \(\sqrt{\frac{a}{4}}\)có nghĩa thì \(\frac{a}{4}\geq 0\) \(\Leftrightarrow a\geq 0\)</p>
<p>Tương tự, \(\sqrt{4a-9}\) có nghĩa thì \(4a-9&gt; 0\Leftrightarrow a\geq \frac{9}{4}\)</p>
<p><strong>Bài 2: </strong>Rút gọn biểu thức:<br/>

\(\sqrt{(3-\sqrt{11})^2}\) ; \(3\sqrt{(a-2)^2}\) với \(a&lt;2\)</p>
<p><strong>Hướng dẫn: </strong>Ta có \(\sqrt{(3-\sqrt{11})^2}=|3-\sqrt{11}|=\sqrt{11}-3\) vì \(\sqrt{11}&gt;3\)</p>
<p>Tương tự \(\sqrt{(a-2)^2}=|a-2|=2-a\) vì \(a&lt;2\), vậy \(3\sqrt{(a-2)^2}=6-3a\)</p>
<p><strong>Bài 3: </strong>Tìm x biết:<br/>

\(\sqrt{x^2}=|-7|\); \(\sqrt{9x^2}=|-12|\)</p>
<p><strong>Hướng dẫn: </strong>\(\sqrt{x^2}=|-7|=7\Leftrightarrow x^2=49\Leftrightarrow x=\pm 7\)</p>
<p>Tương tự \(\sqrt{9x^2}=|-12|=12\Leftrightarrow 9x^2=144\Leftrightarrow x^2=16\Leftrightarrow x=\pm 4\)</p>
<div id="22">
<h3>2.2. Bài tập nâng cao</h3>
</div>
<p><strong>Bài 1: </strong>Giải phương trình: \(x^2-2\sqrt{11}x+11=0\)</p>
<p><strong>Hướng dẫn: </strong></p>
<p>\({x^2} - 2\sqrt {11} x + 11 = 0\)<br/>

 \(\Leftrightarrow {x^2} - 2.x.\sqrt {11}  + {(\sqrt {11} )^2} = 0\)<br/>

 \(\Leftrightarrow {(x - \sqrt {11} )^2} = 0\)<br/>

Vậy \(x=\sqrt{11}\)</p>
<p><strong>Bài 2: </strong>Chứng minh rằng: \(\sqrt{4-2\sqrt{3}}-\sqrt{3}=-1\)<br/>
<strong>Hướng dẫn: </strong>Nhận thấy \(4-2\sqrt{3}=1^2-2.1.\sqrt{3}+(\sqrt{3})^2=(1-\sqrt{3})^2\)<br/>

Vậy \(\sqrt{4-2\sqrt{3}}=|1-\sqrt{3}|=\sqrt{3}-1\) (vì \(\sqrt{3}&gt;1\))<br/>

Biến đổi vế trái, ta có \(\sqrt{4-2\sqrt{3}}-\sqrt{3}=\sqrt{3}-1-\sqrt{3}=-1=VP\Rightarrow dpcm\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}