{% extends "pages/lop9/chuong1/base-lop9-chuong1.html" %}
{% block title %}Toán 9 Bài 9: Căn bậc ba{% endblock %}
{% block content %}
{% verbatim %}
<section class="wrapbanner"><div class="container"><h1 class="cate-h1">Toán 9 Bài 9: Căn bậc ba</h1></div></section>
<section class="main"><div class="container"><div class="detail-col-left"><div class="box-1"><div class="box-content">
<br/>
<p><strong>Căn bậc ba</strong> có khác gì với <strong>căn bậc hai</strong> không nhỉ? <strong>Căn bậc hai</strong> sẽ ràng buộc bởi các số không âm, vậy còn <strong>căn bậc ba </strong>liệu cũng như vậy hay có gì khác biệt, các em cùng tìm hiểu bài học nhé.</p> </div></div><div class="box-1">
<div class="box-title-1" id="lythuyet"><h2 class="b-title">Tóm tắt lý thuyết </h2></div>
<div class="box-content content-fck">
<div id="11">
<h3>1.1. Khái niệm căn bậc ba</h3>
</div>
<h4>a. Định nghĩa</h4>
<p>Căn bậc ba của một số a là số x sao cho \(x^3=a\)</p>
<h4>b. Nhận xét</h4>
<p>Mối số a bất kì đều có duy nhất một căn bậc ba.</p>
<h4>c. Lưu ý</h4>
<p>Từ định nghĩa căn bậc ba, ta có \((\sqrt[3]{a})^3=\sqrt[3]{a^3}=a\)</p>
<div id="12">
<h3>1.2. Tính chất</h3>
</div>
<p>Cũng có phần tương tự như căn bậc hai, chsung ta có các tính chất sau:</p>
<p>1. \(a &lt; b \Leftrightarrow \sqrt[3]{a} &lt; \sqrt[3]{b}\)</p>
<p>2. \(\sqrt[3]{ab}=\sqrt[3]{a}.\sqrt[3]{b}\)</p>
<p>3. Với \(b\neq 0\), ta có \(\sqrt[3]{\frac{a}{b}}=\frac{\sqrt[3]{a}}{\sqrt[3]{b}}\)</p> </div>
</div>
<div class="box-1">
<div class="box-title-1" id="baitap"><h2 class="b-title">Bài tập minh họa </h2></div>
<div class="box-content content-fck">
<div id="21">
<h3>2.1. Bài tập cơ bản</h3>
</div>
<p><strong>Bài 1: </strong>Tính các giá trị sau: \(\sqrt[3]{64}\) ; \(\sqrt[3]{-125}\) ; \(\sqrt[3]{729}\)</p>
<p><strong>Hướng dẫn: </strong>\(\sqrt[3]{64}=\sqrt[3]{4^3}=4\)</p>
<p>\(\sqrt[3]{-125}=\sqrt[3]{(-5)^3}=-5\)</p>
<p>\(\sqrt[3]{729}=\sqrt[3]{9^3}=9\)</p>
<p><strong>Bài 2: </strong>Rút gọn các biểu thức sau: \(\sqrt[3]{27}-\sqrt[3]{-8}-\sqrt[3]{125}\)</p>
<p>\(\sqrt{64}-\sqrt[3]{-8}-\sqrt[3]{729}\)</p>
<p><strong>Hướng dẫn:</strong>\(\sqrt[3]{27}-\sqrt[3]{-8}-\sqrt[3]{125}=3+2-5=0\)</p>
<p>\(\sqrt{64}-\sqrt[3]{-8}-\sqrt[3]{729}=8+2-9=1\)</p>
<p><strong>Bài 3: </strong>So sánh hai số sau: \(2.\sqrt[3]{3}\) và \(\sqrt[3]{25}\)</p>
<p><strong>Hướng dẫn:</strong> Ta có \(2.\sqrt[3]{3}=\sqrt[3]{2^3.3}\sqrt[3]{24}&lt;\sqrt[3]{25}\)</p>
<p>Vậy \(2.\sqrt[3]{3}&lt;\sqrt[3]{25}\)</p>
<div id="22">
<h3>2.2. Bài tập nâng cao</h3>
</div>
<p><strong>Bài 1:</strong>Tính giá trị biểu thức: \(\frac{\sqrt[3]{135}}{\sqrt[3]{5}}-\sqrt[3]{54}.\sqrt[3]{4}\)<strong> </strong></p>
<p><strong>Hướng dẫn: </strong>\(\frac{\sqrt[3]{135}}{\sqrt[3]{5}}-\sqrt[3]{54}.\sqrt[3]{4}\)</p>
<p>\(=\sqrt[3]{\frac{135}{5}}-\sqrt[3]{54.4}=\sqrt[3]{27}-\sqrt[3]{216}=3-6=-3\)</p>
<p><strong>Bài 2:</strong>Tính giá trị biểu thức \((\sqrt[3]{4}-\sqrt[3]{10}+\sqrt[3]{25})(\sqrt[3]{2}+\sqrt[3]{5})\)</p>
<p><strong>Hướng dẫn:</strong></p>
<p><strong> </strong>\((\sqrt[3]{4}-\sqrt[3]{10}+\sqrt[3]{25})(\sqrt[3]{2}+\sqrt[3]{5})\)</p>
<p>\(=\sqrt[3]{4}.\sqrt[3]{2}+\sqrt[3]{4}.\sqrt[3]{5}-\sqrt[3]{10}.\sqrt[3]{2}-\sqrt[3]{10}.\sqrt[3]{5}+\sqrt[3]{25}.\sqrt[3]{2}+\sqrt[3]{25}.\sqrt[3]{5}\)</p>
<p>\(=\sqrt[3]{8}+\sqrt[3]{20}-\sqrt[3]{20}-\sqrt[3]{50}+\sqrt[3]{50}+\sqrt[3]{125}\)</p>
<p>\(=2+5=7\)</p> </div>
</div></div></div></section>
{% endverbatim %}
{% endblock %}